.rlo-content {
    color: $color_content_text;
    min-height: 100%;
    height: 100%;

}

.rlo-content-title {
    font: $fontFamily-title;
    font-size: $fontSize-large;
    font-weight: 900;
    margin-bottom: 1rem;
}

.rlo-content-body {
   font: $fontFamily-default;
   font-size: $fontSize-body;
}

.rlo-content-image {
  margin: 0.5rem;
  width: 100%;
  max-width: 400px;
}

.rlo-content-canvas {
    background: $color_content_canvas_background;
    width: 100%;
    margin-top: $padding-small;
}

figure {
    margin: 1rem;
}