/*******************************************************************************

These are the styles that are applied to all the content templates

*******************************************************************************/

// sass var 
$button-bar-size: $ui-button-width + $padding-small*3;

// common lesson content styles

.lesson-content-title {
    font: $fontFamily-title;
    font-size: $fontSize-largest;
    font-weight: 900;
    margin-bottom: 1rem;
}

h3 {
    // used for subtitles
    font-style: italic;
    font-size: $fontSize-subtitle;
    font-weight: bold;
    margin-bottom: 0.3rem;
    margin-top: 0.9rem;
}

lcterm{    // highlight and bold a term or definition
    //background: #ffff66; // bright yellow
    //background: #FFC;  // dim yellow   
    background:lemonchiffon;  // dim yellow     
    font-weight: bold;
}

//.lesson-content-term{
    // highlight and bold a term or definition
//    background: yellow;
//    font-weight: bold;
//}

.lesson-content-equation {
    // for text equations
    font-size: $fontSize-large;
    font-weight: bold;
    margin: auto;
    width: 70%;
    margin-top:    0.5rem;
    margin-bottom: 1.0rem;
}

.lesson-content-quote {
    // for longer quotes
    font-style: italic;
    color: #606060;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.lesson-content-boxed {
    @extend .col-xs-12;
    @extend .col-sm-6;
    border-style: solid;
    border-color: $color_ui;
    margin-top: $padding-small;
}

// used for short summary phrase at top of content pages
.lesson-content-memo {
    color: darkred; // OJR this should be defined in settings/color
    font-style: italic;
    margin-bottom: 1.5rem;
}

// used for ?
.lesson-content-info {
    color: $color_gray-dark;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

// used for page number and group
.lesson-content-footer {
    @extend .col-xs-12;
    color: $color_gray-dark;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 1.5rem;    
}

//--- LESSON CONTENT FONT SIZE CHANGES DEPENDENT ON SCREEN WIDTH:
.lesson-content-body {
    // for larger screen sizes
   font: $fontFamily-default;
   font-size: $fontSize-large;
}

@media (max-width: 800px) {
    // for screens smaller than 800
  .lesson-content-body {
   font: $fontFamily-default;
   font-size: $fontSize-med;
    }  
}

@media (max-width: 700px) {
    // for screens smaller than 700
  .lesson-content-body {
   font: $fontFamily-default;
   font-size: $fontSize-body;
    }  
}
    
.lesson-content-left {
   font: $fontFamily-default;
   font-size: $fontSize-body;
   float: left;
}

.lesson-content-image {
  margin: 0.5rem;
  width: 100%;
  max-width: 400px;
}

.lesson-content-image-zoom {
  margin: 0.5rem;
  //width: 100%;
  max-width: 700px;
}

.lesson-content-table {
    width: 90%;
 //   border: 1px solid lightgray;
    border-spacing: 50px;
}

// this affects ALL tables
th, td {
    padding: 2px;
//    border: 1px solid lightgray;
}
 

.lesson-content-image-icon {
  margin: 1.0rem;
  //width: 100%;
  max-width: 100px;
  max-height: 50px;
}

.lesson-content-image-icon2 {
    // for wider, shorter images. Allow it to be wider.
  margin: 1.0rem;
  //width: 100%;
  max-width: 250px;
  max-height: 50px;
}

figure {
    margin: 1rem;
}

// canvas (interaction) related styles
.lesson-content-canvas {
    background: $color_content_canvas_background;
    width: 90%;
    margin-top: $padding-small;
}

.lesson-content-canvas {
    background: $color_content_canvas_background;
    width: 100%;
    margin-top: $padding-small;
    border-radius: 30px;
}

.lesson-content-canvas-circle {
    background: $color_content_canvas_background;
    width: 60%;
    margin-top: $padding-small;
    border-radius: 400px;
}

//EQUATIONS

//GENERAL
.lesson-content-proton {
    color:crimson;
}

.lesson-content-neutron {
    color:coral;
} 

.lesson-content-electron {
    color:royalblue;
} 

.lesson-content-photon {
    color:mediumseagreengreen;
} 

//THE NUCLEUS
.lesson-content-atomicmass {
    color:darkorchid;
} 

.lesson-content-atomicnumber {
    color:teal;
}

//E=MC2
.lesson-content-energy {
    color:mediumseagreen;
} 

.lesson-content-mass {
    color:darkorchid;
}

.lesson-content-speedlight {
    color:teal;
}




