.rlo-content {
    color: $color_content_text;
}

.rlo-content-title {
    font: $fontFamily-title;
    font-size: $fontSize-large;
    
}

.rlo-content-body {
   font: $fontFamily-default;
   font-size: $fontSize-body;
   
}
