/*******************************************************************************
The home page contains a single intro tile that contains the logo, background, 
and some UI

Defines styles for home page intro tiles
*******************************************************************************/

// Intro TILE **********************************************************
.intro-tile {
    transition: opacity $duration-default ease-in-out;
    position: relative;
    float: left;
    width: 33%;
    cursor: default;
    background-image: url(/content/Logo/background-side.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.intro-tile-container {
    margin-top: 200%;
}

// logo
.logo {
    position:absolute;
    top: 0;
    padding: 3rem;
    width: 100%;
}

// content
.intro-tile-content-container {
    position:absolute;
    bottom: 7rem;
    width: 100%;
    padding: 0 3rem;
    
    &.out {
        opacity: 0;
    }

    &.in {
        z-index: $z-fg;
        opacity: 1;
    }
}

.intro-tile-content {
    padding-bottom: $padding-small;
    font: $fontFamily-mapCard;
    font-size: $fontSize-small;
    line-height: $fontSize-small+0.1;
    color: $color_white-default;
    overflow-wrap: break-word;
    word-wrap: break-word;

}

.intro-tile-content-title {
    font-weight: bold;
}

.intro-tile-content-text {
}

// ui
.intro-tile-ui-container {
    position:absolute;
    bottom: $padding-small;
    width: 100%;
}

.intro-tile-ui-inner {
    margin: 0 auto;
    width: 60%;
}

.ui-button-cc, .ui-button-people {
    @extend %type_button-default;
    float: left;
}

.ui-button-people {
    float: right;
}


// Breakpoints *******************************************************************
@media (min-width: $bp_width_small_phone) {
    .intro-tile {
        width: 50%;
    }
}

@media (min-width: $bp_width_medium_phone) {
    .intro-tile {
        width: 33.3%;
    }
}

@media (min-width: $bp_width_small) {
    .intro-tile {
        width: 33.3%;
    }
}

@media (min-width: $bp_width_medium) {
    .intro-tile {
        width: 25%;
    }
}

@media (min-width: $bp_width_large) {
    .intro-tile {
        width: 25%;
    }
}


// portrait change to top  *****************************************************
$intro-tile-height: 	20rem;
$intro-padding-tiny:    0.2rem;

@media screen and (orientation:portrait) {
    .intro-tile {
        width: 100%;
        background-image: url(/content/Logo/background-top.svg);
    }
    
    .intro-tile-container {
       margin-top: $intro-tile-height;
    }
    
    // logo
    .logo {
        position:absolute;
        //top: 0;
        left: $intro-padding-tiny;
        padding: $intro-padding-tiny;
        width: 10rem;
        // center
        top: 50%;
        transform: translateY(-50%);        
    }

    // content
    .intro-tile-content-container {
        position:absolute;
        bottom: 0;
        left: 10.4rem;
        width: calc(100% - 16.8rem);
        height: $intro-tile-height;
        padding: 0 $intro-padding-tiny;
    }

    .intro-tile-content {
        float: left;
        width: 50%;
        height: 100%;
        padding: $intro-padding-tiny;
    }

    // ui
    .intro-tile-ui-container {
        position:absolute;
        bottom: 0;
        right: $intro-padding-tiny;
        width: 6rem;
        height: $intro-tile-height;
    }
    
    .intro-tile-ui-inner {
        margin: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .ui-button-cc {
        position: absolute;
        top: 3rem;
    }
    
    .ui-button-people {
        position: absolute;
        bottom: 3rem;
    }
    
    @media (min-width: $bp_width_small) {
        .logo {
            left: $padding-small;
            padding: $padding-small;
            width: 16rem;
        }
        .intro-tile-content-container {
            left: 17rem;
            width: calc(100% - 25rem);
            padding: 0 $padding-small;
        }
        .intro-tile-content {
            font-size: $fontSize-body;
            line-height: $fontSize-body+0.1;
            padding: $padding-small;
        }
        .intro-tile-ui-container {
            right: $padding-small;
        }

    }
}