$outro-margin-base: 1.5rem;
$tile-margin: 0.5rem;

@mixin transitionSetting{
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: $duration-long;
}
.lesson-view-container{
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 1px;
    height: 100%;
    font-family: $fontFamily-default;
    font-size: $fontSize-small;
    @include user-select(none);
}

@mixin aspect-ratio($col-number) {
    $width: calc(#{percentage(1/$col-number)} - #{$tile-margin});
    .lesson-tile {
        width: $width;
    }
}


// lesson TILE ********************************************************************
.lesson-tile {
    // This sets the appearance of the tiles
    //height: 0;
    @include transitionSetting;
    position: relative;
    margin-top: $tile-margin;
    margin-left: $tile-margin;
    overflow: hidden;
    cursor: pointer;
    background: $color_background-gradient;
   //box-shadow: 0px 0px 0.5px 1px rgba(0,0,0,.3);
   border: 5px outset #c0c0c0;
   border-width: 2px 4px 4px 2px;
   // top right bottom left      
 
}

.lesson-tile-container {
    margin-top:100%;
  
}
.lesson-tile-inner{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &:hover {

        >.lesson-tile-preview {
            transition-duration:10s;
            transform:scale(1.3) translate(-50%, -50%);
        }
        >.lesson-tile-title-container {
            opacity: 1.0;
        }
        >.lesson-tile {
            //JCS hmm does not work
            border: 10px outset black;
        }
    }
}
.lesson-tile-preview {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;

    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: .3s;
    transform-origin: 0% 0%;
    transform: translate(-50%, -50%);
}

.lesson-tile-title-container{
    @include transitionSetting;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 5rem;
    background: $color_gray-darkest;
    opacity: 0.5;
}
// opacity: 0.8;

.lesson-tile-title{
    font-family: $fontFamily-title;
    font-size: 1.5rem;
    line-height: 5rem;
    padding-left: $padding-medium;
    color: $color_white-default;
}

.lesson-tile-info{
    position: absolute;
    padding-left: $padding-small;
    margin-top: 3rem;
}


// Intro & Outro TILE **********************************************************
.intro-tile, .outro-tile {
    cursor: default;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
    min-height: 1000px;  // arbitrary value that forces content to start with correct height, overwritten in code
}

.lesson-tile-intro-title, .lesson-tile-outro-title {
    width: 100%;
    padding-left: $padding-small;
    padding-right: $padding-small;
    font-size: $fontSize-large;
}

.lesson-tile-intro-title {
    padding-bottom: $padding-small;
}

.lesson-tile-outro-title {
    padding-top: $padding-small;
}

.lesson-tile-intro-content {
    width: 100%;
    font-size: 130%;
    padding-left: $padding-small;
    padding-right: $padding-small;
}

.lesson-tile-outro-content {
    width: 100%;
    padding-left: $padding-small;
    padding-right: $padding-small;
}

.lesson-tile-content-container, .lesson-tile-content-container-intro {
    position: absolute;
    width: 100%;
    overflow: visible;
}

.lesson-tile-content-container-intro {
    bottom: $padding-small;
}


// lesson list ********************************************************************
.lesson-list {
    @include aspect-ratio(3);
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    transition: all $duration-default linear;
    transform-origin: top left;
    &.in {
        // add transition
        opacity: 1;
        transform: scale(1);
    }
    &.out {
        // add transition
        opacity: 0;
        transform: scale(0.1);
    }

}
/* Large View */
@media screen and (max-width: $bp_width_col_two) {
    .lesson-list {
        @include aspect-ratio(2);
    }
}
/* Small view */
@media screen and (max-width: $bp_width_col_one) {
    .lesson-list {
        @include aspect-ratio(1);
    }
}

/*Tablets Landscape */
@media screen and (min-device-width: $bp_width_small)
and (max-device-width: $bp_width_medium)
and (orientation: landscape)  {
    .lesson-list {
        @include aspect-ratio(3);
    }
}
/* Tablets Portrait */
@media screen and (min-device-width: $bp_width_small)
and (max-device-width: $bp_width_medium)
and (orientation: portrait)  {
    .lesson-list {
        @include aspect-ratio(2);
    }
}

/* Mobile Phones Portrait */
@media screen and (max-device-width: $bp_width_medium_phone)
and (orientation: portrait){
    .lesson-list {
        @include aspect-ratio(1);
    }
}

/* Mobile Phones Landscape */
@media screen and (max-device-width: $bp_width_medium_phone)
and (orientation: landscape){
    .lesson-list {
        @include aspect-ratio(2);
    }
}
/* Mobile Phones portrait */
@media screen and (max-device-width: $bp_width_small_phone)
and (orientation: portrait){
    .lesson-list {
        @include aspect-ratio(1);
    }
}
/* Mobile Phones Landscape */
@media screen and (max-device-width: $bp_width_small_phone)
and (orientation: landscape){
    .lesson-list {
        @include aspect-ratio(2);
    }
}
