/*******************************************************************************

LessonList controlls the layout and width of the LessonTiles

*******************************************************************************/


// lesson list ********************************************************************
.lesson-list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    transition: all $duration-default linear;
    transform-origin: top left;
    &.in {
        // add transition
        opacity: 1;
        transform: scale(1);
    }
    &.out {
        // add transition
        opacity: 0;
        transform: scale(0.1);
    }

}