/*******************************************************************************

Lesson Base View is the page that all content is contained in.  The base stays
the same regardless of the content that is being shown.

*******************************************************************************/


// sass mixin
@mixin transitionSetting{
    transition-property: transform;
    transition-timing-function:  $ease-animation;
    transition-duration: $duration-long;
}


// Lesson base view and containers
.lesson-base-view {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    transition: all $duration-default linear;
    transform-origin: top left;
    &.in {
        // add transition
        opacity: 1;
        transform: none;
    }
    &.out {
        // add transition
        opacity: 0;
        transform: scale(0.1);
    }
    &.no-scroll {
        overflow: hidden;
    }
}

.lesson-base-content-container{
    width: 100%;
    //height: 100%;
    position: relative;
    margin-bottom: $ui-button-width + $padding-small*3;;
}

.lesson-content{
    @extend .container;
    position: relative;
    width: 100%;
    height:100%;
    padding: $padding-small;
    background : $color_background-gradient;
    font-family: $fontFamily-default;
    color: $color_content_text;
}


// lesson content container transition classes
.lesson-base-content-container.prev{
    margin-bottom: 0;
    .lesson-content{
        @include transitionSetting;
        position: fixed;
        transform: translateX(100%) translateZ(0);
        left:-100%;
    }
    .lesson-content.old{
        left:0;
    }
}

.lesson-base-content-container.next{
    margin-bottom: 0;
    .lesson-content{
        @include transitionSetting;
        position: fixed;
        transform: translateX(-100%) translateZ(0);
        left:100%;
    }
    .lesson-content.old{
        left:0;
    }
}

.lesson-base-content-container.down{
    margin-bottom: 0;
    .lesson-content{
        @include transitionSetting;
        position: fixed;
        top:100%;
        transform: translateY(-100%) translateZ(0);
    }
    .lesson-content.old{
        top:0;
    }

}

.lesson-base-content-container.up{
    margin-bottom: 0;
    .lesson-content{
        @include transitionSetting;
        position: fixed;
        top:-100%;
        transform: translateY(100%) translateZ(0);
    }
    .lesson-content.old{
        z-index:$z-bg;
        top:0;
    }
}


// navigation UI container, buttons, and breakpoints
.ui-nav-home {
    @extend %type_button-default-secondary;
    position:fixed;
    left: $padding-small;
    bottom: $padding-small;
    display: inline-block;
    width: 7rem;
    height: 7rem; // change to $ui-button-width;
    /*
    z-index: $z-fg;
    iOS safari bug, z-index not properly supported
    transform fixes iOS but breaks chrome...
    transform: translateZ(30px);
    */
    transform: translateZ(30px);
    z-index: $z-fg;
    cursor: pointer;
    
}

    .nav-button-svg {
        transform-origin: bottom right;
        transition: max-width max-height $duration-longer ease-in-out;
        //transition: max-height $duration-longer ease-in-out;
        
        max-width: 7rem;
        max-height: 7rem;
    }
.nav-button-container {
    position:fixed;
    right: 0;
    bottom: 0;
    padding: $padding-small;
    height: auto;
    width: auto;
    
    &.in {
        /*
        z-index: $z-fg;
        iOS safari bug, z-index not properly supported
        transform fixes iOS but breaks chrome...
        transform: translateZ(30px);
        */
        transform: translateZ(30px);
        z-index: $z-fg;
        .nav-button-svg {
            max-width: 50rem;
            max-height: 50rem;
        }
    }
    
    &.out {
        opacity: 0;
    }
}
.ui-nav {
    display: inline-block;
    width: $ui-button-width;
    height: $ui-button-width;
}

.ui-nav-left, .ui-nav-up, .ui-nav-down, .ui-nav-right, .lesson-base-menu-button, 
.ui-nav-left-small, .ui-nav-up-small, .ui-nav-down-small, .ui-nav-right-small, .lesson-base-cross-button {
    @extend %type_button-default-secondary;
    display: inline-block;
    width: $ui-button-width;
    height: $ui-button-width;
    z-index: $z-fg;
    cursor: pointer;

    &.out {
        opacity: 0.3;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-device-width: $bp_width_small) {
    .nav-button-container {
        padding: 0.3rem;
    }
    .ui-nav-left, .ui-nav-up, .ui-nav-down, .ui-nav-right, .lesson-base-menu-button {
        width: $ui-button-min-width;
        height: $ui-button-min-width;
    }
    .lesson-base-menu-button {
        width: $ui-button-min-width*1.4;
    }
}
