/*******************************************************************************

LessonList controlls the layout and width of the LessonTiles

*******************************************************************************/


// lesson list ********************************************************************
.lesson-list {
    width: 100%;

    transition: all $duration-default $ease-animation;
    &.in {
        
    }
    &.out {
        .lesson-tile, .intro-tile {
            opacity: 0;
            &.current {
                opacity: 1;
            }
        }
    }

}