/*******************************************************************************

MapCardView styles the cards on the navigation map view

*******************************************************************************/

.map-card-view {
    width: $map-card-size;
    height: $map-card-size;
    display: inline-block;
    vertical-align: top;
    margin-left: $map-card-margin;
    margin-top: $map-card-margin;
    white-space: normal;
    background: $color_map_card_default;
    cursor: pointer;
    overflow: hidden;

    &.empty{
        visibility: hidden;
    }
    &.visited{
        background: $color_map_card_visited;
        border-style : Solid;
        border-color : $color_map_card_default;
        border-width : .5rem;
        .map-card-title {
            margin: 1rem;
        }
    }
    &.current{
        background: $color_map_card_current;
        border-style : Solid;
        border-width : 1rem;
        border-color : $color_map_card_highlight;
        .map-card-title {
            margin: .5rem;
        }
    }
}
 
.map-card-title{
    margin: 1.5rem;
    font: $fontFamily-mapCard;
    font-size: $fontSize-mapCard;
    font-weight: bold;
}