/*******************************************************************************

MapCardView styles the cards on the navigation map view

*******************************************************************************/

.map-card-view {
    width: $map-card-size*1.5;
    height: $map-card-size;
    display: inline-block;
    vertical-align: top;
    margin-left: $map-card-margin;
    margin-top: $map-card-margin;
    white-space: normal;
    background: $color_gray-darker;
    cursor: pointer;
    overflow: hidden;

    &.empty{
        visibility: hidden;
    }
    &.visited{
        background: $color_gray-light;
        .map-card-title {
           color:  $color_gray-dark;
        }
    }
    &.current{
        background: $color_gray-lighter;
         .map-card-title {
           color:  $color_gray-darkest;
        }
        box-shadow: 0px 0px 3px 3px $color_map_card_highlight;
    }
}
 
.map-card-title{
    padding-left:0.2rem;
    font: $fontFamily-title;
    font-size: $fontSize-small;
    color: $color_gray-default;
}