/*******************************************************************************

MapCardView styles the cards on the navigation map view

*******************************************************************************/


// sass variables  ********************************************************************
$fullCardSize:      $map-card-size + $map-card-margin;
$weakLinkSize:      1rem;
$strongLinkSize:    2rem;
$weakLinkMargin:    $map-card-margin + $map-card-size/2 - $weakLinkSize/2;
$strongLinkMargin:  $map-card-margin + $map-card-size/2 - $strongLinkSize/2;


// map card   ********************************************************************
.map-card-view {
    width: $fullCardSize;
    height: $fullCardSize;
    vertical-align: top;
    display: inline-block;
    white-space: normal;
    
    &.empty{
        visibility: hidden;
    }

    &.visited{
        .map-card-container {
            background: $color_map_card_visited;
            border-style : Solid;
            border-color : $color_map_card_default;
            border-width : .5rem;
            .map-card-title, .map-card-footer, .map-card-icon-container {
                margin: .5rem;
            }
        }
    }
    &.current{
        .map-card-container {
            background: $color_map_card_current;
            border-style : Solid;
            border-width : 0.7rem;
            border-color : $color_map_card_highlight;
            .map-card-title, .map-card-footer, .map-card-icon-container {
                margin: .3rem;
            }
        }
    }
}


// links  ********************************************************************
.map-card-linkTop {
    height: $map-card-margin;
    width: 0rem;
    background-color: $color_map_card_default;

    &.strong {
        width: $strongLinkSize;
        margin-left: $strongLinkMargin;
    }
    &.weak {
        width: $weakLinkSize;
        margin-left: $weakLinkMargin;
    }
}

.map-card-linkLeft {
    float: left;
    margin-top: $weakLinkMargin;  // OJR needs min size to push map-card-container over
    width: $map-card-margin;
    background-color: $color_map_card_default;
    
    &.strong {
        height: $strongLinkSize;
        margin-top: $strongLinkMargin;
    }
    &.weak {
        height: $weakLinkSize;
        margin-top: $weakLinkMargin;
    }
}


// map card container  ********************************************************************
.map-card-container {
    float: left;
    position: relative;
    width: $map-card-size;
    height: $map-card-size;
    background: $color_map_card_default;
    cursor: pointer;
    overflow: hidden;
}
 
.map-card-title{
    margin: 1rem;
    font-family: $fontFamily-mapCard;
    font-size: $fontSize-mapCard;
    font-weight: bold;
    line-height: 1.6rem;
}

.map-card-footer {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    font-family: $fontFamily-mapCard;
    font-size: $fontSize-mapCard;
    line-height: 1.5rem;
}

.map-card-group {
    
}

.map-card-number {
    
}

// icons ***********************************************************************
.map-card-icon-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    width: 5rem;
    // OJR this pattern seems redundant, perhaps there is a better way to do this?
    &.quiz {
        .quiz {
            display: inherit;
        }
    }
    &.interaction {
        .interaction {
            display: inherit;
        }
    }
    &.video {
        .video {
            display: inherit;
        }
    }
}

.map-card-icon {
    display: none;
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    fill:#58595B;
}