.map-view {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: $z-mg;
    padding: $padding-small;
    padding-bottom: $ui-button-width+$padding-small*3;
    background: $color_map_view_background;
    overflow: auto;

    &.in {
        //opacity: .95;
        transition: $duration-long;
        visibility: visible;
    }

    &.out {
        transform: scale(0.2,0.2);
        transform-origin: bottom right;
        opacity: 0;
        transition: $duration-long;
        visibility: hidden;
    }
}

.map-collection{
    width: fit-content;
    padding-right: $padding-small+$map-card-margin;
    white-space: nowrap;
}

.map-view-title {
    font: $fontFamily-title;
    font-size: $fontSize-large;
    font-weight: 900;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    color: $color_gray-lighter;
    background: $color_gray-darkest;
}

