.nav-view {
    position: fixed;
    margin: 0 auto;
    width:100%;
    height: 100%;
    background: $color_gray-darker;
    overflow: scroll;

    >.nav-collection{
        white-space: nowrap;
    }

    &.out {
        display: none;
    }
}