.nav-view {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: $color_nav_view_background;
    overflow: auto;

    >.nav-collection{
        white-space: nowrap;
    }

    &.in {
        //opacity: .95;
        transition: $duration-long;
        visibility: visible;
    }

    &.out {
        transform: scale(0.2,0.2);
        transform-origin: bottom right;
        opacity: 0;
        transition: $duration-long;
        visibility: hidden;
    }
}
