.nav-view {
    position: fixed;
    margin: 0 auto;
    top: 8rem;
    width:100%;
    height: calc(100% - 8rem);
    background: $color_gray-darker;
    overflow: scroll;

    >.nav-collection{
        white-space: nowrap;
    }

    &.out {
        display: none;
    }
}

@media screen and (max-width: $bp_width_small) {
    .nav-view  {
        top: 16rem;
        height: calc(100% - 16rem);
    }
}