.rlo-view-container{
    position: absolute;
    margin: 0 auto;
    left: 1px;
    right: 0;
}

$chartColors: #56c7fa, #f76540, #ffcb05, #62cd9f, #b67baa;

@mixin aspect-ratio($ratio, $col-number,$row-number) {
    $padding: percentage(0.99/$ratio);
    $width: percentage(0.99/$col-number);
    $intro-content-height: percentage(0.8/$row-number);
    $title-margin-top: percentage(0.99/$col-number);
    &>.rlo-tile {
        width: $width;
        padding-bottom: $padding;
        &>.rlo-tile-intro-content{
            height: $intro-content-height;
            width: $width;
        }
        &>.rlo-tile-title{
            width: $width;            
            margin-top: calc(#{$title-margin-top} - 3em);
        }
    }
}

.rlo-list {
    @include aspect-ratio(3,3,5);
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    &>.rlo-tile {
        margin: 1px 1px;
        &:nth-of-type(odd) {
            background: #56c7fa;
        }

        &:nth-of-type(even) {
            background: #f76540;
        }
        &>.rlo-tile-intro-title{
            position: absolute;
            padding: 10px;
            overflow: auto;
            font-size: large;
        }
        &>.rlo-tile-intro-content{
            position: absolute;
            padding-left: 10px;
            margin-top: 35px;
            overflow: auto;
        }
        &>.rlo-tile-preview{
            position: absolute;
            padding: 10px;
        }
        &>.rlo-tile-title{
            position: absolute;
            background: rgba(0, 0, 0, 0.75);
            color: white;
            height: 3em;
            padding: 15px;
            font: 15px Sans-Serif;
        }
        &>.rlo-tile-info{
            position: absolute;
            padding-left: 10px;
            margin-top: 35px;
        }
    }
}


@media screen and (max-width: 640px) {
    .rlo-list {
        @include aspect-ratio(2,2,7);
    }
}

@media screen and (max-width: 480px) {
    .rlo-list {
        @include aspect-ratio(1,1,13);
    }
}
/*Tablets Landscape */
@media screen and (min-device-width: 768px) 
               and (max-device-width: 1024px) 
               and (orientation: landscape)  {
    .rlo-list {
        @include aspect-ratio(3,3,5);
    }
}
/*Tablets Portrait */
@media screen and (min-device-width: 768px) 
               and (max-device-width: 1024px) 
               and (orientation: portrait)  {
    .rlo-list {
        @include aspect-ratio(1,1,13);
    }
}

/*Mobile Phones Portrait */
@media screen and (max-device-width: 640px) 
               and (orientation: portrait){
    .rlo-list {
        @include aspect-ratio(1,1,13);
    }
}

/* Mobile Phones Landscape */
@media screen and (max-device-width: 640px) 
               and (orientation: landscape){
    .rlo-list {
        @include aspect-ratio(2,2,7);
    }
}
/* Mobile Phones portrait */
@media screen and (max-device-width: 480px) 
               and (orientation: portrait){
    .rlo-list {
        @include aspect-ratio(1,1,13);
    }
}
/* Mobile Phones Landscape */
@media screen and (max-device-width: 480px) 
               and (orientation: landscape){
    .rlo-list {
        @include aspect-ratio(2,2,7);
    }
}
