@mixin animationSetting{
    animation-duration: $duration-long;
    animation-fill-mode: both;
    animation-timing-function: $ease-animation;
}

.rlo-base-view {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    &.out {
        //add transition
    }
}

.rlo-base-content-container{
    @extend .container;
    width: 100%;
    height: 100%;
    padding: $padding-small;
    background : $color_background-gradient;
    font-family: $fontFamily-default;
}

.rlo-base-content-container.prev{
    position: fixed;
    animation-duration: $duration-long;
    animation-name: animationCurrentPrev; 
}
.rlo-base-content-container.next{
    position: fixed;
    animation-duration: $duration-long;
    animation-name: animationCurrentNext; 
}
.rlo-base-content-container.down{
    position: fixed;
    animation-duration: $duration-long;
    animation-name: animationCurrentDown; 
}
.rlo-base-content-container.up{
    position: fixed;
    animation-duration: $duration-long;
    animation-name: animationCurrentUp; 
}

.rlo-base-content-container.transition.prev{
    position: fixed;
    animation-duration: $duration-long;
    animation-name: animationOldPrev; 
}
.rlo-base-content-container.transition.next{
    position: fixed;
    animation-duration: $duration-long;
    animation-name: animationOldNext; 
}
.rlo-base-content-container.transition.down{
    position: fixed;
    animation-duration: $duration-long;
    animation-name: animationOldDown; 
}
.rlo-base-content-container.transition.up{
    position: fixed;
    animation-duration: $duration-long;
    animation-name: animationOldUp; 
}

.nav-button-container{
    position:fixed;
    height: auto;
    width: auto;
    right: 0;
    bottom: 0;
    padding: $padding-small;
    z-index: $z-fg;
    background: $color_nav_button_background;
}

.ui-nav-left, .ui-nav-up, .ui-nav-down, .ui-nav-right, .rlo-base-menu-button {
    display: inline-block;
    width: $ui-button-width;
    height: $ui-button-width;
    cursor: pointer;

    &.out {
        opacity: 0.3;
    }

    // OJR change this to target the svg itself and change the color
    &:hover {
        border-color: $color_white-default;
        background: $color_white-default;
    }
}

.rlo-base-menu-button {
    width: 7rem;
}

.ui-button-svg {
    fill:$color_gray-darker;

    &:hover {
        fill:$color_gray-dark;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes animationCurrentPrev { 
    0% { 
        transform: translateX(-100%); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 

@keyframes animationCurrentNext { 
    0% { 
        transform: translateX(100%); 
    }
    100% { 
        transform: translateX(0); 
    } 
}

@keyframes animationCurrentDown { 
    0% { 
        transform: translateY(100%); 
    } 
    100% { 
        transform: translateY(0); 
    } 
}

@keyframes animationCurrentUp { 
    0% { 
        transform: translateY(-100%); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 
@keyframes animationOldPrev { 
    0% { 
        transform: translateX(0); 
    } 
    100% { 
        transform: translateX(100%); 
    } 
} 

@keyframes animationOldNext { 
    0% { 
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(-100%); 
    } 
}

@keyframes animationOldDown { 
    0% { 
        transform: translateY(0); 
    } 
    100% { 
        transform: translateY(-100%); 
    } 
}

@keyframes animationOldUp { 
    0% { 
        transform: translateY(0); 
    } 
    100% { 
        transform: translateY(100%); 
    } 
} 

@media screen and (max-device-width: $bp_width_small) {
    .nav-button-container {
        padding: 0.3rem;
    }
    .ui-nav-left, .ui-nav-up, .ui-nav-down, .ui-nav-right, .rlo-base-menu-button {
        width: $ui-button-width*0.7;
        height: $ui-button-width*0.7;
    }
    .rlo-base-menu-button {
        width: 7rem*0.7;
    }
}
