$menu-width-height: 5rem;
$menu-bar-width-height:1.2rem;
$menu-bar-gap: .2rem;
$color_menu-gap: $color_gray-darker;

@mixin animationSetting{
    animation-duration: $duration-long;
    animation-fill-mode: both; 
    animation-timing-function: $ease-animation;
}

.rlo-base-view {
    position: fixed;
    margin: 0 auto;
    top: 8rem;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 8rem);
    overflow: auto;
    background: $color_blue;

    >.rlo-base-title {
        position: fixed;
        top: 0;
        left: calc(10% + 13rem);
        right: calc(13% + 5rem);
        margin-top: 2rem;
        text-align: center;
        z-index: $z-fg;
        font-size: $fontSize-large;
    }

    >.rlo-base-menu-bar{
        position: fixed;
        top: 0;
        width:100%;
        height:8rem;
        z-index: $z-mg;
        background: $color_white-default;
    }

    >.rlo-base-menu-button{
        position: fixed;
        top: 1rem;
        right: 12%;
        width: $menu-width-height;
        height: $menu-width-height;
        z-index: $z-fg;
        background: $color_menu-gap;
        cursor: pointer;
        border: .5rem solid $color_menu-gap;
        transition: $duration-default $ease-animation;

        &:hover {
            border-color: $color_white-default;
            background: $color_white-default;
            &>.menu-button4,.menu-button5{
                background: $color_white-default;
            }
        }

        &.active {
            transform: rotate(-225deg);
            >.menu-button1{
                left: 1.4rem;
                transform: rotate(90deg);
                animation-name: fadeIn; 
            }
            >.menu-button2{
                animation-name: fadeIn; 
            }
            >.menu-button3{
                opacity: 0;
            }
            >.menu-button4{
                opacity: 0;
            }
            >.menu-button5{
                opacity: 0;
            }
        }

        >.menu-button1{
            position: absolute;
            height: 100%;
            width: $menu-bar-width-height;
            background: $color_blue;
            @include animationSetting;
        }
        >.menu-button2{
            position: absolute;
            height: 100%;
            left: $menu-bar-width-height + $menu-bar-gap;
            width: $menu-bar-width-height;
            background: $color_blue;
            @include animationSetting;
        }
        >.menu-button3{
            position: absolute;
            height: 100%;
            right: 0;
            width: $menu-bar-width-height;
            background: $color_blue;
        }
        >.menu-button4{
            position: absolute;
            width: 100%;
            height: $menu-bar-gap;
            top: $menu-bar-width-height;
            transition: $duration-default $ease-animation;
            background: $color_menu-gap;
        }
        >.menu-button5{
            position: absolute;
            width: 100%;
            height: $menu-bar-gap;
            bottom: $menu-bar-width-height;
            transition: $duration-default $ease-animation;
            background: $color_menu-gap;
        }
    }

    >.rlo-base-menu-separator{
        display: none;
        z-index: $z-fg;
        position:fixed;
        top: 8rem;
        width:100%;
        >.rlo-base-menu-separator-mask {
            overflow:hidden;
            height:2rem; 
            &:after { 
                content:''; 
                display:block; 
                margin:-2.5rem auto 0;
                width:100%; 
                height:2.5rem;  
                border-radius:125px / 12px;  
                box-shadow:0 0 .8rem $color_gray-darkest;
            }
        }
    }

    >.rlo-base-content-container{
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        width: 80%;
        height: 80%;
        padding: $padding-medium;
        background: $color_red;
        overflow: auto;
    }
    >.nav-button-container{
        position:fixed;
        right: 0rem;
        height: 12rem;
        width: 42rem;
        right:1.6rem;
        bottom: 1.6rem;
        background: $color_nav_button_background;
        padding-top:1rem;
        padding-left:1rem;
        >div{
            display: inline-block;
            transform:scale(0.5);
        }

    }
    &.out {
        display: none;
    }
}

@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 

@media screen and (max-width: $bp_width_small) {
    .rlo-base-view {
        top: 16rem;
        height: calc(100% - 16rem);
        > .rlo-base-title {
            top: 8rem;
            left: 1rem;
            right: 1rem;
        }
        >.rlo-base-menu-bar{
            height:16rem;
        }
        >.rlo-base-menu-separator{
            display: block;
        }
    }
}