
.rlo-view-container{
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 1px;
    right: 0;
}

@mixin aspect-ratio($ratio, $col-number,$row-number) {
    $padding: percentage(0.99/$ratio);
    $width: percentage(0.99/$col-number);
    $intro-title-margin-top: percentage(0.99/$col-number);
    &>.rlo-tile {
        width: $width;
        padding-bottom: $padding;
        &>.rlo-tile-intro-title{
            width: $width;
            margin-top: calc(#{$intro-title-margin-top} - 20rem);
        }
        &>.rlo-tile-intro-content{
            width: $width;
            margin-top: calc(#{$intro-title-margin-top} - 15rem);
        }
        &>.rlo-tile-title{
            width: $width;            
            margin-top: calc(#{$intro-title-margin-top} - 3.5em);
        }
    }
}

.rlo-list {
    @include aspect-ratio(3,3,5);
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    &>.rlo-tile {
        margin: 1px 1px;
        &:nth-of-type(odd) {
            background: #56c7fa;
        }

        &:nth-of-type(even) {
            background: #f76540;
        }
        &>.rlo-tile-intro-title{
            position: absolute;
            padding-left: $padding-small;
            overflow: auto;
            font-size: large;
        }
        &>.rlo-tile-intro-content{
            position: absolute;
            height: 15rem;
            padding-left: $padding-small;
            overflow: auto;
        }
        &>.rlo-tile-preview{
            position: absolute;
            padding: $padding-small;
        }
        &>.rlo-tile-title{
            position: absolute;
            background: rgba(0, 0, 0, 0.75);
            color: white;
            height: 3.5em;
            padding: 18px;
            font: 15px Sans-Serif;
        }
        &>.rlo-tile-info{
            position: absolute;
            padding-left: $padding-small;
            margin-top: 35px;
        }
    }
    &.out {
        display: none;
    }
}
/* Large View */
@media screen and (max-width: 960px) {
    .rlo-list {
        @include aspect-ratio(2,2,7);
    }
}
/* Small view */
@media screen and (max-width: 580px) {
    .rlo-list {
        @include aspect-ratio(1,1,14);
    }
}

/*Tablets Landscape */
@media screen and (min-device-width: $bp_width_small) 
and (max-device-width: $bp_width_medium) 
and (orientation: landscape)  {
    .rlo-list {
        @include aspect-ratio(3,3,5);
    }
}
/* Tablets Portrait */
@media screen and (min-device-width: $bp_width_small) 
and (max-device-width: $bp_width_medium) 
and (orientation: portrait)  {
    .rlo-list {
        @include aspect-ratio(2,2,7);
    }
}

/* Mobile Phones Portrait */
@media screen and (max-device-width: 640px) 
and (orientation: portrait){
    .rlo-list {
        @include aspect-ratio(1,1,14);
    }
}

/* Mobile Phones Landscape */
@media screen and (max-device-width: 640px) 
and (orientation: landscape){
    .rlo-list {
        @include aspect-ratio(2,2,7);
    }
}
/* Mobile Phones portrait */
@media screen and (max-device-width: 480px) 
and (orientation: portrait){
    .rlo-list {
        @include aspect-ratio(1,1,14);
    }
}
/* Mobile Phones Landscape */
@media screen and (max-device-width: 480px) 
and (orientation: landscape){
    .rlo-list {
        @include aspect-ratio(2,2,7);
    }
}
