$outro-margin-base: 1.5rem;

.rlo-view-container{
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 1px;
    right: 0;
    height: 100%;
    @include user-select(none);
}

@mixin aspect-ratio($ratio, $col-number,$row-number) {
    $padding: percentage(0.99/$ratio);
    $width: percentage(0.99/$col-number);
    $outro-margin-top: percentage(0.99/$row-number);
    $intro-margin-top: percentage(0.99/$col-number);
    >.rlo-tile {
        width: $width;
        padding-bottom: $padding;
        &.intro-tile{
            >.rlo-tile-intro-title{
                width: $width;
                margin-top: calc(#{$intro-margin-top} - 20rem);
            }
            >.rlo-tile-intro-content{
                width: $width;
                height: 15rem;
                margin-top: calc(#{$intro-margin-top} - 14rem);
            }
        }
        &.outro-tile{
            >.rlo-tile-intro-title{
                width: $width;
                margin-top: $outro-margin-base;
            }
            >.rlo-tile-intro-content{
                width: $width;
                margin-top: $outro-margin-base*2;
                height: calc(#{$outro-margin-top} - 3rem);
            }
        }
        >.rlo-tile-title-container{
            width: calc(#{$width} + .4px);
            margin-top: calc(#{$intro-margin-top} - 5rem);
        }
    }
}

.rlo-list {
    @include aspect-ratio(3,3,1);
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    >.rlo-tile {
        margin: 1px 1px;
        &:nth-of-type(odd) {
            background: $color_blue;
        }

        &:nth-of-type(even) {
            background: $color_red;
        }

        >.rlo-tile-intro-title{
            position: absolute;
            padding-left: $padding-small;
            padding-right: $padding-small;
            overflow: auto;
            font-size: $fontSize-large;
        }

        >.rlo-tile-intro-content{
            position: absolute;
            padding-left: $padding-small;
            padding-right: $padding-small;
            overflow: auto;
        }
        >.rlo-tile-preview{
            position: absolute;
            padding: $padding-small;
        }
        >.rlo-tile-title-container{
            position: absolute;
            display: table;
            height: 5rem;
            background: $color_tile_title_background;
            >.rlo-tile-title{
                display: table-cell;
                vertical-align: middle;
                font-family: $fontFamily-title;
                font-size: 1.5rem;
                padding-left: $fontSize-large;
                color: white;
            }
        }
        >.rlo-tile-info{
            position: absolute;
            padding-left: $padding-small;
            margin-top: 3rem;
        }
    }
    &.out {
        display: none;
    }
}
/* Large View */
@media screen and (max-width: $bp_width_col_two) {
    .rlo-list {
        @include aspect-ratio(2,2,2);
    }
}
/* Small view */
@media screen and (max-width: $bp_width_col_one) {
    .rlo-list {
        @include aspect-ratio(1,1,3);
    }
}

/*Tablets Landscape */
@media screen and (min-device-width: $bp_width_small)
and (max-device-width: $bp_width_medium)
and (orientation: landscape)  {
    .rlo-list {
        @include aspect-ratio(3,3,1);
    }
}
/* Tablets Portrait */
@media screen and (min-device-width: $bp_width_small)
and (max-device-width: $bp_width_medium)
and (orientation: portrait)  {
    .rlo-list {
        @include aspect-ratio(2,2,2);
    }
}

/* Mobile Phones Portrait */
@media screen and (max-device-width: $bp_width_medium_phone)
and (orientation: portrait){
    .rlo-list {
        @include aspect-ratio(1,1,3);
    }
}

/* Mobile Phones Landscape */
@media screen and (max-device-width: $bp_width_medium_phone)
and (orientation: landscape){
    .rlo-list {
        @include aspect-ratio(2,2,2);
    }
}
/* Mobile Phones portrait */
@media screen and (max-device-width: $bp_width_small_phone)
and (orientation: portrait){
    .rlo-list {
        @include aspect-ratio(1,1,3);
    }
}
/* Mobile Phones Landscape */
@media screen and (max-device-width: $bp_width_small_phone)
and (orientation: landscape){
    .rlo-list {
        @include aspect-ratio(2,2,2);
    }
}
