$outro-margin-base: 1.5rem;
$tile-margin: 0.5rem;

.rlo-view-container{
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    font-family: $fontFamily-default;
    font-size: $fontSize-small;
    @include user-select(none);
}

@mixin aspect-ratio($col-number) {
    $width: calc(#{percentage(1/$col-number)} - #{$tile-margin});
    .rlo-tile {
        width: $width;
        padding-bottom: $width;
    }
}


// RLO TILE ********************************************************************
.rlo-tile {
    height: 0;
    position: relative;
    margin-top: $tile-margin;
    margin-left: $tile-margin;
    overflow: hidden;
    cursor: pointer;
    background: $color_background-gradient;
}

.rlo-tile-container {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.rlo-tile-preview{
    position: absolute;
}

.rlo-tile-title-container{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 5rem;
    background: $color_tile_title_background;
    opacity: 0.9;
}

.rlo-tile-title{
    font-family: $fontFamily-title;
    font-size: 1.5rem;
    line-height: 5rem;
    padding-left: $padding-medium;
    color: white;
}

.rlo-tile-info{
    position: absolute;
    padding-left: $padding-small;
    margin-top: 3rem;
}


// Intro & Outro TILE **********************************************************
.intro-tile, .outro-tile {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
    min-height: 1000px;  // arbitrary value that forces content to start with correct height, overwritten in code
}

.rlo-tile-intro-title, .rlo-tile-outro-title {
    width: 100%;
    padding-left: $padding-small;
    padding-right: $padding-small;
    font-size: $fontSize-large;
}

.rlo-tile-intro-title {
    padding-bottom: $padding-small;
}

.rlo-tile-outro-title {
    padding-top: $padding-small;
}

.rlo-tile-intro-content, .rlo-tile-outro-content {
    width: 100%;
    padding-left: $padding-small;
    padding-right: $padding-small;
}

.rlo-tile-content-container, .rlo-tile-content-container-intro {
    position: absolute;
    width: 100%;
    overflow: visible;
}

.rlo-tile-content-container-intro {
    bottom: $padding-small;
}


// rlo list ********************************************************************
.rlo-list {
    @include aspect-ratio(3);
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    &.out {
        display: none;
    }
}
/* Large View */
@media screen and (max-width: $bp_width_col_two) {
    .rlo-list {
        @include aspect-ratio(2);
    }
}
/* Small view */
@media screen and (max-width: $bp_width_col_one) {
    .rlo-list {
        @include aspect-ratio(1);
    }
}

/*Tablets Landscape */
@media screen and (min-device-width: $bp_width_small)
and (max-device-width: $bp_width_medium)
and (orientation: landscape)  {
    .rlo-list {
        @include aspect-ratio(3);
    }
}
/* Tablets Portrait */
@media screen and (min-device-width: $bp_width_small)
and (max-device-width: $bp_width_medium)
and (orientation: portrait)  {
    .rlo-list {
        @include aspect-ratio(2);
    }
}

/* Mobile Phones Portrait */
@media screen and (max-device-width: $bp_width_medium_phone)
and (orientation: portrait){
    .rlo-list {
        @include aspect-ratio(1);
    }
}

/* Mobile Phones Landscape */
@media screen and (max-device-width: $bp_width_medium_phone)
and (orientation: landscape){
    .rlo-list {
        @include aspect-ratio(2);
    }
}
/* Mobile Phones portrait */
@media screen and (max-device-width: $bp_width_small_phone)
and (orientation: portrait){
    .rlo-list {
        @include aspect-ratio(1);
    }
}
/* Mobile Phones Landscape */
@media screen and (max-device-width: $bp_width_small_phone)
and (orientation: landscape){
    .rlo-list {
        @include aspect-ratio(2);
    }
}
