<div class="rlo-content">
    <div class="rlo-content-title col-xs-12">100.2 E=mc<sup>2</sup> as a Conversion</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  <div class="rlo-content-memo"> Mass or energy </div>   

  The speed of light is a constant, 
  so one way to regard E=mc<sup>2</sup> is as a conversion between units of mass and energy.
 <br/><br/>
 <table border="1" >
     <tr> 
         <th style="padding:7px">Energy</th> 
         <th style="padding:7px">Mass</th> 
     </tr>
     
     <tr>
         <td style="padding:7px"> 9 x 10<sup>16</sup>J </td>
         <td style="padding:7px"> 1 kg </td>
     </tr>
      <tr>
         <td style="padding:7px"> 9 x 10<sup>13</sup>J </td>
         <td style="padding:7px"> 1 g </td>
     </tr>    
       <tr>
         <td style="padding:7px"> 1 J </td>
         <td style="padding:7px"> 1.11 x 10<sup>-17</sup> kg </td>
     </tr>     
 </table>
 
   <br/>
  Mass is a form of energy. 
  In energy conservation calculations, extra terms for masses have to be included. 
  For a free, slow-moving particle:
  <br/><br/>
  Total Energy = mc<sup>2</sup> + 1/2mv<sup>2</sup> = m(c<sup>2</sup> + v<sup>2</sup>/2)

    
 <img class="img-responsive rlo-content-image" src="/images/RLO3/Emc2-Short.svg" />
    
    </div>
  
</div>
