<div class="rlo-content">
    <div class="rlo-content-title col-xs-12">200.5 E=mc<sup>2</sup> for Bound Electrons</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

        <div class="rlo-content-memo"> Atoms</div>   

       In atoms, electrons are bound to the nucleus.
       Bound electrons therefore have lower energy than a free electron.
       Bound electrons are best regarded as waves, and do not have kinetic energy.
       This means that you should NOT use &#189;mv<sup>2</sup> for bound electrons.
        
        <img class="img-responsive rlo-content-image" src="/images/RLO3/Emc2-Short.svg" />
    
  </div>
</div>
