<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">Atom</div>
    <div class="lesson-content-body col-xs-12">
        
        <div class="col-md-8 col-lg-8">
            All matter in the universe is made from <lcterm>atoms:</lcterm>
            <ul>
                <li>Gases (steam)</li>
                <li>Liquids (water)</li>
                <li>Solids (ice)</li>
            </ul>
            All atoms consist of a <lcterm>nucleus</lcterm> and surrounding electrons.
            The nucleus contains both neutrons and protons.
            A <lcterm>molecule</lcterm> is a group of atoms bonded to each other in a specific pattern.
        </div>
        
        <div class="col-md-4 col-lg-4">
            <img class="lesson-content-image" src="/content/lesson2a/assets/AtomPlay.svg"/>
        </div>
     
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
   </div>
</div>

