<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">Different Types of Atom</div>
    <div class="lesson-content-body col-xs-12">
        
        <div class="col-md-8 col-lg-8">
            There are about 100 different types of atom, each with different <strong>chemical 
            properties</strong>. Pure <strong>chemical elements</strong> are made from just one type of atom, so 
            gold is made from gold atoms, whereas silver is made from silver atoms and so on. 
            <br/><br/>
            Other 
            substances (such as wood) are made from many different types of atom. Most 
            objects, such as trees, humans, and planets are made from incredibly complex arrangements 
            of many different chemical elements bound together into <strong>molecules </strong>. 
        </div>
        
        <div class="col-md-4 col-lg-4">
            <span>
            <img class="lesson-content-image" src="/content/lesson2a/assets/Atom.svg"/>
            <img class="lesson-content-image" src="/content/lesson2a/assets/AtomRed.svg"/>
            </span>
        </div>
  
    </div>
            
   <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>          
</div>
