<div class="lesson-content">
    <div class="lesson-content-title">The Power of Atoms</div>
    <div class="lesson-content-body">
        The concept of an atom is key to modern science. Here are just some examples:
        <ul>
            <li>All of <strong>chemistry</strong> is explained in terms of how 
                atoms combine to form molecules</li>
            <li>Chemistry is the basis of <strong>biochemistry</strong>, which 
                is essential for medicine and biology</li>
            <li>Most of <strong>physics</strong> and almost all 
                <strong>technology</strong> is based on the idea of atoms</li>
        </ul>
    </div>
             
            <img class="lesson-content-image" src="/content/lesson2a/assets/Atom.svg"/>
            
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
</div>
