<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">The power of an idea</div>
    <div class="lesson-content-body col-xs-12">
        
        <div class="col-md-8 col-lg-8">
            The concept of an atom is key to modern science. Here are just some examples:
            
            <h3>Chemistry</h3>
            All of <strong>chemistry</strong> is explained in terms of how 
                    atoms combine to form molecules.
                    
            <h3>Biochemistry</h3>
            From chemistry, comes biochemistry, the chemistry of life.
            Biochemistry is essential for medicine and biology 
                   
            <h3>Physics and Technology</h3>
                Most of <strong>physics</strong> and almost all 
                    <strong>technology</strong> is based on the idea of atoms.
        </div>
             
        <div class="col-md-4 col-lg-4">
            <img class="lesson-content-image" src="/content/lesson2a/assets/Atom.svg"/>
        </div>
        
    </div>
    
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
</div>
