<div class="lesson-content">
    <div class="lesson-content-title">Inside the Nucleus</div>
    <div class="lesson-content-body">
        
        <div class="col-md-8 col-lg-8">
            Nuclei are made from two types of particle: <strong>protons</strong> and 
            <strong>neutrons</strong>, which collectively are known as <strong>nucleons</strong>. 
            A proton has a <font color="red"><strong>positive</strong></font> 
            electric charge, and is very slightly lighter than a neutron, which is 
            uncharged. Apart from these differences, the two particles are very similar, 
            both being made out of 3 <strong>quarks</strong>, which are held together 
            by the <strong>strong nuclear force</strong> by exchange of particles 
            called <strong>gluons</strong>. 
           The three quarks in a proton are 'up, up, down', while in the neutron the three quarks are 'down, down, up'.
            The <strong>residual</strong> strong 
            nuclear force binds all the nucleons together to form a nucleus. It is called the strong
            force because in forming a nucleus it overcomes the electrical repulsion between protons.
        </div>
         
        <div class="col-md-4 col-lg-4">
         <img class="lesson-content-image" src="/content/lesson2a/assets/Nucleus.svg"/>
        </div>
        
    </div>     
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
        
</div>

