<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">Lesson Introduction</div> 
    <div class="lesson-content-body col-xs-12">
        <div class="col-md-8 col-lg-8">
            This module on the atomic nucleus includes:
                <ul>
                    <li>a basic introduction to atoms and nuclei</li>
                    <li>the concept of a nuclide as a specific type of nucleus</li>
                    <li>Two models of nuclear structure</li>
                    <li>Quizzes</li>
                </ul>
        </div>
    
        <!-- RHS -->
        <div class="col-md-4 col-lg-4">
            <img class="lesson-content-image" src="/content/lesson2a/assets/AtomPlay.svg"/>
        </div>
   
         <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div> 
         <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
    </div>
</div>

