<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">Introduction</div> 
    <div class="lesson-content-body col-xs-12">
        <div class="col-md-6 col-lg-6">
            This module on the atomic nucleus includes:
                <ul>
                    <li>a beginners introduction to atoms <i>(pages above)</i> </li>
                    <li>an introduction to <lcterm>nuclei</lcterm></li>
                <li>the concept of a <lcterm>nuclide</lcterm> as a specific type of nucleus</li>
                <li>Naming and classifying nuclides</li>
                <li>introduction to nuclear decay</li>
                    <li>Two models of nuclear structure</li>
                    <li>Quizzes</li>
                </ul>
        </div>
    
        <!-- RHS -->
        <div class="col-md-6 col-lg-6">
            <img class="lesson-content-image" src="/content/lesson2a/assets/AtomPlay.svg"/>
        </div>
   
         <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div> 
         <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
    </div>
</div>

