<div class="lesson-content">
    <div class="lesson-content-title">Naming Nuclei & Definitions</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">A nuclide is a specific type of nucleus</div>
        
        <!--A <strong>nuclide</strong> is any atomic nucleus with a specific number 
        of protons (Z), and neutrons (N). The total number of nucleons is given 
        by the mass number:
        <span class="lesson-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mrow>
                    <mi>A</mi>
                    <mo>=</mo>
                    <mi>Z</mi>
                    <mo>+</mo>
                    <mi>N</mi>
                    <mo>.</mo>
            </mrow>
            </math>
        </span></li>
        There are over 3000 different nuclides, roughly 90% 
        of which and unstable, i.e. radioactive.-->
        <!--included above text in 'nuclides'-->
        <div class="col-md-6 col-lg-6">
        <ul>
            <li><strong>ISOTOPE</strong> - same 
            <span class="lesson-content-atomicnumber">Z</span>
            , different <span class="lesson-content-neutron">N</span>,
            <span class="lesson-content-atomicmass">A</span>
            <br><strong>Ex)</strong> <sup>12</sup>C, <sup>13</sup>C, <sup>14</sup>C -
            Carbon always has an <span class="lesson-content-atomicnumber">atomic number of 6</span>,
            but carbon <strong>isotopes</strong> have different number of 
            <span class="lesson-content-neutron">neutrons</span>, 
            thus different <span class="lesson-content-atomicmass">atomic mass</span>.
            <br/><br/>
            </li>
            
            <li><strong>ISOTONE</strong> - same 
            <span class="lesson-content-neutron">N</span>, 
            different <span class="lesson-content-atomicnumber">Z</span>
            <br><strong>Ex)</strong> <sup>12</sup>B, <sup>13</sup>C, <sup>14</sup>N -
            They all have 7 <span class="lesson-content-neutron">neutrons</span>, 
            but different <span class="lesson-content-atomicnumber">atomic numbers</span>.
            <br/><br/>
            </li>
          
            <li><strong>ISOBAR</strong> - same <span class="lesson-content-atomicmass">A</span>,
            different <span class="lesson-content-neutron">N</span>,
            <span class="lesson-content-atomicnumber">Z</span>
            <br><strong>Ex)</strong> <sup>13</sup>B, <sup>13</sup>C, <sup>13</sup>N -
            They all have the same number of nucleons, 
            same <span class="lesson-content-atomicmass">atomic mass</span>, 
            but different number of protons and neutrons,
            and thus different <span class="lesson-content-atomicnumber">atomic numbers</span>.
            <br/><br/>
            </li>
          
            <li><strong>ISOMER</strong> - same A,N & Z (but different energy) <br/><br/></li>
            
            <li> eV - electron volt </li>
            <li> 1 eV = 1.602 x 10<sup>-19</sup> Joules</li>
            <li> 1 keV = 1000 eV </li>
            <li> 1 MeV = 1000 keV </li>
        </ul>
        </div>
    </div>
           
    <img class="lesson-content-image" src="/content/lesson2a/assets/Radiation.svg"/>
    
<div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
        
</div>
