<div class="lesson-content">
    <div class="lesson-content-title">Liquid Drop Model</div>
    <div class="lesson-content-body">
    
        <div class="lesson-content-memo">The Liquid Drop Model treats the nucleus as a drop of liquid.</div>
         
        <div class="col-md-6 col-lg-6">
            It is effective to analyze the nucleus as a drop of nucleons because the short-range attraction between nucleons
            is analogous to the short-range attraction between molecules. 

            The idea of a liquid drop is represented mathematically by the <strong>semi-empirical mass formula</strong>. 
            This formula contains a series of terms representing different contributions to the drop energy, 
            such as a mass term, a bulk term and a surface tension term.

            The semi-empirical mass formula is particularly useful for understanding global effects such 
            as binding energy trends and fission.
            The liquid drop model is complementary to the shell model and both have their uses.
        </div>
 
        <div class="col-md-6 col-lg-6">
            <img class="img-responsive lesson-content-image" src="/content/lesson2a/assets/LiquidNucleus.svg" />
            Nucleus as a liquid drop
        </div>       
        
    </div>
    
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
