<div class="lesson-content">
    <div class="lesson-content-title">Nuclear Radiation</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo"> Radiation from the nucleus</div>
        
         <div class="col-md-6 col-lg-6">
        Atoms containing unstable nuclides can spontaneously change into other types of atoms. 
        These <strong>radionuclides</strong> decay, emitting various types of very high energy particle, 
        known as radiation.
        This process of producing ionizing radiation by nuclear decay is known as 
        <strong>radioactivity</strong>. 
        Almost all chemical elements have both stable and radioactive nuclides.
        <!--ex of same element with a stable and unstable nuclide-->
        <br>Each radionuclide has its own decay properties, 
        such as half-life and type of radiation emitted (decay mode)
        such as alpha, beta and gamma radiation.
        Some nuclides have multiple decay modes.
        <br>A single radioactive decay can have enough energy to break more than 
        <strong>100 000 chemical bonds</strong>.
        This huge disparity between nuclear and chemical energies 
        explains why radioactivity is so biologically hazardous,
        because biologically vital molecules such as DNA can be damaged or destroyed.
         </div>
    </div>
         
    <img class="lesson-content-image" src="/content/lesson2a/assets/Radiation.svg"/>
    
          <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
