<div class="lesson-content">
    <div class="lesson-content-title">Nucleus</div>
    <!-- WAS ACTIVE NUCLEUS -->
    <div class="lesson-content-body">
        <div class="lesson-content-memo"> The heart of the atom</div>
          
        
         <div class="col-md-6 col-lg-6">
        In the center of every atom lies a small and very dense <strong>nucleus</strong>. 
        The nucleus consists of protons which have a positive charge, and neutrons which have no charge.
        Therefore the nucleus has a positive <strong>electric charge</strong> and produces a strong <strong>electric field</strong>.
        The electric field extends far outside the nucleus, 
        attracting and trapping negatively charged electrons to form atoms.
        <br>Although the nucleus takes up a very small amount of the volume atom, 
        it contains almost all the mass of the atom. 
        The electron's mass are insignificant in comparison to the nucleus.
        <br>Many nuclei also have intrinsic angular momentum (<strong>spin</strong>) which creates a <strong>magnetic dipole field</strong>.
        Nuclei can be classified as either <strong>fermions</strong> (particles with non integer spin),
        or <strong>bosons</strong> (particles with integer spin).
         </div>
    </div>
     
     <img class="lesson-content-image" src="/content/lesson2a/assets/Atom_size.svg"/>
     
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
