<div class="lesson-content">
    <div class="lesson-content-title">Nuclides</div>
    <!-- WAS ACTIVE NUCLEUS -->
    <div class="lesson-content-body">
        <div class="lesson-content-memo"> Nuclides</div>
          
    Nuclides...
    </div>
     
     <img class="lesson-content-image" src="/content/lesson2a/assets/Nucleus.svg"/>
     
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
