<div class="lesson-content">
    <div class="lesson-content-title">Nuclides</div>
    <!-- WAS ACTIVE NUCLEUS -->
    <div class="lesson-content-body">
        <div class="lesson-content-memo"> Different types of nucleus</div>
          
         <div class="col-md-6 col-lg-6">
        A nuclide is any atomic nucleus with a specific number of protons (Z) and neutrons (N).
        The total number of nucleons is given by the mass number A = Z + N.
        There are over 3000 different nuclides, roughly 90% of which are unstable, i.e. radiaoctive.
        <br>Because the elements implies the same atomic number, 
        elements are commonly written without specifying atomic number, 
        and only mass number (A) is specified.
        For example Helium nuclides always have Z=2, so we can write: 
        <strong><sup>4</sup>He</strong> without confusion.
         </div>
    </div>
     
     <img class="lesson-content-image" src="/content/lesson2a/assets/Nucleus.svg"/>
     
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
