<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">Models of Nuclear Structure</div>
    <div class="lesson-content-body col-xs-12">
        
        <div class="col-md-8 col-lg-8">
            Nuclei contain neutrons and protons, but how do these particles interact with each other?
            How does the collection of particles that we call the 'nucleus' behave?
            In the two pages below, we describe two nuclear models that address aspects of these questions.
            
            <ul>
                <li>Shell Model: this has similarities with the shell model for electrons.</li>
                <li>Liquid Drop Model: this is a classical analogy, but useful.</li>
            </ul>
            
        </div>
        
 
   <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
   </div>
</div>
