<div class="lesson-content">
    <div class="lesson-content-title">The Periodic Table</div>
    <div class="lesson-content-body">
        
        <div class="col-md-7 col-lg-7">
            The <span class="lesson-content-atomicnumber"><strong>atomic number</strong> (<strong>Z</strong>)</span>, 
            which is the number of protons in a nucleus, determines chemical identity.
            The well-known <strong>periodic table</strong> contains all the different types of atom, 
            arranged according to <strong>chemical</strong> properties.
            Each element has a unique defining 
            <span class="lesson-content-atomicnumber"><strong>atomic number</strong> <strong>Z</strong></span>,
            however, the number of 
            <span class="lesson-content-neutron">neutrons <strong>N</strong></span> can vary,
            and this is not shown in the periodic table. 
            <br>The <span class="lesson-content-atomicmass"><strong>mass number</strong></span>
            <span class="lesson-content-formula">
                <!-- (your LaTeX) $A = Z + N$ -->
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <mrow>
                            <mi>A</mi>
                            <mo>=</mo>
                            <mi>Z</mi>
                            <mo>+</mo>
                            <mi>N</mi>
                    </mrow>
                </math>
            </span>
            is the total number of nucleons within a nucleus.
        </div>
    
        <!-- RHS -->
        <div class="col-md-4 col-lg-5">   
            The chemical symbol is commonly written as:
            <img class="lesson-content-image" src="/content/lesson2a/assets/ElementSymbol.svg"/>
        </div>
       </div>      
            
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
</div>
