<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Quiz: Nuclides </div>
  <div class="lesson-content-body col-xs-12 ">

      <strong>Given <sup>16</sup>O:</strong>
      <div class="lesson-content-question"><strong>Q1) Which set are isotopes of <sup>16</sup>O.</strong>
        <ol type="A">
            <li> <sup>14</sup>C, <sup>15</sup>N, <sup>17</sup>F</li>
            <li> <sup>14</sup>O, <sup>15</sup>O, <sup>17</sup>O </li>
            <li> <sup>16</sup>N, <sup>16</sup>F, <sup>16</sup>Ne</li>  
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, isotopes have the same atomic number."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, isotopes have the same atomic number."> C </button>
        
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
    <div class="lesson-content-question"><strong>Q1) Which set are isotones of <sup>16</sup>O.</strong>
        <ol type="A">
            <li> <sup>14</sup>C, <sup>15</sup>N, <sup>17</sup>F</li>
            <li> <sup>14</sup>O, <sup>15</sup>O, <sup>17</sup>O </li>
            <li> <sup>16</sup>N, <sup>16</sup>F, <sup>16</sup>Ne</li>  
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, isotones have the same number of neutrons."> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, isotones have the same number of neutrons."> C </button>
        
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
    <div class="lesson-content-question"><strong>Q1) Which set are isobars of <sup>16</sup>O.</strong>
        <ol type="A">
            <li> <sup>14</sup>C, <sup>15</sup>N, <sup>17</sup>F</li>
            <li> <sup>14</sup>O, <sup>15</sup>O, <sup>17</sup>O </li>
            <li> <sup>16</sup>N, <sup>16</sup>F, <sup>16</sup>Ne</li>  
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, isobars have the same atomic mass."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, isobars have the same atomic mass."> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> C </button>
        
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
   
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>