<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Quiz: The Nucleus </div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-question"><strong>Q1) The nucleus takes up the majority of the atom's space.</strong>
        <ol type="A">
            <li> True </li>
            <li> False</li>
              
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, the nucleus is small and dense."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> B </button>

        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
    
      <div class="lesson-content-question"><strong>Q2) The nucleus takes up the majority of the atom's mass.</strong>
        <ol type="A">
            <li> True </li>
            <li> False</li>
              
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, the nucleus is small and dense."> B </button>

        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
      <div class="lesson-content-question"><strong>Q2) Protons and electrons have similar mass.</strong>
        <ol type="A">
            <li> True </li>
            <li> False</li>
              
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, electrons have significantly less mass than protons."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> B </button>

        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
    <div class="lesson-content-question"><strong>Q4) Atomic number (Z) is defined by the number of:</strong>
        <ol type="A">
            <li> Protons </li>
            <li> Protons and neutrons</li>
            <li> Protons, neutrons and electrons</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, this defines atomic mass."> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, remember atomic number is identical for pure elements."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
     
    <br><strong>Q5) Worked Example
        <br>Given <sup>87</sup>Rb</strong>:
        
    <div class="lesson-content-question"><strong>Q1) What is its atomic mass?</strong>
        <button type="button" class="lesson-content-question-reveal" data-answer="87"> ANSWER </button>
            <span class="lesson-content-question-answer">______</span>   <br/><br/>
        </div>

    <div class="lesson-content-question"><strong>Q2) What is its atomic number?</strong>
        <button type="button" class="lesson-content-question-reveal" data-answer="37"> ANSWER </button>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>		

    <div class="lesson-content-question"><strong>Q3) How many protons does it have?</strong>
        <button type="button" class="lesson-content-question-reveal" data-answer="37"> ANSWER </button>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>

    <div class="lesson-content-question"><strong>Q4) How many neutrons does it have?</strong>
        <button type="button" class="lesson-content-question-reveal" data-answer="40"> ANSWER </button>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>