<div class="lesson-content">
    <div class="lesson-content-title">Atoms</div>
    <div class="lesson-content-body">
        
        This level introduces a few elementary facts about <strong>atoms</strong>, 
        and <strong>chemical elements</strong>. 
        A <strong>molecule</strong> is a group of atoms bonded to each other in a specific pattern.
    </div>
            <img class="lesson-content-image" src="/content/lesson2a/assets/AtomPlay.svg"/>
            
   <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>      
</div>

