<div class="lesson-content">
    <div class="lesson-content-title">Almost everything is made from atoms</div>
    
    <div class="lesson-content-body">
        All matter is made from atoms:
        <ul>
            <li>Gases (air, oxygen, …)</li>
            <li>Liquids (water, oil, …)</li>
            <li>Solids (mountains, metals, mice, …)</li>
        </ul>
        <img class="lesson-content-image" src="/content/lesson2a/assets/Atom.svg"/>
     </div> 
    
    <div class="lesson-content-body">
         However other entities, such as light, the vacuum and information are not.      
    </div>  
    
  <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>

