<div class="lesson-content">
    <div class="lesson-content-title">The Shell Model of Nuclear Structure</div>
    <div class="lesson-content-body">
        
    <div class="pull-right">
        <img class="img-responsive lesson-content-image" src="/content/lesson2a/assets/ShellModel.svg" />
        The shell model has excited states.
    </div>
        <div class="lesson-content-memo">A nucleus can be excited to higher energy levels.</div>
        
        The <i> Nuclear Shell Model</i> is based on the <strong>Pauli Exclusion Principle</strong> 
        applied separately to the two types of fermion found in the nucleus 
        (protons and neutrons). There is a close analogy between atom electronic shell 
        structure and nuclear shell structure. Both describe the existence of specific 
        <strong> energy levels</strong> and both exhibit enhanced stability for closed shell  
        configurations. 
        This concept of <strong>nuclear excitation
        </strong> is key in explaining <strong>nuclear transitions</strong> and 
        gamma emission. In the nuclear shell model, some nuclides are especially stable,
        for example if Z=8 or N=8. There are in fact a series of so-called 
        <strong>magic numbers</strong> (8,20,28,50,82,126) which confer  
        extra stability. These numbers apply separately to Z and N, and so <strong>doubly-magic
        </strong> nuclei, such as Helium-4 (Z=N=2), are exceptionally stable.

    </div>
            <img class="lesson-content-image" src="/content/lesson2a/assets/NuclearTransPanel01.svg"/>
</div>
