<div class="lesson-content container">
    
    <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                Nuclear Structure
                <img class="lesson-content-image-icon2" src="/content/lesson2a/assets/NuclearTransPanel01.svg" alt='Atom'/>
            </span>
        </div> 
    </div>    
    
    <div class="lesson-content-body">
        <div class="row">
            <!-- LHS -->
             <div class="col-md-6 col-lg-6">   
             <div class="lesson-content-memo"> Nuclear structures can decay...</div>
                Many nuclear structure are not built to  
                last, subject to the fundamentally probabilistic nature of the quantum world. 
                A single nucleus cannot age, but in a population the ever-present force of probability drives an 
                accumulation of decay over time. 
                Microscopic probabilistic events result in irreversible macroscopic change.
               
               <h3>The Sleeper at the Heart</h3>
               <div class="lesson-content-memo">The nucleus sleeps at the heart of the atom. The comings and goings 
               of electrons do not disturb its slumber.</div>
               Although <span class="lesson-content-atomicmass">Z</span> and 
               <span class="lesson-content-atomicnumber">A</span>
               determine basic atomic physical and chemical properties, 
               details of internal nuclear structure do not affect chemical processes.
               Eventually, the nucleus exhibits a handful of fixed properties: 
               <strong>mass, angular momentum, electric charge, magnetic dipole 
               </strong>and <strong>electric quadrupole moment</strong>.
               The nuclear energy levels are quite inaccessible to chemical or thermal processes,
               so the nucleus remains dormant in its <strong>ground state</strong>. 
               The dissociation between the nuclear and electronic structures explains alchemists' failure
               to achieve transmutation of elements by chemical means.          
               
                       <br/><br/>
        <div class="lesson-content-memo">
        But, if the sleeper awakes, great powers are unleashed and destruction is spread abroad.
        </div>
               
            </div>
 
             <!-- RHS -->
            <div class="col-md-6 col-lg-6">
                <canvas class="lesson-content-canvas" width="800" height="400"></canvas>
            </div>
        </div>
   <!--                  
         <br/>
    <font color='crimson'>        
    <button onclick="myRandom()">RANDOMNESS GENERATOR</button>
    <span id="random1"> ..... 0.000000000000000 </span>
    <span id="random2"> ..... 0.000000000000000 </span>
    <span id="random3"> ..... 0.000000000000000 </span>
    <br/><br/>
    </font>
    <script>
    function myRandom() {
        document.getElementById("random1").innerHTML = "....." + Math.random();
        document.getElementById("random2").innerHTML = "....." + Math.random();       
        document.getElementById("random3").innerHTML = "....." + Math.random();  
    }
    </script>
   -->
        
    <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>
    <div class="lesson-content-info"> Page 200.0 </div>   
        
    </div>
</div>
