<div class="lesson-base-view out">
    
    <div class="lesson-base-content-container"></div>
    
    <div class="ui-nav-home">
        <svg class="ui-button-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <style>
              .st5{fill: black; stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            </style>
            <circle class="button-fill" cx="26" cy="26" r="25"/>
            <circle class="button-fill" cx="-108.6" cy="9.3" r="46.3"/>
            <path class="st5 button-stroke" d="M40.9 23L26.4 10.5c-.3-.3-.6-.3-.9 0L11.2 23c-.3.2-.3.5-.1.8.2.3.5.3.8.1l2.3-1.9v15.2c0 .3.3.5.5.5h7.5c.3 0 .5-.3.5-.5v-7.6H29v7.6c0 .3.3.5.5.5H37c.3 0 .5-.3.5-.5V21.9l2.4 1.9c.1.1.3.2.4.1.2 0 .4-.1.4-.2.4-.1.4-.4.2-.7 0 .1 0 .1 0 0zm-4.3-1.9v15.4h-6.3V29c0-.3-.3-.5-.5-.5h-7.4c-.3 0-.5.3-.5.5v7.6h-6.3V21.1c0-.1 0-.2-.1-.2L26 11.7 36.7 21c0 .1-.1.1-.1.1z"/>
        </svg>
    </div>
    
    <div class="nav-button-container in">
        <svg class="nav-button-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148 148" width="148" height="148">
            <style>
              .st1{fill:#F6F6F6;} .st2{fill:none;stroke-width:1.5;stroke-linejoin:round;} .st4{fill:none;stroke-width:21.233;stroke-miterlimit:10;}
            </style>
            <circle class="st1" cx="74" cy="74" r="72.1"/>
            <g class="lesson-base-menu-button">
                <circle class="button-fill" cx="73.9" cy="73.9" r="46.3"/>
                <path class="button-stroke st2" d="M87.6 60.9v34.3M61.6 60.9v34.3M73.8 56v35M48.5 55.4l12.9 5.7L74 55.5l13.6 5.4 11.9-5.4V90l-12.1 5.8-13.6-5.5-12.5 5.1-12.8-5.6z"/>
            </g>
            <g class="ui-nav-left out">
                <path class="st4 button-stroke" d="M29.2 31.2C5.6 54.7 5.5 92.9 29 116.5l.1.1" />
            </g>
            <g class="ui-nav-down out">
                <path class="st4 button-stroke" d="M30.8 118.9c23.6 23.6 61.7 23.6 85.3 0l.1-.1"/>
            </g>
            <g class="ui-nav-right out">
                <path class="st4 button-stroke" d="M119 116.5c23.4-23.6 23.4-61.7-.1-85.2"/>
            </g>
            <g class="ui-nav-up out">
                <path class="st4 button-stroke" d="M116.7 29.1C93.2 5.6 55.1 5.5 31.5 28.9"/>
            </g>
        </svg>
    </div>

    <div class="nav-button-container out">
        <svg class="nav-button-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" width="52" height="52">
            <style>
                .st1{fill:#F6F6F6;} .st6{fill:none;stroke:#616161;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;} .st7{fill:#616161;}
            </style>
            <circle class="st1" cx="25.9" cy="25.9" r="24"/>
            <g class="lesson-base-cross-button">
                <path class="button-fill" d="M38.8 12.7c-7.3-7.1-19-6.9-26.1.5s-6.9 19 .5 26.1 19 6.9 26.1-.5c3.3-3.4 5.2-8 5.2-12.8-.1-5.1-2.2-9.8-5.7-13.3z" />
                <path class="st6 button-stroke" d="M26.2 36.1V15.8M15.8 25.9h20.3"/>
            </g>
            <g class="ui-nav-left-small out">
                <path class="st7 button-stroke" d="M6.5 25.9c0-4.9 2-9.6 5.4-13L8.2 9.3C-.9 18.4-1 33.2 8 42.5l3.7-3.7c-3.4-3.4-5.3-8.1-5.2-12.9z"/>
            </g>
            <g class="ui-nav-down-small out">
                <path class="st7 button-stroke" d="M25.9 45.4c-5 0-9.8-2-13.2-5.6L9 43.5c9.1 9.3 24.1 9.5 33.4.4l.2-.2-3.7-3.7c-3.4 3.4-8.1 5.4-13 5.4z"/>
            </g>
            <g class="ui-nav-right-small out">
                <path class="st7 button-stroke" d="M43.4 9l-3.7 3.7c7.3 7.1 7.5 18.7.5 26.1l-.2.2 3.7 3.7c9.2-9.2 9.2-24.2 0-33.4l-.3-.3z"/>
            </g>
            <g class="ui-nav-up-small out">
                <path class="st7 button-stroke" d="M25.9 6.5c4.8 0 9.4 1.9 12.8 5.2L42.4 8c-9.3-9-24-8.9-33.2.2l3.7 3.7c3.4-3.5 8.1-5.4 13-5.4z"/>
            </g>
        </svg>
    </div>

</div>