<div class="rlo-base-view out">
    <div class="rlo-base-title"><%- title %></div>
    <div class="rlo-base-content-container"></div>
    <div class="rlo-base-menu-button">
        <div class = "menu-bar">
            <div class = "menu-bar1"></div>
            <div class = "menu-bar2"></div>
            <div class = "menu-bar3"></div>
            <div class = "menu-bar4"></div>
            <div class = "menu-bar5"></div>
        </div>
    </div>
</div>