<div class="rlo-tile">
    <div class="rlo-tile-container">
        <div class="rlo-tile-inner">
            <img class="rlo-tile-preview" src="<%- preview %>"/>
            <div class="rlo-tile-title-container">
                <div class="rlo-tile-title"><%- title %></div>
            </div>
            <div class="rlo-tile-info"><%- info %></div>
        </div>
    </div>
</div>