<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Proton Density</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">More protons $\rightarrow$ more signal</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
The higher the proton density (i.e. the more protons there are in a sample), the stronger the NMR signal.
For a good images we like more than signal, but we need contrast.
<br/><br/>
<h3>	Not Much To See</h3>
We normally don't use proton density for imaging because the density of protons in the body is rather constant. Take a brain, for example, where the amount of water in grey matter is similar to the amount of water in white matter. Using proton density isn't very informative in this case. A better approach would be to use T1 or T2 etc.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson14/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
