<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">History of X-rays</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Great discoveries are made accidentally</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	X-rays were discovered in 1895 by Wilhelm Conrad Roentgen</h3>
$\rightarrow$ The cathode-ray tube (CRT) he was working with contained positive and negative electrodes within a vacuum sealed glass bulb.   <br/>
$\rightarrow$  With high voltage, a fluorescent beam was produced in the tube. He observed fluorescent glow of materials near his cathode-ray tube, even when blocked by black heavy paper.
<br/><br/>
<h3>	Observed characteristics about these new rays (X-rays)</h3>
1) 	Capable of passing through certain material. <br/>
2)  	Able to excite phosphorescent material (crystals). <br/>
3)	Capable of passing through human tissue, but not bone or metal. <br/>
4)	Ionize a gas. <br/>
5) 	Blacken a photographic plate.
<br/><br/>
<h3>	Historical uses after discovery</h3>
$\rightarrow$ Since it was discovered by Roentgen that they were effective at producing images of the internal body, the use in medicine and surgery as medical radiographs to produce X-ray images was common.  <br/>
$\rightarrow$ In 1913 Coolidge created the high voltage vacuum X-ray tubes, that had increased reliability and intensity (Coolidge X-ray tube).
<br/><br/>
Natalie Snyder (nsnyder@ualberta.ca)
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson12/assets/TubeNatalie.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
