<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Introduction to X-rays</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	The X-ray tube can produce X-rays</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	X-ray Properties</h3>
1) electromagnetic waves of high energy and short wavelength. <br/>
2)	wavelength ranges of 0.01 nm to 10 nm (3 x 10^16 Hz to 3 x 10^19 Hz). <br/>
3)	come in energy quanta (photons)  <br/>
4)	contain enough energy to excite or ionize matter. <br/>
5)	penetration ability is dependent on their energy and the material they are passing through.
<br/><br/>
<h3>	 Applications in modern health care for X-rays</h3>
	•	Imaging takes advantage of the differential density of tissues in the body, allowing for varying transmission to an X-ray detector. Dense tissues (bone) will block X-rays to a higher degree than soft tissues (muscle), creating an image of the internal aspects of the body. Imaging uses lower doses of radiation than treatment. <br/>
•	Radiation Therapy utilizes the high energy X-rays to deliver dose to target areas within the body to destroy cells and shrink tumors. Modern technology allows these treatments to be very accurate, targeted, and safe.
<br/><br/>
<h3>X-ray photons are produced in two ways:</h3>
Bremsstrahlung: an interaction where an accelerating electron is deflected around a nucleus, releasing an X-ray photon in the process. <br/>
Characteristic X-rays: an incoming electron knocks an orbital electron out of an atom, creating a vacancy. An X-ray photon is released as an electron in a higher energy shell replaces the vacancy.
<br/><br/>
<h3>	X-ray tube</h3>
Produces X-rays through the emission of electrons and the interaction with the target. The interactions with the target produce X-rays through the two processes described above and will be further explained.
<br/><br/>
	Content by: Natalie Snyder  (nsnyder@ualberta.ca)
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson12/assets/SpectrumNatalie.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
