<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">X-ray Summary</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">You should now know...</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	Cathode</h3>
•	Emits electrons that are directed towards the anode, with a cathode cup to direct the electrons forwards at the anode. <br/>
•	A filament attached to a low-voltage circuit can control the emission of electrons, with increased temperature producing more electrons (thermionic emission).
<br/><br/>
<h3>	Anode</h3>
1) 	The target at the anode is made of Tungsten, which has a high Z number with a high melting point. <br/>
2)  	The target contains certain cooling mechanisms due to heating up during constant interaction with electrons. Because of energy loss to heat, the process is 99\% inefficient. <br/>
3)	The electron beam strikes the target and produces either Bremsstrahlung or Characteristic X-rays.
<br/><br/>
<h3>	Generator circuit</h3>
•	Rectifiers function to conduct electrons in only one direction, preventing reverse voltage. <br/>
•	Effective tube current is increased with full wave rectification. <br/>
•	Applying three-phase power to an X-ray tube can increase the X-ray output per mA. <br/>
•	Shorter exposure times and higher X-ray output per mA are produced with high-frequency generators, with an almost constant high-voltage potential (small ripple <2%).
<br/><br/>
<h3>	Bremsstrahlung</h3>
•		Broad spectrum (continuous spectrum).  <br/>
•		X-ray photon released due to deflection of an accelerating electron around a nucleus.  <br/>
•		The energy of the incoming electron determines the max energy and direction of X-ray emission. Energies >100 keV produce increasingly forward directed X-rays.  <br/>
•		Energy loss per atom is dependent on Z^2.  <br/>
•		Efficiency is the ratio of output energy to input energy.  <br/>
•		Efficiency= 9 x 10-10 ZV  <br/>
•		X-ray production with a tungsten target is <1\% efficient for electrons accelerated through 100 kV.  <br/>
•		Max energy is equal to the peak energy. Average energy is ~1/3 max energy.
<br/><br/>
<h3>	Characteristic</h3>
•	Narrow lines (line spectrum). <br/>
•	The incoming electron knocks another electron out of it orbital shell, creating a vacancy. The X-ray photon is emitted as an outer orbital electron moves to the lower energy level containing the vacancy by releasing energy. <br/>
•	No X-ray will be produced if the energy of the incoming electron is less than the binding energy of the orbital electron. <br/>
•	The threshold energy that an electron requires is called the critical absorption energy. <br/>
•	Difference between operating and threshold KV is proportional to the quantity of X-rays, if the KV is above the threshold level. <br/>
•	X-rays are characteristic of the target atoms and the shells involved in the transitions of electrons.
<br/><br/>
Natalie Snyder (nsnyder@ualberta.ca)
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson12/assets/TubeNatalie.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
