<div class="rlo-content">
    <div class="rlo-content-title">20.4 CreateJS</div>
    <div class="rlo-content-body">

        <canvas class="rlo-content-canvas-sandbox" width="200" height="200"></canvas>
        <br/>
        <input type="button" value="Add Electron" class="rlo-content-button">
        <input type="button" value="Remove Electron" class="rlo-content-button">
</div>
</div>
