<div class="rlo-content">
    <div class="rlo-content-title">20.5 CreateJS 2</div>
    <div class="rlo-content-body">

        <input type="button" value="OTHER"        class="rlo-content-button1">   
        <input type="button" value="Add Electron" class="rlo-content-button-add">
        <input type="button" value="Add Small"    class="rlo-content-button-sub">       
        <br/>
        <canvas class="rlo-content-canvas-sandbox" width="200" height="200"></canvas>
        

</div>
</div>
