
<div class="lesson-content">

    <div class="lesson-content-title lesson-content-japan">Japanese 205 - Exercise 1-1</div>
    <div class="lesson-content-body">
        
         <img class="lesson-content-image" src="/content/Sandbox/assets/piano_1_1.png"/>
        <br/>
 
        はじめまして。なかやま　ひろし　です。<br/>
        かるがりい（カルガリー）だいがくの　がくせいです。<br/>
        いま、いちねんせいです。<br/>
        せんこうは、おんがくです。はたちです。<br/>
        どうぞよろしくおねがいします。<br/>

    </div>     
</div>


      
    


