
<div class="rlo-content">

    <div class="rlo-content-title rlo-content-japan">Japanese 205 - Exercise 3-1 My Day</div>
    <div class="rlo-content-body">
        わたしの一日（My day）<br/>
         <img class="rlo-content-image" src="/content/Sandbox/assets/MyDay.png"/>
        <br/>
 
ひろこさんは　たいてい　六時におきます。それから、コーヒーをのみます。あさごはんは、
トーストをたべます。七時半に　だいがくへいきます。九時に　にほんごのクラスにいきます。十一時にれきしのクラスにいきます。
十二時に　ひるごはんをたべます。二時にとしょかんへいきます。しゅくだいをします。たいてい　五時半ごろうちにかえります。
でも、かようびともくようびはアルバイトにいきます。七時ごろ　ばんごはんをたべます。それから、よくピアノをひきます。
コンピューターでゲームもします。たいてい十二時ごろねます<br/>
<br/>
Fill in the blanks. <br/>
<br/>
１　ひろこさんは、何時（なんじ）におきますか。<br/>
<br/>
２　ひろこさんは、あさ、おちゃをのみますか。<br/>
<br/>
３　ひろこさんは、何時に　にほんごのクラスへいきますか。<br/>
<br/>
４　歴史（れきし）のクラスは、何時ですか。<br/>
<br/>
５　ひろこさんは、たいてい何時ごろねますか。<br/>
<br/>


    </div>     
</div>


      
    


