
<div class="lesson-content">

    <div class="lesson-content-title lesson-content-japan">Japanese 205 - Exercise 3-2 Weekend</div>
    <div class="lesson-content-body">
        
しゅうまつ  (Weekend) <br/>
         <img class="lesson-content-image" src="/content/Sandbox/assets/Weekend3_2.png"/>
        <br/>
   ひろし：みちこさんは、しゅうまつは　よくなにをしますか。<br/>
<br/>
みちこ：そうですね。しゅうまつは、よくとしょかんへいきます。としょかんで、ともだちとべんきょうします。でも、ときどき、えいがをみます。<br/>
<br/>
ひろし：そうですか。じゃあ、にちようびに　えいがをみませんか。<br/>
<br/>
みちこ：いいですよ。<br/>
<br/>
ひろし：じゃあ、ダウンタウンでえいがをみませんか。<br/>
<br/>
みちこ：いいですね。<br/>
<br/>
Answer the following questions. <br/>
<br/>
みちこさんは、しゅうまつは　よく　なにをしますか。<br/>
	a.  ぎんこうへいく<br/>
	b.  がっこうへいく<br/>
	c.  としょかんへいく<br/>
	d.  ばんごはんをたべる<br/>
<br/>
みちこさんは、しゅうまつに　としょかんで　なにをしますか。<br/>
	a.  ともだちと　あそぶ<br/>
	b.  おとうとと　べんきょうする<br/>
	c.  ともだちと　べんきょうする<br/>
	d.  ともだちと　えいがをみる<br/>
<br/>
<br/>
	
        
        
        
    <div class="lesson-content-question"><strong>Q1) ひろしさんとみちこさんは、なんようびにえいがにいきますか。</strong>
        <ol type="A">
            <li> げつようび </li>
            <li> かようび</li>
            <li> にちようび</li>
            <li> どようび</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="いいえ"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="いいえ"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="はい - ひろしさんとみちこさんは日曜日に映画に行きます。"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="いいえ"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
        
     
     <br/><br/><br/><br/><br/>   
    </div>     
</div>


      
    


