
<div class="rlo-content">

    <div class="rlo-content-title rlo-content-japan">Japanese 205 - Exercise 2-2</div>
    <div class="rlo-content-body">
        
         <img class="rlo-content-image" src="/content/Sandbox/assets/Fam2_2.png"/>
        <br/>
 
<br/>

ぼくは、じゅういっさいです。いもうとは、きゅうさいです。<br/>
<br/>
ぼくは、しょうがっこうごねんせいです。いもうとは、しょうがっこうよねんせいです。<br/>
<br/>
ぼくたちの　おとうさんは、べんごしです。おかあさんも　べんごしです。<br/>
<br/>
おとうさんは、カナダ人ですが、おかあさんは、かなだじんじゃないです。おかあさんは、フランス人です。ぼくといもうとは、カナダ人です。<br/>
<br/>
ぼくたちは、日本にすんでいます。<br/>

<br/><br/><br/>
<br/>
    </div>     
</div>


      
    


