
<div class="rlo-content">

    <div class="rlo-content-title rlo-content-japan">Japanese 205 - Exercise 3-3</div>
    <div class="rlo-content-body">
        
        <img class="rlo-content-image" src="/content/Sandbox/assets/Pic_3_3_Num1.png"/>
        <br/>
        わたしのおじいさんは、７６さいです。<br/>
        <br/>
        おじいさんは、毎日（まいにち）、料理（りょうり）をします。<br/>
        <br/>
        おじいさんのカレーはとてもおいしい(delicious)です。<br/>
        <br/>
        <img class="rlo-content-image" src="/content/Sandbox/assets/Pic_3_3_Num2.png"/>
        <br/>
        おじいさんは、よく旅行（りょこう）へ　行きます。<br/>
        今月（こんげつ＝this month）は、カナダへ　行きます。<br/>
        ともだちと行きます。<br/>

        <img class="rlo-content-image" src="/content/Sandbox/assets/Pic_3_3_Num3.png"/>
        <br/>
        カナダで、オーロラをみます。
        <br/>
<br/><br/><br/>
    </div>     
</div>


      
    


