<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">100.4 Photoelectric Absorption of X-rays in Tissue (low Z)</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  <div class="rlo-content-memo"> X-ray and tissue </div>   
    
  <img class="img-responsive rlo-content-image" src="/images/RLO5/X_LowZ.png" />   
 <img class="img-responsive rlo-content-image" src="/images/RLO5/PE.svg" />
    
    </div>
  
</div>
