<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">100.0 Introduction</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  <div class="rlo-content-memo"> Photo...electric </div>   
    
  This module is about the photoelectric effect.
  
  The photoelectric effect is an interaction between a photon and an atom. 
  The effect is well-named because an incident photon produces an electron (photo ... electric).

    
 <img class="img-responsive rlo-content-image" src="/images/RLO5/PE.svg" />
   <div class="rlo-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>  
    </div>
  
</div>
