<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">100.2 Various Scenarios </div>
  
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <div class="rlo-content-memo"> Scenarios </div> 
  
 The photoelectric effect occurs in a number of different situations
 
 <table  border="1" >
     <tr>
         <th style="padding:7px">Incident Radiation</th>
         <th style="padding:7px">Target</th>
         <th style="padding:7px">Comment</th>
     </tr>
      <tr>
         <td style="padding:7px">Visible Light</td>
         <td style="padding:7px">Metal Surface</td>
         <td style="padding:7px">Millikan’s experiment; Einstein’s photon explanation</td>
     </tr>
     <tr>
         <td style="padding:7px">X-rays</td> 
          <td style="padding:7px">Low Z (Tissue)</td>
           <td style="padding:7px">
               This case is relevant for X-ray imaging or radiotherapy. 
               For low Z material (such as tissue) K-shell electron binding is very small (< 500eV), 
               so effectively all the photon energy is transferred to the photoelectron. 
               In tissue we can usually further assume that all energy is absorbed locally, 
               because Bremsstrahlung is negligible.
            </td>
     </tr>  
      <tr>
         <td style="padding:7px">X-rays</td> 
          <td style="padding:7px">High Z (Metals)</td>
           <td style="padding:7px">
               X-rays can encounter high Z metal in the ‘filters’ used in X-ray radiotherapy 
               treatment machines (known as Orthovoltage treatment). 
               In this case one consequence of the loss of an inner electron is 
               the production of Characteristic X-rays.
            </td>
     </tr>     
 </table>

         <img class="img-responsive rlo-content-image" src="/images/RLO5/PE.svg" />
    </div> 
   
</div>
