<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">100.1 Photoelectric Effect - History </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  <div class="rlo-content-memo"> Photoelectric </div>   
    
  Einstein's 1905 analysis of the photoelectric effect was the origin of the photon concept. 
  The Nobel Prize in Physics 1921 was awarded to Albert Einstein 
  <i>
  "for his services to Theoretical Physics, and especially for his discovery of the law of 
  the photoelectric effect”. </i>
  
  Millikan’s experiment using light is the classic demonstration of the photoelectric effect.
  
<br/><br/>
<div class="rlo-content-memo"> 
  REFERENCES <br/>
  <ol>
    <li> A.Einstein. Concerning an Heuristic Point of View Toward the Emission and Transformation of Light.  
    Annalen der Physik 17 (1905): 132-148. http://www.loc.gov/rr/scitech/SciRefGuides/einstein.html
    </li>
    <li> "Albert Einstein - Facts". Nobelprize.org. Nobel Media AB 2014. Web. 8 Oct 2014. 
    http://www.nobelprize.org/nobel_prizes/physics/laureates/1921/einstein-facts.html
    </li>
</ol> 
</div>
  
    
 <img class="img-responsive rlo-content-image" src="/images/RLO5/PE.svg" />
    
    </div>
  
</div>
