<div class="rlo-content">
    <div class="rlo-content-title">Content Map</div>
    <div class="rlo-content-body">
        <div class="ui-nav">
            <svg class="ui-button-svg-display" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.8 53.5" >
                <path d="M1 51.6l25-8.9L29.9.5 12.1 9.2M46.2 9.6l3.7 42 21.8-8.8L61.1 1"/>
                <path d="M29.9.5l-3.7 42.2 23.3 8.9-3.2-42"/>
            </svg>
        </div>
        <image style="padding-left: 2rem" src="/images/Intro/ContentMap.png"/>
        <br/><br/>
        Use this map to view all available content, laid out in a convenient 2D map.
        <br/><br/>
        You can select any page in the content map to navigate directly to that content.
        <br/><br/>
        Try it now by clicking the map icon in the bottom right to open the map, 
        then selecting the 3rd page labeled OpenPhys Logo.
    </div>
</div>
