<div class="rlo-content">
    <div class="rlo-content-title">Larger Maps</div>
    <div class="rlo-content-body">
    Most modules have much larger maps, like this:    
    
    
        <br/><br/>
        <image width= "600" alt="Large Map" style="padding-left: 2rem" src="/images/Intro/MapRLO1.png"/>
        <br/><br/>        
        There will be at least one main horizontal path, containing the core content.
        On first use, navigating this main path from left to right
        would be the recommended path for most learners.
        If unfamiliar concepts are encountered, then navigating upwards (towards the top of the map)
        will show background material.
        <br/><br/>
        Upon mastering the core material on the main horizontal path, 
        the learner may then wish to explore deeper down to cover the material in more depth.
      <br/><br/>
      NOW CLICK the right arrow to advance to the last page in this introductory module.
    </div>
</div>