<div class="rlo-content">
    <div class="rlo-content-title">Map Icon</div>
    <div class="rlo-content-body">
        This is the map icon: 
        
        <div class="ui-nav">
            <svg class="ui-button-svg-display" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.8 53.5" >
                <path d="M1 51.6l25-8.9L29.9.5 12.1 9.2M46.2 9.6l3.7 42 21.8-8.8L61.1 1"/>
                <path d="M29.9.5l-3.7 42.2 23.3 8.9-3.2-42"/>
            </svg>
        </div>
        
        , click it (or type 'm' for 'map') to open a 2D map of the module pages:
        <br/><br/>
        <img class="rlo-content-image" style="padding-left: 2rem" src="/images/Intro/ContentMap.png"/>
        <br/><br/>        
        The map is clickable, and you can click on any page in the map at any time.
        <br/><br/>
        TRY IT NOW by clicking the map icon in the bottom right, 
        then select the 3rd page labeled <i>Larger Maps</i>.
    </div>
</div>
