<div class="rlo-content">
    <div class="rlo-content-title">Exploring Larger Maps</div>
    <div class="rlo-content-body">
        Most modules have much larger maps (<i>m</i> key), like this:    
    
    
        <br/><br/>
        <image width= "600" alt="Large Map" style="padding-left: 2rem" src="/images/Intro/MapRLO1.png"/>
        <br/><br/>  
        <ul>
            <li>There will be one or more main horizontal paths, containing the core topics, in order.</li>
            <li>Some modules also have long vertical paths, focusing on a single topic.</li>
            <li>We recommend that on first use you find a horizontal path at your level and navigate it from left to right</li>
            <li>Navigate upwards (towards the top of the map) for simpler background material.</li>
            <li> Navigate downwards (bottom of map) to explore material in more depth.</li>
            <li> Remember the <i>m</i> key!</li>
        </ul>
      NOW CLICK the right arrow to advance to the last page in the User's Guide.
      
    </div>
</div>