<div class="rlo-content">
    <div class="rlo-content-title">Animation</div>
    <div class="rlo-content-body">
       <canvas class="rlo-content-canvas" width="550" height="400" style="background-color:#FFFFFF"></canvas>
    </div>
</div>
