<div class="rlo-content">
    <div class="rlo-content-title col-xs-12">100.6 E=mc<sup>2</sup> for a Photon?</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  <div class="rlo-content-memo"> Lightweight </div>   

A photon has energy, but no rest mass (‘m’). 
In other words, a photon cannot be stopped and weighed. 
Therefore the equation E=mc<sup>2</sup> cannot be used to calculate particle energy in the way it is for an electron, 
because there is no ‘m’. 
<br/><br/>
A photon (in a vacuum) cannot exist unless traveling at the speed of light. 
The energy of a photon is NOT given by E=mc<sup>2</sup>, but rather can be
calculated from E = hf, where h is Planck’s Constant, and f is frequency.  
If a photon is created then hf is the amount of energy needed. 
Similarly, if a photon is destroyed, hf is the amount of energy released.
    
 <img class="img-responsive rlo-content-image" src="/content/RLO3/assets/Emc2-Short.svg" />
    
    </div>
  
</div>
