<div class="rlo-content">
    <div class="rlo-content-title col-xs-12">200.3 E=mc<sup>2</sup> for a Free Electron at Rest</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  <div class="rlo-content-memo"> Just rest mass </div>   
Consider a free (unbound) electron at rest. 
By specifying 'free' we assume that the electron is not bound in an atom, 
so we ignore binding energy.
Also since the electron is stationary, there is no kinetic energy (KE).
So in this simple situation the only type of energy that we need to consider is that due to the rest mass.
<br/><br/>
The equations needed are:
<ul>
    <li>E = mc<sup>2</sup></li>
    <li>1 eV = 1.602 x 10<sup>-19</sup>J </li>
</ul>
<br/>

 <table border="1" >
     <tr> 
         <th style="padding:7px"> </th> 
         <th style="padding:7px">Mass</th> 
         <th style="padding:7px">Energy</th> 
     </tr>
     
     <tr>
         <th style="padding:7px"> Electron </th>
         <td style="padding:7px"> 9.109 x 10<sup>-31</sup> kg </td>
         <td style="padding:7px"> 510.999 keV </td>
     </tr>  
 </table>
Notice that by coincidence, 
the energy of an electron is given very accurately by 511 keV.
    
 <img class="img-responsive rlo-content-image" src="/content/RLO3/assets/Emc2-Short.svg" />
    
    </div>
  
</div>
