<div class="rlo-content">
    <div class="rlo-content-title col-xs-12">200.4 E=mc<sup>2</sup> for a Particle in Classical Motion</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  <div class="rlo-content-memo"> Add KE </div>   

A particle of matter in motion (non-relativistic speeds v << c) has kinetic energy 
in addition to the rest mass energy.

The equations needed for a free slow moving particle are:
<ul>
    <li>E = mc<sup>2</sup></li>
    <li>KE = &#189;mv<sup>2</sup></li>
    <li>E<sub>TOT</sub> = mc<sup>2</sup> + &#189;mv<sup>2</sup> </li>     
    <li>1 eV = 1.602 x 10<sup>-19</sup> J </li>
</ul>
We can also write the total energy as:
E<sub>TOT</sub>  = mc<sup>2</sup> + &#189;mv<sup>2</sup> = m(c<sup>2</sup> + &#189;v<sup>2</sup>)
    
 <img class="img-responsive rlo-content-image" src="/content/RLO3/assets/Emc2-Short.svg" />
    
    </div>
  
</div>
