<div class="rlo-content">
    <div class="rlo-content-title col-xs-12">300.5 E=mc<sup>2</sup> for a Nucleus</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

        <div class="rlo-content-memo"> Some of our mass is missing </div>   

        The binding of the protons and neutrons into a nucleus results in a reduction of mass,
        compared to the free, unbound particles.
         
        Splitting a bound state releases this energy, as occurs in nuclear fission.
        This energy release is the mechanism behind nuclear power and nuclear weapons.
        
        <img class="img-responsive rlo-content-image" src="/content/RLO3/assets/Emc2-Short.svg" />
    
  </div>
</div>
