<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Ex 3: Wide Top Hat</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Wide $\leftrightarrow$ Narrow</div>

           <!-- LHS -->
           <div class="col-md-4 col-lg-4">
If we have a wide time range, applying a FT would produce a narrow frequency range -- and vice-versa. So in MRI, a long RF pulse produces a narrow bandwidth frequency signal.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-8 col-lg-8">
             <img class="img-responsive lesson-content-image-zoom" src="	/content/lesson15/assets/TopHatWide20.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
