<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Fourier Transform</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> Time and frequency are interchangeable with FT</div>

           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
The Fourier transform (FT) is a function that allows for the conversion between time and frequency.
$$Time\ Signal \xrightarrow {FT} Frequency\ Spectrum $$
$$ NMR\ Voltage \ Waveforms \xrightarrow {FT} NMR \ Spectrum $$
In essence, time and frequency are two different representations of the $same$ data, only transformed.
<br/><br/>
<h3>	Reversible</h3>
They are completely reversible as well, meaning we can go back and forth between frequency and time using the Fourier transform.
$$So: time \leftrightarrow frequency$$
In MRI, FT applies to both RF pulses and signals.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image-zoom-600" src="	/content/lesson15/assets/FIDMagnitude.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
