<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Linearity</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Linear, like a line.</div>

           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
The Fourier Transform is linear. The FT of a sum is equal to the sum of the FTs:
$$FT(f_1 + f_2) = FT(f_1) + FT(f_2)$$
In other words, if you add two functions together and Fourier transform them, it would be the same as Fourier transforming each of the functions separately and then adding them.
<br/><br/>
<h3>	More</h3>
Linearity has the properties of additivity and homogeneity. Additivity is the concept explained above. Homogeneity means if we increase a signal input by a certain amount, then the signal output will be increased by that same amount. For example, doubling the input strength will double the output strength.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image-zoom-600" src="	/content/lesson15/assets/FIDMagnitude.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
