<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Spectrum of the Body</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> MRI is based on NMR of water and fat in the body</div>

           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
Our body is composed of mostly water and fat. Knowing this, NMR has been applied in the biomedical field to develop MRI, which is based on NMR of hydrogen nuclei in the body.
The water and fat in our bodies matter because their difference in chemical shift affects the images, which can be visualized.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image-zoom-600" src="	/content/lesson15/assets/Water-Fat.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
