<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Angular Frequency, $\omega$</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">I like to Rotate</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
Angular frequency, $\omega$, (also known as angular speed, radial or circular frequency) measures angular displacement per unit time, i.e. how fast an object is rotating or angle/sec about an axis of rotation.
If an object is rotating very fast, that denotes a high angular frequency. Its units are given in radians per second:
$$\omega = 2 \pi f, \quad {\rm where} \ f = {\rm frequency}  $$
<br/><br/>
<h3>	Two Pi or nor two Pi ?   That is the question.</h3>
	One of the most common errors is to add in (or leave out), a factor of 2 pi.
	This often happens because different texts use different units for gamma.
	It is best to simply learn that 1.5T magnets have a resonant frequency of about 64 MHz.
	You can always use this to check your calculation.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
