<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Energy and Thermal Equilibrium</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Lower energy states are preferred</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
The Boltzmann distribution determines the probability that a system will be in a certain state as a function of the energy of that state. It is represented by:  $$F_{state} = e^{-E/k T}$$  where $E$ = the state energy, $k$ = Boltzmann constant, and $T$ = temperature.
Note that $kT$ is a constant of the distribution.
If we have two states and want to compare their distribution, we can take the ratio of the distributions, which is dependent only on the energy difference of the two states. This is known as the Boltzmann factor and is given by:  $$F_{state2}/F_{state1} = e^{(E_1-E_2)/k T}$$
The population difference is very small due to the small energy difference, relative to thermal energy. This results in weak magnetization. The signal to noise ratio is small, meaning a weak signal is given off, which is problematic in terms of detection. This is why we need a strong magnet. The stronger the magnet, the more sensitive it is to detection, and the stronger the signal.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
