<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Frequency, Period, MHz</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Oscillating back and forth</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
 Frequency measures the number of complete oscillations in a given time period, T. It is defined by 1/T, where T equals the period. Conversely, the period refers to the time for a wave to go through 1 complete cycle and can be calculated from 1/Frequency.
 Period is measured in seconds (s) while Frequency has many equivalent units:
   a) cycles/second (cps);
   b) $1/sec$ or $sec^{-1}$ or $s^{-1}$;
   c) Hertz (Hz).
  $64 MHz = 64 \times 10^6 Hz$.
 Ex: 1000 times/sec = 1000 Hz
               <br/><br/>
To put this into perspective, a 12 inch vinyl record has 33.33 rotations per minute (rpm) which is equivalent to ~1/2 Hz. [60 rpm = 1Hz] Compare this to a microwave oven or a Linear accelerator machine, which has a frequency of about 3 billion Hz (cycles/sec)!
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson9/assets/Frequency.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
