<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Frequency, Period, MHz</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Oscillating back and forth</div>

           <!-- LHS -->
           <div class="col-md-8 col-lg-8">
 Frequency (Hertz or Hz) measures the number of complete oscillations in a second.
 The period (seconds) of an oscillation is the time taken for one complete cycle.
 $$ frequency = 1 / period $$
 Period is measured in seconds (s), while Frequency has many equivalent units: </br>
   a) cycles/second (cps); </br>
   b) $1/sec$ or $sec^{-1}$ or $s^{-1}$;  </br>
   c) Hertz (Hz).
<br/><br/>
<h3>	Low Frequencies</h3>
To put this into perspective, a 12 inch vinyl record has 33.33 rotations per minute (rpm) which is equivalent to ~1/2 Hz. [60 rpm = 1Hz].
A car engine running at 3000 rpm is rotating at a frequency of 50 Hz, from  (3000/60 = 50).
In Canada, the AC wall voltage oscillates at 60 Hz, which is a low hum. This 60 Hz hum can often cause interference in electronic equipment,
including MRI systems, especially if there is a faulty ground connection.
<br/><br/>
<h3> 	Kilohertz (kHz)</h3>
 	1000 times/sec = 1000 Hz = 1 kHz. The period for a 1000 Hz signal is 1 ms (millisecond)
 	The range for audio frequencies is approximately 20Hz to 20 kHz,  depending upon the individual.
<br/><br/>
<h3> Megahertz  (MHz)</h3>
	1million times/sec = 1,000,000 Hz = 1 MHz. The period for a 1MHz signal is 1 micro-second (us). </br>
	For a 1.5 Tesla magnet, the resonant frequency for protons is roughly   $64 MHz = 64 \times 10^6 Hz$.
<br/><br/>
<h3>	Gigahertz  (GHz)</h3>
 Gigahertz is a very high frequency, and is beyond the range used in clinical MRI.
  Cell phones and computers and microwave ovens operate in the GHz range.
   A Linear accelerator machine, operates at a frequency of about 3 billion Hz (cycles/sec), i.e. 3 GHz.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-4 col-lg-4">
             <img class="img-responsive lesson-content-image-zoom" src="	/content/lesson9/assets/Frequency.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
