<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">	The Spin of Hydrogen</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> 	MRI is based on NMR of hydrogen in your body.</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	You have hydrogen ...</h3>
	Your body is composed mostly of water and fat. Thus, medical imaging by MRI exploits this phenomenon and is based on NMR of hydrogen nuclei in the body.
      Hydrogen (because it is a proton and therefore an odd mass number) has an associated magnetic moment and a spin of 1/2.
<br/><br/>
<h3>	....and hydrogen has a frequency</h3>
      At 1 Tesla (T), hydrogen has a resonance frequency of 42.57 MHz. This means that if an external oscillating magnetic field pulse of 42.57 MHz is applied in the presence of a 1 Tesla static field, then 1H will become excited and we would be able to detect a signal. This resonance frequency value is specific only to hydrogen so if a 50 MHz pulse was applied to hydrogen at 1T, then nothing at all would happen.
      Other nuclei of different atoms and isotopes have their own resonant frequency.
<br/><br/>
	  For more information on NMR sensitive nuclei, click the bottom arrow to navigate to "Other Nuclei".
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
