<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Introduction to NMR</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">A magnetic nucleus resonates</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	Magnetic Nuclei</h3>
As you can read from the name, Nuclear Magnetic Resonance (NMR) involves both magnetism and atomic nuclei.
It is a fact that whilst some nuclides are magnetic (e.g. H-1), others are not (e.g. C-12).
These nuclear magnetic properties can be explained from a consideration of the constituent protons and neutrons.
Both protons and neutrons have magnetic properties.
<br/><br/>
<h3>	Resonance</h3>
We will see that each type of magnetic nucleus possesses a unique resonant frequency at which it can both receive and emit energy.
This energy exchange is how we talk to the nucleus.
<br/><br/>
<h3>	MRI ... is ... NMR</h3>
NMR is the foundation of MRI, so very many MRI concepts can only be understood from a study of NMR.
NMR is concerned with processes evolving in time, i.e. the time dimension (1D), and the companion frequency domain.
NMR is considerably simpler than MRI because it is not concerned with space.
The techniques used to create images (spatial encoding) belong in the realm of MRI.
So MRI encompasses the four-dimensions of time/frequency plus 3D space.
NMR techniques and diagrams are rather easy to follow, and make
an excellent starting point for understanding many foundational MRI topics.
<br/><br/>
For a history lesson, click on the bottom arrow of the navigation control.
Otherwise, click on the right arrow to start the module!
<br/><br/>
	Content by: Mai Vo (vo@ualberta.ca) and Jonathan Sharp (jcsharp@ualberta.ca)
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
