<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Introduction to NMR</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Each magnetic nucleus has a resonance</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
As you can tell from its name, Nuclear Magnetic Resonance (NMR) involves the magnetic moments of nuclei arising from the spin of their protons \& neutrons, and resonance. Each magnetic nucleus has a resonant frequency which is different for each nuclide.
Very many concepts and parameters of MRI can be understood from a study of the considerably simpler topic of NMR.
NMR involves the time dimension (1D) and its companion frequency domain (also 1D).
However it excludes spatial encoding (3D), i.e. the techniques used to create images.
By comparison with NMR, MRI operates in four-dimensional, involving time/frequency (1D) plus 3D space.
NMR is simpler than MRI and the techniques and diagrams are easier to follow. Consequently, it is an excellent starting point for the understanding of many topics of direct relevance for MRI.
To learn about its history, click on the bottom arrow of the navigation control.
Otherwise, click on the right arrow to start the module!
               <br/><br/>
	Content by: Mai Vo (vo@ualberta.ca) and Jonathan Sharp (jcsharp@ualberta.ca)
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
