<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Precession (Larmor)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">  Precess faster in a higher field</div>

           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
 When a patient is exposed to an external main (static) magnetic field, $B_0$, they become magnetized, producing a net nuclear magnetization in the same direction as $B_0$.
 However, when a radio-frequency (RF) field, $B_1$, is applied perpendicular to $B_0$, the magnetization vector is tipped,
 and the spins will start to $precess$ around the magnetic field lines.
<br/><br/>
<h3>	Precession</h3>
 Precession means that the axis of rotation itself changes.
 Precession can be illustrated by a spinning top. If we touch, hit it, or let gravity simply do its work, the spinning top performs a wobbling type of motion. Protons in a magnetic field also show this type of motion, called precession.
<br/><br/>
<h3>	Radiofrequency (RF) Field</h3>
 A short pulse of RF field applies a torque on the net magnetization, causing it to rotate from the longitudinal direction $M_z$ (same direction as $B_0$) into the transverse plane, $M_{xy}$.
<br/><br/>
<h3> 	Free Precession</h3>
	After the RF is turned off, protons precess around the magnetic field lines with an angular frequency ($\omega$) that is proportional to the magnetic field strength, $B$. This relationship is mathematically represented by the Larmor equation:
  $$ \omega_0 = \gamma B_0 = 2 \pi f_0 $$
  where $B_0$ = main magnetic field and $\gamma$ = gyromagnetic ratio (units: radians/Tesla). The gyromagnetic ratio is different for different nuclei.
  As you can see, the stronger the magnetic field, the higher the precession frequency.</br>
  We can rearrange, with $\gamma/2 \pi$ in units of Hz/Tesla, or MHz/Tesla:
  $$ f_0 = (\gamma/2 \pi) B_0  $$
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image-zoom-600" src="	/content/lesson9/assets/precession.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
