<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Magnetism and Magnetic Field</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Like poles repel, opposites attract</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
Lets start with the basics. A magnet is an object that has a North and South pole located at opposite ends from each other.
Within a magnet, there are lots of electrons whose movements within their atom produces an external magnetic field.
This field applies a force on particles within the field and is what causes objects to either become attracted to the magnet or repelled from it.
In essence, like poles repel while opposite poles attract. This means that the North pole of one magnet would be attracted to the South pole of another magnet, but would be repelled if held near that magnet's North pole end.
<br/><br/>
<h3>Magnetic Fields</h3>
Magnetic fields are produced by all of the following:
a) electrical currents (= moving charges)
b) spinning charge, e.g. electron or proton
c) permanent magnets (atoms within are always aligned parallel to one another and never lose magnetism, known as ferromagnetism e.g. iron).
Magnetic field lines are continuous (there are no magnetic sources) and are non-uniform, except for inside a solenoid (= electromagnet). If a moving charge crosses the field lines, it will experience a magnetic force that is dependent on its velocity, charge magnitude, and the strength of the magnetic field.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
