<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Magnetic Nuclei (Spins)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">A magnetic nucleus is called a spin</div>

           <!-- LHS -->
           <div class="col-md-8 col-lg-8">
<h3>	Magnetic Moment</h3>
      A rotating charge produces a magnetic field.
      If a particle produces a magnetic field, we say it has a `magnetic moment'.
      A magnetic moment arises when a positive or negative charge spins around its axis, creating a circular current that generates a magnetic field.
      Very like the dipole moment of an electron,
      many nuclides also have a magnetic moment, arising from the combined spin of the protons and neutrons it contains.
	 The generated magnetic field will point perpendicular to the area that the circular current encloses.
      Since the nuclear magnetic moment is dependent on the constituent nucleons,
      different isotopes of an element will exhibit different nuclear magnetic moments.
<br/><br/>
<h3>  	Spin Rules</h3>
In general, the magnitude of the nuclear spin can be determined by 3 rules:    </br>
1) If the nucleus has an odd mass number, A, the spin is half-integral;  </br>
2) If the mass number, A, is even but the atomic number, Z, is odd, then the spin is integral;  </br>
3) If both the mass and atomic number are even, the spin is zero and thus magnetic moment is zero.   </br>
	  *Note that the nuclear magnetic moment is NOT a simple sum of the nucleon magnetic moments.
<br/><br/>
<h3>	Example</h3>
	  Carbon-13 has 6 protons and 7 neutrons, totalling to a mass number 13. </br>
	   The mass number is an odd number, so the spin of Carbon-13 is a half-integral, namely 1/2.
<br/><br/>
<h3>	Classical Dipole</h3>
      For a current loop, the magnitude of the magnetic dipole moment is given by the product of the current (I) and area (A):  </br>
      $$\mu = IA$$
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-4 col-lg-4">
             <img class="img-responsive lesson-content-image-zoom" src="	/content/lesson9/assets/SpinIconGrey.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
