<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Magnetic Nuclei (Spins)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">A magnetic nucleus is called a spin</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
      A rotating charge always has a magnetic field.
      Therefore similarly to the dipole moment of an electron, a nucleus also has its own magnetic moment arising from the spin of its protons and neutrons.
      A magnetic moment occurs when a positive or negative charge spins around its axis, creating a circular current that generates a magnetic field, or in other words: a magnetic dipole moment. The magnetic dipole moment will point perpendicular with respect to the area that the circular current encloses.
      Since the nuclear magnetic moment is dependent on the number of protons and neutrons, different isotopes of an element will exhibit different nuclear magnetic moments. In general, the magnitude of the nuclear spin can be determined by 3 rules:
               <br/><br/>
1) If the nucleus has an odd mass number, A, the spin is half-integral;
2) If the mass number, A, is even but the atomic number, Z, is odd, then the spin is integral;
3) If both the mass and atomic number are even, the spin is zero and thus magnetic moment is zero.
               <br/><br/>
	  Ex: Carbon-13 has 6 protons and 7 neutrons, totaling to a mass number 13. The mass number is an odd number, so the spin of Carbon-13 is a half-integral, namely 1/2.
	  *Note that the nuclear magnetic moment is NOT the sum of the nucleon magnetic moments.
      For a current loop, the magnitude of the magnetic dipole moment is given by the  product of the current loop and it’s area, $\mu = IA$, where  $I$ = current, $A$ = area.
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
