<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">The Spins of Other Nuclei</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">We all like to spin</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
 We can detect signals not only from Hydrogen but from other nuclei as well. See figure below. These nuclei all have spin, and therefore, exhibit a non-zero magnetic moment. Each nuclei also has its own unique resonance frequency (measured at 1T). In general, the higher the resonance frequency, the higher the magnetization. The higher the magnetization, the higher its sensitivity to detection.
 For ex: compare Potassium-39 vs. Potassium-41. K-39 has a resonance frequency of 1.99 MHz at 1T and is 1.09\% sensitive to NMR. K-41 has a resonance frequency of 1.09 MHz at 1T and is 0.33\% sensitive to NMR.
               <br/><br/>
	The magnetization, $M_0$, for a nucleus of spin $I$ is given by the equation:
	$$ M_0 = \gamma^2 h^2 B_0 n I (I+1)/3 k T $$
	where $\gamma$ is the gyromagnetic ratio (units: MHz/tesla) and is different for each nuclei, $h$ = Planck's constant (units: $J \times s$), $n$ = number of spins/unit volume, $k$ = Boltzmann's constant, and $T$ = temperature (Kelvin). If the magnetic field strength is increased, if the spin number is higher, and/or if the temperature of the sample is decreased, this would result in more magnetization.
	$Worked \ example$:
	For a given nuclei with spin = 1/2, assuming all else is constant, $$I(I+1) = 1/2(1/2 + 1) = 1/2 \times 3/2 = 3/4$$
	For a nuclei with spin = 1, $$I(I+1) = 1(1 + 1) = 1 \times 2 = 2$$
	Therefore, a nuclei with spin = 1 is 8/3 times more magnetizable than a nuclei with spin = 1/2.  [$Calculation$: $2 \div 3/4 = 2 \times 4/3 = 8/3$]
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson9/assets/NMRnucleiproperties.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
