<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">The Spins of Other Nuclei</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">We all like to spin</div>

           <!-- LHS -->
           <div class="col-md-8 col-lg-8">
 We can detect signals not only from hydrogen but from other nuclei as well (see figure). These nuclei all have spin, and therefore, exhibit a non-zero magnetic moment. Each type of nucleus also has its own unique resonance frequency (measured at 1T).
<br/><br/>
<h3>	Sensitivity</h3>
 In general, the higher the resonance frequency, the higher the sensitivity to detection.
 For ex: compare Potassium-39 vs. Potassium-41. K-39 has a resonance frequency of 1.99 MHz at 1T and is 1.09\% sensitive to NMR. K-41 has a resonance frequency of 1.09 MHz at 1T and is 0.33\% sensitive to NMR. </br>
 F-19 is almost as sensitive as hydrogen, but is not found within the body in significant quantities.
 In special cases, Na-23 can be used for MRI.
<br/><br/>
<h3>	Magnetization</h3>
	The magnetization, $M_0$, for a nucleus of spin $I$ is given by the equation:
	$$ M_0 = \gamma^2 h^2 B_0 n I (I+1)/3 k T $$
	where $\gamma$ is the gyromagnetic ratio (units: MHz/Tesla) and is different for each nuclide, </br>
	 $h$ = Planck's constant (units: $J \times s$),   </br>
	 $n$ = number of spins/unit volume,   </br>
	 $k$ = Boltzmann's constant,   </br>
	 and $T$ = temperature (Kelvin).  </br>
	 If the magnetic field strength is increased, if the spin number is higher, and/or if the temperature of the sample is decreased, this would result in more magnetization.
<br/><br/>
<h3>	Magnetization for Hydrogen in MRI</h3>
For a given nucleus (i.e. H), and fixed temperature (i.e. human body temperature), we see that the magnetization is simply proportional to $B_0$.
This is one key reason why MRIs have very strong magnets - to increase the magnetization and so get a stronger signal for the image.
<br/><br/>
<h3>		Worked Example</h3>
	For a given nuclei with spin = 1/2, assuming all else is constant, $$I(I+1) = 1/2(1/2 + 1) = 1/2 \times 3/2 = 3/4$$
	For a nuclei with spin = 1, $$I(I+1) = 1(1 + 1) = 1 \times 2 = 2$$
	Therefore, a nuclei with spin = 1 is 8/3 times more magnetizable than a nuclei with spin = 1/2.  [$Calculation$: $2 \div 3/4 = 2 \times 4/3 = 8/3$]
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-4 col-lg-4">
             <img class="img-responsive lesson-content-image-zoom" src="	/content/lesson9/assets/NMRnucleiproperties.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
