<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Precession for a Single Spin (Quantum Mechanics)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">not so simple</div>

           <!-- LHS -->
           <div class="col-md-8 col-lg-8">
<h3>	Let's Pretend</h3>
	For understanding MRI, it is perfectly ok to think of a single spin as a little spinning magnet.
	Many physicists with Ph.D.s in MRI use this classical idea throughout their careers.
<br/><br/>
<h3>	Quantum Superposition</h3>
  In reality, a single spin is highly quantum.  One consequence is that spin can have an indeterminate energy.
  A precessing spin is not in a eigenstate of energy, i.e. it is neither spin-up, nor is it spin-down.
  It is quantum combination of both states. This is known as being in a superposition of energy states.
  </br></br>
  We can express this more technically:
  a time-dependent expectation value (e.g. for the X component of spin), means that the operator (for X component of spin) does not commute with the Hamiltonian.
<br/><br/>
<h3>	Further Reading</h3>
	"Quantum Mechanics: The Theoretical Minimum" by Susskind and Friedman is an excellent introduction to the quantum
	mechanics of spin. It is available in paperback.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-4 col-lg-4">
             <img class="img-responsive lesson-content-image-zoom" src="	/content/lesson9/assets/SpinQ.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
