<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Precession for a Single Spin (Quantum Mechanics)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">TBD</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
	TBD
               <br/><br/>
  TBD
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
