<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">    Resonance</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	Every object has its own natural frequency at which it vibrates.</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
When an object is free to vibrate, it will do so at its natural, or resonant, frequency. If it is subjected to a frequency by a driving force that is equal or very close to the object's natural/resonant frequency, it will begin to vibrate powerfully. This is known as resonance. The amplitude of the oscillation will increase with the driving force.
               <br/><br/>
For example, imagine a child swinging back and forth on a swing. As the child swings back and forth, this motion is associated with a specific  frequency and period. If the child's parent then comes and pushes on the swing just as it is about to begin a new period in the same direction of motion, the swing will oscillate higher. In other words, the amplitude will increase. However, if the parent had pushed the child/swing at any other moment in time except during the start of the period, this would have most likely interrupted the resonance and  overall motion of the swing.
               <br/><br/>
MRI uses NMR:
First, the system accepts energy at a specific frequency that is capable of exciting it. Once excited, the system emits energy at this same frequency. In NMR, this frequency is proportional to the applied magnetic field.
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
