<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">$90^{\circ}$ RF Pulse</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Maximum magnetization from $M_z \rightarrow M_{xy}$</div>

           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
<h3>	90 Degree Flip</h3>
A $90^{\circ}$ RF pulse (induced by an RF field in the transverse $xy$ plane) flips the magnetization $90^{\circ}$ from the $z$ axis to the $xy$ plane. In other words, longitudinal magnetization has completely disappeared and there is only transverse magnetization.
Immediately after the $90^{\circ}$ the spins are in phase (coherent).
<br/><br/>
<h3>Maximum Signal</h3>
The corresponding RF pulse is called a $90^{\circ}$ pulse.
This creates maximum signal, because it creates the largest possible transverse magnetization, $M_{xy}$.
<br/><br/>
<h3>	Other Flip Angles</h3>
Pulses with other flip angles are possible.
By contrast, let's compare a $90^{\circ}$ pulse with a $30^{\circ}$ pulse. The advantage of using a small flip angle (e.g. $30^{\circ}$) in imaging is that we can get a decent amount of signal but still have some left over in the z plane for next time.
(See "Inside  a  Pixel"  module for more).
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image-zoom-600" src="	/content/lesson9/assets/90Sketch.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
