<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">$90^{\circ}$ RF Pulse</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Maximum magnetization from $M_z \rightarrow M_{xy}$</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
A $90^{\circ}$ RF pulse (induced by an RF field in the transverse $xy$ plane) is when the magnetization has tipped $90^{\circ}$ from the $z$ axis to the $xy$ plane. In other words, longitudinal magnetization has completely disappeared and there is only transverse magnetization due to the spins being in phase (coherence). This is the maximum signal that can be created. The corresponding RF pulse is thus called a $90^{\circ}$ pulse.
By contrast, let's compare a $90^{\circ}$ pulse with a $30^{\circ}$ pulse. The advantage of using a small flip angle (e.g. $30^{\circ}$) in imaging is that we can get a decent amount of signal but still have some left over in the z plane for next time.
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson9/assets/90degreeRFpulse.jpg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
