<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">	Radio-frequency (RF) Coils</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	RF coils as transmitters and receivers</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
When a patient goes for an MRI scan, one of the first steps is to put coils on the patient. There are different coils for different parts of the body depending on the area to be scanned e.g. head coil, knee coil, spine coil.
RF coils can function as transmitters, receivers or both.
A transmitter RF coil is used to generate RF ($B_1$) field that are perpendicular to the main magnetic field, ($B_0$). (see page "Radio-frequency (RF) pulses" for more information)
A receiver RF coil is used to detect the MR signal. These coils are very sensitive.
(Maybe put an image of a head coil, spine coil etc.)
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
