<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">	Radio-frequency (RF) Pulses</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	$B_1$ is generated in short bursts</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
In MRI, the RF ($B_1$) fields are transmitted with high power at the Larmor frequency in short bursts (as opposed to continuous waves). These bursts are called RF-pulses and are in the MHz range. Pulses are typically in the millisecond range, which is enough time to allow the proton magnetic moments to start rotating together or precessing around the main magnetic field, $B_0$. The amount of rotation depends on the power transmitted by the RF field and its duration.
               <br/><br/>
The higher the power of the RF pulse applied or/and the longer duration of the pulse, the greater the angle is between the net magnetization and $B_0$. The wider the angle means that the magnetization that was initially in the same direction as the main magnetic field is becoming smaller as the spins precess. This angle is referred to as the the flip angle. A common flip angle used in imaging is 90 degree, i.e. "RF 90$^{\circ}$ Pulse" (See page "RF 90$^{\circ}$ Pulse" for more information).
               <br/><br/>
Note that figures of RF pulses you commonly see in textbooks are represented as 'rectangular' shape called envelopes. This is only for simplicity sake. In actuality, the pulses are comprised of rapidly changing amplitudes of the RF signal from the baseline value to a higher/lower value, and then back to baseline. These are sinc shaped.
(Attach figures of RF envelope and pulse and flip angle, and sinc shape)
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
