<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Spins at Equilibrium in a Magnetic Field ($B_0$) (Zeeman)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">There is magnetization but no net precession</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
 Like an atom, the nucleus has discrete energy levels (which are very close to one another, so $\Delta Energy = hf$ is small - in the radio-frequency range of the EM spectrum).
               <br/><br/>
Hydrogen nuclei behave like little magnets that are normally aligned in a random fashion. However, when exposed to a strong external magnetic field, B (units: Tesla), they will become magnetized and either align parallel (pointing up) to the external field or anti-parallel (pointing down). Nuclei that are aligned parallel exhibit lower energy, and therefore are more stable than those that are aligned anti-parallel, which contain higher energy and are less stable. At equilibrium, there are more spins aligning parallel than anti-parallel to B.
               <br/><br/>
	Note that for a nucleus in a magnetic field at equilibrium, $B_0$, there is still magnetization but no net precession due to the absence of an RF field. Nothing is detectable! In MRI, $B_0$ denotes the main magnetic field (which is static) produced by the magnet. It polarizes the spins causing the sample to become magnetized (very slightly). $B_0$ is a vector quantity, meaning that it has both a direction and magnitude/strength.
               <br/><br/>
<h3>	Magnetization</h3>
 When $B_0$ is applied, magnetization $M$ is produced. Magnetization results from the alignment of the hydrogen spins with $B_0$. A more accurate way to express magnetization is: $M = \# \ aligned \ magnets/volume$.
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson9/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
