body {
  background: black;
  font-family: Tahoma, Geneva, sans-serif;
}

.content {
  background: white;
  margin: auto;
  width: 80%;
  padding: 0 0 15px 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .4);
}

h1 {
  text-align: center;
  padding: 20px 20px;
  margin: 5px;
}

ul.tabs {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

ul.tabs li {
  float: left;
  margin: -.02em;
  width: 33.37%;
  height: 4em;
  line-height: 4em;
  background: #48D1CC;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .5);
}

ul.tabs .more-line {
  line-height: 2em;
}

.tabs li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.tabs li.active {
  background: #5F9EA0;
}

.tabs li.active a {
  color: white;
}

.clr {
  clear: both;
}

section.block {
  padding: 0 25px;
}

h2 {
  font-size: 1.6em;
  text-align: left;
  color: #00868B;
  margin: 0.8em 0;
}

p {
  text-align: left;
  margin: 0.8em 0;
}

ul {
  text-align: left;
  margin: 0.5em 0;
}

#tab2 {
  text-align: center;
  padding: 0 0 215px 0;
}

#tab2 input {
  margin: auto;
  padding-top: 50px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 90%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

#lectext {
  font-weight: bold;
  font-size: 14px;
  width: 91.5%;
  line-height: 1.2;
}

#dragarea {
  vertical-align: top;
  margin: auto;
  display: inline-block;
  text-align: left;
  width: 100%;
  position: relative;
}

#dragarea .dragcontent {
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #696969;
  height: 200px;
  background-color: white;
  float: left;
  position: absolute;
  -moz-box-shadow: 2px 5px 5px #606060;
  -webkit-box-shadow: 2px 5px 5px #606060;
  box-shadow: 2px 5px 5px #606060;
}

#textcontent {
  height: 100%;
  position: relative;
  overflow: auto;
}

#textcontent h3 {
  padding-left: 10px;
}

#textcontent p {
  padding-left: 20px;
}

#content1 {
  border-right: none;
  width: 33%;
  left: 0;
}

#content2 {
  border-right: none;
  width: 33%;
  left: 33%;
}

#content3 {
  right: 0px;
  left: 66%;
}

.bar {
  float: left;
  height: 100%;
  width: 50px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  border-right: solid;
  border-width: 2px;
  border-color: #696969;
  -moz-box-shadow: 1px 0px 5px #606060;
  -webkit-box-shadow: 1px 0px 5px #606060;
  box-shadow: 1px 0px 5px #606060;
}

#bar1 {
  background-color: LightSeaGreen;
}

#bar2 {
  background-color: IndianRed;
}

#bar3 {
  background-color: #73D600;
}

.bartext {
  white-space: nowrap;
  position: relative;
  color: white;
  font-weight: bold;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#text1 {
  top: 48%;
}

#text2 {
  top: 46%;
}

#text3 {
  top: 50%;
}

@media screen and (max-width: 980px) {
  .content {
    width: 100%;
  }
  ul.tabs li {
    float: none;
    width: 100%;
  }
}

#mode {
  margin: 2% auto;
  text-align: center;
}

#triangle1 {
  margin: 15% 6%;
  text-align: center;
}

#triangle2 {
  margin: 15% 6%;
  text-align: center;
}

#triangle3 {
  margin: 15% 6%;
  text-align: center;
}

#buttons {
  padding: 50px auto;
  text-align: center;
}

.shape {
  position: absolute;
  display: inline-block;
  height: 450px;
  width: 800px;
  left: 20%;
  top: -200px;
  background: #5bc0de;
  /* Chrome, Safari, Opera */
  
  z-index: 2;
  opacity: 0.5;
  -webkit-clip-path: polygon(0 50%, 0% 100%, 100% 100%);
  clip-path: polygon(0 50%, 0% 100%, 100% 100%);
}

.shape2 {
  position: absolute;
  display: inline-block;
  height: 450px;
  width: 800px;
  left: 20%;
  top: -200px;
  background: #d9534f;
  /* Chrome, Safari, Opera */
  
  opacity: 0.5;
  z-index: 2;
  -webkit-clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
}

.shape3 {
  position: absolute;
  display: inline-block;
  height: 450px;
  width: 800px;
  left: 20%;
  top: -200px;
  background: #9a8a96;
  /* Chrome, Safari, Opera */
  
  opacity: 0.5;
  z-index: 2;
  -webkit-clip-path: polygon(50% 75%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 75%, 0% 100%, 100% 100%);
}

canvas{
  margin:5% 7%;
  z-index: 10;
}