<div class="lesson-content">
    <div class="lesson-content-title">Title, generally matching what is in data.js for this page</div>
    <div class="lesson-content-body">
        Content, whatever you want to explain in this part of the lesson.
    </div>
</div>
