<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">100.4 Photoelectric Absorption of X-rays in Tissue (low Z)</div>
  <div class="lesson-content-body col-xs-12 lesson-content-bottom">

  <div class="lesson-content-memo"> X-ray and tissue </div>   
    
  <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/X_LowZ.png" />   
 <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/PE.svg" />
    
    </div>
  
</div>
