<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">200.3 Quantum Light </div>
  
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <div class="rlo-content-memo"> To travel, is not to arrive </div> 
  
      Light is wave propagation phenomenon of the electromagnetic (EM) radiation field.
        For any wave: 
        <ul>
            <li>Speed = Frequency x Wavelength</li>
            <li>c = f λ</li>
        </ul>

        An EM wave can interact with matter (atoms, electrons).
        These interactions take place by means of energy quanta of size: E = h f.
        Each quantum also transfers a definite amount of momentum: 
        p=h/λ      (from E=pc, so p=E/c = hf/c = h/λ).

        <br/><br/>
        However, EM radiation does not propagate by means of light particles with definite trajectories.

         <img class="img-responsive rlo-content-image" src="/content/RLO5/assets/PE.svg" />
    </div> 
   
</div>
