<div class="lesson-content">
    <div class="lesson-content-title">Decay Schemes</div>
    <div class="lesson-content-body">
        J&C p. 83.
        <br/><br/>
        P-32  simple case
        <br/><br/>
        Cobalt-60 – two pathways. Note that Cobalt itself does not emit any gamma rays.
        <br/><br/>
        Cs-137 – decay goes via a metastable state
        <br/><br/>
        I-131 &#8594; complicated. Many excited states of the daughter nuclide. Also a metastable state.
        <br/><br/>
        Tip: First look for the high “%” pathways.

    </div>
</div>
