<div class="lesson-content">
    <div class="lesson-content-title">Natural Log</div>
    <div class="lesson-content-body">
        As a mathematical constant, e = 2.718
        <br>ln(x) = log<sub>e</sub>(x) where x > 0.

        <br><strong>Useful identities:</strong>
        <ul>
        <li>ln(e<sup>x</sup>)= x</li> 
        <li>e<sup>ln(x)</sup>= x</li>
        </ul>


        <br><strong>Useful properties:</strong>
        <ul>
        <li>ln(1) = 0</li> 
        <li>ln(x*y) = ln(x) + ln(y)
        <br>     ex) ln(45) = ln(5*9) = ln(5) + ln(9)</li>
        <li>ln(x/y) = ln(x) - ln(y)
        <br>     ex) ln(5) = ln(45/9) = ln(45) - ln(9)</li>
        <li>ln(x<sup>y</sup>) = y*ln(x)</li>
        </ul>

        <br><br><strong>Worked Example 1) Solve for x when
        <font color=blue>A</font> = e<sup>x</sup></strong>
        <br>ln(A) = ln(e<sup>x</sup>)
        <br>ln(A) = x*ln(e)
        <br>ln(A) = x*1
        <br>ln(A) = x

        <br><br><strong>Worked Example 2) Solve for x when
          <font color=blue>A</font> = ln(5x)</strong>
        <br>e<sup>A</sup> = e<sup>ln(5x)</sup>
        <br>e<sup>A</sup> = 5x
        <br>e<sup>A</sup>/5 = x



    </div>
    
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>
