<div class="lesson-content">
    <div class="lesson-content-title">The Fate of Holes in an Inner Shell</div>
    <div class="lesson-content-body">
        <strong>HOLE CREATION</strong>: Various processes can result in the 
        creation of a hole (vacancy) in an inner shell (such as the K-shell, the innermost shell). 
        High energy particle bombardment of various types can produce these vacancies.
        One example is bombardment by energetic electrons in an X-ray tube; 
        another is photons in the photoelectric effect.
          
        <strong>Nuclear processes</strong> can also remove an inner electron. 
        In <strong>electron capture</strong> an inner electron is taken into the nucleus, 
        whereas for <strong>internal conversion</strong> an inner electron is ejected from the atom.
        These two processes are therefore opposites in terms of electron fate.
        <br/><br/>
        
        <strong>HOLE FILLING</strong>: An electronic vacancy in an inner shell is unstable and 
            will be quickly filled. There are two alternatives. 
            <font color='crimson'> Firstly </font>, an outer-shell (L) electron may fill 
            the hole (K) resulting in the emission of a <strong>characteristic X-ray</strong>
            of energy:
            <span class="lesson-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mi>hf</mi>
              <mo>=</mo>
              <msub>
                <mi>E</mi>
                <mi>K</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>L</mi>
              </msub>
            </math>
       </span>
       . <font color='crimson'>Secondly</font>, an <strong>Auger electron</strong> 
       may appear instead of the X-ray, <i>(see slide below)</i>.

    </div>
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>
