<div class="lesson-content">
    <div class="lesson-content-title">Other Resources</div>
    <div class="lesson-content-body">
        
        <div class="col-md-8 col-lg-8">
            
        The Brookhaven National Laboratory maintain an online 
        <a href="http://www.nndc.bnl.gov/nudat2/" target="_blank"> Table of Nuclides </a> 
        containing a considerable level of detail.       
        <br/><br/>
        <a href="https://www.nde-ed.org/EducationResources/HighSchool/Radiography/hs_rad_index.htm"
           target="blank"> NDT Educational Resources on Radiography </a>
        </div>
        
    </div>
            <img class="lesson-content-image" src="/content/lesson2b/assets/NuclearTransPanel01.svg"/>
       
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>
