<div class="lesson-content">
    <div class="lesson-content-title">Nuclear Radiation</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo"> Radiation from the nucleus</div>
      
        <div class="col-md-7 col-lg-7">  
        <strong>Discovery of Radioactivity</strong><br/>
        Radioactivity was discovered by Becquerel in 1896. 
        It consists of spontaneous high energy ionizing radiation from the nucleus in the form of 
        matter particles, electromagnetic radiation or both.
        Radioactivity can be either naturally occurring or artificial.
        
        <br/><br/>
        <strong>Uranium (Z=92)</strong><br/>
        A well-known example of a radioactive element is uranium.
        Although naturally occurring, uranium has no stable isotopes.
        <ul>
            <li><strong>U-238</strong> - over 99% of naturally occurring uranium is U-238. 
            It has a half-life of 4.468 billion years and cannot support a chain reaction.</li>
            <li><strong>U-235</strong> - has a 0.72% natural abundance and half-life of 704 million years.
            U-235 can support a chain reaction, releasing 202.5 MeV per fission. 
            The chain reaction is not spontaneous.</li>
        </ul>
        
        <strong>Topics</strong><br/>    
        This level (row) introduces the concept of unstable nuclides and the 
        three main types of radiation (<strong>alpha, beta, gamma</strong>) that nuclei can produce.
        The following terms will be introduced:

        <ul>
            <li>Ionizing radiation</li>
            <li>Radioactivity</li>
            <li>Decay mode</li>
            <li>Decay rate</li>
            <li>Radionuclide and radioisotope</li>
            <li>Linear energy transfer (LET)</li>
            <li>energy spectrum</li>
            <li>n/p ratio</li>
        </ul>
        </div> 
        
        <div class="col-md-5 col-lg-5">
            <img class="lesson-content-image" src="/content/lesson2b/assets/Radiation.svg"/>
        </div>     
    
    </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>
