<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Level Quiz </div>
  <div class="lesson-content-body col-xs-12 ">

<div class="lesson-content-question"><strong>Q1) Why is a nucleus lighter than all its constituent particles added up?</strong>

        <button type="button" class="lesson-content-question-reveal" data-answer=
                "The nucleus is more stable than the individual separate particles, thus having less energy, and thus less mass."> ANSWER </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
<div class="lesson-content-question"><strong>Q2) What does "activity" refer to?</strong>
    <ol type="A">
        <li>Total # decays</li>
        <li># decays/second</li>
        <li>Energy/second</li>
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
		
<div class="lesson-content-question"><strong>Q3) What are the units for "activity"?
        <br>i) Curie ii)Joules iii)eV/s iv)Becquerel</strong>
    <ol type="A">
        <li>i), iv)</li>             
	<li>i), ii), iv)</li>   
        <li>ii), iii)</li>  
	<li>i), ii), iii), iv)</li>  
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
<div class="lesson-content-question"><strong>Q4) Define "half-life".</strong>

	<button type="button" class="lesson-content-question-reveal" data-answer="Time for activity to fall to 50%."> ANSWER </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>

<div class="lesson-content-question"><strong>Q5) When does "radioactive equilibrium" occur?</strong>
    <ol type="A">
        <li>Daughter half-life is significantly shorter than parent half-life</li>
        <li>Daughter half-life is shorter than parent half-life</li>
        <li>Daughter half-life is not much shorter than parent half-life</li>
        <li>Daughter half-life is equal to parent half-life</li>
        <li>Daughter half-life is longer than parent half-life</li>
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> E </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
<div class="lesson-content-question"><strong>Q6) When does "transient equilibrium" occur?</strong>
    <ol type="A">
        <li>Daughter half-life is significantly shorter than parent half-life</li>
        <li>Daughter half-life is shorter than parent half-life</li>
        <li>Daughter half-life is not much shorter than parent half-life</li>
        <li>Daughter half-life is equal to parent half-life</li>
        <li>Daughter half-life is longer than parent half-life</li>
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="YES."> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> E </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
		
      <div class="lesson-content-question"><strong>Q7) When does "secular equilibrium" occur?</strong>
    <ol type="A">
        <li>Daughter half-life is significantly shorter than parent half-life</li>
        <li>Daughter half-life is shorter than parent half-life</li>
        <li>Daughter half-life is not much shorter than parent half-life</li>
        <li>Daughter half-life is equal to parent half-life</li>
        <li>Daughter half-life is longer than parent half-life</li>
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> E </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
		
<div class="lesson-content-question"><strong>Q8) What is alpha decay governed by?</strong>

        <button type="button" class="lesson-content-question-reveal" data-answer=
                "Competition between short range attractive nuclear forces and long range repulsive electric forces."> ANSWER </button>

        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
<div class="lesson-content-question"><strong>Q9) What is emitted in beta negative decay?
        <br>i) neutrino, ii)antineutrino, iii)electron, iv)positron</strong>
    <ol type="A">
        <li>i),iii)</li>             
	<li>i), iv)</li>   
        <li>ii), iii) </li>  
        <li>ii), iv)</li>  
        <li>i),ii),iii),iv)</li>
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="YES."> C </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> E </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
     
    <div class="lesson-content-question"><strong>Q9) What is emitted in beta positive decay?
        <br>i) neutrino, ii)antineutrino, iii)electron, iv)positron</strong>
    <ol type="A">
        <li>i),iii)</li>             
	<li>i), iv)</li>   
        <li>ii), iii) </li>  
        <li>ii), iv)</li>  
        <li>i),ii),iii),iv)</li>
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> E </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
		<button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>

