<div class="lesson-content container">
    <div class="lesson-content-title">Alpha Decay Process</div>
    <div class="lesson-content-body">
       
        <div class="lesson-content-memo">A balance of forces</div>
        
        <div class="col-sm-9 col-md-8 col-lg-8">
        <strong>Competition between Forces</strong><br/>    
        <strong>Alpha decay</strong> or <strong>disintegration</strong> is governed 
        by the competition between <strong>short 
        range attractive</strong> nuclear forces and <strong>long range repulsive</strong> electric forces, 
        and results in an existing part of nucleus being ejected in a probabilistic 
        ‘tunneling’ process, which is a consequence of quantum mechanical uncertainty. 
        To escape, the particle is able to penetrate a nuclear potential barrier which 
        would be classically impenetrable. 
        
        <br/><br/>
        <strong>Half Lives for Alpha Decays</strong><br/>
        <strong>Half-lives</strong> vary over a wide range, being 
        inversely related to the energy available for the decay, the <strong>Q-value</strong> (or 
        disintegration energy). For transitions between nuclear ground states:
        <br/>
        Q-value = Mass(Z,N) - Mass(Z-2, N-2) - Mass(&#945;).
        
        <br/><br/>
        <strong>Energies in Alpha Decay</strong><br/>
        An alpha decay process involves three particles: the parent and daughter 
        nuclides and the alpha particle itself. The excess energy is shared 
        between alpha and daughter, with the alpha taking the larger part as 
        constrained by the conservation of momentum. 
        The alpha particle energy is determined by the parent nuclide. 
        Across all nuclides, the alpha kinetic energies found 
        range between 3 MeV to 10 MeV. 
        <br/><br/>
        <strong>Alpha Decay of Radium-226 to Radon-222</strong><br/>
        In alpha decay Z decreases by 2, and N decreases by 2: <br/>
        <span class="lesson-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mmultiscripts>
                <mi>Ra</mi>
                <mprescripts/> <mi>88</mi> <mi>226</mi>
              </mmultiscripts>
              <mo>&#8594;</mo>
              <mmultiscripts>
                <mi>Rn</mi>
                <mprescripts/> <mi>86</mi> <mi>222</mi>
              </mmultiscripts>
              <mo>+</mo>
                <mmultiscripts>
                  <mi>He</mi>
                  <mprescripts/> <mi>2</mi> <mi>4</mi>
                </mmultiscripts>
              <mo>+</mo>
                <mn>4.87</mn>
                <mi>MeV</mi>
            </math>
        </span>
        </div>
   
        <div class="col-sm-3 col-md-4 col-lg-4">
            <img class="img-responsive lesson-content-image" src="/content/lesson2b/assets/Alpha.svg"/>
            Alpha Particle
        </div>        
        
        
    </div>
 
       <img class="lesson-content-image" src="/content/lesson2b/assets/Sum_Alpha.svg"/>
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
</div>
