<div class="lesson-content container">
    <div class="lesson-content-title">Weak-force Mediated Nuclear Change</div>
    
    <div class="lesson-content-body ">
        
        <div class="lesson-content-memo">Weak forces</div>
        
        <div class="col-sm-9 col-md-8 col-lg-6">
            If a nucleus has an unfavorable neutron/proton (n/p) ratio, then one of 
            three weak-force mediated processes can occur to change a neutron to a 
            proton or vice versa. These three processes are beta-minus emission 
            (n &#8594; p), <strong>beta-plus</strong> (i.e. positron) emission and (orbital) 
            <strong>electron capture (EC)</strong>. Electron capture (also known as 
            <strong>K capture</strong>) competes with positron emission because both 
            result in the nucleus becoming less negatively charged (p &#8594; n). 
            Neutrinos or anti-neutrinos are often produced in weak interactions to 
            conserve lepton number, taking away some of the energy of the interaction, 
            and resulting in a broad beta energy spectrum.
            <br/><br/>
            <u>Proton-Poor Nuclides (high n/p ratio)</u>: <font color="blue"><strong>Beta- emission</strong></font>
            <br/> <br/><!-- begin MathToWeb -->
            <!-- (your LaTeX) $_{6}^{14}\textrm{C}\rightarrow _{7}^{14}\textrm{N}+\overline{\nu}+ _{-1}^{0}\textrm{e}$ -->
            <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mrow>
                    <msubsup>
                            <mi></mi>
                            <mn>6</mn>
                            <mn>14</mn>
                    </msubsup>
                    <mi mathvariant="normal">C</mi>
                    <msubsup>
                            <mo>&#x02192;</mo>
                            <mn>7</mn>
                            <mn>14</mn>
                    </msubsup>
                    <mi mathvariant="normal">N</mi>
                    <mo>+</mo>
                    <mover accent="true">
                            <mi>&#x003BD;</mi>
                            <mo stretchy="true">&#x000AF;</mo>
                    </mover>
                    <msubsup>
                            <mo>+</mo>
                            <mn>-1</mn>
                            <mn>0</mn>
                    </msubsup>
                    <mi mathvariant="normal">e</mi>
            </mrow>
            </math>
            <!-- end MathToWeb -->
                
            <br><br><u>Proton-Rich Nuclides (low n/p ratio)</u>: <font color="red"><strong>Beta+ (Positron emission)</font> or electron capture (E.C.)
               
            <br/> <br>
            <!-- begin MathToWeb -->
            <!-- (your LaTeX) $_{6}^{10}\textrm{C}\rightarrow _{5}^{10}\textrm{B}+\nu+ _{+1}^{0}\textrm{e}$ -->
            <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mrow>
                    <msubsup>
                            <mi></mi>
                            <mn>6</mn>
                            <mn>10</mn>
                    </msubsup>
                    <mi mathvariant="normal">C</mi>
                    <msubsup>
                            <mo>&#x02192;</mo>
                            <mn>5</mn>
                            <mn>10</mn>
                    </msubsup>
                    <mi mathvariant="normal">B</mi>
                    <mo>+</mo>
                    <mi>&#x003BD;</mi>
                    <msubsup>
                            <mo>+</mo>
                            <mn>+1</mn>
                            <mn>0</mn>
                    </msubsup>
                    <mi mathvariant="normal">e</mi>
            </mrow>
            </math>
            <!-- end MathToWeb -->
                  <br>
             <img class="lesson-content-image" src="/content/lesson2b/assets/Sum_Beta.svg"/>     
        
        </div>
            <div class="col-sm-3 col-md-4 col-lg-6">
            <img class="lesson-content-image img-responsive" src="/content/lesson2b/assets/Row3_Col5.jpg" width="100px"/>
            <strong>Beta-minus</strong> decay - in detail
            </div>
    </div>
        

        
</div>
