<div class="lesson-content">
    <div class="lesson-content-title">Decay of Excited States</div>
    <div class="lesson-content-body">
        
    <div class="pull-right">
        <img class="img-responsive lesson-content-image" src="/content/lesson2b/assets/ShellModel.svg" />
    </div> 
        
     <div class="lesson-content-memo">Excited no more</div>
             
    If a nucleus has excess energy (i.e. is not in its <strong>ground state</strong>) 
    it can decay by just shedding energy, without any change in composition. As 
    described in the nuclear <strong>shell model</strong>, a nuclide has specific 
    excited energy levels – just as bound electrons in atoms do – but at much 
    higher energy levels. These excited nuclear states often arise as a consequence 
    of a previous radioactive decay or particle bombardment. Excited nuclear states 
    usually decay very quickly, but the few longer-lived states are known as 
    <strong>metastable isomers</strong> (e.g. the medically important Tc99m) and 
    their decays as <strong>isomeric transitions (IT)</strong>. Both categories 
    of energy-loss decay can happen in one of two ways: a) emission of a 
    <strong>gamma ray</strong> photon, or b) <strong>internal conversion (IC)</strong>. 
    In the latter an orbital electron carries the excess nuclear energy away, 
    leaving an orbital hole (which is subsequently filled).
    </div>
    <br>
            <!-- begin MathToWeb -->
        <!-- (your LaTeX) $_{6}^{12}\textrm{C}\rightarrow _{6}^{12}\textrm{C}+\gamma $ -->
        <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
                <msubsup>
                        <mi></mi>
                        <mn>6</mn>
                        <mn>12</mn>
                </msubsup>
                <mi mathvariant="normal">C</mi>
                <msubsup>
                        <mo>&#x02192;</mo>
                        <mn>6</mn>
                        <mn>12</mn>
                </msubsup>
                <mi mathvariant="normal">C</mi>
                <mo>+</mo>
                <mi>&#x003B3;</mi>
        </mrow>
        </math>
        <!-- end MathToWeb -->
        <br>
            <img class="lesson-content-image" src="/content/lesson2b/assets/Sum_Gamma.svg"/>
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>  
</div>
