<div class="lesson-content">
    <div class="lesson-content-title">Radiation in the World</div>
        <div class="lesson-content-body">
        
        There are many sources of radiation, both man-made and natural. It is 
        important to realize that there is a natural background level of radiation 
        that provides a reference point in assessing the potential radiation hazards.
        <br/><br/>
        <div class="lesson-content-memo">This is the end of the level on radiation.</div>
      </div>  
    <img class="lesson-content-image" src="/content/lesson2b/assets/Radiation.svg"/>
</div>
