<div class="lesson-content">
    <div class="lesson-content-title">Gamma Radiation</div>
    <div class="lesson-content-body">
        
    <div class="pull-right">
        <img class="img-responsive lesson-content-image" src="/content/lesson2b/assets/CobaltDecay.svg" />
        Excited Nickel states reach the ground state by gamma decay.
    </div>
        <div class="lesson-content-memo"> Gamma (&#947;) rays are energy from the nucleus</div>
        
        Gamma (&#947;) rays are a form of ionizing electromagnetic radiation, 
        and are uncharged (unlike &#945; and &#946; radiation). A gamma photon 
        is a packet of electromagnetic energy emitted from a nucleus in an excited state. &#947; ray 
        photons from <strong>nuclear decay</strong> have energies in the range 
        ~100keV …10MeV.
        
        Often following the decay of a parent nuclide (by &#945;, &#946; or electron capture), 
        a daughter nuclide is left in an excited state 
            <span class="lesson-content-formula">
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msup>
                        <mmultiscripts>
                            <mi>X</mi> 
                            <mprescripts/> <mi>Z</mi> <mi>A</mi>
                        </mmultiscripts>
                        <mo>*</mo>
                    </msup>
                </math>
            </span>, which transitions 
        to its ground state with emission of one or more &#947; photons, without any change of A or Z. 
        For example when Co-60 decays to an excited state of Ni-60 
        by &#946; decay, two gammas of energies 1.173 MeV and 1.332 MeV are rapidly emitted.
        <br/><br/>
        &#947; rays are highly <strong>penetrating</strong> making them useful 
        medically, but also hazardous. Effective shielding requires a large 
        amount of mass, such as thick concrete walls. The main <strong>interaction 
        processes</strong> with matter (resulting in ionization and dose) are the
         photoelectric effect, Compton scattering, and electron-positron pair production. 

    </div>
         <figure>
            <img class="lesson-content-image" src="/content/lesson2b/assets/Radiation.svg"/>
        </figure>  
</div>
