<div class="lesson-content">
    <div class="lesson-content-title">The Active Nucleus</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo"> Radioactivity is a nuclear process</div>
          
    This level (Level 30) will introduces the following terms: 
    <strong>
    atomic nucleus, proton, neutron, nucleon,
    quark, gluon, strong nuclear force,
    periodic table, atomic number, mass number, 
    nuclide, radionuclide, radioactivity.
    </strong>
    </div>
     
     <img class="lesson-content-image" src="/content/lesson2b/assets/Nucleus.svg"/>
     
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
