<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Worked Examples</div>
  <div class="lesson-content-body col-xs-12 ">

    <strong>You initially have <font color=purple>100 g</font> of a sample 
      with a half life of <font color=blue>23 days</font>. 
      After leaving it for <font color=green>70 days</font>,
      how much will be <font color=>left</font>?
 
  <br><br>Start with equation: 
      <br>A = <font color=purple>A<sub>0</sub></font>e<sup>-<font color=red>&lambda;</font>*<font color=green>t</font></sup>
      <br><font color=red>&lambda;</font> = ln(2)/<font color=blue>T<sub>&frac12;</sub></font>
  
      <br><br>Step 1) <font color=red>&lambda;</font> = ln(2)/<font color=blue>23 days</font> = 0.0301/days
      <br>Step 2) A = <font color=purple>100g</font>*e<sup>-<font color=red>0.0301/days</font>*<font color=green>70 days</font></sup> = 12.2g
      
      
</div>  

      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>