<div class="lesson-content container">
    
    <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                Nuclear Structure & Decay
                <img class="lesson-content-image-icon2" src="/content/lesson2b/assets/NuclearTransPanel01.svg" alt='Atom'/>
            </span>
        </div> 
    </div>    
    
    <div class="lesson-content-body">
        <div class="row">
            <!-- LHS -->
             <div class="col-md-6 col-lg-6">   
             <div class="lesson-content-memo"> Nuclear structures can decay...</div>
                Many nuclear structure are not built to  
                last, subject to the fundamentally probabilistic nature of the quantum world. 
                A single nucleus cannot age, but in a population the ever-present force of probability drives an 
                accumulation of decay over time. 
                Microscopic probabilistic events result in irreversible macroscopic change.
                <br/><br/>
                     <ul style="list-style-type:none">
                     <li>200.1 &nbsp; The Sleeper</li>
                     <li>200.2 &nbsp; Nuclear Shell Model</li>             
                     <li>200.3 &nbsp; Binding Energy & Mass Defect</li>
                     <li>200.4 &nbsp; Activity</li>
                     <li>200.5 &nbsp; Alpha Decay Process</li>
                     <li>200.6 &nbsp; Weak Processes (Beta)</li>
                     <li>200.7 &nbsp; Decay of Excited States (Energy Levels, Gamma Emission)</li>  
                     <li>200.8 &nbsp; Nuclear Structure beyond Radioactivity</li>             
                 </ul>    
            </div>
 
             <!-- RHS -->
            <!--<div class="col-md-6 col-lg-6">
                <canvas class="lesson-content-canvas" width="800" height="400"></canvas>
            </div>
        </div> -->
   <!--                  
         <br/>
    <font color='crimson'>        
    <button onclick="myRandom()">RANDOMNESS GENERATOR</button>
    <span id="random1"> ..... 0.000000000000000 </span>
    <span id="random2"> ..... 0.000000000000000 </span>
    <span id="random3"> ..... 0.000000000000000 </span>
    <br/><br/>
    </font>
    <script>
    function myRandom() {
        document.getElementById("random1").innerHTML = "....." + Math.random();
        document.getElementById("random2").innerHTML = "....." + Math.random();       
        document.getElementById("random3").innerHTML = "....." + Math.random();  
    }
    </script>
   -->
        
    <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>
        
    </div>
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>
