<div class="lesson-content">
    <div class="lesson-content-title">Nuclear Structure beyond Radioactivity</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">Not all effects of nuclear structure relate to radioactivity.</div>
        
        <strong>Deuterium</strong> (2-H, a stable isotope of hydrogen)
         has significantly different physical and chemical properties from hydrogen 
         because the extra neutron doubles the nuclear mass.
         
         <strong>Magnetic Resonance Imaging (MRI)</strong>, 
         a medical imaging modality, depends upon the magnetic properties of nuclei.
         MRI is based upon the <strong>Nuclear Magnetic Resonance (NMR)</strong> phenomenon.
         
        <br/><br/>
        <font color="blue"> This is the end of the level on nuclear structure.</font>
         
    </div>
         <figure>
            <img class="lesson-content-image" src="/content/lesson2b/assets/NuclearTransPanel01.svg"/>
        </figure>
</div>
