<div class="lesson-content container">
<div class="lesson-content-title">Decay Mechanisms Summary</div>
<div class="lesson-content-body">
    
Summary of the various decay modes.</div>
<br/>

<div class="row">
    <div class="col-md-sm-12 col-md-10 col-lg-10">
                 
        <table class="table" style="background-color:white;">
            <tr>
                <th data-field="">DECAY</th>
                <th data-field=""> </th>
                <th data-field="experiment">EQUATION</th>
                <th data-field="results">DESCRIPTION</th>
                <th data-field="results">BLOCKED BY</th>

            </tr>
            <tr>   
                <td><strong>Alpha (&alpha;) </strong></td>
                <td><img class="lesson-content-image-icon" src="/content/lesson2b/assets/Sum_Alpha.svg" alt='Atom'/></td>
                <td><img class="lesson-content-image-icon" src="/content/lesson2b/assets/Eq_Alpha.svg" alt='Atom'/></td>
                <td>The atom decays into a new atom, and emits an alpha particle (Helium nucleus).</td>
                <td>Sheet of paper.</td>
            </tr>
            <tr>
                <td><strong>Beta (&beta;)</strong></td>
                <td><img class="lesson-content-image-icon" src="/content/lesson2b/assets/Sum_Beta.svg" alt='Atom'/></td>
                <td><img class="lesson-content-image-icon" src="/content/lesson2b/assets/Eq_Beta.svg" alt='Atom'/></td>
                <td>The atom decays into a new atom, and emits a beta particle (electron or positron).
                In beta minus decay, the neutron decays into a proton, and emits an electron and antineutrino.
                In beta plus decay, the proton decays into a neutron, and emits a proton and neutrino.
                </td>
                <td>Tissue.</td>

            </tr>
            <tr>
                <td><strong>Gamma (&gamma;)</strong></td>
                <td><img class="lesson-content-image-icon" src="/content/lesson2b/assets/Sum_Gamma.svg" alt='Atom'/></td>
                <td><img class="lesson-content-image-icon" src="/content/lesson2b/assets/Eq_Gamma.svg" alt='Atom'/></td>
                <td>The atom remains unchanged, but emits gamma rays (high energy photons). </td>
                <td>Lead.</td>
   
            <tr>
               

        </table>
        
        </div>
        
          <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
</div>
