<div class="lesson-content">
    <div class="lesson-content-title">Unstable Nuclides</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">Some nuclides decay</div>
        
        <div class="col-md-7 col-lg-7">
        There are several terms which all mean 'radioactive nuclide': 
        <strong>radionuclide, radioisotope</strong>, and <strong>radioactive isotope</strong>.
        
        Radionuclides vary in:
        <ul>
            <li><strong>radioactive decay mode</strong>(s) exhibited, (<strong>&#945;,&#946;,&#947;</strong>)</li> 
            <li>the probability that each mode will occur</li>
            <li>the <strong>energies</strong> of radiation produced </li>
            <li><strong>decay rate</strong> (related to the half-life - the time for half a population of
                nuclides to decay)</li>
            <li><strong>origin</strong> (natural, artificial)</li>
        </ul>    
            Some examples of unstable nuclides:
                <span class="lesson-content-formula">
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mmultiscripts>
                          <mi>H</mi> 
                          <mprescripts/> <mi>1</mi> <mi>3</mi>
                        </mmultiscripts>
                        <mo>,</mo>
                        <mmultiscripts>
                          <mi>F</mi> 
                          <mprescripts/> <mi>9</mi> <mi>18</mi>
                        </mmultiscripts>
                        <mo>,</mo>
                        <mmultiscripts>
                          <mi>Ra</mi> 
                          <mprescripts/> <mi>88</mi> <mi>226</mi>
                        </mmultiscripts>
                        <mo>,</mo>
                        <mmultiscripts>
                          <mi>U</mi>
                          <mprescripts/> <mi>92</mi> <mi>235</mi>
                        </mmultiscripts>
                    </math>
                </span>  
        .
        
        <br/><br/><strong>Radium</strong><br/>
        <strong>Radium</strong> (Ra) was discovered by Marie and Pierre Curie in 1898.
        It is the sixth member of the <strong>Uranium series</strong> and 
        all its isotopes are highly radioactive.
        </div>

    <div class="col-md-5 col-lg-5">
         <img class="lesson-content-image" src="/content/lesson2b/assets/Radiation.svg"/>
    </div>

    </div>
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
       
</div>
