<div class="lesson-content container">
    
    <div class="jumbotron">
        <h1>Developer Credits</h1>
    </div>
    
    <div class="lesson-content-body col-xs-12">
        
        <h3>Jonathan Sharp</h3>
        Project Lead<br/>
        Physics content <br/>
        Medical Physics, Dept. of Oncology, University of Alberta (jcsharp@ualberta.ca)
        
        <h3>OJ Robinson</h3>
        Lead Software Developer <br/>
        Web software design and development<br/>
        (OJay_R@hotmail.com)        
        
        <h3>Patrick von Hauff</h3>
        Lead Designer <br/>
        Home page tiles; Map; D-pad navigation<br/>
        Academic Technology Specialist, Faculty of Medicine, University of Alberta (vonhauff@ualberta.ca) <br/>
        
        <h3>Annie Dai</h3>
        Software Developer<br/>
        (adai1@ualberta.ca)
        
        <h3>Yingbo Tang</h3>
        Software Developer<br/>
        (lingbo@ualberta.ca)
        
        <h3>Thomas Jeffery</h3> 
        Graphic Designer <br/>
        (wjeffer@ualberta.ca)
        
        <h3>Mark Karstad</h3>
        Educational Design <br/>
        Academic Technology Manager, Faculty of Medicine, University of Alberta, (karstad@ualberta.ca) 
        
        <h3>Stephanie Yong</h3>
        In page graphics; physics content, including quizzes.<br/>
        Physics Dept, University of Alberta, (syong@ualberta.ca)
        
        <div class="lesson-content-footer"><%- number %> <%- group %></div>
    </div>
    
    
    
</div>