<div class="lesson-content container">
    
    <div class="jumbotron">
    <h1>OpenPhys User's Guide</h1>
    <h2><%- title %></h2>
    </div>
    
    <div class="lesson-content-body"> 
        <div class="col-md-7 col-lg-7">
  
        <h3>MultiLevel Materials</h3>
        Most traditional educational materials (books, lectures, slide shows, Wikipedia etc.) 
        have to assume a that all students require exactly the same level of content.
        This is problematic (i.e. one set of students may be bored by what for them is too simple a level, 
        while another set may be already lost).
        Traditional university or high school text books are large because they cater to all students,
        which means lower level material is always included.
        <br/>
        In OpenMap, the lower level material is included, but can be skipped. 
        Similarly for the higher level material.
        In this way OpenMap sites are suitable for:
        <ol>
            <li>many levels of learner at one time</li>
            <li>any one learner over time, as knowledge level increases</li>
        </ol> 
        
        <h3>Learning Objectives, Outcomes</h3>
        The multi-level scheme is an attempt to decouple the learning objectives
        and outcomes from the design of the material.
        For specific courses, specific maps or pages can be assigned.
        
        <h3>Creating Page Links</h3>
        Every page has its own URL, so any page can be linked to in the usual way. 
        So if you need only a particular page or map, students can be provided with a link. 
        This allows OpenPhys content to be integrated with other online material.
        
        <h3>Mobile Web</h3>
        OpenPhys is implemented as a mobile-friendly website. 
        It is designed to adapt to any web-connected device and screen size or shape.
        It is not available as an app, but it is possible to set an icon on phone
        home screen to get a similar effect.
        
        <h3>The Open Source Advantage</h3>
        All the content and development and deployment tools are open source.
        Full information and all software is available on the github website.
         The github site is 
        <a href="https://github.com/OpenPhysProject/OpenPhys" target="_blank">here</a>.
        
        The great advantage of open source tools is 
        not so much the zero cost, but the maintenance of full control. 
        There is unfortunately no guarantee that online commercial online tools will remain 
        available indefinitely.
         
        <h3>Corrections, Minor Additions to this site</h3>
        For corrections or minor additions, contact me at jcsharp@ualberta.ca
        
        <h3>Your Own Site</h3>
        To create your own version of this site, clone the github project
        to gain complete control.
        
        As an instructor, typically you would require your IT department to set up the
        website, and to assist in installation of the development tools on your computer.
        However, once that is done, you can maintain the site, updating content whenever you
        wish by yourself. This only requires basic computer literacy.
        
        <h3>Site Preview</h3>
        There is a very powerful facility that allows you to editor content, 
        then immediately review the site on your own browser locally. 
        Once everything is debugged, the new content is uploaded to the public site.
        
        </div>
        
        <!-- RHS -->
         <div class="col-md-5 col-lg-5">
           <img class="lesson-content-image" src="/content/userGuide/assets/MapZoom.png"/>
           <br/>
            Use the <lcterm><i>m</i> key</lcterm> or D-pad central icon to toggle the map ON/OFF.
         </div> 
        
        <br/>
        
        <div class="lesson-content-footer"><%- number %> <%- group %></div>
    </div>
</div>