<div class="lesson-content container">
   
    <div class="jumbotron">
    <h1>OpenPhys User's Guide</h1> 
    <!-- <h2><%- title %></h2> -->
    <h3>For an introduction, view the
            <a href="https://www.youtube.com/watch?v=xsMJI54Ngzc" target="_blank">OpenPhys video</a> on YouTube.
    </h3>
    </div>

    <div class="lesson-content-body"> 
    <!-- <div class="lesson-content-title"> How To</div> -->
        <div class="col-md-7 col-lg-7">
         
            The OpenPhys <lcterm>home page</lcterm> shows the lesson tiles:
                <div>
                 <img class="img-responsive lesson-content-image" src="/content/userGuide/assets/OpenPhysTiles.png" />
                </div>
            Click (anywhere) on a <strong>colored lesson tile</strong> to open the 
            lesson <lcterm>concept map:</lcterm>
            <div>
                <img class="img-responsive lesson-content-image" src="/content/userGuide/assets/MapZoom.png" />
             </div>
            Each square is a <lcterm>page</lcterm>. 
            Navigate and click the map to open a page (such as this one).
             The maps <strong>organize</strong> and provide <strong>navigation</strong>.
             They are at the heart of OpenPhys.
           
             <h3>Map Organization</h3>
             Pages are arranged by:
             <ul>
                 <li><lcterm>Topic:</lcterm> Topics progress left to right. The start of a main path is labeled by a circle.</li>
                 <li><lcterm>Depth:</lcterm> Basic content is at the TOP, deeper content at the BOTTOM.   
                    </li>
             </ul>
             On a first visit, you would typically start by following the main path, 
             but you are free to visit pages in any order.
              
             <h3>Map Navigation</h3>
             If the map is larger than the screen, scroll it. Click or tap to open a page.
             OpenPhys is designed for all devices, so keyboard, mouse and touch screen
             all function as expected. The multi-function game-style control at the bottom right of the screen 
             is the <lcterm>D-pad</lcterm>.
             
             <h3>Page Navigation</h3>
             To move from one page to another either:
             <ul>
                 <li>directly move to an adjacent page (D-pad or keyboard arrow keys or swipe), or</li>
                 <li>return to the map ('m' key, D-pad map icon)</li>
             </ul>
             The D-pad is explained further on the next page in the guide (-->).
             
            <br/>
            <div class="lesson-content-footer"><%- number %>  <%- group %></div>

        </div>
    
    <div class="col-md-5 col-lg-5">
 
        <!--
  <iframe src="http://www.youtube.com/embed/xsMJI54Ngzc"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
 -->
     </div>
</div>
