<div class="lesson-content container">
    
    <div class="jumbotron">
        <h1>OpenPhys User's Guide</h1>
        <h2><%- title %></h2>
  </div>
    
    <div class="lesson-content-body">
        Each lesson consists of a set of pages (this is the <i>User's Guide</i> module.)
         <br/>
        Use the arrows (or keyboard cursor arrow keys) to navigate between pages within each lesson:
        <br/><br/>
        
        <img class="lesson-content-image" style="max-width: 600px" alt="Large Map" style="padding-left: 2rem" src="/content/userGuide/assets/userguide_icon.png"/>
       
        <strong>ARROWS GREYED OUT?</strong> No page is available in that direction. Choose another path.
        <br/><br/>
        <strong>WORKING ON A MOBILE DEVICE?</strong> You can swipe between pages.
        <br/><br/>
        <strong>TRY IT NOW</strong> By clicking the <div class="userGuide-inline-ui">
            <svg class="ui-button-svg-display" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452 452">
                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
            </svg>
        </div> 
        <strong>RIGHT ARROW</strong> below to move to the next instruction page.

        <br/>
        <div class="lesson-content-footer"><%- number %> <%- group %></div>

    </div>
 
</div>
