<div class="lesson-content">
    <div class="lesson-content-title">Web-site Organization</div>
    <div class="lesson-content-body">
        <ul>
            <li><strong>FRONT PAGE:</strong> The <strong>front page</strong> of the web site shows the lesson tiles.</li>
            <li><strong>LESSON TILES:</strong> Click anywhere on a <strong>lesson tile</strong> to open the concept map for that lesson.</li>
            <li><strong>CONCEPT MAP:</strong> Each <strong>Concept Map</strong> shows pages arranged according to topic and level of difficulty</li>
            <li>Move UP the map for simpler content, DOWN for deeper content</li>
        </ul>
        
        <br/><br/>
        
        
       
 
    </div>
</div>
