<div class="lesson-content container">
   
      <div class="jumbotron">
        <h1>OpenPhys User's Guide</h1> 
        <h2>The Lesson Concept Map</h2> 
      </div>
    
      <div class="lesson-content-body"> 
      <div class="lesson-content-title">Web-site: Lesson Tile --> Lesson Map --> Page </div>  
         The OpenPhys web site is based on a novel design using a 2D concept map for each lesson.
         <br/><br/>
      
        <ul>
            <li><strong>FRONT PAGE:</strong> The <strong>front page</strong> of the web site shows the lesson tiles.</li>
            <li><strong>LESSON TILES:</strong> Click anywhere on a <strong>lesson tile</strong> to open the concept map for that lesson.</li>
            <li><strong>CONCEPT MAP:</strong> Each <strong>Concept Map</strong> shows pages arranged according to topic and level of difficulty</li>
            <li>Move UP the map for simpler content, DOWN for deeper content</li>
        </ul>
        
        <br/><br/>
       
    </div>
    
</div>
