<div class="lesson-content container">
    
    <div class="jumbotron">
    <h1>OpenPhys User's Guide</h1>
    <h2><%- title %></h2>
    </div>
    
    <div class="lesson-content-body">
        Most modules have much larger maps (<i>m</i> key), like this:    
    
        <br/><br/>
        <img class="lesson-content-image" style="max-width: 600px" alt="Large Map" style="padding-left: 2rem" src="/content/userGuide/assets/map.png"/>
        <br/><br/>  
        <ul>
            <li>There will be one or more main horizontal paths, containing the core topics, in order.</li>
            <li>Some modules also have long vertical paths, focusing on a single topic.</li>
            <li>We recommend that on first use you find a horizontal path at your level and navigate it from left to right</li>
            <li>Navigate upwards (towards the top of the map) for simpler background material.</li>
            <li> Navigate downwards (bottom of map) to explore material in more depth.</li>
            <li> Remember the <i>m</i> key!</li>
        </ul>
      NOW CLICK the <div class="userGuide-inline-ui">
            <svg class="ui-button-svg-display" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452 452">
                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
            </svg>
        </div> <strong>RIGHT ARROW</strong> to advance to the last page in the User's Guide.
      
        <br/>
        <div class="lesson-content-footer"><%- number %> <%- group %></div>
    </div>
</div>