<div class="lesson-content container">
    
    <div class="jumbotron">
    <h1>OpenPhys User's Guide</h1>
    <h2><%- title %></h2>
    </div>
    
    <div class="lesson-content-body">
        <div class="userGuide-inline-ui-map">
            <svg class="ui-button-svg-display" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.8 53.5" >
                <path d="M1 51.6l25-8.9L29.9.5 12.1 9.2M46.2 9.6l3.7 42 21.8-8.8L61.1 1"/>
                <path d="M29.9.5l-3.7 42.2 23.3 8.9-3.2-42"/>
            </svg>
        </div> <strong> MAP ICON</strong>: Click it (or type 'm' for 'map') to open a 2D map of the lesson pages.
        <br/><br/>
        <img class="lesson-content-image" style="padding-left: 2rem" src="/content/userGuide/assets/ContentMap.png"/>
        <br/><br/>        
        The map is clickable, and you can click on any page in the map at any time.
        <br/><br/>
        TRY IT NOW by clicking the <div class="userGuide-inline-ui-map">
            <svg class="ui-button-svg-display" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.8 53.5" >
                <path d="M1 51.6l25-8.9L29.9.5 12.1 9.2M46.2 9.6l3.7 42 21.8-8.8L61.1 1"/>
                <path d="M29.9.5l-3.7 42.2 23.3 8.9-3.2-42"/>
            </svg>
        </div> 
        <strong> MAP ICON</strong> in the bottom right, 
        then select the 3rd page labeled <i>Larger Maps</i>.
        
        <br/>
        <div class="lesson-content-footer"><%- number %> <%- group %></div>

    </div>
</div>
