<div class="lesson-content container">
    
    <div class="jumbotron">
    <h1>OpenPhys User's Guide</h1>
    <h2><%- title %></h2>
    </div>
    
    <div class="lesson-content-body"> 
        <div class="col-md-7 col-lg-7">
         
        <h3>MultiLevel Maps: Find your own level</h3>
        The maps are designed for you to find your own (current) level.
        You will likely ignore other content that is too simple or too difficult.
        As you become more knowledgeable, view pages further down the map.
        Remember: Move UP the map for simpler content, DOWN for deeper content.
        
        <h3>A Sense of Place</h3>
        The OpenPhys website is designed so that you don't get lost deep inside a
        complex maze of links and clicks. 
        The map hopefully provides a sense of place to aid learning, using your spatial senses.
        Each page is fairly short. You can also create a web shortcut to any page or map.
        
        <h3>The Shape of a Map</h3>
        The shape of each map is not random, it reflects the structure of the information.
         There is at least one main horizontal path, containing the core topics, in order.
            
        <h3>Horizontal Paths</h3>
        Typically, find a horizontal path at your level and navigate it from left to right.
        If you make your way all the way from left to right, then you will
        have touched on each topic in the lesson.
            
        <h3>Vertical Paths</h3>
         Some maps also have long vertical paths, focusing on a single topic.
       A vertical path may represent progression of difficulty, or may be a list of examples.
        </div>
        
        <!-- RHS -->
         <div class="col-md-5 col-lg-5">
           <img class="lesson-content-image" src="/content/userGuide/assets/MapZoom.png"/>
           <br/>
            Use the <lcterm><i>m</i> key</lcterm> or D-pad central icon to toggle the map ON/OFF.
         </div> 
        
        <br/>
        
        <div class="lesson-content-footer"><%- number %> <%- group %></div>
    </div>
</div>