<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Photoelectric Absorption of X-rays in Tissue (low Z)</div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-memo"> X-ray and tissue </div>   
        <div class="row">
           <!-- LHS -->
           <div class="col-md-8 col-lg-8"> 
              <img class=" lesson-content-image" src="/content/lesson5/assets/X_LowZ.png" /> 
           </div>

           <div class="col-md-4 col-lg-4"> 
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/PE.svg" />
           </div>
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
        </div>
  
  </div>
</div>
