<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">100.2 Matter and Anti-Matter </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <div class="rlo-content-memo">  The positron is the anti-electron</div>
      
      The electron, which is negatively charged, is a particle of <strong>matter</strong>. 
      The positron, which is positively charged, is the <strong>anti-matter</strong> partner of the electron. 
<br/>
      Every matter particle has an anti-matter companion of the identical mass, but opposite electrical charge.
These partners can be created together, or destroyed (annihilated) together. 
On annihilation, a great deal of energy is released.

Ordinary objects are made from matter, 
but anti-matter can be easily created in various nuclear or high energy processes.

    </div>
</div>
