<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">200.2 Pair Production Overview </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <div class="rlo-content-memo"> The main steps</div>
 
        As was shown in the animation, these are the main steps in the pair production process:
        <br/><br/>  

        <ol>
        <li>Incident MeV X-Ray photon</li>
        <li>Production Event (X-ray collision with nucleus)</li>
        <li>Dose deposition from high energy charged particles</li>
        <li>Annihilation of positron</li>
        </ol>

        <img class="rlo-content-image" src="/images/RLO7/PairProd.svg"/>
    </div>
</div>
