<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">200.5 Annihilation Event</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

     <font color='blue'> <i> Slowed positrons are destroyed by electrons, emitting new X-rays</i></font>
  <br/><br/>
      
      When it is finally brought to rest, the positron will annihilate with an electron.

We can usually assume that the positron has zero KE on annihilation.

Annihilation converts the mass of 2 particles to energy, so 1.022MeV is released.

To conserve momentum, the two photons go off in opposite directions.

In radiotherapy, the annihilation photons do not deposit local dose because they may travel far.
They may undergo Compton scattering and deposit dose elsewhere, or they may escape the body entirely. 

    </div>
    <img class="rlo-content-image" src="/images/RLO7/PairProd.svg"/>
</div>
