<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">200.4 Absorption of Dose</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <font color='blue'> <i> Electrons and positrons damage cells</i></font>
  <br/><br/>
      
 Both charged particles will dissipate energy in the medium, such as the human body.
This loss of kinetic energy occurs by ionization and excitation.

<br/><br/>
In radiotherapy this absorption of energy in the body is 'dose'.

    </div>
    <img class="rlo-content-image" src="/images/RLO7/PairProd.svg"/>
</div>
