<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">200.2 Overview </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

   <font color='blue'> <i>The main steps</i></font>
  <br/><br/>
      
      As was shown in the animation, these are the main steps in the pair production process:
 <br/><br/>
      
   MeV X-Ray Photon --> Production Event (X-ray collision with nucleus)
 --> Dose from high energy charged particles --> Positron is annihilated.

    </div>
  
    <img class="rlo-content-image" src="/images/RLO7/PairProd.svg"/>
</div>
