<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">200.6 Pair Production Summary</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <ul>
            <li> Pair production is an interaction between an MeV X-ray photon and a nucleus </li>
            <li>Threshold = 1.022 MeV </li>
            <li>Coefficient/atom ~ Z<sup>2</sup>  </li>
            <li>Coefficient/unit mass ~ Z </li>
            <li>Energy transferred to kinetic energy is (hf – 1.022 MeV) </li>
            <li>Two annihilation photons, each of 0.511 MeV are produced and radiated away. </li>
      </ul>
      
  Pair Production in Radiotherapy:
      <ul>
        <li> Pair production is a mechanism leading to absorbed dose</li>     
        <li> Pair production begins to become important between 5 MeV and 10 MeV. </li>
        <li> Above 50 MeV, pair production is the most important beam attenuation mechanism. </li>
 </ul>

    </div>
</div>
