<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">500.3 X-Ray Photon Energy Dependence of Production Event</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <div class="rlo-content-memo"> More energy, more pairs</div>
      
The cross-section, κ, is zero below the threshold, but increases rapidly above 1.022 MeV.  
For pair-production, the cross-section increases with energy.
This means that, for the pair production process, a high energy X-ray beam is LESS penetrating! 
This is the opposite behaviour from photo-electric and Compton!

    </div>
</div>
