<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">600.3 Z Dependence</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

The attenuation coefficient for pair production (κ) varies as:
Z<sup>2</sup> per atom
Z per electron
Z per gram

<br/><br/>
Example: 1g of lead (Z=82) absorbs about 10 times as much energy by pair production as does 1g oxygen (Z=8).



    </div>
</div>
