<div class="lesson-content">
    <div class="lesson-content-title">Heisenberg Uncertainty Principle</div>
    <div class="lesson-content-body">
                       
       <!-- LHS -->
       <div class="col-md-6 col-lg-6">  
        <div class="lesson-content-memo"> Nobody Knows</div> 
        
        In 1927 Werner Heisenberg proposed the <strong>Uncertainty Principle </strong>.    
        
        <h3>Fundamental Limit</h3>
        This principle represents a fundamental limit on how precisely certain parameters 
        can be defined. It is not (just) a question of our ignorance; it is deeper than that.
        
        <h3> Position and Momentum </h3>
         An example of this principle concerns the position and momentum of a particle.
         There is a fundamental quantum limit on how precisely a particle 
         can have an exact position and an exact momentum.
         
         $$ \Delta x \Delta p \ge \hbar/2 $$
         
         This equation means that a very low position uncertainty implies a large momentum uncertainty, and vice versa.
         $\hbar = h/2\pi$, where $h$ is <strong>Planck's Constant</strong>.
        
         <h3>Origin</h3>
         The uncertainty principle is an inevitable consequence of wave mechanics.
         In other words, since an electron is wave-like, it must obey certain wave properties.
         One such consequence is that if you try to confine the electron wave tighter (smaller $\Delta x$),
         then the momentum spread must increase (larger $\Delta p$).
         
       </div>
         
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
    
     
</div>
