<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Level Quiz </div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-question"><strong>Q1) Who was the first to discover atoms have a nuclei?</strong>
        <ol type="A">
            <li> Dalton </li>
            <li> Rutherford</li>
            <li> Bohr</li>
            <li> Thomson</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
    
      <div class="lesson-content-question"><strong>True or False: Atoms can not be created or destroyed.</strong>
        <ol type="A">
            <li>True </li>
            <li>False</li>
           
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, through nuclear fusion atoms can be created. Through nuclear fission, atoms can be destroyed."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES, through nuclear fusion atoms can be created. Through nuclear fission, atoms can be destroyed."> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
     <div class="lesson-content-question"><strong>Q3) Who was first to discover that angular momentum is quantized?</strong>
        <ol type="A">
            <li>Schrodinger </li>
            <li>Rutherford </li>
            <li>Thomson </li>
            <li>Bohr </li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES - See the Bohr Atom"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>