<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Quiz: Waves </div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-question"><strong>Q1) What is the formula for wave velocity?</strong>
        <ol type="A">
            <li> fλ</li>
            <li> f/λ</li>
            <li> λ/f</li>
            <li> 1/fλ</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES: v=fλ"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
    
      <div class="lesson-content-question"><strong>Q2) Define: "Non-dispersive"</strong>
          <br/>
        <button type="button" class="lesson-content-question-reveal" data-answer="Wave velocity is independent of frequency"> ANSWER </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>

      
       <div class="lesson-content-question"><strong>Q3) Distinguish between traveling and standing waves:</strong>
          <br/>
        <button type="button" class="lesson-content-question-reveal" data-answer="Traveling waves transmit energy"> ANSWER </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>     
      
      
     <div class="lesson-content-question"><strong>Q4) What?</strong>
        <ol type="A">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
      <div class="lesson-content-question"><strong>Q5) What?</strong>
        <ol type="A">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
      <div class="lesson-content-question"><strong>Q5) What?</strong>
        <ol type="A">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
    
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>