<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Quiz: Modern Physics </div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-question"><strong>Q1) Atoms can emit or absorb any colour of light.</strong>
        <ol type="A">
            <li> True </li>
            <li> False</li>
        
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, atomic spectra have discrete lines."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
    
      <div class="lesson-content-question"><strong>Q2) When energy is emitted from an atom, 
              the electron transitions to a _______ energy state.</strong>
        <ol type="A">
            <li> Lower</li>
            <li> Higher</li>       
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, this is true when an atom absorbs energy."> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
     <div class="lesson-content-question"><strong>Q3) Schrodinger's Equation describes the quantum mechanical behavior
         of how a system's wave function changes with _________.</strong>
        <ol type="A">
            <li> energy & time </li>
            <li> mass & speed</li>
            <li> momentum & speed</li>
            <li> space & time</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>    
    
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>