<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Quiz: Classical Physics </div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-question"><strong>Q1) Which figure is most associated with classical electromagnetism?</strong>
        <ol type="A">
            <li> Newton </li>
            <li> Dalton</li>
            <li> Maxwell</li>
            <li> Einstein</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES - James Clerk Maxwell (1831 - 1879)"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
    
      <div class="lesson-content-question"><strong>Q2) What was a major limitation of classical physics?</strong>
        <ol type="A">
            <li> No theory of inertia</li>
            <li> No theory of electricity</li>
            <li> No theory of heat </li>
            <li> No theory of atomic structure</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES - No concept of atomic structure"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
     <div class="lesson-content-question"><strong>Q3) When did the classical physics period end?</strong>
        <ol type="A">
            <li> 1790 </li>
            <li> 1800</li>
            <li> 1850</li>
            <li> 1900</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
    <div class="lesson-content-question"><strong>Q4) Total momentum before a collision is equal to total momentum after collision.</strong>
        <ol type="A">
            <li> True </li>
            <li> False</li>
                     
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> YES </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> No, momentum is conserved in classical physics. </button>
        
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
     
    
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>