<div class="lesson-content container">
  <div class="lesson-content-title">Classical Physics (1800’s)</div>
  <div class="lesson-content-body">
 
    <div class="col-sm-6 col-md-6 col-lg-6">
        
        <strong>‘Classical Physics’</strong> is a term that describes physics prior to the last decade of the
        19th Century. 
        
        <!--This includes all of Sir Isaac Newton’s (1643 - 1727) work on mechanics, 
        optics and gravitation and also the
        <strong><mark>classical electromagnetism</mark></strong> of James Clerk Maxwell (1831 - 1879). 
        Philosophically, this term also encapsulates a <strong><mark>mechanical world-view</mark></strong> of definite forces, 
        momentum, energy and so on, and a dominant metaphor of
        a clockwork universe, ruled by Newton’s three laws of motion and his law of universal gravitation. 
        Thermodynamics, the science of heat, was also part of classical physics.
        -->
        This includes:
        <ul>
                <li>Newton's laws of motion defining classical mechanics</li>
                <li>Maxwell's classical electromagnetism</li>
                <li>Thermodynamics (science of heat)</li>
            </ul>
        <p>
        The technology of this world was quite advanced and included lenses, mirrors, prisms, 
        telescopes, microscopes, steam engines and timepieces, and was sufficient to support industrialization. 
        </p>
        <h3>Limitations</h3>
        No viable theory of atomic structure.
        
    </div>
      
     <div class="col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive lesson-content-image img-rounded" src="/content/lesson1/assets/Row0_Col0.jpg" />
        <div>The clockwork universe was the dominant metaphor of classical physics.</div>
    
    </div>
      
  <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
</div>
