<div class="lesson-content container">
    <div class="lesson-content-title">Linear Momentum</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Linear Motion</div>
            <div class="col-xs-12 col-sm-6"> 

                    The <strong><mark>Linear Momentum</mark></strong> of an object is the product of its mass and velocity (p = mv), 
                corresponding to the idea of inertia. Moving at the same velocity, a heavy object has more 
                momentum than a lighter one. An applied force causes an object to move faster,  
                increasing its momentum. 
                The total momentum for all objects before a collision equals the total momentum afterwards. 
                This is known as the <strong>conservation of momentum</strong> and 
                is a very important principle in mechanics. 
            </div>  

             <div class="lesson-content-boxed"> 
                 <math mathsize="1.2em" display="block" xmlns="http://www.w3.org/1998/Math/MathML">
                     <mrow>
                         <mtext>momentum</mtext>
                         <mo>=</mo>
                         <mtext>mass</mtext>
                         <mo> &times;</mo>
                         <mtext>velocity</mtext>
                     </mrow>
                 </math>


                  <math mathsize="1.5em" display="block"  xmlns="http://www.w3.org/1998/Math/MathML">
                      <mrow>
                         <mi>p</mi>
                         <mo>=</mo>
                         <mi>m</mi>

                         <mi>v</mi>
                     </mrow>
                 </math>
                 <!--
                <canvas class="lesson-content-canvas" width="800" height="400"></canvas>
                 -->
             </div>
        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
