<div class="lesson-content container">
    <div class="lesson-content-title">More on Electron Orbitals</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">Different types of atomic orbital</div>
        
         <!-- LHS -->
         <div class="col-sm-12 col-md-6 col-lg-6">
            TBD    
            <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
         </div>
         
          <!-- RHS -->
        <div class="col-sm-0 col-md-6 col-lg-6">
            <img class="img-responsive lesson-content-image" src="/content/lesson1/assets/OrbitalsCrop.png" />
        </div>
   
    </div>
</div>
