<div class="lesson-content container">
    
     <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                Thomson Plum Pudding Atom (1904)
                <img class="lesson-content-image-icon" src="/content/lesson1/assets/Pudding.svg" alt='Atom'/>
            </span>
        </div>
     </div>

    <div class="lesson-content-body col-lg-12"> 
        <div class="row">
            <!-- LHS -->
             <div class="col-md-8 col-lg-7">
                    <div class="lesson-content-memo">Before the discovery of the nucleus...</div>     
                 <p>
                Thomson discovered the electron in 1897, the first subatomic particle. Following this discovery, 
                <a href="https://en.wikipedia.org/wiki/J._J._Thomson" target="_blank"> J.J. Thomson</a>
                   proposed a simple model in which <span class="lesson-content-electron">electrons</span> were embedded in some <span class="lesson-content-proton">positively charged</span> substance. 
                This rudimentary model was proposed following the discovery of the electron.
                 </p>

                 <h3> Limitations</h3>
                 <p>
                This model was abandoned following

                <a href="https://en.wikipedia.org/wiki/Ernest_Rutherford" target="_blank">Rutherford's </a>
                 interpretation of alpha particle scattering experiments,
                which demonstrated the very tight concentration of charge and matter in what became known as the nucleus.

                <a href="https://en.wikipedia.org/wiki/Geiger%E2%80%93Marsden_experiment" target="_blank">Geiger and Marsden</a>
                 bombarded gold foil with alpha particles and observed than some were scattered
                at very high scattering angles, indicating the existence of a dense concentration of charge and mass.
             </div>

            <!-- RHS -->
            <div class="col-md-4 col-lg-5">        
                <img class="lesson-content-image" src="/content/lesson1/assets/Pudding.svg" alt='Atom'/>
            </div>
        </div>
        
         <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>        
        
    </div>
</div>



