<div class="lesson-content">
    <div class="lesson-content-title">Quantum Mechanics: De Broglie Matter Waves (1920s)</div>
    <div class="lesson-content-body">
        
        <div class="row">    
            <div class="col-md-6 col-lg-6">
                <div class="lesson-content-memo">Quantum matter is wave-like</div>
                
            Quantum mechanics is the physics needed to describe atoms, molecules and very many other areas in physics.
            It is fundamental, and everything is subject to quantum principles. 
            Some familiar quantum ideas include Heisenberg's Uncertainty Principle and wave-particle duality.
          A major outstanding issue in physics is how to reconcile quantum physics and general relativity (gravity). 
          There are not definitive books explaining the meaning of quantum mechanics, because the meaning is still an open question.
          There are however some very good books which can get you a long way.

    
            <h3>Matter Waves</h3> 
             In the 1920s <strong><mark>Louis de Broglie</mark></strong> 
             conceived of unifying light and matter by also ascribing wave properties to matter.

             He related wavelength <strong><i>λ</i></strong> 
             to particle momentum <strong><i>p</i></strong> 
             using Planck’s constant, <strong><i>h</i></strong>. 
             <div class='lesson-content-equation'>
             <i>p = h/λ</i>
             </div>
            Subsequently, <strong><mark>Erwin Schrodinger</mark></strong> formalized this by finding a wave 
            equation to mathematically describe de Broglie’s waves. 

            These were key steps in 
            the development of <strong><mark>Quantum Mechanics</mark></strong>.
            
            </div>
            <div class="ol-md-6 col-lg-6">
                <img class="img-responsive lesson-content-image" src="/content/lesson1/assets/WavePlay.svg" />
            </div>
        </div>
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
   
    </div>
    
<!--    <canvas id="myCanvas" width="600" height="100" >
        Sorry.
    </canvas>    
    <script>
    //Create a stage by getting a reference to the canvas
    stage = new createjs.Stage("myCanvas");
    //Create a Shape DisplayObject.
    circle = new createjs.Shape();
    circle.graphics.beginFill("red").drawCircle(0, 0, 40);
    //Set position of Shape instance.
    circle.x = circle.y = 50;
    //Add Shape instance to stage display list.
    stage.addChild(circle);
    //Update stage will render next frame
    stage.update();
 

    //Update stage will render next frame
    createjs.Ticker.addEventListener("tick", handleTick);

    function handleTick() {
     //Circle will move 10 units to the right.
        circle.x += 2;
        if (circle.x > stage.canvas.width/2) 
            { circle.graphics.beginFill("green").drawCircle(0, 0, 40); }
        //Will cause the circle to wrap back
        if (circle.x > stage.canvas.width) { circle.x = 0; }
        stage.update();
        
     circle.addEventListener("click", handleClick);
 function handleClick(event){
     // Click happenened
          circle.graphics.beginFill("blue").drawCircle(0, 0, 40);
 }    
        
    }
</script-->    
    
 
</div>
