<div class="lesson-content container">
<div class="lesson-content-title">Atomic Models Summary</div>
<div class="lesson-content-body">
    
    The evolution of our understanding of the atomic structure.</div>
<br/>

<div class="row">
    <div class="col-md-sm-12 col-md-10 col-lg-10">
                 
        <table class="table" style="background-color:white;">
            <tr>
                <th data-field=""></th>
                <th data field="">YEAR</th>
                <th data-field="experiment">ATOMIC MODEL</th>
                <th data-field="results">SUCCESSES</th>
                <th data-field="results">LIMITATIONS</th>
            </tr>
            <tr>
                <td><img class="lesson-content-image-icon" src="/content/lesson1/assets/Atom_Dalton.svg" alt='Atom'/></td>
                <td>1805</td>
              <td><strong>Dalton's</strong> Atom </td>
                <td>First to develop the principles of atomic theory.</td>
                <td>No concept of the internal atomic structure (electron and nuclei).
            </tr>
            <tr>
                <td><img class="lesson-content-image-icon" src="/content/lesson1/assets/Atom_Thomson.svg" alt='Atom'/></td>
                <td>1904</td>
              <td><strong>Thomson's</strong> Plum Pudding Atom </td>
                <td>First to go beyond the atom and discover the first subatomic particle, the electron.</td>
              <td>No concept of the nuclei.</td>
            </tr>
            <tr>
                <td><img class="lesson-content-image-icon" src="/content/lesson1/assets/Atom_Rutherford.svg" alt='Atom'/></td>
                <td>1910</td>
                <td><strong>Rutherford's</strong> Nuclear Atom </td>
                <td>First to discover the atom contains a positively charged nucleus in the center.</td>
              <td>No concept of quantized energy.
            </tr>
            <tr>
                <td><img class="lesson-content-image-icon" src="/content/lesson1/assets/Atom_Bohr.svg" alt='Atom'/></td>
                <td>1913</td>
                <td>Quantized <strong>Bohr</strong> Atom </td>
                <td>First to discover electron's orbit the nuclei with quantized energy.</td>
              <td>No concept of electron's wave-like behavior and that electron shells can be more than a sphere.
            </tr>
            <tr>
                <td><img class="lesson-content-image-icon" src="/content/lesson1/assets/Atom_QM.svg" alt='Atom'/></td>
              <td>1920+</td>
              <td><strong>Quantum</strong> Atom </td>
              <td>First to incorporate the electron's wave-like behavior in defining the orbitals. 
                The atomic orbitals wave function provides the probability of finding the electron's position, 
                rather than a defined 'path' the electron takes.
              <td></td> 
        </table>
        
        </div>
        
          <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
</div>
