<div class="lesson-content container">
    
     <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                Absorption and Emission
                  <img class="lesson-content-image-icon" src="/content/lesson1/assets/AtomPlay.svg" alt='Bohr Atom'/>
            </span>
        </div>
     </div>

    <div class="lesson-content-body col-lg-12"> 
        <div class="row">
            <!-- LHS -->
             <div class="col-md-8 col-lg-7">
                 <div class="lesson-content-memo">Quantization of energy</div>     
                 <p>
                   <strong>Discrete energy levels:</strong> the <span class="lesson-content-electron">electron</span> can exist only in certain energy levels, 
                   and <strong>not</strong> in between energy levels. 
                   The energy levels have defined values of energy.
                   <br>When energy <strong><font color=indigo>absorbed</font></strong> is equivalent to the difference in energy levels, 
                   the electron transitions to the upper state.
                   <br>When energy <strong><font color=limegreen>emitted</font></strong> is equivalent to the difference in energy levels, 
                   the electron transitions to the lower state.
                   <br>Energy can come from photons, where a photon's energy is defined by:
                     <!-- begin MathToWeb -->
                     <!-- (your LaTeX) $E=h\nu=\frac{hc}{\lambda}$ -->
                     <math xmlns="http://www.w3.org/1998/Math/MathML">
                     <mrow>
                     <mi>E</mi>
                    <mo>=</mo>
                    <mi>h</mi>
                    <mi>&#x003BD;</mi>
                    <mo>=</mo>
                    <mfrac linethickness="1">
                      <mrow>
                        <mi>h</mi>
                        <mi>c</mi>
                      </mrow>
                      <mi>&#x003BB;</mi>
                    </mfrac>
                  </mrow>
                  </math>
                  <!-- end MathToWeb -->
                                    
                 </p>

             </div>

            <!-- RHS -->
            <div class="col-md-4 col-lg-5">        
                <img class="lesson-content-image" src="/content/lesson1/assets/Absorption.svg" alt='Atom'/>
            </div>
    </div>
        </div>
        
         <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>        
        
</div>



