<div class="lesson-content">
    <div class="lesson-content-title">The Schrodinger Equation</div>
    <div class="lesson-content-body">
                      
        The electron wave function is specified by two numbers at each point in space. 
        This is usually represented by a complex-valued wave function. 
        A complex number is equivalent to a magnitude and a phase.
        <br>Schrodinger's Equation describes the quantum mechanical behavior 
        of how a system's wave function changes with space and time. 
        <br><strong>&Psi;</strong> is the system's wave function, 
        describing the particle's distribution over space.
        <br><strong>| &Psi; | <sup>2</sup></strong> describes the probability
        of finding the particle at a specific location.
        it can be considered in 1-Dimension for simplicity.
        <br>There are two versions of Schrodinger's Equation to be considered. One is <strong>time-dependent</strong>, such that the particles distribution changes with time.
        The other version is a <strong>time-independent</strong> Schrodinger Equation, where the distribution is constant regardless of time.
        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
    
     
</div>
