<div class="lesson-content">
    <div class="lesson-content-title">Modern Electron Shell Model</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">Shells</div>
        The shell structure of atoms arises from the Pauli Exclusion
        Principle (<i>“Identical fermions cannot occupy the same quantum 
            state”</i>), which is related to symmetry constraints of the wave 
        function. In an atom this means that a maximum of 2 electrons 
        (with opposite spin) can occupy an orbital. Additional electrons 
        must occupy higher energy orbitals.
        <br/><br/>
        <strong>Electron binding energy:</strong> An orbital electron is in a lower 
        energy state (more stable) than a free electron. The energy 
        differences is known as the binding energy.
        <br/><br/>
        <strong>Ionization:</strong> If an electron receives sufficient energy, 
        it can be ejected, or <strong>'ionized'</strong> from the atom.
        The resultant charged atom is an <strong>ion</strong>.
        
     <div class="col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive lesson-content-image img-rounded" src="/content/lesson1/assets/Ionization.svg" />
        <div>An electron ionized from an atom.</div>
    
    </div>
        
          <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
</div>
