<div class="lesson-content">
<div class="lesson-content-title">200.1 </div>
<div class="lesson-content-body">
        <div class="lesson-content-footer"><%- number %>  <%- group %></div>
</div>
</div>
