<div class="lesson-content container">
         
      <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                Traveling Waves
                <img class="lesson-content-image-icon2" src="/content/lesson1/assets/Wave.svg" alt='Wave'/>
            </span>
        </div>
     </div> 
    
      <div class="lesson-content-body">   
        <!-- TOP ROW-->
          <div class="row">
      <!-- LHS -->
     <div class="col-md-6 col-lg-6">       
        
        <div class="lesson-content-memo">Wave goodbye</div>
        <strong>Traveling Waves</strong> can be of any shape and move outward freely from a 
        source through a medium, carrying energy, but not 
        material. 
        A familiar example are waves propagating on the surface of water. 
        Traveling wave velocity is the product of frequency and wavelength (v = fλ).
        <strong>Non-dispersive</strong> waves, as shown here, travel at the same velocity, regardless of frequency (or wavelength).
        The amplitude (A) of a traveling sine wave is given by:

        <!-- begin MathToWeb -->
        <!-- (your LaTeX) $A=\sin(kx-\omega t )  k=2\pi/\lambda,   \omega = 2 \pi f$ -->
        <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
                <mi>A</mi>
                <mo>=</mo>
                <mi>sin</mi>
                <mrow>
                        <mo form="prefix">(</mo>
                        <mi>k</mi>
                        <mi>x</mi>
                        <mo>-</mo>
                        <mi>&#x003C9;</mi>
                        <mi>t</mi>
                        <mo form="postfix">)</mo>
                </mrow>
                <mi>where</mi>
                <mi>k</mi>
                <mo>=</mo>
                <mn>2</mn>
                <mi>&#x003C0;</mi>
                <mo>&#x0002F;</mo>
                <mi>&#x003BB;</mi>
                <mo>, and</mo>
                <mi>&#x003C9;</mi>
                <mo>=</mo>
                <mn>2</mn>
                <mi>&#x003C0;</mi>
                <mi>f.</mi>
        </mrow>
        </math>
        <!-- end MathToWeb -->
            <br/><br/>
     </div>

   <!-- TOP ROW RHS -->
     <div class="col-md-6 col-lg-6"> 
        <canvas class="lesson-content-canvas" width="800" height="400"></canvas>
     </div>
   
  </div>
 
       <div class="lesson-content-info"> Page 200.5 </div>
    </div>
</div>
