<div class="lesson-content">
    <div class="lesson-content-title">300.3 Classical Electromagnetism</div>
    <div class="lesson-content-body">
        
 
     <div class="row">   
         
     <div class="col-sm-6 col-md-6 col-lg-6">   
         <strong><mark>Electromagnetism (EM)</mark></strong> refers to a wide range of physical phenomena including 
    electricity, magnetism, light, optics, and radiation such as radio waves and X-rays. 
    Although these topics cover much of physics, they exclude gravitation and the two nuclear forces. 
    The word ‘classical’ refers to non-quantum physics, so the quantum concept of a photon as 
    a quantum of light is excluded.
    Therefore in classical electromagnetism 
    waves are treated as oscillating electric and magnetic fields. This theory was developed in 
    the 19th Century by Michael Faraday, James Clerk Maxwell, Oliver Heaviside and many others. 
    Classical electromagnetism is neatly encapsulated by <strong><mark>Maxwell's Equations</mark></strong> (1864) for the 
    electric and magnetic fields.
     </div>
         
    <div class="col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive lesson-content-image" src="/content/lesson1/assets/Charge_and_Field_001.png" />
        <div>Electric charge creates a field.</div>
    </div>
    
     </div>
    </div>
    
<!--<p><strong>Note:</strong> This example does not work in Internet Explorer and Safari.</p>!-->
<!--
<svg width="50%" height="200px">
<g id="R1" transform="translate(250 250)"> 
  <ellipse rx="100" ry="0" opacity=".4">
  <animateTransform attributeName="transform" type="rotate" dur="7s" from="0" to="360" repeatCount="indefinite"/>
  <animate attributeName="cx" dur="8s" values="-20; 220; -20" repeatCount="indefinite"/>
  <animate attributeName="ry" dur="3s" values="10; 60; 10" repeatCount="indefinite"/>
  </ellipse>
</g>
<use xlink:href="#R1" transform="rotate(72 390 150)"/>
<use xlink:href="#R1" transform="rotate(144 390 150)"/>
<use xlink:href="#R1" transform="rotate(216 390 150)"/>
<use xlink:href="#R1" transform="rotate(288 390 150)"/>
</svg>!-->
    
<!--  This is breaking iPhone
<svg width="600" height="50">
<circle cx="25" cy="25" r="25" style="fill:crimson">
<animate attributeType="CSS" attributeName="cx" from="25" to="650" begin="1s" dur="3s" fill="freeze" /> 
</circle>
  your browser does not support inline SVG.  
</svg>
-->

<!--
<svg width="800" height="50">
  <rect x="20" y="00" width="800" height="5" style="fill:crimson">
    <animate attributeType="CSS" attributeName="opacity" from="0" to="1" dur="3s" repeatcount='0' />
    
<animate attributeType="CSS" attributeName="x" from="0" to="500" dur="10s" repeatCount="indefinite"/>    
    
  </rect>
  Sorry, your browser does not support inline SVG.  
</svg>
!-->

</div>

