<div class="lesson-content container">
    <div class="lesson-content-title">Angular Momentum</div>

    <div class="lesson-content-body">
        <div class="row">
            <div class="col-md-6 col-lg-6"> 
              <div class="lesson-content-memo">Rotation</div>  
                    The <strong><mark>Linear Momentum</mark></strong> of an object is the product of its mass and velocity (p = mv), 
                corresponding to the idea of inertia. Moving at the same velocity, a heavy object has more 
                momentum than a lighter one. An applied force causes an object to move faster,  
                increasing its momentum. 
                The total momentum for all objects before a collision 
                equals the total momentum afterwards. This is known as the <strong>conservation of momentum</strong> and 
                is a very important principle in mechanics. 
                <br/><br/>
                <strong><mark>Angular Momentum</mark></strong> is the equivalent concept for 
                rotating objects, and is also a conserved quantity. Angular momentum can be either in the form of an 
                object spinning by itself (spin angular momentum) or alternatively due to rotation about another object.
                In the latter case (orbital angular momentum), there is a central force, such as gravity.

                <br/><br/>
                Angular momentum is also prominent in quantum mechanics. Many fundamental particles, 
                such as the electron, have intrinsic spin angular momentum.
            </div>  
            
             <div class="col-md-6 col-lg-6"> 
                 <canvas class="lesson-content-canvas" width="400" height="200"></canvas>
             </div>
        </div>
        <div class="lesson-content-info"> Page 300.4 </div>
    </div>
    
</div>
