<div class="lesson-content container">
    
     <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                Classical Solar System Atom (1910's)
                <img class="lesson-content-image-icon" src="/content/lesson1/assets/SolarPlay.svg" alt='Solar'/>
            </span>
        </div>
     </div>
    
    <div class="lesson-content-body">
        
        <div class="row">
             <!-- LHS -->
             <div class="col-md-6 col-lg-6">
                 <div class="lesson-content-memo">The stability of atoms was a mystery to classical physics</div>
                 
                 Following the discovery of the nucleus (a highly concentrated region of positive charge), 
                 no sensible classical model of the atom could be built.

                 According to <strong><mark>classical mechanics</mark></strong>, an object like an electron can only be
                 accommodated as orbiting the nucleus, in the same way that planets orbit the 
                 sun. However according to <strong><mark>classical electromagnetism</mark> </strong>, such orbital electrons 
                 would continuously radiate energy and very rapidly spiral into the nucleus. 
                 There is no solution to this contradiction within the classical framework. The 
                 solar-system model has other limitations, for instance it can not explain a 
                 discrete spectrum. The unfortunate conclusion is that in classical physics is 
                 that stable atoms cannot exist, and the classical world is a world without any understanding of 
                 internal atomic structure.
                  
             </div> 

            <!-- RHS -->
                 <div class="col-sm-12 col-md-6 col-lg-6">
                A classical charge would fall into the nucleus:
                    <input type="button" value="Add 'classical charge'" class="lesson-content-button">
                    <br/>
                    <canvas class="lesson-content-canvas" width="400" height="200"></canvas>
                </div>          
        </div>
    
        <div class="col-md-6 col-lg-6">
            <div class="lesson-content-info"> Page 400.3 </div>
        </div> 
        
    </div>
</div>