<div class="lesson-content">
<div class="lesson-content-title">Bohr Quantized Atom (1913)</div>
<div class="lesson-content-body">
    
    <div class="lesson-content-memo"> Bohr imposed restrictions on electron motion </div>  
    
    In 1913 Niels Bohr proposed a classical orbital atomic 
    model, but with an <i>ad hoc</i> non-classical twist - 
    quantization of electron orbital <strong>angular momentum</strong> 
    (↑). This is now known as the 'old' quantum theory. Bohr's model made many correct and useful 
    predictions, but was clearly only a first step. Some of 
    the most useful results from this early quantum theory 
    were:
    <ul>
        <li>Existence of discrete electron energy levels,</li>
        <li>Transitions between levels explain discrete spectra,</li>
        <li>A derivation of the Rydberg formula for spectral lines.</li>
    </ul>
    Nevertheless, there were also clear limitations of Bohr’s
    theory because it was only accurate for single-electron 
    atoms, and it was a semi-classical approach without 
    any explanation of why the quantization idea worked 
    so well. 
</div>

<img class="img-responsive lesson-content-image" src="/content/lesson1/assets/AtomPlay.svg" />
<div>Solar System Atom</div>
    <div class="lesson-content-memo"> Page 400.4 </div>
</div>