<div class="lesson-content">
    <div class="lesson-content-title">Plum Pudding Atom (1904)</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">Before the discovery of the nucleus...</div>
        
        Thomson proposed a simple model in which electrons were embedded in some positively charged substance. 
        This rudimentary model was proposed after the electron had been discovered, 
        but before it was known that there was a nucleus.
     </div>

        <img class="lesson-content-image" src="/content/lesson1/assets/Pudding.svg" alt='Atom'/>
       <div class="lesson-content-memo"> Page 400.2 </div>
</div>
