<div class="lesson-content container">
    <div class="lesson-content-title">Beyond the Quantum Atom</div>
    <div class="lesson-content-body">
        
         <!-- LHS -->
     <div class="col-sm-12 col-md-6 col-lg-6">   
        <strong>Special Relativity & Electron Spin</strong><br/>
        In 1928 Paul Dirac introduced another quantum wave equation that had several advantages.
        These included consistency with special relativity, a treatment of electron spin
        and a prediction of anti-matter.
         <br/><br/>
         
        <strong>Quantization of the EM Field</strong><br/>
        Treating the electromagnetic fields as quantum (rather than classical) results in a 
        theory called <strong><mark>Quantum Electrodynamics (QED)</mark></strong>. This theory also  handles particle creation 
        and annihilation. There is an excellent highly readable book on this by Richard Feynman 
        (QED: The Strange Theory of Light and Matter).
        
       <br/><br/>      
        <strong>Interpretation of the Wave Function</strong><br/>
        Quantum mechanical calculations are very well understood and can be highly accurate,
        however this does not mean that all is clear.
        In the ‘quantum foundations’ community it has been a long standing matter of debate 
        what quantum mechanics means and the wave function actually is or represents. 
        Many different interpretations have been offered, but there is no consensus.
        
         <div class="lesson-content-info"> Page 400.8 </div>
     </div>
         
         <!-- RHS -->
    <div class="col-sm-0 col-md-6 col-lg-6">
        <img class="img-responsive lesson-content-image" src="/content/lesson1/assets/WaveStanding.svg" />    
    </div>
         
</div>
 <!--
    <canvas id="myCanvas" width="450" height="100" style="border:1px solid #c3c3c3;">
Your browser does not support the HTML5 canvas tag.
</canvas>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.fillStyle = "#FF0000"; ctx.fillRect(0,0,150,99);
ctx.fillStyle = "#00FF00"; ctx.fillRect(150,0,150,99);
ctx.fillStyle = "#0000FF"; ctx.fillRect(300,0,150,99);
//ctx.moveTo(0,0); ctx.lineTo(200,100); ctx.stroke();
//ctx.beginPath(); ctx.arc(95,50,40,0,2*Math.PI); ctx.stroke();
</script>
 
<p><button onclick="DoCanvas()">LOAD WAVE</button></p>
!-->
<!-- IMAGE !-->
<!--
<span id='ima'>
<img id="scream" src="/content/lesson1/assets/Wave.svg" alt="The Scream" width = "300">
</span>
<script>
function DoCanvas() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var img = document.getElementById("scream");
    ctx.drawImage(img,0,0);
    document.getElementById("ima").innerHTML = " ";
}
</script>
!-->
   
</div>
