<div class="lesson-content">
    <div class="lesson-content-title">Classical Solar System Atom (1910's) </div>
    <div class="lesson-content-body">
        
        <div class="lesson-content-memo">The stability of atoms was a mystery to classical physics</div>
        
 Following the discovery of the nucleus (a highly concentrated region of positive charge), 
 no sensible classical model of the atom could be built.
 
 According to <strong>classical mechanics</strong>, an object like an electron can only be
accommodated as orbiting the nucleus, in the same way that planets orbit the 
sun. However according to <strong>classical electromagnetism</strong>, such orbital electrons 
would continuously radiate energy and very rapidly spiral into the nucleus. 
There is no solution to this contradiction within the classical framework. The 
solar-system model has other limitations, for instance it can not explain a 
discrete spectrum. The unfortunate conclusion is that in classical physics is 
that stable atoms cannot exist, and the classical world is a world without any understanding of 
internal atomic structure.
     
    <br/>
    <input type="button" value="Add 'classical electron' and see it fall into the nucleus" class="lesson-content-button">
    <br/>
    <canvas class="lesson-content-canvas-sandbox" width="400" height="200"></canvas>


    <img class="img-responsive lesson-content-image" src="/content/lesson1/assets/SolarPlay.svg" />
    <div>Solar System Atom</div>
    <div class="lesson-content-memo"> Page 400.3 </div>
</div>
