<div class="lesson-content container">
    
     <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                Bohr Quantized Atom (1913)
                <img class="lesson-content-image-icon" src="/content/lesson1/assets/AtomPlay.svg" alt='Bohr Atom'/>
            </span>
        </div>
     </div>    
    

    <div class="lesson-content-body">
    
    <div class="lesson-content-memo"> Bohr imposed restrictions on electron motion </div>  
    
     <!-- LHS -->
     <div class="col-md-8 col-lg-7">   
         <h3>Quantization</h3>
        In 1913 Niels Bohr proposed a classical orbital atomic 
        model, but with an <i>ad hoc</i> non-classical twist - 
        quantization of electron orbital <strong><mark>angular momentum</mark></strong> 
        (↑). This is now known as the 'old' quantum theory. Bohr's model made many correct and useful 
        predictions, but was clearly only a first step. Some of 
        the most useful results from this early quantum theory 
        were:
        <ul>
            <li>Existence of discrete electron energy levels,</li>
            <li>Transitions between levels explain discrete spectra,</li>
            <li>A derivation of the Rydberg formula for spectral lines.</li>
        </ul>
        
        <h3>Limitations</h3>
        Nevertheless, there were also clear limitations of Bohr’s
        theory because it was only accurate for single-electron 
        atoms, and it was a semi-classical approach without 
        any explanation of why the quantization idea worked so well. 
        <div class="lesson-content-info"> Page 400.4 </div>
    </div>

     <!-- RHS -->
    <div class="col-md-4 col-lg-5">
        <img class="img-responsive lesson-content-image" src="/content/lesson1/assets/AtomPlay.svg" />
        <div>Atom</div>
    </div>
    
    </div>
</div>