<div class="lesson-content container">
    
       <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                Dalton's Atoms (1805)
                <img class="lesson-content-image-icon" src="/content/lesson1/assets/Dalton.svg" alt='Atom'/>
            </span>
        </div> 
    
    
    <div class="lesson-content-body col-lg-12">
        
        <div class="lesson-content-memo">The idea of atoms</div>  
        
        <!-- LHS -->
         <div class="col-md-8 col-lg-7">        
            Very early, John Dalton the developed principles of an atomic theory:
           <br/>
            <ol>
                <li>Pure elements consist of atoms</li>
                <li>The atoms of a specific element are identical</li>
                <li>Atoms cannot be sub-divided</li>
                <li>Atoms of different elements differ in atomic weight</li>
                <li>Atoms unite to form chemical compounds</li>
                <li>Atoms cannot be created or destroyed by chemical reactions</li>             
            </ol> 

           However, Dalton had no theory of <mark>internal atomic structure.</mark>
           In 1808 Dalton published <em>A New System of Chemical Philosophy</em>.
           He was also known for studying colour-blindness.
            <div class="lesson-content-info"> Page 400.1 </div>
        </div>

        <!-- RHS -->
        <div class="col-md-4 col-lg-5">
        <img class="lesson-content-image" src="/content/lesson1/assets/Dalton.svg" alt='Atom'/>
        </div>


    </div>
</div>
