<div class="lesson-content container">
    <div class="lesson-content-title"> QUIZ</div>
    <div class="lesson-content-body">
        
         <!-- LHS -->
     <div class="col-sm-12 col-md-6 col-lg-6">   
        <strong>Special Relativity & Electron Spin</strong><br/>
     
           
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
     </div>
         
</div>

</div>
