<div class="lesson-content container">
    <div class="lesson-content-title">Plum Pudding Atom (1904)</div>
    <div class="lesson-content-body-large">
        <div class="lesson-content-memo">Before the discovery of the nucleus...</div>
             
        <div class="row">
        <!-- LHS -->
         <div class="col-md-8 col-lg-7">
            Thomson proposed a simple model in which electrons were embedded in some positively charged substance. 
            This rudimentary model was proposed following the discovery of the electron, 
            but before it was known that there was a nucleus.
           <div class="lesson-content-info"> Page 400.2 </div>
         </div>

        <!-- RHS -->
        <div class="col-md-4 col-lg-5">        
            <img class="lesson-content-image" src="/content/lesson1/assets/Pudding.svg" alt='Atom'/>
        </div>
        </div>
</div>
</div>
