<div class="lesson-content container">
    
    <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                Atomic Models
                <img class="lesson-content-image-icon" src="/content/lesson1/assets/AtomPlay.svg" alt='Atom'/>
            </span>
        </div>
    
    <div class="lesson-content-body">
       <!-- LHS -->
       <div class="col-md-6 col-lg-6">     
            This lesson describes the historical progression of atomic models: 
            <br/>
            <table class="lesson-content-table">
                <tr><td>1805  </td>  <td>Dalton's Atomic Theory</td> </tr>
                <tr><td>1904  </td>  <td>Thomson Plum Pudding Atom</td> </tr>
                <tr><td>1910s </td>  <td>Classical Rutherford Nuclear Atom</td> </tr>
                <tr><td>1913  </td>  <td>Bohr Atom (Old Quantum Theory)</td> </tr>
                <tr><td>1920s </td>  <td><strong><mark>Quantum Mechanical Atom</mark></strong></td> </tr>
                <tr><td>1940+ </td>  <td>Beyond the Quantum Mechanical Atom</td> </tr>
            </table>
            
            <br/>
            <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>  
            <div class="lesson-content-info"> Page 400.0 </div>
      </div>  
   
        <!-- RHS -->
        <div class="col-md-6 col-lg-6">
         <canvas class="lesson-content-canvas" width="800" height="400"></canvas>
        </div>
    </div>
</div>
</div>
