<div class="lesson-content container">
    <div class="lesson-content-title">Atomic Models</div>
    <div class="lesson-content-body-large">
        
   <!-- LHS -->
   <div class="col-md-8 col-lg-7">     
        This lesson describes the historical progression of atomic models:
        <br/><br/>
         
         <ul style="list-style-type:none">
             <li>1) Dalton's Atomic Theory</li>
             <li>2) Thomson Plum Pudding Atom</li>             
             <li>3) Classical Solar System (Failure)</li>
             <li>4) Bohr Atom (Old Quantum Theory)</li>
             <li>5) Quantum Mechanical Atom</li>
             <li>6) Beyond the Quantum Mechanical Atom</li>            
         </ul>

        <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>  
        <div class="lesson-content-info"> Page 400.0 </div>
  </div>  
   
    <!-- RHS -->
    <div class="col-md-4 col-lg-5">
     <img class="lesson-content-image" src="/content/lesson1/assets/AtomPlay.svg" alt='Atom'/>
    </div>

    
</div>
</div>
