<div class="lesson-content">
    <div class="lesson-content-title">Quantum Atom 3 - Orbitals as trapped electron waves</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">Atomic electrons are fully wave-like</div>
        
        The cloud shaped electron patterns arise from trapping a 3D matter wave in a 3D 
        trap, as defined by the electric field of the nucleus.
        
        Each orbital corresponds to an allowed mode for the
        electron wave, as constrained by the nuclear potential.
        
        The fact that only two electrons (of opposite spin)
        are allowed within each orbital is known as the
        the <strong>Pauli Exclusion Principle</strong>.
        <br/><br/>
        It is not correct to think of atomic electrons as point particles with defined trajectories. 
        Rather, imagine a diffuse vibrating wave-like cloud.
        Atomic electrons do not have a classical-style kinetic energy 
        (i.e. you cannot use 
        <sup>1</sup>/<sub>2</sub>mv<sup>2</sup>
        )
        because there is no defined velocity. 
        The situation is different however for free (unbound) electrons,
        for which 
        <sup>1</sup>/<sub>2</sub>mv<sup>2</sup>
        can be used (provided v is much less than the speed of light, c).
        
    </div>
   
<img class="img-responsive lesson-content-image" src="/content/lesson1/assets/FunnelWave.svg" />
<img class="img-responsive lesson-content-image" src="/content/lesson1/assets/OrbitalsCrop.png" />    
    <div class="lesson-content-memo"> Page 400.7 </div>

</div>
