<div class="lesson-content container">
    <div class="lesson-content-title">Dalton's Atoms (1805)</div>
    <div class="lesson-content-body">
        
        <div class="lesson-content-memo">The idea of atoms</div>  
        
        <!-- LHS -->
         <div class="col-sm-6 col-md-6 col-lg-6">        
            Very early, Dalton the developed principles of an atomic theory:
           <br/><br/>
            <ul>
                <li>Pure elements consist of atoms</li>
                <li>The atoms of a specific element are identical</li>
                <li>Atoms cannot be sub-divided</li>
                <li>Atoms of different elements differ in atomic weight</li>
                <li>Atoms unit to form chemical compounds</li>
                <li>Atoms cannot be created or destroyed by chemical reactions</li>             
            </ul> 

           However, Dalton had no theory of <mark>internal atomic structure.</mark>
            <div class="lesson-content-info"> Page 400.1 </div>
        </div>

        <!-- RHS -->
        <div class="col-sm-6 col-md-6 col-lg-6">
        <img class="lesson-content-image" src="/content/lesson1/assets/Dalton.svg" alt='Atom'/>
        </div>


    </div>
