<div class="lesson-content">
    <div class="lesson-content-title">Atomic Models</div>
    <div class="lesson-content-body">
         
        This module describes the progression of atomic models:
        <br/><br/>
         
         <ul style="list-style-type:none">
             <li>1 ___ Dalton's Atomic Theory</li>
             <li>2 ___ Thomson Plum Pudding Atom</li>             
             <li>3 ___ Classical Solar System (Failure)</li>
             <li>4 ___ Bohr Atom (Old Quantum Theory)</li>
             <li>5 ___ Quantum Mechanical Atom</li>
             <li>6 ___ Beyond the Quantum Mechanical Atom</li>            
         </ul>

         <aside style="float: left"> 
             <img class="lesson-content-image" src="/content/lesson1/assets/AtomPlay.svg" alt='Atom'/>
         </aside>
    </div>
    
        <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>  
    <div class="lesson-content-memo"> Page 400.0 </div> 
    
</div>
