<div class="lesson-content">
    <div class="lesson-content-title">Modern Electron Shell Model</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">Shells</div>
        The shell structure of atoms arises from the Pauli Exclusion
        Principle (<i>“Identical fermions cannot occupy the same quantum 
            state”</i>), which is related to symmetry constraints of the wave 
        function. In an atom this means that a maximum of 2 electrons 
        (with opposite spin) can occupy an orbital. Additional electrons 
        must occupy higher energy orbitals.
        <br/><br/>
        <strong>Electron binding energy:</strong> An orbital electron is in a lower 
        energy state (more stable) than an free electron. The energy 
        differences is known as the binding energy.
        <br/><br/>
        <strong>Excitation (electron transition):</strong> An electron may transition 
        between allowed orbitals by emission or absorption of a photon.
        <br/><br/>
        <strong>Ionization, Ion:</strong> If an electron receives sufficient energy to be 
        ejected from the atom, this is known as ionization and the 
        resultant charged atom as an ion.
        
          <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
</div>
