<div class="lesson-content container">
    
     <div class="row">    
        <div class="lesson-content-title col-lg-12">
            <span>
                More on Electrons in the Quantum Atom
                <img class="lesson-content-image-icon" src="/content/lesson1/assets/WaveStanding.svg" alt='Standing Wave'/>
            </span>
        </div>
     </div>    

    <div class="lesson-content-body">
    
    <div class="row">
         <!-- LHS -->
         <div class="col-md-6 col-lg-6"> 
         <div class="lesson-content-memo"> Atomic electrons</div> 
           
                 Consider the simple case of static atom, not undergoing any electronic transitions.

                 <h3>Constant</h3>
                For all electrons always, these are constants:
                <ul>
                    <li>The electron mass (xxx kg)</li>	
                    <li>Electric charge,  (xxx C)</li>
                    <li>Magnitude of its spin, (xxx hbar/2)</li>
                    <li>Magnetic moment: (xxx )</li> 	 
                </ul>
                
                <h3>Definite for atomic electrons:</h3>
                <ul>
                    <li>the number of electrons; (e.g. 92 for Uranium atom)</li>   
                    <li>energy of each electron (but different electrons have different energies)</li> 
                </ul>
 
                <h3>Indefinite: </h3>
                <ul>
                    <li>the location of an electron</li>
                    <li>the linear momentum of an electron</li>
                    <li>the three components of spin</li> 
                </ul>
               
                So atomic electrons do not have: a location, a velocity, a trajectory. 


            <h3>Free Electrons</h3>
            The situation is different however for free (unbound) electrons,
            for which 
            <sup>1</sup>/<sub>2</sub>mv<sup>2</sup>
            can be used (provided v is much less than the speed of light, c).          
            
            
        </div>

         <!-- RHS -->
        <div class="col-md-6 col-lg-6">   
            TBD 
        </div>
    </div>
     
     <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
    
</div>