<div class="lesson-content">
    <div class="lesson-content-title">The Schrodinger Equation</div>
    <div class="lesson-content-body">
        
        The electron wave function is specified by two numbers at each point in space. 
        This is usually represented by a complex-valued wave function. 
        A complex number is equivalent to a magnitude and a phase.
        
        
         <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
    
     
</div>
