<div class="lesson-content">
    <div class="lesson-content-title">Successes of Quantum Atom</div>
    <div class="lesson-content-body">
        The quantum mechanical model of the atom has been highly successful.
        
        The model is based upon a combination of a
classical electric potential with quantum electron wave functions. This hybrid 
approach has been very successful, in part because (from the outside) the nucleus 
can often be well approximated as a classical object producing an classical electric field.

    </div>
</div>