<div class="lesson-content container">
    <div class="lesson-content-title">Atomic Spectra & Rydberg Formula</div>
    <div class="lesson-content-body">
        
        
    <div class="col-sm-10 col-md-8 col-lg-6">   
        <p>
        Atoms are found to emit or absorb light of specific
    colours only. Rydberg found a simple formula (below) 
    which described the colours of the hydrogen spectrum. 
    In this equation λ is the wavelength, <i>R</i> the Rydberg 
    constant, and <i>n<sub>1</sub></i> and <i>n<sub>2</sub></i> integers.
        </p>
    <span class="lesson-content-formula">
        <!-- begin MathToWeb -->
<!-- (your LaTeX) $ {1\over \lambda }= R ( {1 \over n_{1}^{2}} -{1 \over n_{2}^2} ) $ -->
<math mathsize="big" xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mfrac linethickness="1">
		<mn>1</mn>
		<mi>&#x003BB;</mi>
	</mfrac>
	<mo>=</mo>
	<mi>R</mi>
	<mrow>
		<mo form="prefix">(</mo>
		<mfrac linethickness="1">
			<mn>1</mn>
			<mrow>
				<msubsup>
					<mi>n</mi>
					<mn>1</mn>
					<mn>2</mn>
				</msubsup>
			</mrow>
		</mfrac>
		<mo>-</mo>
		<mfrac linethickness="1">
			<mn>1</mn>
			<mrow>
				<msubsup>
					<mi>n</mi>
					<mn>2</mn>
					<mn>2</mn>
				</msubsup>
			</mrow>
		</mfrac>
		<mo form="postfix">)</mo>
	</mrow>
</mrow>
</math>
<!-- end MathToWeb -->
    </span>
   
        <br/><br/>
        <img class="img-responsive lesson-content-image" src="/content/lesson1/assets/640px-Titanium_spectrum_visible.png" />
        <figcaption>An atomic spectrum</figcaption>
        <!-- https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Titanium_spectrum_visible.png/640px-Titanium_spectrum_visible.png-->
    </div>        
            
            
    </div>
</div>