<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Annihilation Event</div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="col-md-8 col-lg-8">
        <div class="lesson-content-memo">  Slowed positrons are destroyed by electrons, emitting new X-rays</div>
      
        When the positron is finally brought to rest, it will annihilate with an electron.
        It is usually assumed that the positron has zero KE prior to annihilation.
        Annihilation releases the mass of two particles, i.e. 1.022 MeV, as photon energy.
        To obey the conservation of momentum, these two 511 KeV photons travel in opposite directions.
        
        <h3>Annihilation Photons in Radiotherapy</h3>
        In radiotherapy, the two 0.511 MeV annihilation photons do not deposit local dose because they may travel far.
        They may undergo Compton scattering and deposit dose elsewhere, or they may escape the body entirely.    
      </div>

      <div class="col-md-4 col-lg-4">
          <img class="lesson-content-image" src="/content/lesson7/assets/PairProd.svg"/>
      </div>
  
    </div>
            
  <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
