<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Collision Cross Section</div>
  <div class="lesson-content-body col-xs-12 ">

    <div class="col-md-8 col-lg-8">
        <div class="lesson-content-memo"> Hit or miss</div>
        The concept of 'Cross-Section' expresses the probability of a collision happening.
        The production event is a essentially a collision between an X-ray photon and an atomic nucleus.
        The idea of 'cross-section' is used for any type of collision or 
        interaction and is closely related to attenuation coefficient.
        
        <h3>Visualization</h3>
        Pretend that the target is a little circle. 
        If the incident particle passes through the circle then the interaction occurs (‘a hit’). 
        The cross-section is the area of this imaginary circle.
        <br/><br/>
        There are a variety of units used:
        <ul>
            <li>cm<sup>2</sup>/atom</li>
            <li>cm<sup>2</sup>/electron</li>
            <li>cm<sup>2</sup>/gram</li>
            <li>m<sup>2</sup>/gram</li>
        </ul>   
    </div>

  </div>       
  <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
