<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Introduction to Pair Production </div>
  <div class="lesson-content-body col-xs-12 ">

    <div class="col-md-7 col-lg-7">
        <div class="lesson-content-memo">  X-rays can create matter </div>
            "Pair production" (PP) is a process which may occur when X-rays penetrate an object.
            <ul>
                <li>PP is a mechanism of dose delivery in radiotherapy for high energy beams</li>
                <li>PP involves the creation of electron - positron pairs</li>
                <li>A positron is an anti-electron. It is identical except the charge is opposite.</li>
                <li>PP occurs more readily for high energy photons and high-Z targets</li>
                <li>The positron is short-lived. It is destroyed in an annihilation event.</li>
            </ul>    
    </div>
    <!--
    In addition to a full description, this module features an
    animation of pair production and an interactive graph showing
    the probability of pair production occurring varies in different situations. 
    -->
      
    <div class="col-md-5 col-lg-5">
      <div><img class="lesson-content-image" src="/content/lesson7/assets/PairProdPlay.svg"/></div>
    </div>
    
   <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>
       <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
  </div>
</div>
