<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">200.1 Pair Production Animation </div>
  <div class="lesson-content-body col-xs-12 lesson-content-bottom">
      
      <div class="lesson-content-memo">  Matter is created in the human body</div>
        
        <canvas class="lesson-content-canvas" width="550" height="400" style="background-color:#FFFFFF"></canvas>
    </div>
</div>
