<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Annihilation Event</div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-memo">  Slowed positrons are destroyed by electrons, emitting new X-rays</div>
      
      When the positron is finally brought to rest, it will annihilate with an electron.
One can usually assume that the positron has zero KE upon annihilation.
Annihilation releases the mass of two particles, i.e. 1.022 MeV, as photon energy.
To obey the conservation of momentum, these two photons travel in opposite directions.

In radiotherapy, the annihilation photons do not deposit local dose because they may travel far.
They may undergo Compton scattering and deposit dose elsewhere, or they may escape the body entirely. 

  <div><img class="lesson-content-image" src="/content/lesson7/assets/PairProd.svg"/></div>
        </div>
            
  <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
