<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">200.7 Pair Production Quiz</div>
  <div class="lesson-content-body col-xs-12 lesson-content-bottom">

    </div>
    <img class="lesson-content-image" src="/content/lesson7/assets/PairProd.svg"/>
</div>
