<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">200.0 Introduction to Pair Production </div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-memo">  X-rays can create matter </div>
      
      "Pair production" is a process which may occur when X-rays penetrate an object,
    and can occur in radiotherapy.
    <!--
    In addition to a full description, this module features an
    animation of pair production and an interactive graph showing
    the probability of pair production occurring varies in different situations. 
    -->
    
    <div><img class="lesson-content-image" src="/content/lesson7/assets/PairProdPlay.svg"/></div>
   <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>
  </div>
</div>
