<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Electron and Positron Production Event</div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-memo">  An X-ray photon encounters an intense electric field</div>
      
      <strong>Description of production event:  </strong>
        Electron-positron (e-p) pair production is an interaction between an X-ray photon and an intense electric field, 
        resulting in creation of matter and anti-matter. 
        Usually this electric field is provided by an atomic nucleus, 
        but sometimes the field from an electron also serves. This latter process is called (rather inaccurately)
        <strong>triplet production</strong> 
        because the pre-existing electron emerges from the interaction with high energy.
        Energy, charge and lepton number are conserved. 
        The photon is destroyed, while the nucleus feels a small recoil.

        <br/><br/>
        <strong>Conditions for production event: </strong>
        The photon energy must be greater than threshold energy:  
        1.022 MeV

        <br/><br/>
        <strong>Probability of production event (more below):  </strong>
        Production depends upon the photon energy, 
        the electric field strength (i.e. Z) and the density (i.e. how many nuclei there are). 
        The probability of an event can be described by the Collision Cross-Section.
  
        <br/><br/>
        <strong>After the production event: </strong>
        The excess energy is shared randomly between the two created charged particles as kinetic energy.
        
    <img class="lesson-content-image" src="/content/lesson7/assets/PairProd.svg"/>
        </div>
            
  <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
