<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">200.4 Absorption of Dose</div>
      <div class="lesson-content-body col-xs-12 lesson-content-bottom">

          <div class="lesson-content-memo">  Deposited energy damages cells</div>

     Both charged particles will dissipate energy in the medium, such as the human body.
    This loss of kinetic energy occurs by ionization and excitation.
    In radiotherapy this absorption of energy in the body is 'dose', and is measured in J/kg.

      <div> <img class="lesson-content-image" src="/content/lesson7/assets/PairProd.svg"/> </div>
            <br/><br/>
      </div>
  </div>
