<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">200.2 Pair Production Overview </div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-memo"> The main steps</div>
 
        <!--As was shown in the animation, -->
        Here are the main steps in the pair production process:
        <br/><br/>  

        <ol>
        <li>Incident MeV X-ray photon</li>
        <li>Production Event (X-ray collision with nucleus)</li>
        <li>Dose deposition from high energy charged particles</li>
        <li>Annihilation of positron, with emission of two gammas</li>
        </ol>

        <img class="lesson-content-image" src="/content/lesson7/assets/PairProd.svg"/>
    </div>
</div>
