<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Level Quiz </div>
  <div class="lesson-content-body col-xs-12 ">

<div class="lesson-content-question"><strong>Q1) List the order in the process of pair production:
    <br>i) Dose deposition from high energy charged particles.
    <br>ii) Incident MeV X-ray photon.
    <br>iii) Annihilation of positron, with emission of two gammas.
    <br>iv) Production event (X-ray collision with nucleus).</strong>
    <ol type="A">
        <li>i), iii), ii), iv)</li>
        <li>i), iii), iv), ii)</li>
        <li>ii), iii), i), iv)</li>
        <li>ii), iv), i), iii)</li>
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="YES."> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
<div class="lesson-content-question"><strong>Q2) In pair production, __________ is conserved.</strong>
    <ol type="A">
        <li>Energy and charge.</li>
        <li>Energy, charge and lepton number.</li>
        <li>Energy and lepton number.</li>
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
		
<div class="lesson-content-question"><strong>Q3) What is the condition for production event?</strong>
    <ol type="A">
        <li>Photon energy greater than the threshold energy of 1.022MeV.</li>
        <li>Photon energy equal to the threshold energy of 1.022MeV.</li>
        <li>Photon energy less than the threshold energy of 1.022MeV.</li>
    </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
      <div class="lesson-content-question"><strong>Q4) What is kinetic energy lost through?</strong>
 <ol type="A">
            <li>Mass.</li>
            <li>Ionization and excitation.</li>
           <li>Movement.</li>

	      </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
	      <div class="lesson-content-question"><strong>Q5) Define 'dose' in radiotherapy.</strong>
        <button type="button" class="lesson-content-question-reveal" data-answer="Absorption of energy in the body."> ANSWER </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
		
		      <div class="lesson-content-question"><strong>Q6) What is dose measured in?</strong>
        <ol type="A">
            <li>Joules</li>
            <li>Joules/kg</li>
           <li>MeV</li>
					<li>MeV/kg</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>		
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
      <div class="lesson-content-question"><strong>Q7) Annihilation releases two photons travelling in what direction?</strong>
        <ol type="A">
            <li>Opposite directions.</li>
            <li>Same directions.</li>
        </ol>     
				<button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    		

    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>

