<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">300.5 Positron Emission Tomography (PET)</div>
  <div class="lesson-content-body col-xs-12 ">
      
      <div class="lesson-content-memo">  Medical imaging is a major application of positrons</div>
      
      This process involves positrons, but they arise from radioactivity, not from X-ray bombardment.
    Summary of the the PET imaging process:  
      <br/><br/>
    <ol>
    <li>A beta-plus radioactive emitter is created in a cyclotron </li>
    <li>this is used to make a radiopharmaceutical, which is injected into a patient </li>
    <li>A positron is produced from beta-plus radioactive decay and travels a short distance (mm)</li>
    <li>the positron annihilates with an electron creating two 511 keV photons</li>
    <li>These two 511keV photons are detected outside the body, but other processes may also occur. </li>
    <li>‘Coincidence’ detection is used o detect photons generated together </li>
    <li>A PET image is reconstructed showing the distribution of the radiopharmaceutical in the body.
 </li>

    </ol>

    </div>
            
  <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>


