<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">300.3 Energy Balance in the Production Event</div>
  <div class="lesson-content-body col-xs-12 ">
  
      <div class="lesson-content-memo">  Mass-energy is conserved</div>
  
  Einstein showed that the principle of energy conservation 
  must be extended to account for the intrinsic energy that particles possess due to their mass:
   <i>mass/c<sup>2</sup></i>, 
  where <i>c</i> is the speed of light.
  <br/><br/>
  
      <ul>
    <li> For pair production to occur, the incident X-ray photon must have an energy greater than the
        threshold energy of 1.022 MeV.</li>
    <li> BEFORE the event, the only energy is that of the photon: E<sub>BEFORE</sub>= hf.</li>
    <li> AFTER the event, there is no photon, 
        but the charged particles created have both mass-energy and kinetic energy (KE).</li>
    <li>    E<sub>AFTER</sub> = 1.022 MeV + Electron KE + Positron KE</li> 
    <li>The energy TRANSFERRED to KE of charged particles is:   κEtr = (hf – 1.022)  MeV,
    the kinetic energy of the nucleus is neglected. </li>
    <li>511 keV is used to make an electron, which remains tied-up in the mass (forever).</li>
    <li>Another 511 keV is used to make the positron, which is radiated away in the annihilation event.</li>
    <li>The X-ray beam is attenuated due to pair production:     I = I<sub>0</sub> e<sup>-κx</sup></li>
    <li>Energy Transfer Coefficient:  
        κtr = κ (hf-1.022)/hf. 
        The beam energy used to create matter particles is not transferred into kinetic energy.</li>

    </ul>

    </div>
</div>
