<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">600.3 Z Dependence</div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-memo">Higher Z, more pairs </div>
      
      The attenuation coefficient for pair production (κ) varies as:
      <ul>
          <li>Z<sup>2</sup> per atom</li>
           <li>Z per electron</li>
           <li>Z per gram</li>          
      </ul>

Example: 1g of lead (Z=82) absorbs about 10 times as much energy by pair production as does 1g oxygen (Z=8).

    </div>
</div>
