<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">600.3 Interactive Graph of E & Z Dependence</div>
  <div class="lesson-content-body col-xs-12 ">

The cross section for pair production depends upon both the energy of the incident photon (E),
and the Z of the nucleus.
<br/>

<a target="_blank" href="https://dl.dropboxusercontent.com/spa/8nr7is7d6c3biz9/Exports/Pair%20Production%20Draft%205/Pair%20Production%20Draft%205.html">
    Click for interactive graph (opens in a new tab).
   <img class="img-responsive lesson-content-image" src="/content/lesson7/assets/PairGraphMockup.svg" />
</a>

    </div>
</div>
