<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Level Quiz </div>
  <div class="lesson-content-body col-xs-12 ">

<div class="lesson-content-question"><strong>Q1) Before the event, where does energy comes from?</strong>
 <ol type="A">
            <li>Photon.</li>
            <li>Photon and nuclei.</li>
            <li>Photon, electron and nuclei.</li>
	      </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
<div class="lesson-content-question"><strong>Q2) After the event, what is created?</strong>
 <ol type="A">
            <li>Photon with less energy.</li>
            <li>Photon with more energy.</li>
           <li>Charged particles and photon.</li>
	 <li>Charged particles.</li>

	      </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="YES."> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
		
<div class="lesson-content-question"><strong>Q3) What does the energy consist of after event?</strong>
 <ol type="A">
            <li>1.022MeV + electron's KE + positron's KE.</li>
            <li>electron's KE + positron's KE.</li>
           <li>1.022MeV.</li>

	      </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
      <div class="lesson-content-question"><strong>Q4) A high energy X-ray beam is ______ penetrating?</strong>
 <ol type="A">
            <li>More.</li>
            <li>Less.</li>
	      </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>

	      <div class="lesson-content-question"><strong>Q5) How much more energy will 23g of zinc (Z=30) absorb more than carbon (Z=6) ?</strong>
        <ol type="A">
            <li>6 times.</li>
            <li>10 times.</li>
           <li>5 times.</li>

        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="YES."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
     
		<button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>

