<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">10.6 Level Quiz </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <ol>
          <li>What is a major medical application of the Compton Effect?</li>
          <li> Beyond which end of the visible spectrum are X-rays found? </li>
          <li> Define 'scattering'. </li>
          <li> Name one effect of X-rays on the body tissue. </li>
          <li> What is meant by 'photon'?</li>
      </ol>
      
     <img class="img-responsive rlo-content-image" src="/images/RLO6/Compton.svg" />      
    </div> 
</div>
