<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">10.5 Summary </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <ul>
          <li>A photon is an particle of electromagnetic radiation (light, X-rays etc.)</li>  
          <li>Compton X-ray Scattering (or 'Compton Effect') is the redirection of an X-ray photon
              by an electron.</li>          
          <li>Energy is transferred from the X-ray photon to the electron.</li>
        <li> The Compton Effect is important in radiotherapy treatment of cancers.</li>
      </ul>
     
 <img class="img-responsive rlo-content-image" src="/images/RLO6/Compton.svg" />    

    </div>
</div>
