<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">10.1 X-Rays as Particles </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

   <div class="rlo-content-memo"> Meet the photon </div>    
      
        Similarly to visible light, X-rays can behave both as waves and as particles. 
    Both are forms of <strong>electromagnetic radiation</strong>.
    The particles are known as <strong>photons</strong>, 
    so an 'X-ray photon' is a particle-like packet of radiation.
    An X-ray beam is often regarded as a stream of X-ray photons.
    
    </div>
</div>
