<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">10.0 Introduction</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  <div class="rlo-content-memo"> X-rays can lose energy and change direction </div>   
    
This level contains basic information about Compton X-Ray Scattering (also known as the Compton Effect).  
<br/><br/>
   An X-ray is a high energy form of radiation, 
    similar to light but lying beyond UV (ultraviolet) in the spectrum.
    X-rays are highly penetrating and can break chemical bonds, and so are potentially hazardous.
    <strong>Scattering</strong> means that X-rays aimed at an object
    exit in a different direction than they entered.
    In Compton scattering X-rays are scattered in this way, but lose large amounts of energy in the process.
    In the case of radiotherapy this energy is used to kill tumors.
    
 <img class="img-responsive rlo-content-image" src="/images/RLO6/Compton.svg" />
    
    </div>
  
</div>
