<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">10.7 Summary </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      The Compton Effect is important in radiotherapy treatment of cancers.
    

    </div>
</div>
