<div class="rlo-content rlo-content-100">
  <div class="rlo-content-title col-xs-12">100.0 The Compton Effect for a Single Photon</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  This level introduces Compton X-ray scattering for the simplest case of a single X-ray photon.  

    </div>
  
    <img class="img-responsive rlo-content-image" src="/images/RLO6/Compton.svg" />
  
</div>
