<div class="rlo-content rlo-content-100">
  <div class="rlo-content-title col-xs-12">100.2 X-ray Interaction with Scatterer</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

   <div class="rlo-content-memo"> The body scatters X-rays, absorbing their energy </div>
      
      The Compton Effect is an interaction between a X-ray photon and some object, 
      known as the <strong>absorber</strong>, <strong>scatterer</strong> or <strong>target</strong>.
Several of the properties of the absorber are important in determining the details of the Compton interaction.

   <img class="img-responsive rlo-content-image" src="/images/RLO6/XRayScatteringTree.png" 
        style="border-width:2px;"/>     
    </div>
</div>
