<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">100.2 The X-Ray Absorber</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

   <div class="rlo-content-memo"> The body absorbs X-rays </div>
      
      The Compton Effect is an interaction between a X-ray photon and some object, 
sometimes known as the <strong>absorber</strong>.
Several of the properties of the absorber are important in determining the details of the Compton interaction.
      
    </div>
</div>
