<div class="rlo-content">
  <div class="rlo-content-title col-xs-12 rlo-content-100">100.5 Level Summary </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <ul>
        <li>The 'incident photon' is the incoming photon.</li>  
        <li>Photon Energy is: E = hf</li>          
        <li>Compton Scattering is inelastic and incoherent.</li>
        <li> Thomson scattering is elastic and coherent and occurs at low energies.</li>
      </ul>
      
     <img class="img-responsive rlo-content-image" src="/images/RLO6/Compton.svg" />
    </div>
</div>
