<div class="rlo-content rlo-content-100">
  <div class="rlo-content-title col-xs-12">100 Level: Compton Scattering for a Single Photon</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  This level (Level 100) introduces Compton X-ray scattering for the simplest case of a single X-ray photon. 
  <br/>
  Compton X-ray scattering is the most important effect leading to absorbed dose in external beam radiotherapy. 
  The incident X-ray photon is scattered by a free electron, which recoils. 
  This recoil electron may receive a large fraction of the photon energy. 
  The scattered photon has less energy than the incident photon.

    <img class="img-responsive rlo-content-image" src="/images/RLO6/Compton.svg" />
   </div>
</div>
