<div class="rlo-content rlo-content-100">
  <div class="rlo-content-title col-xs-12">100.4 The Recoil Electron</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">
      
      <div class="rlo-content-memo"> Kicked by an X-ray </div>
      
 The Compton effect is a collision between an X-ray photon and a free electron.
 The electron receives kinetic energy (is kicked out of an atom) and is known as the 
 <strong>recoil electron</strong>.
 The recoil electron can receive a variable fraction of the incident photon energy, 
 but often it is a large fraction. 

    </div>
</div>
