<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">200.2 The X-Ray Absorber (Multiple Angles)</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">


      
    </div>
</div>
