<div class="rlo-content rlo-content-200">
  <div class="rlo-content-title col-xs-12">200.1 The Incident X-Ray Photon (Multiple Scattering Angles) </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      In this level we are considering multiple scattering angles. 
      This means that the incident photon, essentially at random, happens to collide with  
      an electron more or less off-center, resulting in a different scattering angle.  
      The <strong>impact parameter</strong> is the 
      lateral distance (i.e. perpendicular to the line of travel) 
      separating the electron and the incident photon, describing this.
      An impact parameter of zero corresponds to a direct hit.

    </div>
     <img class="img-responsive rlo-content-image" src="/images/RLO6/ComptonIncident.svg" />
</div>
