<div class="rlo-content rlo-content-200">
  <div class="rlo-content-title col-xs-12">200.4 The Recoil Electron (Multiple Scattering Angles)</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  <div class="rlo-content-memo"> Kicked out at angles </div>
The recoil electron can emerge at different angles.
Don't forget that the scattering angle refers to the angle of the scattered photon, 
NOT to the angle of the electron.
    </div>
   <img class="img-responsive rlo-content-image" src="/images/RLO6/ComptonRecoil.svg" />   
</div>
