<div class="rlo-content rlo-content-200">
  <div class="rlo-content-title col-xs-12">200.1 Incident Photon Impact Parameter</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      In this level we are considering multiple scattering angles. 
      This means that the incident photon, essentially at random, happens to collide with  
      an electron more or less off-center, resulting in a different scattering angle.  
      The <strong>impact parameter</strong> is the 
      lateral distance (i.e. perpendicular to the line of travel) 
      separating the electron and the incident photon, describing this.
      An impact parameter of zero corresponds to a direct hit.
      <br/>

      For a given beam and tissue, there are various outcomes depending on the scattering angle. 
      For a <strong>grazing hit</strong>, the photon is hardly affected at all, 
      and the recoil electron direction is 90deg, 
      but with very low energy. 
      For an intermediate case the photon is scattered at 90 deg and receives a maximum of 511 keV. 
      Finally, for a <strong>direct hit</strong>, the maximum energy transfer from photon to electron occurs. 
      The electron goes straight forward, while the photon goes straight back, with maximum energy of 255 keV. 
      Scattered radiation has important radiation protection consequences.

 <br/><br/>
      
 <table style="background: lightgrey; width: 100%; border: 1px solid black;">
  <tr style="border: 1px solid black; background:#ECE9E9;">
    <th>Case</th>
    <th colspan="2">Scattered Photon</th> 
    <th colspan="2">Recoil Electron</th>
  </tr>
  
  <tr style="border: 1px solid black; background:#ECE9E9;">
      <td></td>
        <th>Scattering Angle</th>
        <th>Scattered Energy</th>
        <th>Recoil Direction</th>
        <th>Recoil Energy</th> 
  </tr>
  
  <tr>
    <td>Grazing Hit</td>
    <td>(forwards) 0 deg</td>
    <td>=incident energy</td>
    <td>Sideways</td>
    <td>very low</td>
  </tr>
  
 <tr>
    <td>90 deg</td>
    <td>(sideways) 90 deg</td>
    <td> <= 511 keV</td>
    <td></td>
    <td>(Incident - <=511) keV </td>
  </tr>     
 
 <tr>
    <td>Direct Hit</td>
    <td>(backwards) 180 deg</td>
    <td><= 255 keV</td>
    <td>Forward</td>
    <td>(Incident - <=511) keV </td>
  </tr> 
  
</table> 
      
    </div>
     <img class="img-responsive rlo-content-image" src="/images/RLO6/ComptonIncident.svg" />
</div>
