<div class="rlo-content rlo-content-200">
  <div class="rlo-content-title col-xs-12">200.2 The X-Ray Absorber (Multiple Scattering Angles)</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

The existence of multiple scattering angles means that the absorber contains
scattered X-rays traveling in all directions. 
However, the intensities of X-rays traveling in different directions are not equal.
This distribution of intensity of scattered radiation with direction is discussed 
in detail on other pages.

      
    </div>
</div>
