<div class="rlo-content rlo-content-200">
  <div class="rlo-content-title col-xs-12">200.3 The Scattered X-Ray Photon (Multiple Scattering Angles)</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      Consider an incident beam of monoenergetic photons.
      The scattered photons can emerge at any angle. 
      
      The probability of the different angles are not equal.
      The scattered photon energy depends upon the scattering angle.
      
      So (even for monoenergetic incident photons),
      the scattered photons exhibit a range of both angles and energies.
  

    </div>
   <img class="img-responsive rlo-content-image" src="/images/RLO6/ComptonScattered.svg" />   
</div>
