<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">300.1 The Incident X-Ray Photon (Multiple Energies) </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      In this level we consider additional complication when the incident X-ray beam
      contains photons of different energies. This also known as 
      <strong>non-monoenergetic</strong> and also as inhomogeneous. (CHECK)

    </div>
</div>
