<div class="rlo-content">
  <div class="rlo-content-title col-xs-12 rlo-content-300">300.4 The Recoil Electron & Incident Energy</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

    <div class="rlo-content-memo"> Different kicks </div>
    At the level we are considering variation in incident photon energy.
    These variations also affect the recoil electron.
    </div>
   <img class="img-responsive rlo-content-image" src="/images/RLO6/ComptonRecoil.svg" />   
</div>
