<div class="rlo-content rlo-content-300">
  <div class="rlo-content-title col-xs-12">300.3 The Scattered X-Ray Photon (Multiple Energies)</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

Remember, that even for monoenergetic incident photons, the scattered photons vary in both
number and energy as a function of scattering angle.
<br/><br/>
With the added complication of a non-monoenergetic beam, this angular distribution becomes more 
complex. 
For any given scattering angle there are now a spectrum of possible energies,
depending on the incidence photon energy.

    </div>
</div>
