<div class="rlo-content rlo-content-300">
  <div class="rlo-content-title col-xs-12">300.2 The X-Ray Absorber (Multiple Energies)</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

   <div class="rlo-content-memo"> Range of incident photon energies </div>
      
    </div>
</div>
