<div class="rlo-content rlo-content-300">
  <div class="rlo-content-title col-xs-12">300.0 The Compton Effect (Multiple Energies)</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  This level introduces the effects of variations in both incident photon energy and scattering angle.  

    </div>
  
    <img class="img-responsive rlo-content-image" src="/images/RLO6/Compton.svg" />
  
</div>
