<div class="rlo-content rlo-content-100">
  <div class="rlo-content-title col-xs-12">100.5 Ionized Atom</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">
      
  <div class="rlo-content-memo"> Electronic loss </div>
 
      The departure of the recoil electron leaves behind an atom with a missing electron.
 There are a range of processes which can occur to the atom, following this electron loss.

    </div>
</div>
