<div class="lesson-content">
    <div class="lesson-content-title"><%- title %></div>
    <div class="lesson-content-body">
        Add Content Here
    </div>
    <div class="lesson-content-footer"><%- number %>  <%- group %></div>
</div>
