<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect path with hashtag">
					<match url="^([_0-9a-zA-Z-]+)(.*[^/])" />
					<conditions>
						<add matchType="IsFile" negate="true" />
						<add matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Redirect" url="/#{R:1}{R:2}" redirectType="Found" />
				</rule>
			</rules>
		</rewrite>
		<httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://openphys.med.ualberta.ca" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
