<div class="lesson-content">
    <div class="lesson-content-title">OpenPhys Logo</div>
    <div class="lesson-content-body">
        The Open Phys logo:
        
        <div class="logo display">
             <div class="logo-icon">
                <img class="lesson-content-image" src="/content/Logo/logo-icon.svg"/>
            </div>
            <!-- open phys -->
            <div class="logo-wordmark">
                 <img class="lesson-content-image" src="/content/Logo/logo-wordmark.svg"/>
            </div>
            <!-- online learning -->
            <div class="logo-tagline">
                 <img class="lesson-content-image" src="/content/Logo/logo-tagline.svg"/>
            </div>
        </div>
        
         is always available and will return you to the home view where you can access any module.
        <br/><br/>
        That's It! 
        <strong>TRY IT NOW</strong>, click the logo and start exploring Open Phys!
    </div>
</div>
