<div class="rlo-content">
    <div class="rlo-content-title">10.0 Atoms</div>
    <div class="rlo-content-body">
        This level introduces a few basic facts about <strong>atoms</strong>, 
        and <strong>chemical elements</strong>.
    </div>

         <figure>
            <img class="rlo-content-image" src="/images/RLO2/Atom.svg"/>
        </figure>
</div>

