<div class="rlo-content">
    <div class="rlo-content-title">10.1 Almost everything is made from atoms</div>
    <div class="rlo-content-body">
        <ul>
            <li>Gases (air, oxygen, …)</li>
            <li>Liquids (water, oil, …)</li>
            <li>Solids (mountains, metals, mice, …)</li>
            <li>But not everything… (light, vacuum, information, …)</li>
        </ul>
    </div>
             <figure>
            <img class="rlo-content-image" src="/images/RLO2/Atom.svg"/>
        </figure>
</div>

