<div class="rlo-content">
    <div class="rlo-content-title">10.8 The Power of Atoms</div>
    <div class="rlo-content-body">
        The concept of an atom is so central because so much flows from it:
        <ul>
            <li>All of <strong>chemistry</strong> is explained in terms of how 
                atoms combine to form molecules</li>
            <li>Chemistry is the basis of <strong>biochemistry</strong>, which 
                is essential for medicine and biology</li>
            <li>Most of <strong>physics</strong> and almost all 
                <strong>technology</strong> is based on the idea of atoms</li>
        </ul>
    </div>
             <figure>
            <img class="rlo-content-image" src="/images/RLO2/Atom.svg"/>
        </figure>
</div>
