<div class="rlo-content">
    <div class="rlo-content-title">10.3 Different Types of Atom</div>
    <div class="rlo-content-body">
        <ul>
            <li>There are about 100 different types of atom, each with different 
                <strong>chemical properties</strong></li>
            <li>Pure <strong>chemical elements</strong> are made from just one 
                type of atom (e.g. Gold is made from gold atoms, silver from 
                silver atoms, etc.)</li>
            <li>Other substances (such as wood) are not made from a single type 
                of atom.</li>
            <li>Most objects (trees, humans, stars) are made from incredibly 
                complex arrangements of many different chemical elements.</li>
        </ul>
    </div>
</div>
