<div class="rlo-content">
    <div class="rlo-content-title">10.1 Almost everything is made from atoms</div>
    
    <div class="rlo-content-body">
        All matter is made from atoms:
        <ul>
            <li>Gases (air, oxygen, …)</li>
            <li>Liquids (water, oil, …)</li>
            <li>Solids (mountains, metals, mice, …)</li>
        </ul>
        <img class="rlo-content-image" src="/images/RLO2/Atom.svg"/>
     </div> 
    
    <div class="rlo-content-body">
         However other entities, such as light, the vacuum and information are not.      
    </div>  
 
</div>

