<div class="rlo-content">
    <div class="rlo-content-title">30.3 Periodic Table</div>
    <div class="rlo-content-body">
        Atomic Number (<strong>Z</strong>) determines chemical identity
            <br/><br/>
        The <strong>periodic table</strong> shows all the different types of atom, 
        arranged according to <strong>chemical</strong> properties.
        Each element has a different atomic number <strong>Z</strong>.
        However, the number of neutrons <strong>N</strong> can vary, and this
        is not shown.
        The <strong>Mass Number</strong> 
        <span class="rlo-content-formula">
            <!-- (your LaTeX) $A = Z + N$ -->
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                        <mi>A</mi>
                        <mo>=</mo>
                        <mi>Z</mi>
                        <mo>+</mo>
                        <mi>N</mi>
                </mrow>
            </math>
        </span>
    </div>
</div>
