<div class="rlo-content">
    <div class="rlo-content-title">30.4 Radioactive Nuclides</div>
    <div class="rlo-content-body">
        <ul>
            <li>A specific type of nucleus (of a given Z & N) is called a <strong>nuclide</strong>.</li>
            <li>Many nuclides, called <strong>radionuclides</strong>, are unstable and so <strong>decay</strong> emitting various
                types of radiation in the process. Almost all chemical elements have both stable 
                and radioactive nuclides.</li>
            <li>Each radionuclide has its own decay properties, such as half-life and decay mode
                (alpha, beta, gamma).</li>
            <li>A single radioactive decay has enough energy to break something like a <strong>million</strong>
                <strong>chemical bonds</strong>. This huge disparity between nuclear and chemical energies is
                the reason why radioactivity is so biologically hazardous (because biology is 
                based on chemistry.</li>
        </ul>
    </div>
</div>
