<div class="rlo-content">
    <div class="rlo-content-title">30.8 Radionuclides in real life</div>
    <div class="rlo-content-body">
    Radioactivity is encountered in many settings:
        <ul>
            <li>Medical imaging (nuclear medicine)</li>
            <li>Cancer treatment (radiotherapy)</li>
            <li>Nuclear power generation</li>
            <li>Nuclear weapons</li>
            <li>Carbon-dating</li>
        </ul>
        <img class="rlo-content-image" src="https://placehold.it/150x150" />
    <br/><br/>
    You have finished this level!
    </div>
</div>
