<div class="rlo-content">
    <div class="rlo-content-title">30.8 Radionuclides in Real Life</div>
    <div class="rlo-content-body">
    Radioactivity is encountered in many settings:
        <ul>
            <li>Medical imaging (nuclear medicine, PET scanners). An imaging 
                tracer made with radionuclides is called a radioactive tracer.)</li>
            <li>Cancer treatment (radiotherapy)</li>
            <li>Nuclear power generation</li>
            <li>Nuclear weapons</li>
            <li>Carbon-dating</li>
        </ul>
    <br/><br/>
    You have finished this level!
    </div>
         <figure>
            <img class="rlo-content-image" src="/images/RLO2/Nucleus.svg"/>
        </figure>
</div>
