<div class="rlo-content">
    <div class="rlo-content-title">30.0 The Active Nucleus</div>
    <div class="rlo-content-body">
    Radioactivity is a nuclear process, which means that it involves the nucleus of the atom. 
    <br/><br/>    
    This level will introduces the following terms: 
    <br/>
    <strong>
    atomic nucleus, proton, neutron, nucleon,
    
    quark, gluon, strong nuclear force,
    <br/>
    periodic table, atomic number, mass number, 
    
    nuclide, radionuclide, radioactivity.
    </strong>
    </div>

        
            <img class="rlo-content-image" src="/images/RLO2/NucleusPlay.svg"/>
        
</div>
