<div class="rlo-content">
    <div class="rlo-content-title">30.3 The Periodic Table</div>
    <div class="rlo-content-body">
        The <strong>Atomic Number</strong> (<strong>Z</strong>), which is the number of protons in a nucleus,
        determines chemical identity.
        The well-known <strong>periodic table</strong> contains all the different types of atom, 
        arranged according to <strong>chemical</strong> properties.
        Each element has a unique defining atomic number <strong>Z</strong>,
        however, the number of neutrons <strong>N</strong> can vary,
        an this is not shown in the periodic table. A much larger table of nuclides with around 3000 entries is
        needed to include the variation in neutron number.
        The <strong>Mass Number</strong> 
        <span class="rlo-content-formula">
            <!-- (your LaTeX) $A = Z + N$ -->
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                        <mi>A</mi>
                        <mo>=</mo>
                        <mi>Z</mi>
                        <mo>+</mo>
                        <mi>N</mi>
                </mrow>
            </math>
        </span>
        is the total number of nucleons within a nucleus.
    </div>
         
            <img class="rlo-content-image" src="/images/RLO2/Nucleus.svg"/>
        
</div>
