<div class="rlo-content">
    <div class="rlo-content-title">30.0 The Active Nucleus</div>
    <div class="rlo-content-body">
    This level will introduces the following terms: 
    <br/>
    <strong>
    atomic nucleus, proton, neutron, nucleon,
    
    quark, gluon, strong nuclear force,
    <br/>
    periodic table, atomic number, mass number, 
    
    nuclide, radionuclide, radioactivity.
    </strong>
    </div>

        <figure>
            <img class="rlo-content-image" src="/images/RLO2/Nucleus.svg"/>
        </figure>
</div>
