<div class="rlo-content">
    <div class="rlo-content-title">3.2 Inside the Nucleus</div>
    <div class="rlo-content-body">
        <ul>
            <li>The nucleus is made from two types of particle: <strong>protons and 
                neutrons</strong>, which collectively are known as 
                <strong>nucleons</strong>.</li>
            <li>Protons have an electric charge 
                (<font color="red"><strong>positive</strong></font>), and are 
                slightly lighter than a neutron.</li>
            <li>Protons and neutrons are very similar, both being make out of 
                3 <strong>quarks</strong>, held together by the <strong>strong 
                nuclear force</strong> by exchange of particles called 
                <strong>gluons</strong>. The <strong>residual</strong> strong 
                nuclear force binds all the nucleons together to form the 
                nucleus, resisting the electrical repulsion between protons.</li>
        </ul>
        <img class="rlo-content-image" src="https://placehold.it/150x150" />
    </div>
</div>

