<div class="rlo-content">
    <div class="rlo-content-title">3.2 Inside the Nucleus</div>
    <div class="rlo-content-body">
    
        Nuclei are made from two types of particle: <strong>protons</strong> and 
        <strong>neutrons</strong>, which collectively are known as <strong>nucleons</strong>. 
        A proton has a (<font color="red"><strong>positive</strong></font>) 
        electric charge, and is very slightly lighter than a neutron, which is 
        uncharged. Apart from these differences, the two particles are very similar, 
        both being made out of 3 <strong>quarks</strong>, which are held together 
        by the <strong>strong nuclear force</strong> by exchange of particles 
        called <strong>gluons</strong>. The <strong>residual</strong> strong 
        nuclear force binds all the nucleons together to form the nucleus, resisting 
        the electrical repulsion between protons.

    </div>
</div>

