<div class="rlo-content">
    <div class="rlo-content-title">30.1 The Atomic Nucleus</div>
    <div class="rlo-content-body">
        <ul>
            <li>In the center of every atom lies a small and very dense 
                <strong>nucleus</strong>, which contains almost all the 
                <strong>mass</strong> of the atom.</li>
            <li>The nucleus has a positive <strong>electric charge</strong> 
                and so produces a strong <strong>electric field</strong> which 
                extends far outside and attracts and traps electrons to form 
                atoms.</li>
            <li>Some types of nuclei also ‘spin’ and so also produce a 
                <strong>magnetic field</strong>.</li>
        </ul>
    </div>
</div>
