<div class="rlo-content">
    <div class="rlo-content-title">30 The Active Nucleus</div>
    <div class="rlo-content-body">
        <ul>
            <li>The 30-Level introduces the atomic <strong>Nucleus</strong>, the 
                <strong>Periodic Table</strong>, and <strong>Radioactivity</strong> 
                - a property of some nuclei.</li>
        </ul>
        <br/>
        To review <strong>Atoms</strong>, go <strong>up</strong>. To learn about 
        different types of <strong>Radioactivity</strong>, go <strong>deeper</strong>.
    </div>
</div>
