<div class="rlo-content">
    <div class="rlo-content-title">30.1 The Atomic Nucleus</div>
    <div class="rlo-content-body">
        In the center of every atom lies a small and very dense 
        <strong>nucleus</strong>, which contains almost all the <strong>mass</strong> 
        of the atom. The nucleus has a positive <strong>electric charge</strong> 
        and so produces a strong <strong>electric inverse square field</strong> 
        which extends far outside and attracts and traps electrons to form atoms. 
        Many nuclei also have intrinsic angular momentum (‘<strong>spin</strong>
        ’) which creates a <strong>magnetic dipole field</strong>. Nuclei can 
        be either fermions (non-integer spin) or bosons (integer spin).
    </div>
</div>
