<div class="rlo-content">
    <div class="rlo-content-title">30.4 Radioactive Nuclides</div>
    <div class="rlo-content-body">

        A specific type of nucleus (of a given Z & N) is called a <strong>nuclide</strong>. 
        Many nuclides, called <strong>radionuclides</strong>, are unstable and so 
        <strong>decay</strong> emitting various types of radiation in a process known 
        as <strong>radioactivity</strong>. Almost all chemical elements have both 
        stable and radioactive nuclides. Each radionuclide has its own decay properties, 
        such as half-life and decay mode(s) (alpha, beta, gamma, …).
        <br/><br/>
        <strong><u>High Energy</u></strong>: A single radioactive decay has enough 
        energy to break <strong>hundreds of thousands of chemical bonds</strong>. 
        This huge disparity between nuclear and chemical energies explains why 
        radioactivity is so biologically hazardous.

    </div>
</div>
