<div class="rlo-content">
    <div class="rlo-content-title">30.3 The number of protons is the <i>Atomic Number</i> (<strong>Z</strong>) and determines chemical identity</div>
    <div class="rlo-content-body">
        <ul>
            <li>The <strong>periodic table</strong> shows all the different types of atom, 
            arranged according to <strong>chemical</strong> properties.</li>
            <li>Each element has a different number of protons (<strong>Z</strong>).</li>
            <li>However, the number of neutrons (<strong>N</strong>) can vary, and this
                is not shown here.</li>
            <li>The <strong>Mass Number</strong> <span class="rlo-content-formula">
            <!-- (your LaTeX) $A = Z + N$ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mi>A</mi>
	<mo>=</mo>
	<mi>Z</mi>
	<mo>+</mo>
        <mi>N</mi>
</mrow>
</math></span>
        <br/></li>
        </ul>
        <img class="rlo-content-image" src="https://placehold.it/400x225" />
    </div>
</div>
