<div class="rlo-content">
    <div class="rlo-content-title">100.7 Gamma Radiation</div>
    <div class="rlo-content-body">
        Gamma (&#947;) rays are a form of ionizing electromagnetic radiation, 
        and so are uncharged  (unlike alpha and beta radiation). A gamma photon 
        is a packet of electromagnetic energy  emitted from a nucleus. &#947; ray 
        photons from <strong>nuclear decay</strong> have energies in the range 
        ~100keV …10MeV.
        <br/><br/>
        Often following the decay of a parent nuclide (by &#945;, &#946; or EC), 
        a daughter nuclide is left in an excited state 
            <span class="rlo-content-formula">
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msup>
                        <mmultiscripts>
                            <mi>X</mi> 
                            <mprescripts/> <mi>Z</mi> <mi>A</mi>
                        </mmultiscripts>
                        <mo>*</mo>
                    </msup>
                </math>
            </span>, which transitions 
        to its ground state with emission of one or more &#947;s. No A or Z 
        changes are involved in gamma decay. For example Co-60 decays to Ni-60 
        by &#946;, rapidly followed by two gammas of 1.173 MeV and 1.332 MeV energies.
        <br/><br/>
        &#947; rays are highly <strong>penetrating</strong> making them useful 
        medically, but also hazardous. Effective shielding requires a large 
        amount of mass, such as thick concrete walls. The main <strong>interaction 
        processes</strong> with matter (resulting in ionization and dose) are the
         photoelectric effect, Compton scattering, and pair production. 

    </div>
         <figure>
            <img class="rlo-content-image" src="/images/RLO2/ExcitedNucleus.svg"/>
        </figure>  
</div>
