<div class="rlo-content">
    <div class="rlo-content-title">100.0 Nuclear Radiation</div>
    <div class="rlo-content-body">
    This level introduces the basic structure of the nucleus and details of the 
    three main types of radiation (<strong>alpha, beta, gamma</strong>) that the nucleus can produce.
    </div>
         
    <img class="rlo-content-image" src="/images/RLO2/Radiation.svg"/>
</div>
