<div class="rlo-content">
    <div class="rlo-content-title">100.1 Nuclei Can Radiate</div>
    <div class="rlo-content-body">
        Atoms of unstable nuclides spontaneously <strong>change</strong> into 
        other types of atoms. These radionuclides emit <i>very high energy</i> 
        radiation (of various types). This production of ionizing radiation by 
        nuclear decay is known as <strong>radioactivity</strong>. 
    </div>
</div>
