<div class="rlo-content">
    <div class="rlo-content-title">100.8 Radiation in the World</div>
    <div class="rlo-content-body">
        There are many sources of radiation, both man-made and natural. It is 
        important to realize that there is a natural background level of radiation. 
        This provides a reference point in assessing the potential radiation hazards.
    </div>
</div>
