<div class="rlo-content">
    <div class="rlo-content-title">100.3 Stable Nuclides</div>
    <div class="rlo-content-body">
        As a rough guide, each chemical element has between 1 to 3 stable 
        nuclides, e.g. 1-H, 2-H are both stable. There are over 250 stable 
        nuclides. All nuclides have a set of properties including: mass, spin, 
        parity, ground state energy, number and energies of excited states. Some 
        stable nuclides:
        <span class="rlo-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mmultiscripts>
                  <mi>He</mi>
                  <mprescripts/> <mi>2</mi> <mi>4</mi>
                </mmultiscripts>
                <mo>,</mo>
                <mmultiscripts>
                  <mi>P</mi>
                  <mprescripts/> <mi>15</mi> <mi>31</mi>
                </mmultiscripts>
                <mo>,</mo>
                <mmultiscripts>
                  <mi>Pb</mi>
                  <mprescripts/> <mi>82</mi> <mi>208</mi>
                </mmultiscripts>
            </math>
        </span>
    </div>
                <figure>
            <img class="rlo-content-image" src="/images/RLO2/ExcitedNucleus.svg"/>
        </figure> 
</div>
