<div class="rlo-content">
    <div class="rlo-content-title">100.4 Unstable Nuclides</div>
    <div class="rlo-content-body">
        <span class="rlo-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mi>Radionuclide</mi> 
                <mo>=</mo>
                <mi>radioactive nuclide</mi>
                <mo>=</mo>
                <mi>radioisotope</mi>
                <mo>=</mo>
                <mi>radioactive isotope</mi>
            </math>
        </span>
        <br/>
        Radionuclides vary in:
        <ul>
            <li><strong>Radioactive decay mode</strong>(s) exhibited and probability of each mode;</li>
            <li><strong>type</strong> and <strong>energy</strong> of radiation 
                produced (<strong>&#945;,&#946;,&#947;</strong>);</li>
            <li><strong>decay rate</strong> (half-life);</li>
            <li><strong>origin</strong> (natural, artificial).</li>
            <li>Some unstable nuclides:
                <span class="rlo-content-formula">
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mmultiscripts>
                          <mi>H</mi> 
                          <mprescripts/> <mi>1</mi> <mi>3</mi>
                        </mmultiscripts>
                        <mo>,</mo>
                        <mmultiscripts>
                          <mi>F</mi> 
                          <mprescripts/> <mi>9</mi> <mi>18</mi>
                        </mmultiscripts>
                        <mo>,</mo>
                        <mmultiscripts>
                          <mi>Ra</mi> 
                          <mprescripts/> <mi>88</mi> <mi>226</mi>
                        </mmultiscripts>
                        <mo>,</mo>
                        <mmultiscripts>
                          <mi>U</mi>
                          <mprescripts/> <mi>92</mi> <mi>235</mi>
                        </mmultiscripts>
                    </math>
                </span>
            </li>
        </ul>
        <br/>
        <i><strong>Radium</strong> was discovered by the Curies in 1898. All its 
        isotopes are highly radioactive. It is the 6th member of the Uranium series.</i>
    </div>
</div>
