<div class="rlo-content">
    <div class="rlo-content-title">100.3 Stable Nuclides</div>
    <div class="rlo-content-body">
        <font color="blue"><i>Some nuclides are stable </i></font>
        <br/><br/>
        
        As a rough guide, each chemical element has between one and three stable 
        nuclides.
        For example, hydrogen has two stable nuclides 1-H, 2-H. 
        There are over 250 stable nuclides. All nuclides have a set of properties including: mass, spin, 
        parity, and ground state energy. 
        The number and energies of the nuclear excited states also vary from one nuclide to another.
        Here are some examples of stable nuclides:
        <span class="rlo-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mmultiscripts>
                  <mi>He</mi>
                  <mprescripts/> <mi>2</mi> <mi>4</mi>
                </mmultiscripts>
                <mo>,</mo>
                <mmultiscripts>
                  <mi>P</mi>
                  <mprescripts/> <mi>15</mi> <mi>31</mi>
                </mmultiscripts>
                <mo>,</mo>
                <mmultiscripts>
                  <mi>Pb</mi>
                  <mprescripts/> <mi>82</mi> <mi>208</mi>
                </mmultiscripts>
            </math>
        </span>
    </div>
                <figure>
            <img class="rlo-content-image" src="/images/RLO2/Radiation.svg"/>
        </figure> 
</div>
