<div class="rlo-content">
    <div class="rlo-content-title">100.1 Nuclei can Radiate</div>
    <div class="rlo-content-body">
        <div class="rlo-content-memo"> Some atomic nuclei can produce radiation </div>
        
        Atoms containing unstable nuclides can spontaneously <strong>change</strong> into 
        other types of atoms. These radionuclides can emit various types of very high energy particle,
        known as radiation. Because this radiation can remove electrons from atoms and break chemical bonds, it is 
        called  
        <strong>ionizing radiation</strong>.
      The production of ionizing radiation by 
        nuclear decay is known as <strong>radioactivity</strong>. 
    </div>
             
    <img class="rlo-content-image" src="/images/RLO2/Radiation.svg"/>
        
</div>
