<div class="rlo-content">
    <div class="rlo-content-title">100.2 Labeling Nuclides</div>
    <div class="rlo-content-body">
        A <strong>nuclide</strong> is any atomic nucleus with a specific number 
        of protons (Z), and neutrons (N). The total number of nucleons is given 
        by the mass number:
        <br/>
        <span class="rlo-content-formula">
            <!-- (your LaTeX) $A = Z + N$ -->
            <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mrow>
                    <mi>A</mi>
                    <mo>=</mo>
                    <mi>Z</mi>
                    <mo>+</mo>
                    <mi>N</mi>
            </mrow>
            </math>
        </span></li>
        <br/>
        There are over 3000 different <strong>nuclides</strong>, roughly 90% 
        of which and unstable and hence radioactive.
    </div>
</div>
