<div class="rlo-content">
    <div class="rlo-content-title">200.3 Binding Energy & Mass Defect</div>
    <div class="rlo-content-body">
        <font color="blue"><i>There is a price to be paid for stability - the 
            fee is exacted in mass-energy (refundable upon checkout). A pound of flesh.
        </i></font>
        <br/><br/>
        <ul>
            <li>
               <span class="rlo-content-formula">
                <!-- (your LaTeX) $E = mc^2$ -->
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msup>
                        <mrow>
                            <mi>E</mi>
                            <mo>=</mo>
                            <mi>m</mi>
                            <mi>c</mi>
                        </mrow>
                        <mn>2</mn>
                    </msup>
                </math>
            </span> means that a particle’s mass has an equivalent energy and 
                    vice versa. We can talk about mass, or about energy, or about 
                    ‘mass-energy’ - all three are really the same thing.
            </li>
            <li>
                Lower potential energy equates to greater stability, so nuclei 
                have a tendency to give up energy, whenever possible, to achieve 
                a lower energy state.
            </li>
            <li>
                A nucleus has less mass-energy than its unbound constituent parts. 
                This difference is called the <strong>Mass Defect</strong> or 
                <strong>Binding Energy</strong>.
            </li>
            <li>
                <strong>“Binding Energy” = “Mass Defect” &#x2715; c<sup>2</sup></strong>
            </li>
        </ul>
    </div>
             <figure>
            <img class="rlo-content-image" src="/images/RLO2/NuclearTransPanel01.svg"/>
        </figure>
</div>
