<div class="rlo-content">
    <div class="rlo-content-title">200.0 Structure & Decay</div>
    <div class="rlo-content-body">
        This level <strong><u>introduces</u></strong>: nuclear <strong>structure</strong> 
        and the factors that lead to decay. of alpha, beta and gamma emitting nuclides.
        This level <strong><u>describes in detail</u></strong>:
        <strong>Shell model, energy levels, weak force, internal conversion</strong>
        <br/>
        <br/>
        <strong>Structure and Decay</strong>
        Many nuclear structures persist for a while, but are not built to really 
        last. Such behavior is fundamentally linked to the probabilistic nature 
        of the quantum world. No single nucleus wears the passage of years, but, 
        in a population, an ever-present force of probability drives an 
        accumulation of decay over time. Microscopic probabilistic events result 
        in irreversible macroscopic change.

    </div>
</div>
