<div class="rlo-content">
    <div class="rlo-content-title">200.0 Nuclear Structure & Decay</div>
    <div class="rlo-content-body">
        <font color='blue'><i> Nuclear structures can decay...</i></font>
         <br/><br/>
        Many nuclear structure are not built to  
        last, subject to the fundamentally probabilistic nature of the quantum world. 
        A single nucleus cannot age, but in a population the ever-present force of probability drives an 
        accumulation of decay over time. 
        Microscopic probabilistic events result in irreversible macroscopic change.
        
        <br/><br/>
        This level introduces nuclear <strong>structure</strong> 
        and the factors that lead to decay of alpha, beta and gamma emitting nuclides and describes
        <strong>the nuclear shell model, binding energy, energy levels, radioactivity, the weak force, and the internal conversion process.</strong>
        <br/>
 
         <figure>
            <img class="rlo-content-image" src="/images/RLO2/NuclearTransPanel01.svg"/>
        </figure>
        
    </div>
</div>
