<div class="rlo-content">
    <div class="rlo-content-title">200.1 The Sleeper at the Heart</div>
    <div class="rlo-content-body">
        <font color = "blue"><i>The nucleus sleeps at the heart of the atom. The comings and goings 
            of the acolyte electrons do not disturb its slumber. But, if the 
            sleeper awakes, great forces are unleashed and destruction is spread 
            abroad.
        </i></font>
        <br/><br/>
        Although <strong>Z</strong> and <strong>A</strong> determine basic atomic 
        physical and chemical properties, details of internal nuclear structure 
        do not generally interact with chemical processes. Externally, the nucleus 
        exhibits a handful of fixed properties: <strong>mass, angular momentum, 
        electric charge, magnetic dipole, electric quadrupole moment</strong>. 
        Nuclear energy excitation levels are quite inaccessible to chemical or 
        thermal processes, so for chemical and physical processes the nucleus 
        remains dormant in its <strong>ground state</strong>. This dissociation 
        between the nuclear and electronic structures explains alchemists' 
        failure to achieve transmutation of elements by chemical means.
    </div>
             <figure>
            <img class="rlo-content-image" src="/images/RLO2/NuclearTransPanel01.svg"/>
        </figure>
</div>
