<div class="rlo-content">
    <div class="rlo-content-title">200.4 Activity and Exponential Decay</div>
    <div class="rlo-content-body">
        <font color="blue"><i>Not everything is built to last</i></font>
        <br/><br/>
        A piece of radioactive material (containing a population of radionuclides) can be 
        described by the amount of radiation it produces.
        <strong>Activity</strong> refers to the number of decays per second for a given sample.
        The SI unit for activity is the <strong>Becquerel (Bq)</strong>. 
        A older unit is the<strong> Curie</strong>, 
        which is the activity of approximately 1 gram of radium. 
        The <strong>specific activity</strong> is the activity per unit mass (e.g. Bq/gram or Ci/gram).
        <br/><br/>
        1 Bq = 1 decay / sec = 1 dps
        <br/><br/>
        1 Curie = 3.7 x 10<sup>10</sup> Bq = 37 GBq
        <br/><br/>
        Activity decays exponentially according to A = A<sub>0</sub>e<sup>-Lt</sup>
    </div>
             <figure>
            <img class="rlo-content-image" src="/images/RLO2/NuclearTransPanel01.svg"/>
        </figure>
</div>
