<div class="rlo-content container">
    <div class="rlo-content-title">200.6 Weak-force Mediated Nuclear Change</div>
    
    <div class="rlo-content-body ">
        
        <div class="rlo-content-memo">Weak forces</div>
        
        <div class="col-sm-9 col-md-6 col-lg-8">If a nucleus has an unfavorable neutron/proton (n/p) ratio, then one of 
            three weak-force mediated processes can occur to change a neutron to a 
            proton or vice versa. These three processes are beta-minus emission 
            (n &#8594; p), <strong>beta-plus</strong> (i.e. positron) emission and (orbital) 
            <strong>electron capture (EC)</strong>. Electron capture (also known as 
            <strong>K capture</strong>) competes with positron emission because both 
            result in the nucleus becoming less negatively charged (p &#8594; n). 
            Neutrinos or anti-neutrinos are often produced in weak interactions to 
            conserve lepton number, taking away some of the energy of the interaction, 
            and resulting in a broad beta energy spectrum.
            <br/><br/>
            <u>Proton-Poor Nuclides (high n/p ratio)</u>: <font color="blue"><strong>Beta- emission</strong></font>
            <br/>
            <u>Proton-Rich Nuclides (low n/p ratio)</u>: <font color="red"><strong>Beta+ (Positron emission)</font> or electron capture (E.C.)
        </div>
            <div class="col-sm-3 col-md-6 col-lg-4">
            <img class="rlo-content-image img-responsive" src="/images/RLO2/Row3_Col5.jpg" width="100px"/>
            <strong>Beta-minus</strong> decay - in detail
            </div>
    </div>
        
            <img class="rlo-content-image" src="/images/RLO2/NuclearTransPanel01.svg"/>
        
</div>
