<div class="rlo-content">
    <div class="rlo-content-title">200.4 Activity and Exponential Decay</div>
    <div class="rlo-content-body">
        <font color="blue"><i>The fates decree that not all relationships will last.</i></font>
        TBD
    </div>
</div>
