<div class="rlo-content">
    <div class="rlo-content-title">200.3 Binding Energy & Mass Defect</div>
    <div class="rlo-content-body">
        <div class="rlo-content-memo">There is a price to be paid for stability and the 
            fee is exacted in mass-energy (refundable upon checkout).</div>
        
            Einstein's famous 
               <span class="rlo-content-formula">
                <!-- (your LaTeX) $E = mc^2$ -->
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msup>
                        <mrow>
                            <mi>E</mi>
                            <mo>=</mo>
                            <mi>m</mi>
                            <mi>c</mi>
                        </mrow>
                        <mn>2</mn>
                    </msup>
                </math>
               </span> declares that there is a large amount of energy <i>(E)</i> equivalent to
               a particle’s mass <i>(m)</i>. 
               The letter <i>(c)</i> is a constant and represents the speed of light (3 x 10<sup>8</sup> m/s).
               This means that (in a sense)
               mass and energy are just different words used to describe the same thing.
        Because of this, 'mass' and 'energy' are often used interchangeably, however remember 
        that the units of mass and energy are NOT the same.
        <br/><br/>       
        It is found experimentally that a nucleus is lighter than would be expected from simply adding-up the total mass of all its
        constituent particles. Where did the 'missing mass' go?
         The short answer is that a nucleus is more stable that the individual separate particles, so has less energy.
         If it has less energy, this also means that it has less mass, i.e. it must be lighter.
         This may sound counterintuitive, because this is not how we expect mass to behave, based on our
         experience with everyday objects.
        
        This difference is called the <strong>Mass Defect</strong> or 
        <strong>Binding Energy</strong>, and these are related by 
        <strong>“Binding Energy” = “Mass Defect” &#x2715; c<sup>2</sup></strong>.
        
        <br/><br/>
        Another way to understand this is to realize that the attractive forces that hold the nucleus together
        mean that the bound nucleus has lower potential energy than the unbound particles.
        Lower potential energy equates to greater stability, so excited nuclei 
        have a tendency to give up energy and become lighter.
        
    </div>
            <img class="rlo-content-image" src="/images/RLO2/NuclearTransPanel01.svg"/>
</div>
