<div class="rlo-content">
    <div class="rlo-content-title">250.3 Special Relativity</div>
    <div class="rlo-content-body">
        Einstein published his theory of Special Relativity in 1905. This theory deals 
        with space, time, <span class="rlo-content-formula">
                <!-- (your LaTeX) $E = mc^2$ -->
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msup>
                        <mrow>
                            <mi>E</mi>
                            <mo>=</mo>
                            <mi>m</mi>
                            <mi>c</mi>
                        </mrow>
                        <mn>2</mn>
                    </msup>
                </math>
            </span> and the speed of light. 
        Special relativity does not cover gravity, which is described by 
        Einstein’s second relativity theory (General Relativity). 
    </div>
</div>
