<div class="rlo-content">
    <div class="rlo-content-title">250.7 Internal Conversion of Excitation</div>
    <div class="rlo-content-body">
    <strong>JCS Says:  Internal Conversion (of Excitation) ICE - cools the nucleus! haha</strong>
    <br/><br/>
    In the <strong>internal conversion</strong> process the <strong>excited nucleus</strong> 
    interacts with an <strong>orbital electron</strong> which takes the excess nuclear 
    energy and is then ejected from the atom. These so-called <strong>conversion electrons</strong> 
    possess with specific energies (monoenergetic).
    </div>
</div>
