<div class="rlo-content">
    <div class="rlo-content-title">250.0 BONUS LEVEL 1</div>
    <div class="rlo-content-body">
     This level contains a random assortment of more advanced topics: 
     <ul>
        <li>Liquid drop model of the nucleus</li>
        <li>Decay chains</li>
        <li>Positron Emission & Electron Capture</li>
        <li>Internal Conversion</li>
      </ul>
    </div>
</div>
