<div class="rlo-content">
    <div class="rlo-content-title">250.6 <font color="red">Positron Release</font> or <font color="blue">Electron Capture</font>?</div>
    <div class="rlo-content-body">
        <strong>Proton-rich nuclei have 2 choices:  <font color="red">+VE</font> 
        OUT OR <font color="blue">-VE</font> IN </strong>
        <strong><font color="red">Positron Release</font> by Nucleus:</strong> 
        Some nuclides are positron emitters, in which a proton changes into a 
        neutron with the emission of a positron and a neutrino. The energy of 
        these positrons is generally higher energy than found for beta-minus 
        decays. The <strong>positron itself</strong> is an anti-matter particle, so will annihilate 
        with an electron. &#946;+ is used in PET imaging by detecting the two 
        511keV annihilation photons. An example of positron emission is 
        <span class="rlo-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mmultiscripts>
                <mi>N</mi>
                <mprescripts/> <mi>7</mi> <mi>13</mi>
              </mmultiscripts>
              <mo>&#8594;</mo>
              <mmultiscripts>
                <mi>C</mi>
                <mprescripts/> <mi>6</mi> <mi>13</mi>
              </mmultiscripts>
              <mo>+</mo>
                <msup>
                    <mi>&#946;</mi>
                    <mo>+</mo>
                </msup>
              <mo>+</mo>
                <mi>neutrino</mi>
            </math>
        </span>. Another is 
        <span class="rlo-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mmultiscripts>
                <mi>Na</mi>
                <mprescripts/> <mi></mi> <mi>22</mi>
              </mmultiscripts>
              <mo>&#8594;</mo>
              <mmultiscripts>
                <mi>Ne</mi>
                <mprescripts/> <mi></mi> <mi>22</mi>
              </mmultiscripts>
            </math>
        </span>.
        <br/><br/>
        <strong><font color="blue">Electron Capture</font> by Nucleus</strong>:  A (most likely) K orbital electron can be captured by a proton-rich nucleus. This leaves a hole in the K-shell (see other slide on filling holes). A proton decay will occur, and a neutrino (only) will be emitted.

    </div>
</div>
