<div class="rlo-content">
    <div class="rlo-content-title">250.8 Other Resources</div>
    <div class="rlo-content-body">
        
        A table of nuclides, containing a considerable level of detail can be found at: 
        <strong>http://www.nndc.bnl.gov/nudat2/</strong> 
        
        <br/><br/>
        <font color="blue"> This is the end of Bonus Level 1.</font> 
        
    </div>
             <figure>
            <img class="rlo-content-image" src="/images/RLO2/NuclearTransPanel01.svg"/>
        </figure>
    
</div>
