<div class="rlo-content">
    <div class="rlo-content-title">250.5 Decay Chain / Series</div>
    <div class="rlo-content-body">
        <strong>Radioactive Series</strong> is a sequence of nuclides formed by 
        successive radiative decays until a stable decay product, the end product, 
        is formed. All <strong>naturally-occurring</strong> radioactive elements 
        can be grouped into 3 series: <strong>Uranium series, Actinium series, Thorium 
        series</strong>.        
    </div>
</div>
