<div class="rlo-content">
    <div class="rlo-content-title">250.2 Liquid Drop Model</div>
    <div class="rlo-content-body">
        <font color = "blue"><i>
            The Liquid Drop Model is complementary to the Shell Model. Both have 
            their uses.
        </i></font>
        <strong>Liquid Drop Model</strong> – a useful model of the nucleus as a 
        liquid drop. This analogy works because the short-range attraction between atoms 
        results in liquids, whereas the short-range attraction between nucleons results 
        in nuclei.
        <br/><br/>
        The <strong>semi-empirical mass formula</strong> is a key part of this 
        model and is particularly useful for understanding global effects such 
        as binding energy trends and fission.        
    </div>
</div>
