<div class="rlo-content">
    <div class="rlo-content-title">250.3 Special Relativity</div>
    <div class="rlo-content-body">
        Einstein published his theory of Special Relativity in 1905. 
        The equivalence of mass and energy,  
         <span class="rlo-content-formula">
                <!-- (your LaTeX) $E = mc^2$ -->
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msup>
                        <mrow>
                            <mi>E</mi>
                            <mo>=</mo>
                            <mi>m</mi>
                            <mi>c</mi>
                        </mrow>
                        <mn>2</mn>
                    </msup>
                </math>
            </span> 
           , is a key feature. 
           Special relativity is based upon the constancy of the speed of light,
           and the Principle of Relativity.
           Space and time are described as a unified entity 'spacetime'.
           
            
        <br/><br/>
        <strong>Gravity</strong> is the subject of 
        Einstein’s second relativity theory (General Relativity). 
    </div>
</div>
