<div class="rlo-content">
    <div class="rlo-content-title">260.0 BONUS LEVEL 2</div>
    <div class="rlo-content-body">
     This level contains an assortment of more advanced topics:
     <ul>
        <li>More complicated beta decay schemes</li>
        <li>Holes in an inner shell</li>
      </ul>
    </div>
    </div>
</div>
