<div class="rlo-content">
    <div class="rlo-content-title">260.7 Holes in an Inner Shell</div>
    <div class="rlo-content-body">
        <strong>HOLE CREATION</strong>: Various processes can result in the 
            creation of a hole (vacancy) in an inner shell (such as K-shell). 
            This hole represents energy - it is unstable.
        <br/>
        <ul>
        <li>High speed electron (in an X-ray tube) ! 
        </li>
        <li>Radioactive-related process:
        </li> 
           <ol>   
                <li>       Electron Capture 	(inner electron eaten by the nucleus)
                </li>
                <li>      Internal Conversion  	(inner electron ejected from atom)    <strong>ICE</strong>
                </li>
            </ol>
        </ul>
        <br/>
        <strong>HOLE FILLING</strong>: A hole in an inner shell is unstable and 
            will quickly filled. Externally there are two alternative consequences:
        <br/>
        <strong>CHARACTERISTIC X-RAY</strong>:  An outer-shell (L) electron fills 
            the hole (K) and a <strong>Characteristic X-ray</strong> is emitted. 
            E.g. <span class="rlo-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mi>hf</mi>
              <mo>=</mo>
              <msub>
                <mi>E</mi>
                <mi>K</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>L</mi>
              </msub>
            </math>
       </span>
        <br/>
        <strong>AUGER ELECTRONS</strong>:  An electron appears instead of the X-ray.

    </div>
</div>
