<div class="rlo-content">
    <div class="rlo-content-title">260.7 The Fate of Holes in an Inner Shell</div>
    <div class="rlo-content-body">
        <strong>HOLE CREATION</strong>: Various processes can result in the 
        creation of a hole (vacancy) in an inner shell (such as K-shell). 
        Particle bombardments can produce vacancies, for example by energetic electrons in an X-ray tube, 
        or by photons in the photoelectric effect. Nuclear processes can also remove an inner electron. 
        In electron capture an inner electron is taken into the nucleus, whereas
        in internal conversion an inner electron is ejected from the atom.
        
        <br/><br/>
        
        <strong>HOLE FILLING</strong>: An electronic vacancy in an inner shell is unstable and 
            will be quickly filled. There are two alternatives. 
            Firstly, an outer-shell (L) electron may fill 
            the hole (K) resulting in the emission of a <strong>characteristic X-ray</strong>
            of energy
            <span class="rlo-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mi>hf</mi>
              <mo>=</mo>
              <msub>
                <mi>E</mi>
                <mi>K</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>L</mi>
              </msub>
            </math>
       </span>
       . Secondly, an <strong>Auger electron</strong> may appear instead of the X-ray <i>(slide below)</i>.

    </div>
</div>
