<div class="rlo-content">
    <div class="rlo-content-title">270.7 AUGER</div>
   <div class="rlo-content-body">
        Mono-energetic electron can appear instead of the characteristic X-ray. 
        These are known as <strong>AUGER ELECTRONS</strong>. They are named after 
        Pierre V. Auger (1899 - 1993), who studied, but did not discover this
         process.
        <br/><br/>
        <strong><font color = "gold">AUGER</font> = 
        <font color = "gold">A</font>tom 
        <font color = "gold">U</font>nexpectedly 
        <font color = "gold">G</font>ets 
        <font color = "gold">E</font>lectron 
        <font color = "gold">R</font>eleased</strong>
        <br/><br/>
               AUGER ENERGY:   For a hole in K-shell, characteristic photon (<span class="rlo-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mi>hf</mi>
              <mo>=</mo>
              <msub>
                <mi>E</mi>
                <mi>K</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>L</mi>
              </msub>
            </math>
       </span>) is emitted. If this photon then knocks-out M-shell electron:
        <br/><br/>
        <span class="rlo-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mi>E_AUGER</mi>
              <mo>=</mo>
              <mi>hf</mi>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>K</mi>
              </msub>
              <mo>=</mo>
              <msub>
                <mi>E</mi>
                <mi>K</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>L</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>M</mi>
              </msub>
            </math>
       </span>
        <br/><br/>
        So 3 shells are involved, and we end up with holes in both L and M – the process can happen again!
        <br/><br/>
        Fluorescent Yield (increases with Z): TBD

    </div>
</div>
