<div class="rlo-content">
    <div class="rlo-content-title">270.0 BONUS LEVEL 3</div>
   <div class="rlo-content-body">
     This level contains an assortment of more advanced topics: 
     <ul>
        <li>Auger Electrons</li>
      </ul>
    </div>
         <figure>
            <img class="rlo-content-image" src="/images/RLO2/NuclearTransPanel01.svg"/>
        </figure>
</div>