<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">400.3 Collision Cross Section</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

      <div class="rlo-content-memo"> Hit or miss</div>
  
The concept of 'Cross-Section' expresses the probability of a collision happening.
      The production event is a essentially a collision between an X-ray photon and an atomic nucleus.
The idea of 'cross-section' is used for any type of collision or interaction and is closely related to attenuation coefficient.
Pretend that the target is a little circle. 
If the incident particle passes through the circle then the interaction occurs (‘a hit’). 
The cross-section is the area of this imaginary circle.
<br/><br/>
There are a variety of units used:
cm<sup>2</sup>/atom,
cm<sup>2</sup>/electron,
cm<sup>2</sup>/gram, or
m<sup>2</sup>/gram.

    </div>
</div>
