/*********************************************

BREAKPOINT SETTINGS

*********************************************/

$bp_width_small:    768px;
$bp_width_medium:   1024px;
$bp_width_large:    1600px;
