/*********************************************

BREAKPOINT SETTINGS

*********************************************/

$bp_width_small:    768px;
$bp_width_medium:   1024px;
$bp_width_large:    1600px;


$bp_width_col_one:     600px;
$bp_width_col_two:     960px;

$bp_width_small_phone:    480px;
$bp_width_medium_phone:   640px;