/*******************************************

COLOR SETTINGS

*******************************************/


/*******************************************
Grays
*******************************************/
$color_gray-lighter: 	rgba(245, 245, 245, 1);
$color_gray-light: 	rgba(202, 202, 202, 1);
$color_gray-default: 	rgba(163, 163, 163, 1);
$color_gray-dark: 	rgba(125, 125, 125, 1);
$color_gray-darker: 	rgba(60, 60, 60, 1);
$color_gray-darkest: 	rgba(16, 16, 16, 1);



/*******************************************
Whites
*******************************************/
$color_white-default: 	rgba(255, 255, 255, 1);

/******************************************
Specific
******************************************/
$color_blue:                    #56c7fa;
$color_red:                     #f76540;
$color_checkmark_circle:        #00Cc7a;
$color_current:                 #fa8072;
$color_tile_title_background:   rgba(0, 0, 0, 0.75);
$color_nav_card_title_background: rgba(0, 0, 0, 0.75);
$color_nav_button_background:   rgba(125, 125, 125, 0.50);
$color_background_transparent:  rgba(0, 0, 0, 0.1);
$color_ui:                      $color_gray-darker;
$color_content_text:            $color_gray-darkest;