/*******************************************

COLOR SETTINGS

*******************************************/


/*******************************************
Grays
*******************************************/
$color_gray-lighter: 	rgba(245, 245, 245, 1);
$color_gray-light: 	rgba(202, 202, 202, 1);
$color_gray-default: 	rgba(163, 163, 163, 1);
$color_gray-dark: 	rgba(125, 125, 125, 1);
$color_gray-darker: 	rgba(60, 60, 60, 1);
$color_gray-darkest: 	rgba(16, 16, 16, 1);



/*******************************************
Whites
*******************************************/
$color_white-default: 	rgba(255, 255, 255, 1);

/******************************************
Specific
******************************************/
$color_tile_title_background:   rgba(0, 0, 0, 0.75);
$color_nav_button_background:   rgba(202, 202, 202, 0.50);
$color_background_transparent:  rgba(0, 0, 0, 0.1);
$color_ui:                      $color_gray-darker;
$color_content_text:            $color_gray-darkest;
$color_content_canvas_background: $color_gray-darkest;
$color_background-gradient:     linear-gradient(180deg, rgba(240, 240, 240, 1) 0%, rgba(245, 245, 245, 1) 47.52%, $color_white-default 100%);
$color_map_view_background:     rgba(16, 16, 16, 0.9);
$color_map_card_default:        rgba(146, 148, 151, 1);
$color_map_card_visited:        rgba(255, 255, 255, 1);
$color_map_card_current:        rgba(255, 255, 255, 1);
$color_map_card_highlight:      rgba(34, 64, 153, 1);
$color_map_card_text:           $color_white-default;
$color_map_card_text_visited:   rgba(129,129,130, 1);

$color_button_default_primary: $color_white-default;
$color_button_secondary_fill: rgba(202, 202, 202, 0.50);
$color_button_secondary_stroke: $color_gray-default;
$color_button_hover_primary: $color_gray-light;
$color_button_hover_secondary_fill: $color_gray-light;
$color_button_hover_secondary_stroke: $color_gray-dark;
$color_button_down_primary: $color_gray-default;
$color_button_down_secondary_fill: $color_gray-default;
$color_button_down_secondary_stroke: $color_gray-darker;

// hyperlink style is set in index.scss for all <a> elements
$color_link: #11D6F5;
$color_link_visited: #F53011;
$color_link_hover: #A211F5;

