/*********************************************

TYPOGRAPHY SETTINGS

*********************************************/

/*******************************************
REM VALUE
Controls root element font size(rem) applied to <HTML>
*******************************************/
$fontSize-root: 10px;	// (1rem)


/*******************************************
FAMILIES
*******************************************/
$fontFamily-default:    'Lato', sans-serif;
$fontFamily-title:      'Lato', sans-serif;
$fontFamily-mapCard:    'Source Sans Pro', sans-serif;


/*******************************************
FONT SIZES
*******************************************/
$fontSize-largest: 	2.2rem;
$fontSize-subtitle:     2.0rem; // used for h3 titles
$fontSize-large:       1.8rem;
$fontSize-med:          1.7rem;
$fontSize-body: 	1.6rem;
$fontSize-small: 	1.4rem;

/*****************************************
Specific
*****************************************/
$fontSize-tile:         3rem;
$fontSize-mapCard:      1.5rem;