/*********************************************

TYPOGRAPHY SETTINGS

*********************************************/

/*******************************************
REM VALUE
Controls root element font size(rem) applied to <HTML>
*******************************************/
$fontSize-root: 10px;	// (1rem)


/*******************************************
FAMILIES
*******************************************/
$fontFamily-default:    'Lato', sans-serif;
$fontFamily-title:      'Lato', sans-serif;


/*******************************************
FONT SIZES
*******************************************/
$fontSize-large: 	2.2rem;
$fontSize-larger:       2.0rem;
$fontSize-body: 	1.6rem;
$fontSize-small: 	1.4rem;