/*********************************************

LAYOUT SETTINGS

*********************************************/

/*******************************************
LAYOUT
*******************************************/


/*******************************************
PADDING
can be used anywhere' so dont change these'
*******************************************/
$padding-largest: 8rem;
$padding-large:   6rem;
$padding-default: 4rem;
$padding-medium:  2rem;
$padding-small:   1rem;

/*******************************************
LINE WIDTHS
*******************************************/
$line-default: 0.2rem;

/******************************************
ELEMENT SIZE
******************************************/
$map-card-size:     14rem;
$map-card-margin:   1.5rem;
$ui-button-width:   5rem;    // eg arrows
$ui-button-min-width: 44px; // minimum size needed for UI elements on touch devices
