/*********************************************

LAYOUT SETTINGS

*********************************************/

/*******************************************
LAYOUT
*******************************************/


/*******************************************
PADDING
*******************************************/
$padding-default: 10rem;
$padding-medium: 5rem;
$padding-small: 1rem;
/*******************************************
LINE WIDTHS
*******************************************/
$line-default: 0.2rem;
