/**********************************************

TRANSITION SETTINGS

**********************************************/

/*******************************************
TIMING
NOTE js equivalents in /scripts/Core/Settings.js must be kept in sync and converted to ms
*******************************************/
$duration-long: 	.5s;
$duration-default: 	.3s;
$duration-short: 	.1s;

/*******************************************
EASING
*******************************************/
$ease-snappy: 		cubic-bezier(.22, .88, .01, .99);
// $ease-out-bounce: 	cubic-bezier(.11, .99, .5, 1.1);
