/*********************************************

ZINDEX SETTINGS

*********************************************/


/*******************************************
RANGE INCREMENT
*******************************************/
$zIncrement: 10;	// Standard increment between depth layers


/*******************************************
STANDARD RAMP
*******************************************/
$z-min:	0;
$z-bg:	$zIncrement*1;
$z-mg:	$zIncrement*2;
$z-fg:	$zIncrement*3;
$z-max:	$zIncrement*4;
