<div class="rlo-content">
    <div class="rlo-content-title">200.5 Waves and Standing Waves</div>
    <div class="rlo-content-body">
        <h4>Traveling Waves</h4>
        <div class="rlo-content-memo">Wave goodbye</div>
        <strong>Traveling Waves</strong> can be of any shape and move outward freely from a 
        source through a medium, carrying energy, but not 
        material. A familiar example are waves propagating on the surface of water. 
        Traveling wave velocity is the product of frequency and wavelength (v = fλ).
        The amplitude (A) of a traveling sine wave is given by:

<!-- begin MathToWeb -->
<!-- (your LaTeX) $A=\sin(kx-\omega t )  k=2\pi/\lambda,   \omega = 2 \pi f$ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mi>A</mi>
	<mo>=</mo>
	<mi>sin</mi>
	<mrow>
		<mo form="prefix">(</mo>
		<mi>k</mi>
		<mi>x</mi>
		<mo>-</mo>
		<mi>&#x003C9;</mi>
		<mi>t</mi>
		<mo form="postfix">)</mo>
	</mrow>
        <mi>where</mi>
	<mi>k</mi>
	<mo>=</mo>
	<mn>2</mn>
	<mi>&#x003C0;</mi>
	<mo>&#x0002F;</mo>
	<mi>&#x003BB;</mi>
	<mo>, and</mo>
	<mi>&#x003C9;</mi>
	<mo>=</mo>
	<mn>2</mn>
	<mi>&#x003C0;</mi>
	<mi>f.</mi>
</mrow>
</math>
<!-- end MathToWeb -->

    <figure>
    <img class="img-responsive rlo-content-image" src="/content/RLO1/assets/Wave.svg" />
    <figcaption></figcaption>
    </figure>

        <br/>
        <h4>Waves Confined by Reflections</h4>
         <div class="rlo-content-memo">Wave back</div>       
        <strong>Standing Waves</strong> arise when waves are confined within an 
        enclosed container. At each location, the amplitude of the oscillation remains constant over time.
        Only certain patterns are possible - 
        those that arise from <strong>Constructive Interference</strong> of 
        the reflections from the boundaries. <strong>Destructive 
        Interference</strong> eliminates other patterns. This gives rise 
        to certain allowed modes of oscillation (or natural resonances) and is the origin 
        of quantization. 
    </div>
    
    <figure>
    <img class="img-responsive rlo-content-image" src="/content/RLO1/assets/WaveStanding.svg" />
    <figcaption></figcaption>
    </figure>
    
</div>
