<div class="lesson-content">
    <div class="lesson-content-title">300.5 Math of Classical Standing Waves</div>
    <div class="lesson-content-body">
  
        
 A standing wave is equivalent to two waves traveling in the opposite direction:
<br/>

<!-- begin MathToWeb -->
<!-- (your LaTeX) $A=\sin(kx-\omega t )  k=2\pi/\lambda,   \omega = 2 \pi f$ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mi>A</mi>
	<mo>=</mo>
	<mi>sin</mi>
	<mrow>
		<mo form="prefix">(</mo>
		<mi>k</mi>
		<mi>x</mi>
		<mo>-</mo>
		<mi>&#x003C9;</mi>
		<mi>t</mi>
		<mo form="postfix">)</mo>
	</mrow>
</mrow>
<mrow>
	<mo>+</mo>
	<mi>sin</mi>
	<mrow>
		<mo form="prefix">(</mo>
		<mi>k</mi>
		<mi>x</mi>
		<mo>+</mo>
		<mi>&#x003C9;</mi>
		<mi>t</mi>
		<mo form="postfix">)</mo>
	</mrow>
</mrow>    
</math>
<!-- end MathToWeb -->        
        
        
     
    <img class="img-responsive lesson-content-image" src="/content/lesson1/assets/WaveStanding.svg" />
 
        
    </div>
</div>
