<div class="lesson-content">
    <div class="lesson-content-title">400.6 Quantum Atom 2 - Classical Nuclear Potential</div>
    <div class="lesson-content-body">
        
        <div class="lesson-content-memo">Even in the quantum atom, the nucleus is still treated classically</div>     
        
        The Schrodinger wave equation describes how a quantum electron wave is constrained
spatially by an attractive classical inverse-square electric potential. Despite this hybrid
classical-quantum approach, the Schrodinger equation has proven extremely successful. The
attractive nuclear potential constrains the electron wave. The field is determined by the charge
of the nucleus, <i>Ze</i>, where <i>Z</i>&nbsp; is the number of protons, and <i>e</i>&nbsp;
is the elemental unit of charge, 
<i>e</i>= 1.6 x 10<sup>-19</sup> Coulombs.
        <br/>
        
        The electric field is given by: <span class="lesson-content-formula">
            <!-- (your LaTeX) $E = \frac{Ze}{(4\pi \epsilon _{0})r^{2}}$ -->
<math mathsize="normal" xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mi>E</mi>
	<mo>=</mo>
	<mfrac linethickness="1">
		<mrow>
			<mi>Z</mi>
			<mi>e</mi>
		</mrow>
		<mrow>
			<mrow>
				<mo form="prefix">(</mo>
				<mn>4</mn>
				<mi>&#x003C0;</mi>
				<msub>
					<mi>&#x003F5;</mi>
					<mn>0</mn>
				</msub>
				<mo form="postfix">)</mo>
			</mrow>
			<msup>
				<mi>r</mi>
				<mn>2</mn>
			</msup>
		</mrow>
	</mfrac>
</mrow>
</math></span>
        and the 
        electric potential by:<span class="lesson-content-formula">
            <!-- (your LaTeX) $V = -\frac{Ze}{(4\pi \epsilon _{0})r}$ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mi>V</mi>
	<mo>=</mo>
	<mo>-</mo>
	<mfrac linethickness="1">
		<mrow>
			<mi>Z</mi>
			<mi>e</mi>
		</mrow>
		<mrow>
			<mrow>
				<mo form="prefix">(</mo>
				<mn>4</mn>
				<mi>&#x003C0;</mi>
				<msub>
					<mi>&#x003F5;</mi>
					<mn>0</mn>
				</msub>
				<mo form="postfix">)</mo>
			</mrow>
			<mi>r</mi>
		</mrow>
	</mfrac>
</mrow>
</math></span>
  
    <!-- remove until ready
    <canvas class="lesson-content-canvas" width="680" height="240"></canvas>
    
    <div class=lesson1-row1-col5-controls">
        <div class="lesson1-row1-col5-v">
            <div>v potential</div>
            <div id="vOut">5.10ev</div>
        </div>
        <div class="lesson1-row1-col5-e">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                        <mo>=</mo>
                        <mo>-</mo>
                        <mfrac linethickness="1">
                                <mrow>
                                        <mi>1</mi>
                                </mrow>
                                <mrow>
                                        <mrow>
                                                <mo form="prefix">(</mo>
                                                <mn>4</mn>
                                                <mi>&#x003C0;</mi>
                                                <msub>
                                                        <mi>&#x003F5;</mi>
                                                        <mn>0</mn>
                                                </msub>
                                                <mo form="postfix">)</mo>
                                        </mrow>
                                </mrow>
                        </mfrac>
                </mrow>
            </math>
        </div>
        <div class="lesson1-row1-col5-z">
            <div>
                <label for=z>z  atomic number</label>
                <input type=range min=1 max=5 value=1 id=z step=1>
                <output for=z id=zOut>3</output>
            </div>
        </div>
          <div class="lesson1-row1-col5-r">
            <div>
                <label for=r>r  radial distance</label>
                <input type=range min=1 max=5 value=1 id=r step=1>
                <output for=r id=rOut>5.29</output>
                <div>x10<sup>-11</sup>m</div>
            </div>
        </div>
    </div>
    -->
  </div>
</div>
