<div class="rlo-content">
    <div class="rlo-content-title">400.3 Classical Solar System Atom (1910's) </div>
    <div class="rlo-content-body">
        
     <font color='blue'><i> The stability of atoms was a mystery to classical physics </i></font>
    <br/><br/> 
        
 Following the discovery of the nucleus (a highly concentrated region of positive charge), 
 no sensible classical model of the atom could be built.
 
 According to <strong>classical mechanics</strong>, an object like an electron can only be
accommodated as orbiting the nucleus, in the same way that planets orbit the 
sun. However according to classical electromagnetism, such orbital electrons 
would continuously radiate energy and very rapidly spiral into the nucleus (↓). 
There is no solution to this contradiction within the classical framework. The 
solar-system model has other limitations, for instance it can not explain a 
discrete spectrum. The sad conclusion is that in classical physics is 
that stable atoms cannot exist, and the classical world is a world without any understanding of 
internal atomic structure.
     

    </div>
    
        <img class="img-responsive rlo-content-image" src="/content/RLO1/assets/SolarPlay.svg" />
        <div>Solar System Atom</div>
</div>
