<div class="rlo-content">
    <div class="rlo-content-title">500.3 Failure of Classical Electron Orbital</div>
    <div class="rlo-content-body">
        The classical physics model of an atom was a serious failure.
        
<!-- TBD – show calculation of how short a classical atom would last.!-->

<img class="img-responsive rlo-content-image" src="/content/RLO1/assets/SolarPlay.svg" />
        

    </div>
</div>
