<div class="lesson-content">
    <div class="lesson-content-title">500.3 Failure of Classical Electron Orbital</div>
    <div class="lesson-content-body">
        The classical physics model of an atom was a serious failure.
        
<!-- TBD – show calculation of how short a classical atom would last.!-->

<img class="img-responsive lesson-content-image" src="/content/lesson1/assets/SolarPlay.svg" />
        

    </div>
</div>
