
<div class="lesson-content">

    <div class="lesson-content-title lesson-content-japan">Japanese 205 - Exercise 2-1</div>
    <div class="lesson-content-body">
        
        <br/>
 
ぼく<br/><br/>
      <img class="lesson-content-image" src="/content/Sandbox/assets/Boy2_1.png"/><br/>
      <img class="lesson-content-image" src="/content/Sandbox/assets/Family2_1.png"/><br/>
      
これは、ぼくのかぞくのしゃしんです。<br/>
<br/>
これは、わたしのおじいさんです。<br/>
おじいさんは、ななじゅうごさいです。おじいさんは、ちゅうごくじんです。<br/><br/>

これは、　おばあさんです。おばあさんは　ななじゅうよんさいです。おばあさんは、かんこくじんです。<br/>
<br/>
これは、ぼくのおとうさんです。おとうさんは、かいしゃいんです。さんじゅうはっさいです。おとうさんは、アメリカじんです。<br/>
<br/>
これは、おかあさんです。おかあさんは、がっこうのせんせいです。さんじゅうろくさいです。おかあさんもアメリカじんです。<br/>
<br/>
いもうとのなまえは、せーらです。せーらは、さんさいです。<br/>
<br/>
おとうとのなまえは、けんです。けんは、ななさいです。<br/>
<br/>
ぼくは、はたちです。<br/>
<br/>
せーらとおとうととぼくは、アメリカじんじゃないです。かなだじんです。<br/><br/>

どうぞよろしくおねがいします。<br/>

<br/><br/><br/>
    </div>     
</div>


      
    


