
<div class="lesson-content ">

    <div class="lesson-content-title lesson-content-japan">Japanese 205 - Exercises</div>
    <div class="lesson-content-body">
        
        <br/>
 
        Exercises for Japanese 205 <br/>
        Akiko Sharp<br/>
        Unversity of Calgary <br/>
        asharp@ucalgary.ca <br/>
        <br/>
        Scroll right for exercises --> <br/>
        
        <br/>
        <div class="lesson-content-memo">Images from http://www.irasutoya.com/ </div>
    </div>     
</div>


      
    


