

<div class="lesson-content">

<style>
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Cambria;}
</style>            
            
    <div class="lesson-content-title lesson-content-japan">Japanese 205 - Exercise 4-1 My Word Export</div>
    <div class="lesson-content-body"

<div class=WordSection1>

<p class=MsoNormal><span lang=EN-US>Lesson 4</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt'>Exercise 4-1</span></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=EN-US><img
width=173 height=162 id="Picture 22"
src="/content/Sandbox/assets/J4/image001.png"></span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=EN-US><img
width=119 height=96 id="Picture 23" src="/content/Sandbox/assets/J4/image002.png"></span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#22799;&#20241;&#12415;&#65288;&#12394;&#12388;&#12420;&#12377;&#12415;&#65289;&#12395;&#12288;&#12495;&#12527;&#12452;&#12408;&#34892;&#12365;&#12414;&#12375;&#12383;&#12290;&#12363;&#12382;&#12367;&#12392;&#34892;&#12365;&#12414;&#12375;&#12383;&#12290;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#19971;&#26376;&#21313;&#26085;&#65288;&#12392;&#12362;&#12363;&#65289;&#12363;&#12425;&#12289;&#20108;&#21313;&#20116;&#26085;&#65288;&#12395;&#12376;&#12421;&#12358;&#12372;&#12395;&#12385;&#65289;&#12414;&#12391;&#34892;&#12365;&#12414;&#12375;&#12383;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#12495;&#12527;&#12452;&#12399;&#12289;&#20154;&#12364;&#12383;&#12367;&#12373;&#12435;&#12356;&#12414;&#12375;&#12383;&#12290;&#27598;&#26085;&#65288;&#12414;&#12356;&#12395;&#12385;&#65289;&#12362;&#12424;&#12366;&#12414;&#12375;&#12383;&#12290;&#12381;&#12428;&#12363;&#12425;&#12289;&#12469;&#12540;&#12501;&#12451;&#12531;&#12418;&#12375;&#12414;&#12375;&#12383;&#12290;&#28023;&#65288;&#12358;&#12415;&#65289;&#12399;&#12289;&#12392;&#12390;&#12418;&#12365;&#12428;&#12356;&#12391;&#12375;&#12383;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#12499;&#12540;&#12481;&#12391;&#12289;&#26412;&#12418;&#12424;&#12415;&#12414;&#12375;&#12383;&#12290;&#12450;&#12452;&#12497;&#12483;&#12489;&#12391;&#12288;&#35501;&#65288;&#12424;&#65289;&#12415;&#12414;&#12375;&#12383;&#12290;&#12383;&#12367;&#12373;&#12435;&#35501;&#12415;&#12414;&#12375;&#12383;&#12290;&#12424;&#12427;&#12399;&#12289;&#12524;&#12473;&#12488;&#12521;&#12531;&#12391;&#12400;&#12435;&#12372;&#12399;&#12435;&#12434;&#39135;&#12409;&#12414;&#12375;&#12383;&#12290;&#12495;&#12527;&#12452;&#12395;&#12399;&#12289;&#12524;&#12473;&#12488;&#12521;&#12531;&#12364;&#12383;&#12367;&#12373;&#12435;&#12354;&#12426;&#12414;&#12375;&#12383;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#26085;&#26412;&#12398;&#12524;&#12473;&#12488;&#12521;&#12531;&#12399;&#12289;&#12507;&#12486;&#12523;&#12398;&#12392;&#12394;&#12426;&#12391;&#12375;&#12383;&#12290;&#12487;&#12497;&#12540;&#12488;&#12399;&#12289;&#12499;&#12540;&#12481;&#12398;&#12385;&#12363;&#12367;&#12391;&#12375;&#12383;&#12290;&#12360;&#12356;&#12364;&#12363;&#12435;&#12418;&#12288;&#12354;&#12426;&#12414;&#12375;&#12383;&#12290;&#12360;&#12356;&#12364;&#12434;&#12288;&#12383;&#12367;&#12373;&#12435;&#12288;&#12415;&#12414;&#12375;&#12383;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#12414;&#12383;&#12288;&#12495;&#12527;&#12452;&#12395;&#12288;&#34892;&#12365;&#12383;&#12356;&#12391;&#12377;&#12290;</span><span
lang=EN-US>(I want to go to Hawaii again.)</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<span lang=EN-US style='font-size:12.0pt;font-family:Cambria'><br clear=all
style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt'>Exercise 4-2</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#12431;&#12383;&#12375;&#12398;</span><span
lang=EN-US>1</span><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#26085;</span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt'>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US><img width=137 height=132 id="Picture 10"
src="/content/Sandbox/assets/J4/image003.png"><img width=172 height=152
id="Picture 11" src="/content/Sandbox/assets/J4/image004.png"><img width=101
height=91 id="Picture 8" src="/content/Sandbox/assets/J4/image005.png"></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt'>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#12431;&#12383;&#12375;&#12399;&#12289;&#12383;&#12356;&#12390;&#12356;&#21320;&#21069;&#20845;&#26178;&#12395;&#12362;&#12365;&#12414;&#12377;&#12290;&#27598;&#26085;&#65288;&#12414;&#12356;&#12395;&#12385;&#65289;&#12471;&#12515;&#12527;&#12540;&#12434;&#12354;&#12403;&#12390;&#12289;&#12467;&#12540;&#12498;&#12540;&#12434;&#39154;&#65288;&#12398;&#65289;&#12415;&#12414;&#12377;&#12290;&#12471;&#12522;&#12450;&#12523;&#12392;&#12501;&#12523;&#12540;&#12484;&#12418;&#39135;&#65288;&#12383;&#65289;&#12409;&#12414;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#21320;&#21069;&#19971;&#26178;&#21322;&#12395;&#20181;&#20107;&#65288;&#12375;&#12372;&#12392;&#65289;&#12408;&#34892;&#65288;&#12356;&#65289;&#12365;&#12414;&#12377;&#12290;&#27598;&#26085;&#12289;&#38651;&#36554;&#65288;&#12391;&#12435;&#12375;&#12419;&#65289;&#12391;&#20181;&#20107;&#12408;&#34892;&#12365;&#12414;&#12377;&#12290;&#20181;&#20107;&#12399;&#12289;&#30149;&#38498;&#65288;&#12403;&#12423;&#12358;&#12356;&#12435;&#65289;&#12391;&#12377;&#12290;&#12431;&#12383;&#12375;&#12399;&#12289;&#12363;&#12435;&#12372;&#12375;&#12391;&#12377;&#12290;&#30149;&#38498;&#12399;&#12289;&#39365;&#65288;&#12360;&#12365;</span><span
lang=EN-US>=station</span><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#65289;&#12398;&#12385;&#12363;&#12367;&#12391;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#20181;&#20107;&#12399;&#12289;&#21320;&#21069;&#20061;&#26178;&#12363;&#12425;&#21320;&#24460;&#20116;&#26178;&#12391;&#12377;&#12290;&#12391;&#12418;&#12289;&#26178;&#12293;&#12289;&#21320;&#24460;&#20116;&#26178;&#12363;&#12425;&#21320;&#21069;&#19968;&#26178;&#12391;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#31169;&#12399;&#12289;&#20181;&#20107;&#12398;&#12354;&#12392;&#65288;</span><span
lang=EN-US>after work</span><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#65289;&#12289;&#12424;&#12367;&#12288;&#12363;&#12356;&#12418;&#12398;&#12408;&#34892;&#12365;&#12414;&#12377;&#12290;&#12381;&#12428;&#12363;&#12425;&#12289;&#12358;&#12385;&#12395;&#12363;&#12360;&#12426;&#12414;&#12377;&#12290;&#12358;&#12385;&#12391;&#12289;&#12400;&#12435;&#12372;&#12399;&#12435;&#12434;&#39135;&#12409;&#12414;&#12377;&#12290;&#26178;&#12293;&#12289;&#12400;&#12435;&#12372;&#12399;&#12435;&#12398;&#12354;&#12392;&#12289;&#12360;&#12356;&#12364;&#12434;&#12415;&#12414;&#12377;&#12290;&#12452;&#12531;&#12479;&#12540;&#12493;&#12483;&#12488;&#12391;&#12415;&#12414;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#12383;&#12356;&#12390;&#12356;&#21320;&#21069;&#21313;&#20108;&#26178;&#12372;&#12429;&#12397;&#12414;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<span lang=EN-US style='font-size:12.0pt;font-family:Cambria'><br clear=all
style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt'>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt'>Exercise 4-3</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#12473;&#12465;&#12472;&#12517;&#12540;&#12523;</span></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=EN-US><img
width=182 height=182 id="Picture 12"
src="/content/Sandbox/assets/J4/image006.jpg"></span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#26376;&#26332;&#26085;&#12399;&#12289;&#12428;&#12365;&#12375;&#12398;&#12463;&#12521;&#12473;&#12364;&#12354;&#12426;&#12414;&#12377;&#12290;&#12391;&#12418;&#12289;&#26085;&#26412;&#35486;&#12398;&#12463;&#12521;&#12473;&#12399;&#12354;&#12426;&#12414;&#12379;&#12435;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#28779;&#26332;&#26085;&#12399;&#12289;&#22823;&#23398;&#65288;&#12384;&#12356;&#12364;&#12367;&#65289;&#12408;&#12288;&#34892;&#12365;&#12414;&#12379;&#12435;&#12290;&#12463;&#12521;&#12473;&#12364;&#12354;&#12426;&#12414;&#12379;&#12435;&#12290;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#12391;&#12418;&#12289;&#12450;&#12523;&#12496;&#12452;&#12488;&#12395;&#12288;&#34892;&#12365;&#12414;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#27700;&#26332;&#26085;&#12399;&#12289;&#26085;&#26412;&#35486;&#12398;&#12463;&#12521;&#12473;&#12364;&#12354;&#12426;&#12414;&#12377;&#12290;&#21320;&#21069;&#21313;&#26178;&#12363;&#12425;&#21313;&#19968;&#26178;&#12414;&#12391;&#12391;&#12377;&#12290;&#12463;&#12521;&#12473;&#12398;&#12354;&#12392;&#12289;&#12463;&#12521;&#12502;&#12395;&#34892;&#12365;&#12414;&#12377;&#12290;&#12463;&#12521;&#12502;&#12399;&#12289;&#12486;&#12491;&#12473;&#12463;&#12521;&#12502;&#12391;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#26408;&#26332;&#26085;&#12399;&#12289;&#26085;&#26412;&#35486;&#12398;&#12463;&#12521;&#12473;&#12392;&#32076;&#28168;&#65288;&#12369;&#12356;&#12374;&#12358;&#65289;&#12398;&#12463;&#12521;&#12473;&#12395;&#12395;&#34892;&#12365;&#12414;&#12377;&#12290;&#21320;&#24460;&#20116;&#26178;&#12363;&#12425;&#12450;&#12523;&#12496;&#12452;&#12488;&#12364;&#12354;&#12426;&#12414;&#12377;&#12290;&#12450;&#12523;&#12496;&#12452;&#12488;&#12399;&#12289;&#22823;&#23398;&#12398;&#12385;&#12363;&#12367;&#12391;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#37329;&#26332;&#26085;&#12399;&#12289;&#26085;&#26412;&#35486;&#12392;&#12428;&#12365;&#12375;&#12392;&#12369;&#12356;&#12374;&#12356;&#12398;&#12463;&#12521;&#12473;&#12364;&#12354;&#12426;&#12414;&#12377;&#12290;&#12463;&#12521;&#12473;&#12398;&#12354;&#12392;&#12289;&#12392;&#12418;&#12384;&#12385;&#12392;&#12288;&#12424;&#12367;&#12288;&#26144;&#30011;&#65288;&#12360;&#12356;&#12364;&#65289;&#12395;&#34892;&#12365;&#12414;&#12377;&#12290;&#12495;&#12522;&#12454;&#12483;&#12489;&#12398;&#26144;&#30011;&#12420;&#26085;&#26412;&#12398;&#26144;&#30011;&#12434;&#12415;&#12414;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#22303;&#26332;&#26085;&#12399;&#12289;&#12524;&#12473;&#12488;&#12521;&#12531;&#12391;&#12450;&#12523;&#12496;&#12452;&#12488;&#12364;&#12354;&#12426;&#12414;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=JA style='font-family:"\FF2D\FF33 \660E\671D"'>&#26085;&#26332;&#26085;&#12399;&#12289;&#12362;&#12381;&#12367;&#12362;&#12365;&#12414;&#12377;&#12290;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>&nbsp;</span></p>

</div>





    </div>     
</div>


      
    


