
<div class="lesson-content">

    <div class="lesson-content-title lesson-content-japan">Japanese 205 - Exercise 1-2</div>
    <div class="lesson-content-body">
        
         <img class="lesson-content-image" src="/content/Sandbox/assets/Chem_1_2.png"/>
        <br/>
 
    はじめまして。わたしは、いとう　あやかです。<br/>
    あるばーた（アルバータ）だいがくのがくせいです。<br/>
    さんねんせいです。<br/>
    せんこうは、かがくとにほんごです。<br/>
    にほんじんです。とうきょうからです。(I am from Tokyo.) <br/>
    どうぞよろしくおねがいします。<br/>
        
    </div>       
</div>


      
    


