
<div class="lesson-content">

    <div class="lesson-content-title lesson-content-japan">Japanese 205 - Exercise 2-3</div>
    <div class="lesson-content-body">
        
やさい (vegetables)です <br/>
<br/>
         <img class="lesson-content-image" src="/content/Sandbox/assets/Veg2_3.png"/>
        <br/>
きゃべつです。きゃべつは、やさいです。<br/>
このきゃべつは、おおきいです。<br/>
<br/>
トマトです。トマトは、あかいです。おいしいです。<br/>
<br/>
パプリカは、きいろ　と　あかです。<br/>
にほんの　パプリカはたかいです。<br/>
<br/>
ピーマンです。ピーマンは、みどりです。にくじゃないです。<br/>
<br/>
マッシュルームです。マッシュルームは、さかなじゃないです。やさいです。<br/>

<br/><br/><br/>

    </div>     
</div>


      
    


