<div class="lesson-content">
  <div class="lesson-content-title col-xs-12"> MRI Image Formation</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">The gradient is fundamental in MR image formation.</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
<h3>	MRI Image Formation Topics</h3>
 
 <br/> $\quad\rightarrow$B0 Gradient Encoding (this lesson)
 <br/> $\quad\rightarrow$Pulse Sequences
 <br/> $\quad\rightarrow$Advanced Encoding:  Parallel imaging (SENSE, GRAPPA) / array coils; Partial data methods (elsewhere)
 
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson13/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
