<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">  Gradient Topics</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Gradients, Sequences</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
<h3>	Gradient Topics</h3>
 
 <br/> $\quad\rightarrow$Intro
 <br/> $\quad\rightarrow$gradient fields
 <br/> $\quad\rightarrow$dephasing effect of a gradient pulse
 <br/> $\quad\rightarrow$dephase - rephase (gradient echo)
 <br/> $\quad\rightarrow$gradient spoiling / spoilers
 <br/> $\quad\rightarrow$gradient strength
 <br/> $\quad\rightarrow$gradient switching rate
 <br/> $\quad\rightarrow$gradient non-linearity
 <br/> $\quad\rightarrow$unwanted gradients (the shim; susceptibility; eddy currents)
 
<br/><br/>
<h3>	Gradient Encoding</h3>
 
 <br/> $\quad\rightarrow$readout gradient
 <br/> $\quad\rightarrow$phase-encoding gradient
 <br/> $\quad\rightarrow$slice-selection gradient
 <br/> $\quad\rightarrow$diffusion encoding
 
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson13/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
