<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">K Space Advanced</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">k Space Things</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
<h3>	k Space Schemes Compared</h3>
 
 <br/> $\quad\rightarrow$ 2D Encoding (Readout and Phase)
 <br/> $\quad\rightarrow$ FSE (Many k-spaces in one echo train)
 <br/> $\quad\rightarrow$ Multi-slice (independent 2D k-space for each slice)
 <br/> $\quad\rightarrow$ 3D (3D k-space data)
 <br/> $\quad\rightarrow$ partial k-space
 <br/> $\quad\rightarrow$ key-hole
 <br/> $\quad\rightarrow$ radial
 <br/> $\quad\rightarrow$ spiral
 <br/> $\quad\rightarrow$ EPI (whole of k-space in one gradient echo train)
 <br/> $\quad\rightarrow$ parallel imaging (partial k-space + data from coils)
 
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson13/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
