<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">   Readout (Frequency Encoding)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">   Varying frequencies $\rightarrow$ varying positions</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
Three things are required to obtain readout: i) transverse magnetization, ii) magnetic gradient (also called frequency encoding gradient) on, and iii) a signal is acquired. The different frequencies in the signal, then, determine the readout positions (in 1D). See figure.
Limitation: readout only gives 1 projection (or 1D), similar to a single CT projection, so it doesn't give you information about other directions (need phase encoding or other readout directions). Hence, there is insufficient information to make a full image.
<br/><br/>
<h3>Fourier Analysis</h3>
Fourier (frequency) analysis of the acquired signal is used to relate signals of specific frequencies to specific positions. FT is telling you the frequency content of the signal. e.g. if you have a lot of low frequency, that means there is a lot of sample to the left.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="	/content/lesson10/assets/Readout.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
