<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">    Slice Selection</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	selective excitation</div>

           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
<h3>What is it?</h3>
Slice selection helps define the area on the body that you want to image. It picks out one plane, without disturbing any other
parts of the body.
The excited plane is called a slice and has a thickness measured in mm.
	Slice selection is absolutely fundamental in MRI.
<br/><br/>
Slice selection is done by: i) applying an RF pulse and ii) switching the gradient on at the same time.  A slice is selected perpendicular to the gradient direction.
<br/><br/>
<h3>	Explanation</h3>
	 If an RF pulse is applied, only the spins that are rotating at the particular frequency are flipped.
	 Note that spins don't really feel just one particular frequency, rather, they feel a spectrum of frequencies inside our bodies and rotate at slightly different frequencies.
	 This is controlled by the gradients.
<br/><br/>
<h3>Slice Position</h3>
We can change the slice position by adjusting the frequency (simply with a dial). This is more efficient since you don't have to adjust/position the patient (like in CT).
<br/><br/>
<h3>	Slice Orientation: an advantage of MRI over CT</h3>
	Because the gradient has all 3 directions, (GX, GY, and GZ) this enables us to image from all directions. For example, a transverse slice of the body can be obtained if we turn on the z-gradient. To get a sagittal slice, the x-gradient would be turned on.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image-zoom-600" src="	/content/lesson10/assets/SliceSelection.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
