<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">    Multislice</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	One slice is never enough</div>

           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
<h3>	Multi-slice Selection</h3>
	You can obtain many slices within a given time frame (given that TR isn't too short) without any penalties. While slices are recovering, other slices can be selected and worked on. This is called interleaving and greatly improves imaging efficiency.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image-zoom-600" src="	/content/lesson13/assets/Pizza.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
