<div class="lesson-content">
    <div class="lesson-content-title">10.0 Atoms</div>
    <div class="lesson-content-body">
        
        This level (Level 10) introduces a few elementary facts about <strong>atoms</strong>, 
        and <strong>chemical elements</strong>. 
        A <strong>molecule</strong> is a group of atoms bonded to each other in a specific pattern.
    </div>
            <img class="lesson-content-image" src="/content/lesson2/assets/AtomPlay.svg"/>
            
        
</div>

