<div class="lesson-content">
    <div class="lesson-content-title">100.2 Naming Nuclei & Definitions</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">A nuclide is a specific type of nucleus</div>
        
        A <strong>nuclide</strong> is any atomic nucleus with a specific number 
        of protons (Z), and neutrons (N). The total number of nucleons is given 
        by the mass number:
        <span class="lesson-content-formula">
            <!-- (your LaTeX) $A = Z + N$ -->
            <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mrow>
                    <mi>A</mi>
                    <mo>=</mo>
                    <mi>Z</mi>
                    <mo>+</mo>
                    <mi>N</mi>
                    <mo>.</mo>
            </mrow>
            </math>
        </span></li>
        There are over 3000 different nuclides, roughly 90% 
        of which and unstable, i.e. radioactive.
        <ul>
            <li> A - mass number </li>
            <li> N - neutron number </li>
            <li> Z - atomic number </li>
            <li> Isotope - same Z (different N) </li>
            <li>Isotone - same N (different Z)</li>
            <li>Isobar - same A (different N,Z) </li>
            <li>Isomer - same A,N & Z (but different energy)</li>
            <li>eV - electron volt. 1 eV = 1.602 x 10<sup>-19</sup> Joules</li>
            <li> 1 keV = 1000 eV </li>
            <li> 1 MeV = 1000 keV </li>
        </ul>
    </div>
           
    <img class="lesson-content-image" src="/content/lesson2/assets/Radiation.svg"/>
        
</div>
