<div class="lesson-content">
    <div class="lesson-content-title">100.0 Nuclear Radiation</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo"> Radiation from the nucleus</div>
        
    This level (Level 100) introduces the basic structure of the nucleus and details of the 
    three main types of radiation (<strong>alpha, beta, gamma</strong>) that the nucleus can produce.
    The following terms will be introduced:

        <ul>
            <li>Ionizing radiation</li>
            <li>Radioactivity</li>
            <li>Nuclide</li>
            <li>Decay mode</li>
            <li>Decay rate</li>
            <li>Radionuclide and radioisotope</li>
            <li>Linear energy transfer (LET)</li>
            <li>energy spectrum</li>
            <li>n/p ratio</li>
        </ul>
 
    </div>
         
    <img class="lesson-content-image" src="/content/lesson2/assets/Radiation.svg"/>
</div>
