<div class="lesson-content">
    <div class="lesson-content-title">270.7 Auger Electrons</div>
   <div class="lesson-content-body">
       
       <div class="lesson-content-memo">The unexpected electron</div>
       
        Following the creation of a vacancy, 
        sometimes mono-energetic electron appear instead of a characteristic X-ray. 
        These electrons are known as <strong>AUGER ELECTRONS</strong>, being named after 
        <i>Pierre V. Auger (1899 - 1993)</i>, who studied (but did not actually discover) this process.
        For a hole in K-shell being filled by an L-electron, 
        a characteristic photon (<span class="lesson-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mi>hf</mi>
              <mo>=</mo>
              <msub>
                <mi>E</mi>
                <mi>K</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>L</mi>
              </msub>
            </math>
       </span>) is emitted, but if this photon does not escape the atom, 
       and instead knocks-out an M-shell electron, 
       then the electron would exit with the photon energy, less its own binding energy:
        <br/><br/>
        <span class="lesson-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mi>(Auger Electron Energy)</mi>
              <mo>=</mo>
              <mi>hf</mi>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>M</mi>
              </msub>
              <mo>=</mo>
              <msub>
                <mi>E</mi>
                <mi>K</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>L</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>M</mi>
              </msub>
            </math>
       </span>
     
        , so three shells are involved.
        This process results in holes in both L and M shells, so even further process will occur.
        
        <br/><br/>
        <strong><font color = "blue">AUGER</font> = 
        <font color = "blue">A</font>tom 
        <font color = "blue">U</font>nexpectedly 
        <font color = "blue">G</font>ets 
        <font color = "blue">E</font>lectron 
        <font color = "blue">R</font>eleased</strong>
        <br/><br/>       
        
    </div>
</div>
