<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Level 1: Introduction to X-Rays</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> X-rays are high energy light </div>   
    
  
  <div class="col-md-7 col-lg-7">
        This 'level' (row) introduces <strong>X-rays</strong>. X-rays are a high energy form of radiation, 
        similar to light but lying beyond ultraviolet (UV) in the electromagnetic spectrum.
        X-rays are highly penetrating and can break chemical bonds, and so are potentially hazardous.
        The concept of the <strong>photon</strong> as an 'X-ray particle' is also introduced.
        <br/><br/>
        <strong>Scattering</strong> is a general term that means radiation 
        encountering an object is redirected.
        <strong>Compton scattering</strong> is a particular type of scattering in which
        energy is lost from the X-ray and transferred to electrons in the body.
        This process produces chemical damage, so is important in the treatment of cancer
        by radiotherapy.
  </div>
  
  
  <div class="col-md-5 col-lg-5">
 <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Compton.svg" />
  </div>
  
   <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>
   
    </div>
  
</div>
