<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">Compton X-Ray Scattering </div>   
    <div class="lesson-content-title col-xs-12">10.6 Level Quiz </div>
    <div class="lesson-content-body col-xs-12 lesson-content-bottom">

      
    <div class="lesson-content-question">Q1) What is the most important medical application of the Compton Effect?
        <ol type="A">
            <li>Chest X-rays</li>
            <li>Electron beam therapy</li>
            <li>External beam LINAC photon therapy</li>
            <li>Orthovoltage therapy</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not imaging"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not electrons">  B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES - MV radiotherapy"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No - Orthovoltage is mostly photoelecttic"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/>

    <div class="lesson-content-question">Q2) Beyond which end of the visible spectrum are X-rays found?
        <ol type="A">
            <li>Beyond infrared (IR)   </li>
            <li>Beyond ultraviolet (UV)</li>           
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES - UV is the high energy end of the visible spectrum">  B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/> 
    
    <div class="lesson-content-question">Q3) Define 'scattering': <br/>
        <button class="lesson-content-question-reveal" data-answer="Scattering is the redirection of incident particles or radiation." type="button"> Answer </button>
    </div>
    <br/>   
  
   <div class="lesson-content-question">Q4) Name two effects of X-rays on the body tissue: <br/>
        <button type="button" class="lesson-content-question-reveal" data-answer="DNA damage"> 1 </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Skin reddening ">  2 </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/>    
 
      <div class="lesson-content-question">Q5) What is meant by 'photon'? <br/>
       <ol type="A">
          <li>A particle of electromagnetic radiation  </li>
          <li>A lightweight particle </li>
      </ol>        
            <button type="button" class="lesson-content-question-reveal" data-answer="Yes"> A </button>
            <button type="button" class="lesson-content-question-reveal" data-answer="No. Photon has no rest mass.">  B </button>
                <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/> 
    
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
      
     <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Compton.svg" />      
    </div> 
</div>
