<div class="lesson-content">
<div class="lesson-content-title col-xs-12">Level 1 Summary: X-rays and the Compton Effect</div>
<div class="lesson-content-body col-xs-12 ">
  
    <div class="col-md-7 col-lg-7">      
      <ul>
        <li>A photon is a particle of electromagnetic radiation (light, X-rays etc.)</li> 
        <li>X-rays are known as <strong>indirectly ionizing</strong> radiation</li>
        <li>Compton X-ray scattering (or the 'Compton Effect') is the redirection of an X-ray photon
              by an electron.</li>          
        <li>Energy is transferred from the X-ray photon to the electron, 
            which then goes on to produce ionization and excitation</li>
        <li> The Compton effect is a very important part of the treatment of cancers by radiotherapy.</li>
      </ul>
    </div>
     
    <div class="col-md-5 col-lg-5">
        <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Compton.svg" />    
    </div>  
 
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
</div>
