<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Compton X-Ray Scattering</div>
  <div class="lesson-content-title col-xs-12">10.0 Introduction to X-Rays</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> X-rays are high energy light </div>   
    
  This level (Level 10) introduces <strong>X-rays</strong>. X-rays are a high energy form of radiation, 
    similar to light but lying beyond ultraviolet (UV) in the electromagnetic spectrum.
    X-rays are highly penetrating and can break chemical bonds, and so are potentially hazardous.
  The concept of the <strong>photon</strong> is also introduced.
  
    <strong>Scattering</strong> means that X-rays encountering an object are redirected.
    
    

    
 <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Compton.svg" />
   <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>
   
    </div>
  
</div>
