<div class="lesson-content">
<div class="lesson-content-title col-xs-12"> X-Rays as Particles </div> 
<div class="lesson-content-body col-xs-12 ">

    <div class="lesson-content-memo"> Meet the photon </div>   
    
    <div class="col-md-8 col-lg-8">
        Similarly to visible light, X-rays can behave both as waves and as particles. 
        Both are forms of <strong>electromagnetic radiation</strong>.
        The word <strong>photon</strong> is used when talking about the particle-like behaviours, 
        so 'X-ray photon' means a particle-like packet of radiation.
        An X-ray beam can be regarded either as a stream of X-ray photons or as a wave.
        The interactive animation below shows X-rays as photons being generated and diverging from a 
        <strong>point source</strong>.
    </div>      
    
    <div class="col-md-4 col-lg-4">
            <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/ComptonIncident.svg" />
    </div>  
    
    <div class="col-md-12 col-lg-12">
        To fire multiple photons, click the blue <strong>X-ray source</strong> box in the graphic below, 
        or for single photons click:
        <input type="button" value="Fire X-Ray Photon" class="lesson-content-button">    
        <br/>
        <canvas class="lesson-content-canvas-photon" width="600" height="200"></canvas>
    </div>
    
       
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>       
</div>
</div>
