<div class="lesson-content ">
  <div class="lesson-content-title col-xs-12 lesson-content-100">Compton Scattering: Basic Concepts</div>
  <div class="lesson-content-body col-xs-12 ">

   <div class="lesson-content-memo"> X-rays can lose energy and change direction </div>     
      
  This level (Level 100) introduces the basic concepts of Compton X-ray scattering. 
  <br/>
      In <strong>Compton X-Ray Scattering</strong>,  also known as the <strong>Compton Effect</strong>, 
    the X-rays lose large amounts of energy.
    The incident X-ray photon is scattered by a free electron, which recoils. 
  This recoil electron may receive a large fraction of the photon energy. 
  The scattered photon has less energy than the incident photon.
  
  <h3>Radiotherapy</h3>  
  In <strong>radiotherapy</strong> this energy is used to kill tumors.
  Compton X-ray scattering is the most important effect leading to absorbed dose in external beam radiotherapy. 
  


    <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Compton.svg" />
   </div>
</div>
