<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-100">100.4 The Recoil Electron</div>
  <div class="lesson-content-body col-xs-12 ">
      
      <div class="lesson-content-memo"> Kicked by an X-ray </div>
      
      The Compton effect is a collision between an X-ray photon and a <strong>free electron</strong>.
 'Free electron' simply means that we ignore the binding energy, 
 which is reasonable if the incident photon energy is much greater than the binding energy.
 The electron receives kinetic energy (i.e. is kicked out of an atom) and is known as the 
 <strong>recoil electron</strong>.
 The recoil electron can receive a variable fraction of the incident photon energy, 
 but often it is a large fraction. 

    </div>
  
   <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/ComptonRecoil.svg" />   
</div>
