<div class="lesson-content ">
  <div class="lesson-content-title col-xs-12 lesson-content-100">Level 2: Compton Scattering: Basic Concepts</div>
  <div class="lesson-content-body col-xs-12 ">

   <div class="lesson-content-memo"> X-rays can lose energy and change direction </div>     
      
    <div class="col-md-7 col-lg-7"> 
        This level introduces the basic concepts of Compton X-ray scattering. 
      
        In <strong>Compton X-ray scattering</strong>, also known as the <strong>Compton effect</strong>, 
        an X-ray photon can lose a large fraction of its energy in a single collision.
        The incident X-ray photon is scattered by a free electron, which recoils. 
      This recoil electron may receive a large KE, and so go on to produce many ionization events. 
      The scattered photon has less energy, and so longer wavelength, than the incident photon.

      <h3>Radiotherapy</h3>
      In <strong>radiotherapy</strong> X-rays are used to kill tumors.
      Compton X-ray scattering is the most important effect leading to absorbed dose in 
      external beam radiotherapy. 
      The recoil electron has high kinetic energy, which results in ionization and excitation, 
      leading to chemical damage and cell death.
    </div>

   <div class="col-md-5 col-lg-5">
       <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Compton.svg" />    
   </div>

   <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
   </div>
</div>
