<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-100">Level 2 Quiz (Basic) </div>
  <div class="lesson-content-body col-xs-12 ">

     <div class="lesson-content-question">Q1) In Compton scattering what is the X-ray scattered by?
        <ol type="A">
            <li>An atom </li>
            <li>A nucleus </li>
            <li>A photon </li>
            <li>An electron </li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES - Electron"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
      <div class="lesson-content-question">Q2) What does 'incident' mean?
        <ol type="A">
            <li>An event</li>
            <li>Incoming </li>
            <li>Outgoing </li>
            <li>Static </li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES - Incoming"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
   
      <div class="lesson-content-question">Q3) What emerges from a Compton interaction?
        <ol type="A">
            <li>Incident photon + electron </li>
            <li>Scattered photon + neutron </li>
            <li>Characteristic X-ray </li>
            <li>Scattered photon + recoil electron </li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not A"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not B"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not C"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES D"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
      <div class="lesson-content-question">Q4) How does the probability of a Compton event vary with Z ?
        <ol type="A">
            <li>Nearly independent </li>
            <li>Proportional </li>
            <li>Inversely proportional </li>
            <li>Z squared </li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES - Almost unaffected by Z "> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not B"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not C"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not D"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
      <div class="lesson-content-question">Q5) What is low energy limit of Compton scattering called?
        <ol type="A">
            <li>Incoherent scatter </li>
            <li>Thomson </li>
            <li>Rayleigh </li>
            <li> Inelastic</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not A"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES - Thomson Coherent Scattering"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not C"> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Not D"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/>   
    
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    
     <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Compton.svg" />
     
    </div> 
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
