<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-200">Scattering Angle and Scatterer</div>
  <div class="lesson-content-body col-xs-12 ">

<div> The existence of multiple scattering angles means that the absorber contains
scattered X-rays traveling in all directions. 
However, the intensities of X-rays traveling in different directions are not equal.
This distribution of intensity of scattered radiation with direction is discussed 
in detail on other pages.
</div>
     

      <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Scattering.png" />
    </div>
  
</div>
