<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-200">The Recoil Electron & Photon Angle</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> Kicked out at angles </div>
The recoil electron can emerge at different angles.
Don't forget that the scattering angle refers to the angle of the scattered photon, 
NOT to the angle of the electron.

<img class="img-responsive lesson-content-image" src="/content/lesson6/assets/ComptonDirectHit.png" />  
Energy distribution between scattered photon and recoil electron for a <strong>direct hit</strong>.

    </div>
   <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/ComptonRecoil.svg" />   
</div>
