<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-200">Level Summary (Photon Scattering Angle) </div>
  <div class="lesson-content-body col-xs-12 ">
      Concepts introduced:
      <ul>
          <li> Impact parameter </li>
          <li> Photon Scattering Angle </li>
          <li> Energy distribution between scattered photon and recoil electron </li>
      </ul>
      
            <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Scattering.png" />
          
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
</div>
