<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-200">Level 3 Quiz </div>
  <div class="lesson-content-body col-xs-12 ">

    <div class="lesson-content-question"><strong>Q1) Define: 'impact parameter'</strong>
	<br>
        <button type="button" class="lesson-content-question-reveal" data-answer="The lateral distance separating the electron and incident photon."> ANSWER </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
    <div class="lesson-content-question"><strong>Q2) In a direct hit:</strong>
        <ol type="A">
           <li>The photon is hardly affected, and the electron recoils with very low energy.</li>
           <li>The photon is scattered at 90&deg; with a maximum energy of 0.511 MeV.</li>
           <li>The photon is scattered backwards, and the electron recoils with high energy.</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, this is a grazing hit."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, this is a 90 degree hit."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="YES."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
    <div class="lesson-content-question"><strong>Q3) In a grazing hit:</strong>
        <ol type="A">
           <li>The photon is hardly affected, and the electron recoils with very low energy.</li>
           <li>The photon is scattered at 90&deg; with a maximum energy of 511keV.</li>
           <li>The photon is scattered backwards, and the electron recoils with high energy.</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, this is a 90 degree hit."> B </button>
	<button type="button" class="lesson-content-question-reveal" data-answer="No, this is a direct hit."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    	
    <div class="lesson-content-question"><strong>Q4) Scattering angle refers to the angle of:</strong>
        <ol type="A">
            <li>Electron emitted</li>
            <li>Scattered photon</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>			
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
      
    <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Scattering.png" />
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div> 
</div>
