<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-200">200.3 The Scattered Photon Angle</div>
  <div class="lesson-content-body col-xs-12 ">

       <div class="lesson-content-memo"> In all directions </div>
      
      Consider an incident beam of monoenergetic photons.
      The scattered photons can emerge at any angle. 
      
      The probability of the different angles are not equal.
      The scattered photon energy depends upon the scattering angle.
      
      So (even for monoenergetic incident photons),
      the scattered photons exhibit a range of both angles and energies.
  
      <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Scattering.png" />
    </div>
   
</div>
