<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-300">Interaction & Incident Energy</div>
  <div class="lesson-content-body col-xs-12 ">

    <div class="lesson-content-memo"> In the Compton regime, high energy photons are more penetrating </div>  
    <div class="col-md-8 col-lg-8">
        <h3>Compton Cross Section</h3>
        The probability of a photon interacting with a free electron is given by the 
        <strong>Klein-Nishina formula</strong> (1928). 
        The amount of scattered radiation varies with incident photon energy and scattering angle. 
        At low photon energy, the Klein-Nishina formula reduces to the Thomson scattering formula.
        From around 100 keV upwards, as incident energy increases, 
        the Compton cross section DECREASES and also the scattering direction becomes increasingly forward directed. 
        The decrease in Compton cross section with energy means that (in the Compton dominated regime)
        higher energy beams are more penetrating.
        <br/><br/>
        The probability for a Compton event depends upon:
        <ul>
            <li>the energy of the incident photon </li>
            <li>the scattering angle </li>
            <li>Density of the target</li>  
        </ul>
    </div>  
   
    <div class="col-md-4 col-lg-4">
       <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/VariousEnergies.svg" /> 
    </div>
      
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
</div>
