<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-300">Level 4: Incident Photon Energy</div>
  <div class="lesson-content-body col-xs-12 ">

       <div class="lesson-content-memo"> Incident photon energy matters </div>
       
       
       <div class="col-md-6 col-lg-6">
          This level considers the effect of the energy of the incident photon.
      Both the probability of the occurrence a Compton interaction and the details of the behaviour
      depend upon the photon energy.       
       </div> 

       <div class="col-md-6 col-lg-6">
            <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/VariousEnergies.svg" />   
       </div>
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>      
  </div>
</div>
