<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-300">300 Level: The Compton Effect & Incident Energy</div>
  <div class="lesson-content-body col-xs-12 lesson-content-bottom">

       <div class="lesson-content-memo"> Incident photon energy matters </div>
        
      This level considers the effect of the energy of the incident photon.  

    <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/VariousEnergies.svg" />
        </div>
</div>
