<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-300">Energy & Scattered Photon</div>
  <div class="lesson-content-body col-xs-12 ">

   <div class="lesson-content-memo"> Different angular scattering distributions </div>
      
  Even for single-energy incident photons, the scattered photons vary in both
number and energy as a function of scattering angle.
<br/><br/>
For a spread of incident photon energies, this angular distribution becomes more complex. 
Into any given scattering angle there are now a spectrum of possible energies,
depending on the incidence photon energy.

    </div>
    <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/VariousEnergies.svg" />   
              
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
