<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-300">The Recoil Electron & Incident Energy</div>
  <div class="lesson-content-body col-xs-12 ">

    <div class="lesson-content-memo"> Different kicks </div>
    At the level we are considering variation in incident photon energy.
    These variations also affect the recoil electron.
    
    <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/VariousEnergies.svg" />  
</div>
</div>
