<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-300">The Incident Photon Energy</div>
  <div class="lesson-content-body col-xs-12 ">

     <div class="lesson-content-memo"> A range of incident photon energies </div>
      
     <div class="col-md-8 col-lg-8">
        Compton scattering behaviour is heavily influenced by the energy of the incident photon.
        In real-world situations, X-ray beams usually have a spread of energies.
        An X-ray beam with a range of photon energies is known as a
        <strong>non-monoenergetic</strong> or heterogenous beam.
        <br/>
        
        <h3>Scattering of Low Energy Photons (Thomson Scattering)</h3>
        Very low energy Compton scattering is known as <strong>Thomson Scattering</strong>.

        Thomson scattering is the elastic scattering of EM radiation from free (unbound) charged particles.  
        It is the low energy limit (or classical limit) of Compton scattering, 
        and occurs when the photon energy is much less than the rest mass of the electron (511 keV), 
        so that recoil of the electron can be ignored. The Thomson scattering regime is: hf << 511 keV.
        <br/>
        <strong>Historical Note:</strong> Compton points out that J.J. Thomson’s classical theory of scattering fails for scattering 
        of hard X-rays and gamma rays, in particular, the increase in wavelength and predominantly forward scattering 
        direction could not be explained.
        <strong>X-ray Crystallography</strong>, which is based on Thomson scattering, 
        was used to solve the double helix structure of DNA in the 1950s.
     </div> 

     <div class="col-md-4 col-lg-4">
             <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/VariousEnergies.svg" />
     </div>
 
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>  
  </div>
</div>
