<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-300">300.5 Level Summary </div>
  <div class="lesson-content-body col-xs-12 lesson-content-bottom">

      <ul>
          <li>Compton is an interaction between a photon and an electron</li>
          <li>Probability of Compton event is almost independent of Z</li>
          <li>Probability of Compton decreases with energy</li>
          <li>In each collision, energy is shared between scattered photon and recoil electron. 
The sharing depends upon incident energy and scattering angle.</li>
          <li>On average, the fraction transferred to KE/collision INCREASES with photon energy</li>
          <li>In soft tissue, Compton process is much more important than other interactions
              in the range 100keV …10 MeV</li>
      </ul>
      
    
    <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/VariousEnergies.svg" />
    </div>
</div>
