<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-300">Level Quiz </div>
  <div class="lesson-content-body col-xs-12 ">

     <div class="lesson-content-question"><strong>Q1) Define: 'non-monoenergetic beam'</strong>
				<br>
        <button type="button" class="lesson-content-question-reveal" data-answer="A X-ray beam with a range of photon energy."> ANSWER </button>
        
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
		      <div class="lesson-content-question"><strong>Q2) Thomson scattering occurs when:</strong>
        <ol type="A">
            <li>The photon energy is significantly greater than the electron's rest mass.</li>
            <li>The photon energy is significantly less than the electron's rest mass.</li>
           <li>The photon energy is equal to the electron's rest mass.</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    
      <div class="lesson-content-question"><strong>Q3) From 100keV upwards, as incident energy _____, the Compton cross section _____.</strong>
        <ol type="A">
            <li>&uarr;, &uarr;</li>
            <li>&uarr;, &darr;</li>
           <li>&darr;, &darr;</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
    		
	      <div class="lesson-content-question"><strong>Q4) Probability for a Compton event depends on 
					<br>i) Energy of incident photon, ii) Density of target, iii) Scattering angle.<br></strong>
        <ol type="A">
            <li>i) and iii).</li>
            <li>ii) and iii).</li>
					<li>Only iii).</li>
					<li>i), ii), iii). </li>
           
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, ."> C </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="YES."> D </button>
				
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
  
      
    <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/VariousEnergies.svg" />
    </div> 
</div>