@mixin logo-ratio($ratio,$logo-show-state) {
    $logo-width: percentage($ratio);

    @if $logo-show-state == 0 {
        //Show wordmark and tagline 
        &>.logo-wordmark{
            display: block;
        }

        &>.logo-tagline{
            display: block;
        }
    } @else if $logo-show-state == 1 {
        // Hide wordmark
        &>.logo-wordmark{
            display: block;
        }
        &>.logo-tagline{
            display: none;
        }

    } @else if $logo-show-state == 2 {
        // Hide wordmark and tagline 
        &>.logo-wordmark{
            display: none;
        }
        &>.logo-tagline{
            display: none;
        }

    }
    width:$logo-width;
}

$logo-ratio-small: 0.10;
$logo-ratio-medium: 0.16;
$logo-ratio-large: 0.18;
$logo-ratio-huge: 0.36;

/* Small view (default) */
.logo {
    position: relative;
    z-index: $z-fg;
    top: 1rem;
    padding: 1rem;
    /* Show the icon */
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    @include logo-ratio($logo-ratio-small,0);
    &>.logo-icon{
        display: block;
    }
    &.mini {
        position: absolute;
        left:$padding-small;
        top: auto !important;
        bottom:$padding-small;
        padding: 0rem;
        width: 10rem;
        cursor: pointer;
        &>.logo-wordmark{
            display: none;
        }
        &>.logo-tagline{
            display: none;
        }

    }
}

@media screen and (max-width: 1200px) {
    .logo {
        @include logo-ratio($logo-ratio-small,1);
    }
}

@media screen and (max-width: 1080px) {
    .logo {
        @include logo-ratio($logo-ratio-small,2);
    }
}

/* Large View */
@media screen and (max-width: $bp_width_col_two) {
    .logo {
        @include logo-ratio($logo-ratio-medium,0);
    }
}

@media screen and (max-width: 850px) {
    .logo {
        @include logo-ratio($logo-ratio-medium,1);
    }
}

@media screen and (max-width: 790px) {
    .logo {
        @include logo-ratio($logo-ratio-large,2);
    }
}

/* Small view */
@media screen and (max-width: $bp_width_col_one) {
    .logo {
        @include logo-ratio($logo-ratio-huge,0);
    }
}

@media screen and (max-width: 480px) {
    .logo {
        @include logo-ratio($logo-ratio-huge,1);
    }
}

@media screen and (max-width: 400px) {
    .logo {
        @include logo-ratio($logo-ratio-huge,2);
    }
}

@media screen and (max-device-width:$bp_width_small) 
{
    .logo {
        &.mini {
            left:0.3rem;
            bottom:0.3rem;
            width: 7rem;
        }
    }
}

/*Tablets Landscape */
@media screen and (min-device-width: $bp_width_small) 
and (max-device-width: $bp_width_medium) 
and (orientation: landscape)  {
    .logo {
        @include logo-ratio($logo-ratio-small,2);

    }
}

/* Tablets Portrait */
@media screen and (min-device-width: $bp_width_small) 
and (max-device-width: $bp_width_medium) 
and (orientation: portrait)  {
    .logo {
        @include logo-ratio($logo-ratio-large,2);
    }
}

/* Mobile Phones Portrait */
@media screen and (max-device-width: $bp_width_medium_phone) 
and (orientation: portrait){
    .logo {
        @include logo-ratio($logo-ratio-huge,2);
    }
}

/* Mobile Phones Landscape */
@media screen and (max-device-width: $bp_width_medium_phone) 
and (orientation: landscape){
    .logo {
        @include logo-ratio($logo-ratio-huge,2);
        &.mini {
            left:1%;
            top: 1.5rem;
            width: 8rem;
        }
    }
}

/* Mobile Phones portrait */
@media screen and (max-device-width: $bp_width_small_phone) 
and (orientation: portrait){
    .logo {
        @include logo-ratio($logo-ratio-huge,2);
    }
}

/* Mobile Phones Landscape */
@media screen and (max-device-width: $bp_width_small_phone) 
and (orientation: landscape){
    .logo {
        @include logo-ratio($logo-ratio-small,2);
    }
}