// NOTE this file uses sass variables defined in app/styles/settings files

// Sass mixin that sets visibility of parts of the logo
@mixin logo-ratio($logo-show-state) {
    @if $logo-show-state == 0 {
        //Show wordmark and tagline 
        &>.logo-wordmark{
            display: block;
        }

        &>.logo-tagline{
            display: block;
        }
    } @else if $logo-show-state == 1 {
        // Hide wordmark
        &>.logo-wordmark{
            display: block;
        }
        &>.logo-tagline{
            display: none;
        }

    } @else if $logo-show-state == 2 {
        // Hide wordmark and tagline 
        &>.logo-wordmark{
            display: none;
        }
        &>.logo-tagline{
            display: none;
        }

    }
}

/* Small view (default) */
.logo {
    position: absolute;
    z-index: $z-fg;
    top: 1rem;
    padding: 1rem;
    /* Show the icon */
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    height:auto;
    width: $logo-ratio-small;   // logo width values are found in styles/settings/layout
    @include logo-ratio(2);
 
    
    &.mini {
        position: fixed;
        top: auto !important;
        left:0.3rem;
        bottom:0.3rem;
        width: 5rem;
        height: auto;
        padding: 0rem;
        cursor: pointer;
        &>.logo-wordmark{
            display: none;
        }
        &>.logo-tagline{
            display: none;
        }
    }

    &.display {
        position: static;
        z-index: $z-mg;
        top: auto !important;
        padding: 0rem;
        width: 10rem;
        cursor: pointer;
        &>.logo-wordmark{
            display: none;
        }
        &>.logo-tagline{
            display: none;
        }
    }
}

// Breakpoints *****************************************************************
// breakpoints used to set logo width and visibility
@media (min-width: $bp_width_small_phone) {
    .logo {
        width: $logo-ratio-small;
        @include logo-ratio(2);
    }
}

@media (min-width: $bp_width_medium_phone) {
    .logo {
        width: $logo-ratio-medium;
        @include logo-ratio(0);
        &.mini {
            left:$padding-small;
            bottom:$padding-small;
            width: 10rem;
        }
    }
}

@media (min-width: $bp_width_small) {
     .logo {
        width: $logo-ratio-medium;
        @include logo-ratio(0);
    }
}

@media (min-width: $bp_width_medium) {
    .logo {
        width: $logo-ratio-large;
        @include logo-ratio(0);
    }
}

@media (min-width: $bp_width_large) {
    .logo {
        width: $logo-ratio-huge;
        @include logo-ratio(0);
    }
}