/*********************************************

Button Default

*********************************************/

%type_button-default {
    min-height: 44px;
    min-width: 44px;
 
    .button-fill {
        fill: $color_button_default_primary;
    }
    .button-stroke {
        stroke: $color_button_default_primary;
    }

    &.down { 
        .button-fill {
            fill: $color_button_down_primary;
        }
        .button-stroke {
            stroke: $color_button_down_primary;
        }
    }
    
    &:hover { 
        .button-fill {
            fill: $color_button_hover_primary;
        }
        .button-stroke {
            stroke: $color_button_hover_primary;
        }
    }
}

%type_button-default-secondary {
    min-height: 44px;
    min-width: 44px;
 
    .button-fill {
        fill: $color_button_secondary_fill;
    }
    .button-stroke {
        stroke: $color_button_secondary_stroke;
    }

    &.down { 
        .button-fill {
            fill: $color_button_down_secondary_fill;
        }
        .button-stroke {
            stroke: $color_button_down_secondary_stroke;
        }
    }
    
    &:hover { 
        .button-fill {
            fill: $color_button_hover_secondary_fill;
        }
        .button-stroke {
            stroke: $color_button_hover_secondary_stroke;
        }
    }
}