<div class="rlo-content">
    <div class="rlo-content-title">100.5 Waves and Standing Waves</div>
    <div class="rlo-content-body">Classical travelling waves
        <br/>
        Classical travelling waves move outward freely from a 
        source through a medium, carrying energy but not 
        material. An example are waves on the surface of water. 
        The wave can be of any shape.
        <br/><br/>
        Waves confined by reflections
        <br/>
        Standing waves arise when waves are confined within an 
        enclosed container. Only certain patterns are possible - 
        those that arise from <strong>constructive interference</strong> of 
        the reflections from the boundaries. <strong>Destructive 
        interference</strong> eliminates other patterns. This gives rise 
        to certain allowed modes of oscillation and is the origin 
        of quantization.
    </div>
</div>
