<div class="rlo-content">
    <div class="rlo-content-title">100.1 Classical Electromagnetism</div>
    <div class="rlo-content-body">
             <div class="pull-right">
      <figure>
        <img class="img-responsive rlo-content-image" src="/images/RLO1/Charge_and_Field_001.png" />
        <figcaption>Electric charge creates a field.</figcaption>
        <!-- JCS Created.-->
      </figure>
    </div>
        <strong>Electromagnetism (EM) </strong> refers to a wide range of physical phenomena including 
    electricity, magnetism, light, optics, and radiation such as radio waves and X-rays. 
    Although these topics cover much of physics, they exclude gravitation and the two nuclear forces. 
    The word ‘classical’ refers to non-quantum physics, so the quantum concept of a photon as 
    a quantum of light is excluded.
    Therefore in classical electromagnetism 
    waves are treated as oscillating electric and magnetic fields. This theory was developed in 
    the 19th Century by Michael Faraday, James Clerk Maxwell, Oliver Heaviside and many others. 
    Classical electromagnetism is neatly encapsulated by <strong>Maxwell's Equations</strong> (1864) for the 
    electric and magnetic fields.
    </div>
</div>
