<div class="rlo-content">
    <div class="rlo-content-title">100.1 Classical Electromagnetism</div>
    <div class="rlo-content-body">
    Electromagnetism (EM) refers to wide range of physical phenomena, including 
    electricity, magnetism, optics, and 
    electromagnetic radiation (light, X-rays etc.). 
    This list covers much of physics, but excludes gravitation and the two nuclear forces. 
    The restriction to ‘classical’ 
    electromagnetism specifically excludes 
    quantum effects, such as the concept of a 
    photon as a particle of light. So in classical electromagnetism 
    waves are treated as oscillating electric and 
    magnetic fields. This theory was developed in 
    the 19th Century by Michael Faraday, James 
    Clerk Maxwell, Oliver Heaviside and many 
    others. Maxwell’s equations (1864) for the 
    electric and magnetic fields neatly describe all 
    of classical electromagnetic.
    </div>
</div>
