<div class="rlo-content">
    <div class="rlo-content-title">100.3 Atomic Spectra & Rydberg Formula</div>
    <div class="rlo-content-body">
     <div class="pull-right">
      <figure>
        <img class="img-responsive rlo-content-image" src="/images/RLO1/640px-Titanium_spectrum_visible.png" />
        <figcaption>An atomic spectrum</figcaption>
        <!-- https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Titanium_spectrum_visible.png/640px-Titanium_spectrum_visible.png-->
      </figure>
    </div>
        <p>
        Atoms are found to emit or absorb light of specific
    colours only. Rydberg found a simple formula (below) 
    which described the colours of the hydrogen spectrum. 
    In this equation λ is the wavelength, R the Rydberg 
    constant, and n1 and n2 integers.
        </p>
    <span class="rlo-content-formula">
    </span>
    </div>
</div>
