<div class="rlo-content">
    <div class="rlo-content-title">100.5 Waves and Standing Waves</div>
    <div class="rlo-content-body">
        <h4>Traveling Waves</h4>
        Traveling waves can be of any shape and move outward freely from a 
        source through a medium, carrying energy but not 
        material. A familiar example are waves propagating on the surface of water. 
        Traveling wave velocity is the product of frequency and wavelength (v = fλ).
        
        <br/><br/>
        <h4>Waves Confined by Reflections</h4>
        <strong>Standing Waves</strong> arise when waves are confined within an 
        enclosed container. At each location the amplitude of the oscillation remains constant over time.
        Only certain patterns are possible - 
        those that arise from <strong>Constructive Interference</strong> of 
        the reflections from the boundaries. <strong>Destructive 
        Interference</strong> eliminates other patterns. This gives rise 
        to certain allowed modes of oscillation (or natural resonances) and is the origin 
        of quantization. 
    </div>
</div>
