<div class="rlo-content">
  <div class="rlo-content-title col-xs-12">200.3 Classical Physics (1800’s)</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">
    <div class="pull-right">
        <img class="img-responsive rlo-content-image" src="/images/RLO1/Row0_Col0.jpg" />
        <div>The clockwork universe was the dominant metaphor of classical physics.</div>
    </div>
    
      <p>
        <strong>‘Classical Physics’</strong> is a term that describes physics prior to the last decade of the
        19th Century. This includes all of Sir Isaac Newton’s (1643 - 1727) work on mechanics, 
        optics and gravitation and also the
        <strong>classical electromagnetism</strong> (↑) of James Clerk Maxwell (1831 - 1879). 
        Philosophically, this term also encapsulates a <strong>mechanical world-view</strong> of definite forces, 
        momentum, energy and so on, and a dominant metaphor of
        a clockwork universe, ruled by Newton’s three laws of motion and his law of universal gravitation. 
        Thermodynamics, the science of heat, was also part of classical physics.
      </p>
      <p>
        The technology of this world was quite advanced and included lenses, mirrors, prisms, telescopes, microscopes, steam engines and timepieces, and was sufficient to support industrialization. One major limitation of classical physics is that it included
        no viable theory of atomic structure.
      </p>
    </div>
</div>
