<div class="rlo-content">
    <div class="rlo-content-title">200.7 Orbitals as trapped electron waves</div>
    <div class="rlo-content-body">The cloud shaped electron
        patterns arise from trapping 
        a 3D matter wave in a 3D 
        trap, as defined by the 
        electric field of the nucleus.
        <br/>
        Each orbital corresponds to 
        an allowed mode for the 
        electron wave constrained by 
        the nuclear potential.
        <br/>
        The fact that only two 
        electrons (of opposite spin) 
        are allowed within each 
        orbital is known as the 
        the <strong>Pauli Exclusion 
        Principle</strong>. More formally:
    </div>
</div>
