<div class="rlo-content">
    <div class="rlo-content-title">200.9 Successes of Schrodinger Atom</div>
    <div class="rlo-content-body">The quantum mechanical model of an atom is based upon a combination of a
classical electric potential with quantum electron wave functions. This hybrid 
approach has been very successful, in part because from the outside the nucleus 
can often be well approximated as a classical object.
    </div>
</div>
