<div class="rlo-content">
<div class="rlo-content-title">200.4 Standing Waves (1920s)</div>
<div class="rlo-content-body">In the 1920s de Broglie had the idea of describing matter as waves 

Schrodinger found a wave equation for de Broglie’s waves

In this new <strong>Quantum Mechanics</strong>, electrons bound in atoms conform 
to standing wave patterns</div>
</div>