<div class="rlo-content">
<div class="rlo-content-title">200.3 Bohr introduces quantization</div>
<div class="rlo-content-body">
    <ul>
    <li>In 1913 Niels Bohr proposed a classical orbital atomic model, but with a 
        non-classical twist - quantization of angular momentum.</li>
    <li>His model made many correct and useful predictions, but was obviously 
        only a first step.</li>

    <li>Useful Results:
        <ul>
            <li>Discrete electron energy levels</li>
            <li>Transitions between levels explains discrete spectra</li>
            <li>A derivation of the Rydberg formula for spectral lines</li>
        </ul>
    </li>

    <li>Limitations of Bohr’s theory:
        <ul>
            <li>only accurate for single-electron atoms</li>
            <li>ad hoc semi-classical approach</li>
        </ul>
    </li>
    </ul>
    <img class="rlo-content-image" src="https://placehold.it/300x800" />
</div>
</div>