<div class="rlo-content">
    <div class="rlo-content-title">200.6 Orbitals are trapped electron waves</div>
    <div class="rlo-content-body">Interactive goes here</div>
    <img class="rlo-content-image" src="https://placehold.it/800x450" />
</div>
