<div class="rlo-content">
<div class="rlo-content-title">200.1 What is the structure of the atom?</div>
<div class="rlo-content-body">In the early 20th Century, physics was 
classical-only and the structure of the 
atom was unknown.  However there 
were some clues:</div>
<table class="table">
    <tr>
        <th data-field=""></th>
        <th data-field="experiment">Experimental Result →</th>
        <th data-field="results">tells us:</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Atomic spectra with discrete lines</td>
        <td>Only certain specific energy transitions are possible for the atom</td>
    </tr>
    <tr>
        <td>2</td>
        <td>The Rydberg formula for the hydrogen spectrum</td>
        <td>The mathematical description of the spectral line positions is very simple</td>
    </tr>
    <tr>
        <td>3</td>
        <td>High angle alpha particle scattering (Rutherford)</td>
        <td>The atom has most of its mass and positive charge concentrated in a small central ‘nucleus’</td>
    </tr>
  </table>
</div>
