<div class="rlo-content">
    <div class="rlo-content-title">200.5 Classical Nuclear Potential</div>
    <div class="rlo-content-body">This Schrodinger equation quantum theory has 
        been extremely successful. Although using a quantum wave description for 
        electrons, it retains the classical inverse square law electric field 
        from the nucleus (shown):
        <br/>
        Electric Field <span class="rlo-content-formula">E = Ze / (4pi)r2</span>
        <br/>
        Electric Potential <span class="rlo-content-formula">V = -Ze / (4pi)r</span>
        <img class="rlo-content-image" src="https://placehold.it/400x225" />
    </div>
</div>
