<div class="rlo-content">
    <div class="rlo-content-title">200.6 Classical Nuclear Potential</div>
    <div class="rlo-content-body">The Schrodinger wave equation describes how a quantum electron wave is constrained 
spatially by an attractive classical inverse-square electric potential. Despite this hybrid 
classical-quantum approach, the Schrodinger equation has proven extremely successful. The 
attractive nuclear potential constrains the electron wave. The field is determined by the charge 
of the nucleus, Ze, where Z is the number of protons, and e is the elemental unit of charge, e= 
1.6 x 10-19 C.
        <br/>
        Electric Field <span class="rlo-content-formula">
            <!-- (your LaTeX) $E = \frac{Ze}{(4\pi \epsilon _{0})r^{2}}$ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mi>E</mi>
	<mo>=</mo>
	<mfrac linethickness="1">
		<mrow>
			<mi>Z</mi>
			<mi>e</mi>
		</mrow>
		<mrow>
			<mrow>
				<mo form="prefix">(</mo>
				<mn>4</mn>
				<mi>&#x003C0;</mi>
				<msub>
					<mi>&#x003F5;</mi>
					<mn>0</mn>
				</msub>
				<mo form="postfix">)</mo>
			</mrow>
			<msup>
				<mi>r</mi>
				<mn>2</mn>
			</msup>
		</mrow>
	</mfrac>
</mrow>
</math></span>
        <br/>
        Electric Potential <span class="rlo-content-formula">
            <!-- (your LaTeX) $V = -\frac{Ze}{(4\pi \epsilon _{0})r}$ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mi>V</mi>
	<mo>=</mo>
	<mo>-</mo>
	<mfrac linethickness="1">
		<mrow>
			<mi>Z</mi>
			<mi>e</mi>
		</mrow>
		<mrow>
			<mrow>
				<mo form="prefix">(</mo>
				<mn>4</mn>
				<mi>&#x003C0;</mi>
				<msub>
					<mi>&#x003F5;</mi>
					<mn>0</mn>
				</msub>
				<mo form="postfix">)</mo>
			</mrow>
			<mi>r</mi>
		</mrow>
	</mfrac>
</mrow>
</math></span>
    </div>
</div>
