<div class="rlo-content">
<div class="rlo-content-title">200.3 Bohr introduces quantization</div>
<div class="rlo-content-body">In 1913 Niels Bohr proposed a classical orbital 
atomic model, but with a non-classical twist - 
quantization of angular momentum.
His model made many correct and useful 
predictions, but was obviously only a first step.

Useful Results:
Discrete electron energy levels
Transitions between levels explains 
discrete spectra
A derivation of the Rydberg formula for 
spectral lines

Limitations of Bohr’s theory:
only accurate for single-electron atoms
ad hoc semi-classical approach</div>
</div>