<div class="rlo-content">
<div class="rlo-content-title">200.2 The mysterious stability of atoms</div>
<div class="rlo-content-body">According to <strong>classical mechanics</strong>, an object like an electron can only be
accommodated as orbiting the nucleus, in the same way that planets orbit the 
sun. However according to classical electromagnetism, such orbital electrons 
would continuously radiate energy and very rapidly spiral into the nucleus (↓). 
There is no solution to this contradiction within the classical framework. The 
solar-system model has other limitations, for instance it can not explain a 
discrete spectrum. <strong>A tragic conclusion</strong> to the triumph of classical physics is 
that stable atoms cannot exist, and the classical world is a world without atoms.
</div>
</div>
