<div class="rlo-content">
    <div class="rlo-content-title">200.5 Classical Nuclear Potential</div>
    <div class="rlo-content-body">This Schrodinger equation quantum theory has 
        been extremely successful. Although using a quantum wave description for 
        electrons, it retains the classical inverse square law electric field 
        from the nucleus (shown):
        <br/>
        Electric Field <span class="rlo-content-formula">
            <!-- (your LaTeX) $E = \frac{Ze}{(4\pi \epsilon _{0})r^{2}}$ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mi>E</mi>
	<mo>=</mo>
	<mfrac linethickness="1">
		<mrow>
			<mi>Z</mi>
			<mi>e</mi>
		</mrow>
		<mrow>
			<mrow>
				<mo form="prefix">(</mo>
				<mn>4</mn>
				<mi>&#x003C0;</mi>
				<msub>
					<mi>&#x003F5;</mi>
					<mn>0</mn>
				</msub>
				<mo form="postfix">)</mo>
			</mrow>
			<msup>
				<mi>r</mi>
				<mn>2</mn>
			</msup>
		</mrow>
	</mfrac>
</mrow>
</math></span>
        <br/>
        Electric Potential <span class="rlo-content-formula">
            <!-- (your LaTeX) $V = -\frac{Ze}{(4\pi \epsilon _{0})r}$ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
	<mi>V</mi>
	<mo>=</mo>
	<mo>-</mo>
	<mfrac linethickness="1">
		<mrow>
			<mi>Z</mi>
			<mi>e</mi>
		</mrow>
		<mrow>
			<mrow>
				<mo form="prefix">(</mo>
				<mn>4</mn>
				<mi>&#x003C0;</mi>
				<msub>
					<mi>&#x003F5;</mi>
					<mn>0</mn>
				</msub>
				<mo form="postfix">)</mo>
			</mrow>
			<mi>r</mi>
		</mrow>
	</mfrac>
</mrow>
</math></span>
    </div>
</div>
