<div class="rlo-content">
    <div class="rlo-content-title">200.7 Modern Shell Model</div>
    <div class="rlo-content-body">The shell structure of atoms arises from the 
        Pauli Exclusion Principle (“Identical fermions cannot occupy the same 
        quantum state”), which is related to symmetry constraints of the wave 
        function.<br/>
        In an atom this means that a maximum of 2 electrons (with opposite spin) 
        can occupy an orbital. Additional electrons must occupy higher energy 
        orbitals.
    </div>
    <img class="rlo-content-image" src="https://placehold.it/300x150" />
</div>
