<div class="rlo-content">
<div class="rlo-content-title">200.2 Why do stable atoms exist?</div>
<div class="rlo-content-body">Q. Could electrons orbit the nucleus in the same
way that planets orbit the sun?
<br />
<!-- A comment here to see what happens -->
A. NO! According to <strong>classical
electromagnetism</strong> the electrons will
continuously radiate energy and very rapidly spiral
into the nucleus. Furthermore, a solar system
model could not explain a discrete spectrum.
<br /><br />
<strong>Tragic Conclusion</strong>: according to classical
physics, stable atoms cannot exist.</div>
</div>
