<div class="rlo-content">
    <div class="rlo-content-title">200.8 Successes of Schrodinger Atom</div>
    <div class="rlo-content-body">
        <ul>
        <li>The quantum mechanical model of an atom is based upon a combination 
            of a classical electric potential with quantum electron wave functions.</li>
        <li>This hybrid approach has been very successful, in part because from 
            the outside the nucleus can often be approximated as a classical object.</li>
        </ul>
    </div>
    <img class="rlo-content-image" src="https://placehold.it/300x150" />
</div>
