<div class="rlo-content">
    <div class="rlo-content-title">300.7 Quantum Mechanics</div>
    <div class="rlo-content-body">
        
        <figure>
    <img class="img-responsive rlo-content-image" src="/images/RLO1/Wave.svg" />
    <figcaption></figcaption>
    </figure>
        
    </div>
</div>
