<div class="rlo-content">
    <div class="rlo-content-title">300.7 Quantum Mechanics</div>
    <div class="rlo-content-body">
        
    Quantum mechanics is the physics needed to describe atoms, molecules and very many other areas in physics.
    It is fundamental, and everything is subject to quantum principles. 
    Some familiar quantum ideas include Heisenberg's Uncertainty Principle and wave-particle duality.
    
    <br/><br/>
    A major outstanding issue in physics is how to reconcile quantum physics and general relativity (gravity).
        
    <img class="img-responsive rlo-content-image" src="/images/RLO1/WavePlay.svg" />
 
    </div>
    
<!--    <canvas id="myCanvas" width="600" height="100" >
        Sorry.
    </canvas>    
    <script>
    //Create a stage by getting a reference to the canvas
    stage = new createjs.Stage("myCanvas");
    //Create a Shape DisplayObject.
    circle = new createjs.Shape();
    circle.graphics.beginFill("red").drawCircle(0, 0, 40);
    //Set position of Shape instance.
    circle.x = circle.y = 50;
    //Add Shape instance to stage display list.
    stage.addChild(circle);
    //Update stage will render next frame
    stage.update();
 

    //Update stage will render next frame
    createjs.Ticker.addEventListener("tick", handleTick);

    function handleTick() {
     //Circle will move 10 units to the right.
        circle.x += 2;
        if (circle.x > stage.canvas.width/2) 
            { circle.graphics.beginFill("green").drawCircle(0, 0, 40); }
        //Will cause the circle to wrap back
        if (circle.x > stage.canvas.width) { circle.x = 0; }
        stage.update();
        
     circle.addEventListener("click", handleClick);
 function handleClick(event){
     // Click happenened
          circle.graphics.beginFill("blue").drawCircle(0, 0, 40);
 }    
        
    }
</script-->    
    
 
</div>
