<div class="rlo-content">
    <div class="rlo-content-title">300.4 Angular Momentum</div>
    <div class="rlo-content-body">The <strong>linear momentum</strong> of an object is the product of its mass and velocity (p = mv), 
    corresponding to the idea of inertia. Moving at the same velocity, a heavy object has more 
    momentum than a lighter one. Also an applied force causing an object to move faster, also 
    increases its momentum. The fact that the total momentum for all objects before a collision 
    equals the total momentum afterwards is known as the <strong>conservation of momentum</strong> and 
    is an important principle in mechanics. <strong>Angular momentum</strong> is the equivalent concept for 
    rotating objects, and is also a conserved quantity. Angular momentum can be either an 
    object spinning by itself (spin angular momentum) or rotating about another object due to a 
    force, such as the Earth orbiting the sun (orbital angular momentum) due to gravity.
    <br/>
    Angular momentum is also prominent in quantum mechanics. Many fundamental particles, 
    such as the electron, have intrinsic spin angular momentum.</div>
    
</div>
