<div class="rlo-content">
<div class="rlo-content-title">400.5 Quantum Atom 1 - Matter Waves (1920's)</div>
<div class="rlo-content-body">
    
    <font color='blue'><i> Matter can be wave-like</i></font>
    <br/><br/>

   In the 1920s de Broglie conceived of unifying light and matter by also describing
matter as wave-like, by relating wavelength λ to momentum: p = h/λ using Planck’s constant, h. 
    <br/><br/>
Subsequently, Schrodinger formalized this by finding a wave 
equation to mathematically describe de Broglie’s waves. 
    <br/><br/>
These were key steps in 
the development of <strong>Quantum Mechanics</strong>, which describes electrons bound in 
atoms in <strong>standing wave</strong> (↑) patterns.
</div>

    <img class="img-responsive rlo-content-image" src="/images/RLO1/WaveStanding.svg" />
 
</div>