<div class="rlo-content">
    <div class="rlo-content-title">400.0 Atomic Models</div>
    <div class="rlo-content-body">
         
        This module describes the progression of atomic models:
        <br/><br/>
         
         <ul style="list-style-type:none">
             <li>1 ___ Dalton's Atomic Theory</li>
             <li>2 ___ Thomson Plum Pudding Atom</li>             
             <li>3 ___ Classical Solar System (Failure)</li>
             <li>4 ___ Bohr Atom (Old Quantum Theory)</li>
             <li>5 ___ Quantum Mechanical Atom</li>
             <li>6 ___ Beyond the Quantum Mechanical Atom</li>            
         </ul>
    </div>
    
    <img class="rlo-content-image" src="/images/RLO1/AtomPlay.svg" alt='Atom'/>
   
    
</div>
