<div class="rlo-content">
    <div class="rlo-content-title">400.7 Quantum Atom 3 - Orbitals as trapped electron waves</div>
    <div class="rlo-content-body">
         <font color='blue'><i>Atomic electrons are fully wave-like</i></font>
    <br/><br/>
        
        The cloud shaped electron patterns arise from trapping a 3D matter wave in a 3D 
        trap, as defined by the electric field of the nucleus.
        
        Each orbital corresponds to an allowed mode for the
        electron wave, as constrained by the nuclear potential.
        
        The fact that only two electrons (of opposite spin)
        are allowed within each orbital is known as the
        the <strong>Pauli Exclusion Principle</strong>.
        <br/><br/>
        It is not correct to think of atomic electrons as point particles with defined trajectories. 
        Rather, imagine a diffuse vibrating wave-like cloud.
        Atomic electrons do not have a classical-style kinetic energy 
        (i.e. you cannot use 
        <sup>1</sup>/<sub>2</sub>mv<sup>2</sup>
        )
        because there is no defined velocity. 
        This is different from the situation with 
        free electrons however, for which 
        <sup>1</sup>/<sub>2</sub>mv<sup>2</sup>
        can be used (provided v is much less than the speed of light, c).
        
    </div>
   
<img class="img-responsive rlo-content-image" src="/images/RLO1/FunnelWave.svg" />
<img class="img-responsive rlo-content-image" src="/images/RLO1/OrbitalsCrop.png" />    

</div>
