<div class="rlo-content">
    <div class="rlo-content-title">400.3 Classical Solar System Atom (1910's) </div>
    <div class="rlo-content-body">
        
        <div class="rlo-content-memo"> The stability of atoms was a mystery to classical physics </div>
        
 Following the discovery of the nucleus (a highly concentrated region of positive charge), 
 no sensible classical model of the atom could be built.
 
 According to <strong>classical mechanics</strong>, an object like an electron can only be
accommodated as orbiting the nucleus, in the same way that planets orbit the 
sun. 
However according to <strong>classical electromagnetism</strong>, such orbital electrons 
would continuously radiate energy and very rapidly spiral into the nucleus. 
There is no solution to this contradiction within the classical framework. 
The solar-system model has other limitations, for instance it can not explain a discrete spectrum. 
The unfortunate conclusion is that in classical physics is 
that stable atoms cannot exist, and the classical world is a world without any understanding of 
internal atomic structure.
      </div>   
            <input type="button" value="Add 'classical electrons' and watch them fall into nucleus" class="rlo-content-button">
            <br/>
            <canvas class="rlo-content-canvas-sandbox" width="400" height="200"></canvas>

        <img class="img-responsive rlo-content-image" src="/images/RLO1/SolarPlay.svg" />
        <div>Solar System Atom</div>

<!--
        <script>
        var c = document.getElementById("solar");
        var ctx = c.getContext("2d");
        ctx.fillStyle = "#FF0000";
        ctx.fillRect(0,0,10,10);
        </script> 
-->

</div>