<div class="rlo-content">
    <div class="rlo-content-title">400.8 Beyond the Quantum Atom</div>
    <div class="rlo-content-body">
        <ul>
        <strong>Special Relativity & Electron Spin</strong><br/>
        <li>Adding special relativity and the spin of the electron results in the Dirac Equation. 
            This also produced a prediction of anti-matter.</li>
        <strong>Quantization of the EM Field</strong><br/>
        <li>By treating the electromagnetic fields as quantum (rather than classical) results in a 
        theory called Quantum electrodynamics. This theory also  handles particle creation 
        and annihilation.</li>
        <strong>Interpretation of the QM wave function</strong><br/>
        <li>In the ‘quantum foundations’ community it has been a long standing matter of debate 
        what the wave function actually means. Many different interpretations have been 
        offered, but there is no consensus.</li>
        </ul>
    </div>
</div>
