<div class="rlo-content">
<div class="rlo-content-title">400.4 Bohr Quantized Atom (1913)</div>
<div class="rlo-content-body">
    
<font color='blue'><i> Bohr imposed restrictions on electron motion </i></font>
<br/><br/>   
    
    In 1913 Niels Bohr proposed a classical orbital atomic 
    model, but with an <i>ad hoc</i> non-classical twist - 
    quantization of electron orbital <strong>angular momentum</strong> 
    (↑). This is now known as the 'old' quantum theory. His model made many correct and useful 
    predictions, but was clearly only a first step. Some of 
    the most useful results from this early quantum theory 
    were:
    <ul>
        <li>Existence of discrete electron energy levels,</li>
        <li>Transitions between levels explain discrete spectra,</li>
        <li>A derivation of the Rydberg formula for spectral lines.</li>
    </ul>
    Nevertheless, there were also clear limitations of Bohr’s
    theory because it was only accurate for single-electron 
    atoms, and it was a semi-classical approach without 
    any explanation of why the quantization idea worked 
    so well. 
</div>

<img class="img-responsive rlo-content-image" src="/images/RLO1/AtomPlay.svg" />
<div>Solar System Atom</div>

</div>