<div class="rlo-content">
    <div class="rlo-content-title">400.1 Dalton's Atoms (1805)</div>
    <div class="rlo-content-body">
        Very early, Dalton developed principles of an atomic theory:
       <br/><br/>
        <ul>
            <li>Pure elements consist of atoms</li>
            <li>The atoms of a specific element are identical</li>
            <li>Atoms cannot be sub-divided</li>
            <li>Atoms of different elements differ in atomic weight</li>
            <li>Atoms unit to form chemical compounds</li>
            <li>Atoms cannot be created or destroyed by chemical reactions</li>             
        </ul> 
        
        <font color='crimson'> However, he did not have any theory of internal atomic structure.</font>

    <figure>
            <img class="rlo-content-image" src="/images/RLO1/Dalton.svg" alt='Atom'/>
    </figure>        
        
    </div>
</div>
