<div class="rlo-content">
    <div class="rlo-content-title">400.8 Beyond the Quantum Atom</div>
    <div class="rlo-content-body">
        <ul>
        <strong>Special Relativity & Electron Spin</strong><br/>
        <li>Adding special relativity and the spin of the electron results in the Dirac Equation. 
            This also produced a prediction of anti-matter.</li>
        <strong>Quantization of the EM Field</strong><br/>
        <li>By treating the electromagnetic fields as quantum (rather than classical) results in a 
        theory called Quantum electrodynamics. This theory also  handles particle creation 
        and annihilation.</li>
        <strong>Interpretation of the QM wave function</strong><br/>
        <li>In the ‘quantum foundations’ community it has been a long standing matter of debate 
        what the wave function actually means. Many different interpretations have been 
        offered, but there is no consensus.</li>
        </ul>
    </div>
    
    <canvas id="myCanvas" width="450" height="100" style="border:1px solid #c3c3c3;">
Your browser does not support the HTML5 canvas tag.
</canvas>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.fillStyle = "#FF0000"; ctx.fillRect(0,0,150,99);
ctx.fillStyle = "#00FF00"; ctx.fillRect(150,0,150,99);
ctx.fillStyle = "#0000FF"; ctx.fillRect(300,0,150,99);
//ctx.moveTo(0,0); ctx.lineTo(200,100); ctx.stroke();
//ctx.beginPath(); ctx.arc(95,50,40,0,2*Math.PI); ctx.stroke();
</script>
 
<p><button onclick="DoCanvas()">LOAD WAVE</button></p>

<!-- IMAGE !-->
<span id='ima'>
<img id="scream" src="/images/RLO1/Wave.svg" alt="The Scream" width = "300">
</span>
<script>
function DoCanvas() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var img = document.getElementById("scream");
    ctx.drawImage(img,0,0);
    document.getElementById("ima").innerHTML = " ";
}
</script>

   
</div>
