<div class="rlo-content">
    <div class="rlo-content-title">500.3 Failure of Classical Electron Orbital</div>
    <div class="rlo-content-body">
        The classical physics model of an atom was a bad failure.
        
 TBD – show calculation of how short a classical atom would last.

 <figure>
<img class="img-responsive rlo-content-image" src="/images/RLO1/Solar.svg" />
<figcaption></figcaption>
</figure>        

    </div>
</div>
