<div class="rlo-content">
<div class="rlo-content-title">500.3 Cracks Appear (1910’s)</div>
<div class="rlo-content-body">In the early 20th Century, physics was purely classical and
the structure of the atom was unknown.  However 
experimental clues were beginning to emerge:</div>
<br/>
<table class="table rlo-content-bottom">
    <tr>
        <th data-field=""></th>
        <th data-field="experiment">Experimental Result (↑)</th>
        <th data-field="results">Consequences</th>
    </tr>
    <tr>
        <td>1</td>
        <td><strong>Atomic spectra</strong> have discrete lines (1800s)</td>
        <td>It seems that atoms can only only emit or absorb very specific colours of light.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>The <strong>Rydberg formula</strong> for the hydrogen spectrum (1888)</td>
        <td>The mathematical description of the spectral line positions is
            very simple, so a theory explaining this is clearly needed.</td>
    </tr>
    <tr>
        <td>3</td>
        <td><strong>Blackbody Radiation</strong> (1900)</td>
        <td><strong>Planck</strong> is forced to introduce <strong>quantization</strong> of matter -
            radiation interaction to fit experimental observations.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>High angle <strong>alpha particle scattering</strong> (Rutherford, 1911)</td>
        <td>The atom has most of its mass and positive charge
            concentrated in a small central ‘nucleus’. The negative charge 
            must diffusely surround the nucleus.</td>
    </tr>
  </table>
</div>