<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Radio-frequency Magnetic Field $(B_1)$</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">$B_1$ excites proton spins</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
In MRI, a radiofrequency field, also commonly referred as $B_1$, is a $rotating$ magnetic field that excites the hydrogen proton spins inside a sample. $(B_1)$ is applied perpendicular to the main static magnetic field $(B_0)$ in the $xy$ plane.
As mentioned in prior pages, the energy difference between the levels of a nucleus is small due to being very close to each other -- in the RF (MHz) range of the EM spectrum. Hence, we use this specific radiofrequency field to excite the proton spins.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson12/assets/XrayIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
