<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Energy Levels</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Jumping between Energy Levels</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	Stairway</h3>
	In an atom, the electrons exist at different energy levels according to the amount of energy they possess.
	The energy levels are defined by discrete packets of energy called quanta, meaning that electrons cannot reside in-between energy levels. Imagine a staircase of levels that increases with increasing distance from the nucleus.
	An electron cannot “float” in-between the 2 steps but rather, it will drop down to the lower step (lower energy level). The transition between levels involves the absorption or emission of a photon.
	Absorption of a photon with enough energy will allow the electron to jump to a higher energy level.
	Similarly, emission of a photon with energy $E = hf$ will cause the electron to lose energy and thus drop down to a lower energy level.
<br/><br/>
<h3> Baby Steps: Levels in NMR</h3>
	In NMR, the nucleus itself has two different energy levels (for hydrogen). They are very close to one another so the energy difference is small compared to electrons. This energy difference is in the radio-frequency range of the EM spectrum (~8 MHz to 300 MHz)
<br/><br/>
	In quantum mechanics, a system can also exist in two energy states (or more) in superposition with one another. This is called a quantum state and can be illustrated by the summation of two or more different energy states.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson12/assets/XrayIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
