<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">History of NMR</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Rabi, Purcell and Bloch</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
NMR was originally discovered in 1938 by Isaac Rabi (awarded the Nobel Prize in Physics in 1944) using a molecular beam in a vacuum chamber.
However, it wasn't until 1945 that NMR was demonstrated (independently) in matter by Edward Purcell and Felix Bloch.
They were awarded a joint Nobel Prize in Physics in 1952.
Over the years, a number of techniques have been developed that rely on the phenomenon of NMR.
The term ``NMR spectroscopy'' may ring a bell in your head from your high-school chemistry class, or in your post-secondary studies.
NMR spectroscopy is an important technique used by chemists to analyze chemical properties of a sample, originating in 1950.
Another technique that arose approximately 30 years after NMR became established
is Magnetic Resonance Imaging (MRI) which applies the same principles to form images.
 MR Imaging was originally known as `NMR Imaging'.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson12/assets/XrayIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
