<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Lesson NMR Objectives</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Objectives</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	Objectives</h3>
This lesson introduces the following concepts:	<br/>
$\rightarrow$   Magnetic Nuclei (`Spins') <br/>
$\rightarrow$ The NMR phenomenon <br/>
$\rightarrow$   The $B_0$ field and the Zeeman Effect <br/>
$\rightarrow$  Nuclear Magnetization <br/>
$\rightarrow$  Resonance <br/>
$\rightarrow$   Larmor Precession <br/>
$\rightarrow$  Frequency, Angular Frequency <br/>
$\rightarrow$  The B1 (RF) Field and RF Pulses <br/>
$\rightarrow$  90 degree pulse and the FID <br/>
$\rightarrow$  TR and T1 <br/>
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson12/assets/XrayIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
