<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Dependence upon Atomic Z</div>
   
      <div class="lesson-content-body">
            <div class="lesson-content-memo"> Photon </div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">     
            Z of the atom is a major factor determining probability of the PE effect occurring.
                         
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

