<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Dependence upon Z</div>
   
      <div class="lesson-content-body col-xs-12">
        <div class="lesson-content-memo"> PE favours heavy atoms </div> 
        
        <div class="row">
           <!-- LHS -->
           <div class="col-md-5 col-lg-5">    
           As shown in the graph, the maximum electron binding energy increases with Z.
           This is why PE absorption increases rapidly with Z.
           This strong Z dependence is a major feature of the PE effect.
           
           <br/><br/><strong>More on Binding</strong><br/>
           Since atoms (except H) contain more than one electron, 
           for each given Z there is a set of binding energies.
            For each bound electron, there is a specific probability that the photon will interact with it.
          </div>  
   
            <!-- RHS -->
            <div class="col-md-7 col-lg-7">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/KShellBinding.png" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

