<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Fate of the Excited Atom</div>
   
      <div class="lesson-content-body">
            <div class="lesson-content-memo"> Take my energy. Please.</div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">     
            The excited atom needs to lose energy.
            The electronic vacancy in the inner shell is unstable and 
            will be quickly filled. There are two alternatives: 
            <ul>
                <li> 
            <font color='crimson'> Either </font>, an outer-shell (L) electron may fill 
            the hole (K) resulting in the emission of a <strong>characteristic X-ray</strong>
            of energy:
            <span class="lesson-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mi>hf</mi>
              <mo>=</mo>
              <msub>
                <mi>E</mi>
                <mi>K</mi>
              </msub>
              <mo>-</mo>
              <msub>
                <mi>E</mi>
                <mi>L</mi>
              </msub>
            </math>
       </span>                
                </li>
                <li> <font color='crimson'>Or</font>, an <strong>Auger electron</strong> 
       may appear instead of the X-ray, <i>(see slide below)</i></li>
            </ul>
            

             
            
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

