<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Beam Attenuation</div>
   
      <div class="lesson-content-body">
            <div class="lesson-content-memo"> Radiation Beam </div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">     
            For  radiation beam, the PE effect causes beam attenuation.
            The PE effect removed photons from the beam, without causing scattering.
                         
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

