<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Beam Attenuation</div>
   
      <div class="lesson-content-body">
            <div class="lesson-content-memo"> Radiation Beam </div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">     
            For penetrating X-ray radiation beams, the PE effect causes beam attenuation.
            The two cases included here are penetration through tissue (low Z) and through metal (high Z).
            
            Since the PE effect is sensitive to Z, there are some differences between the two cases.
            <br/>
            In both cases,
            the PE effect removes photons from the beam, without scattering. 
            This is a difference from Compton (in which the photon is survives, but redirected and at lower energy).
                         
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

