<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Conditions for Photoelectric Absorption</div>
   
    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> Low energy, heavy metal </div> 
        
           <!-- LHS -->
           <div class="col-md-7 col-lg-7">     
               An <strong>incident photon</strong>, is more likely to undergo
               PE absorption for:
                <ol>
                    <li> Low photon energy (hf)</li>
                    <li> High electron binding energy (i.e. High Z of the target atoms)</li>
                    <li> When many atoms are encountered (i.e target density and thickness)</li>
                </ol>               
                For details on the dependence on photon energy and Z, see pages below.
            </div>
           
            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
         
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

