<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Fate of the Photoelectron</div>
   
      <div class="lesson-content-body">
            <div class="lesson-content-memo"> What happens? </div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">     
            The electron may receive considerable energy. 
            In the case of the X-ray PE effect in tissue, the photoelectrons produce dose.
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

