<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Fate of the Photoelectron</div>
   
      <div class="lesson-content-body">
        <div class="lesson-content-memo"> What happens next? </div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
            The electron receives kinetic energy equal to the initial photon energy minus the binding energy.
            The electron may therefore receive considerable energy. 
            In the case of X-ray photoelectric absorption in tissue, the photoelectrons produce dose.
            The photoelectron loses energy to produce dose by both excitation and ionization.
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

