<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">K Shell Effects</div>
   
    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> Photon on a half shell</div> 
        
           <!-- LHS -->
           <div class="col-md-6 col-lg-6"> 
               
               <h3>PE for Water</h3>
               For water there is no noticeable K-Edge effect.
               
               <h3>High-Z PE K-Edge Effect</h3>
               The probability of ejection is maximum if the photon has just 
               enough energy to knock the electron from its shell.
               
               This means that there are jump increases in PE absorption coefficient 
               wherever <strong>photon energy = shell binding energy</strong>.
               This is most noticeable for the K shell, resulting in the K-Edge.
               For Lead the K-Edge is at 88 keV.
            </div>
           
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/PELogLog.png" />
            </div>
         
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

