<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">K Shell Effects</div>
   
    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> OK </div> 
        
           <!-- LHS -->
           <div class="col-md-7 col-lg-7"> 
               The probability of ejection is maximum if the photon has just 
               enough energy to knock the electron from its shell.
               This means that there is a jump in absorption coefficient on the
               graph at the
               point at which the incident photon is sufficiently energetic to liberate
               electrons from a new shell.
               This is most noticeable for the K Shell.
               This results in the K-Edge.
            </div>
           
            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
         
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

