<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Optical Photoelectric Effect </div>
  
  <div class="lesson-content-body col-xs-12 ">
       <div class="row">
       <!-- LHS -->
       <div class="col-md-6 col-lg-6">
            <div class="lesson-content-memo"> An atom absorbs a photon and releases an electron </div> 
        The key experimental observation is that even 
        <font color="blue">dim blue light </font>, 
        but not 
        <font color="red">bright red light, </font>
        can eject an electron (the <strong>photoelectron</strong>), from an atom. 
        Classical physics cannot explain why bright red light does not eject electrons, 
        because the total energy available should be sufficient. 
        The missing concept is that energy comes in packets and that it is the packet size
        that determines the ejection of electrons, not the total energy. 
        In the quantum theory a packet of light energy is called a photon with an energy 
        content determined by the color of the light. 
        Photon energy is given by E = hf, where h is Planck’s Constant and f is the frequency of light. 
        The frequency is given by f = c/λ, where c is the speed of light and λ is the wavelength.

        <br/><br/><strong>Quantum Explanation</strong><br/>
        A photon (E=hf) is completely absorbed by the atom, ejecting the photoelectron with energy: 
        <br/>
        Energy<sub>ELECTRON</sub> = (h f<sub>PHOTON</sub>) – Energy<sub>BINDING OF ATOMIC SHELL</sub>. 
        <br/>
        Notice that the <strong>electron energy is not related to light intensity</strong>. 
        The departure of the electron leaves the atom (temporally) in an excited state 
        due to the vacancy left behind. 
        The vacancy is subsequently filled by a follow-on process.
       </div>
       
         <!-- RHS -->
    <div class="col-md-6 col-lg-6">
     <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/PE_2.svg" />
    </div>      
       
    </div> 
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
  </div>
</div>
