<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Review: PE vs. Compton (in Tissue)</div>
    <div class="lesson-content-body col-xs-12">
        <div class="lesson-content-memo"> PE vs. Compton </div> 
        
           <!-- LHS -->
           <div class="col-md-7 col-lg-7"> 
               Similarities:<br/>
               <ul>
                   <li>Both involve a photon beam causing ionization and dose</li>
                   <li>Both cause beam attenuation</li>
               </ul>
               
               Differences:<br/>
               <table  border="1" >
                <tr>
                <th style="padding:7px">Photoelectric</th>
                <th style="padding:7px">Compton</th>
                </tr>
                
                <tr>
                 <td style="padding:7px">photon hits bound electron (atom)</td>
                 <td style="padding:7px">photon hits free electron</td>
                </tr>
                <tr>
                 <td style="padding:7px">photon absorption</td>
                 <td style="padding:7px">photon scattering</td>
                </tr>
                 <tr>
                 <td style="padding:7px">no scattered radiation (in tissue)</td>
                 <td style="padding:7px">produces scatter</td>
                </tr>  
                 <tr>
                 <td style="padding:7px">lower energy</td>
                 <td style="padding:7px">higher energy</td>
                </tr>  
                 <tr>
                 <td style="padding:7px">Z-dependent</td>
                 <td style="padding:7px">not</td>
                </tr>  
                 <tr>
                 <td style="padding:7px">no angles</td>
                 <td style="padding:7px">has scattering angles</td>
                </tr> 
                 <tr>
                 <td style="padding:7px">liberates photoelectron</td>
                 <td style="padding:7px">liberates recoil electron</td>
                </tr> 
                 <tr>
                 <td style="padding:7px">k-Edge effects</td>
                 <td style="padding:7px">doesn't care about binding</td>
                </tr>                
               </table>
               
            </div>
           
            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
         
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

