<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Review: PE vs. Compton (in Tissue)</div>
    <div class="lesson-content-body col-xs-12">
        <div class="lesson-content-memo"> PE vs. Compton </div> 
        
           <!-- LHS -->
           <div class="col-md-7 col-lg-7"> 
               Similarities:<br/>
               <ul>
                   <li>Both involve a photon beam causing ionization and dose</li>
                   <li>Both cause beam attenuation</li>
               </ul>
               
               Differences:<br/>
               <ul>
                   <li>PE: photon hits bound electron (atom); Compton: photon hits free electron</li>
                   <li>PE: absorption;   Compton: scattering</li>
                   <li>PE: does not produce scattered radiation (in tissue); Compton: produces scatter</li>
                   <li>PE: lower energy; Compton: higher energy</li>
                   <li>PE is Z-dependent; Compton isn't.</li>
                   <li>PE has no angles; Compton has scattering angles</li>
                   <li>PE liberates photoelectron; Compton liberates recoil electron</li>        
               </ul>
            </div>
           
            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
         
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

