<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Photon Hits Atom</div>
   
      <div class="lesson-content-body">
            <div class="lesson-content-memo"> Photon induced ionization </div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">   
             This module is about photoelectric (PE) absorption, focusing on applications in medical physics.
             Main features are:
             <ol>
                 <li>photon-induced <strong><mark>ionization</mark></strong> of an atom</li>
                 <li>photon <strong><mark>absorption</mark></strong></li>
                 <li><strong><mark>photoelectron</mark></strong>production</li>
             </ol>
            
              The effect is well-named because an incident photon produces an electron (photo --> electric).
              Three different cases are covered (see page below).
              
              <br/><br/>
              <strong>Significance in radiology:</strong> the strong image contrast between 
              bone and soft tissue is due to the PE effect.           
                         
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

