<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Photon hits Atom</div>
    <div class="lesson-content-body col-xs-12">
       <div class="lesson-content-memo"> Photon induced ionization </div> 
        
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
             <h3>Topics</h3>
             This module is about the photoelectric effect, 
             also known as photoelectric absorption. 
             The mechanism and the probability of occurrence are covered. 
             We will focus on applications in medical physics including
             photoelectric X-ray attenuation in tissue and metal.
             We will use the abbreviation <lcterm>PE</lcterm> for 'photoelectric'.
             
             <h3>The PE Effect</h3>
             The PE effect is an interaction between a photon and an atom 
             (or if you prefer between a photon and a bound electron).
             The effect is well-named because an incident photon produces an electron (photo --> electric).
             
             The main features are:
             <ol>
                 <li>photon-induced <span class="lesson-content-term">ionization</span> of an atom</li>
                 <li>photon <lcterm>absorption</lcterm></li>
                 <li><lcterm>photoelectron</lcterm> production</li>
             </ol>
            
              <strong>RADIOLOGY:</strong> The PE effect is of major importance in
              X-ray imaging because it is the cause of the clear image contrast
              between bone and the soft tissues.           
              <br/><br/>
              <strong>RADIOTHERAPY:</strong> The PE effect is also important in 
              radiation therapy, especially for lower energy treatments such as orthovoltage.
              <br/><br/>
              <strong>THREE SCENARIOS:</strong> This module covers three different scenarios in which photoelectric 
              absorption occurs (see page below).           
              
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        
         
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

