<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">Quantum Light </div>
    <div class="lesson-content-body col-xs-12 ">

    <div class="lesson-content-memo"> A Quantum of Light </div> 
    <div class="col-md-6 col-lg-6">
        
        <h3>Wave </h3>  
      Light is a wave propagation phenomenon of the electromagnetic (EM) radiation field.
        For any wave: 
        <ul>
            <li>Speed = Frequency x Wavelength</li>
            <li>c = f 位</li>
        </ul>

       <h3>Particle</h3>
        An EM wave can interact with matter (atoms, electrons) in a particle-like manner: 
        <lcterm>photon</lcterm>.
        The energy and momentum for a photon are:
        <ul>
            <li>E = h f</li>
            <li>p = h/位</li>
        </ul>
        EM interactions take place by means of energy quanta of size: E = h f.
        Each quantum also transfers a definite amount of momentum: 
        p=h/位      (from E=pc, so p=E/c = hf/c = h/位).

        Photons do not have definite trajectories, 
        although often it does no harm to assume that they do.
        
        <h3>X-rays</h3>
        All these equations also are true for X-rays. 
        However X-rays have a much shorter wavelength than visible light.
        Also, an X-ray photon has much higher energy than a visible photon.
        
    </div>
      
    <!-- RHS -->
    <div class="col-md-6 col-lg-6">
         <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
    </div>
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div> 
  
</div>
