<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Quiz: Photoelectric Effect 1 </div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-question"><strong>Q1) The Nobel Prize for the discovery of the PE
              was awarded to who?.</strong>
        <ol type="A">
            <li> Millikan </li>
            <li> Einstein</li>
            <li> Thomson</li>
            <li> Curie</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
    <div class="lesson-content-question"><strong>Q2) Electron energy is directly related to light intensity.</strong>
        <ol type="A">
            <li> True</li>
            <li> False</li>       
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
     <div class="lesson-content-question"><strong>Q3) What equation describes photon energy?</strong>
        <ol type="A">
            <li> E = &frac12; mv<sup>2</sup> </li>
            <li> E = mc </li>
            <li> E = hf</li>            
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>    
    
    <div class="lesson-content-question"><strong>Q4) Is the photoelectric effect Z-dependent?</strong>
        <ol type="A">
            <li> Yes</li>
            <li> No</li>       
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="Correct"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Incorrect - PE is very Z-dependent."> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>      
 
    <div class="lesson-content-question"><strong>Q5) Is there a K-edge effect for water?</strong>
        <ol type="A">
            <li> Yes</li>
            <li> No</li>       
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="Incorrect - water has no noticeable K-edge"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Correct"> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>      
 
    <div class="lesson-content-question"><strong>Q6) Is a photoelectron a photon or an electron?</strong>
        <ol type="A">
            <li> Photon</li>
            <li> Electron</li>       
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="Incorrect"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Correct - it is an electron"> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>     
      
    <div class="lesson-content-question"><strong>Q7) The PE effect dominates at ...</strong>
        <ol type="A">
            <li> Low photon energies</li>
            <li> High photon energies</li>       
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="True - PE is low energy "> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="FALSE - PE is low energy"> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>      
 
    <div class="lesson-content-question"><strong>Q8) What are 2 ways an excited atom can lose energy?</strong>
        <button type="button" class="lesson-content-question-reveal" data-answer="Characteristic x-ray"> 1st way </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="Auger electron"> 2nd way</button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>      
      
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
   
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>