<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Consequences of PE Interaction</div>
   
      <div class="lesson-content-body">
            <div class="lesson-content-memo"> The After Party </div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">     
               <ol>
                   <li>an energetic photoelectron is liberated</li>
                   <li>the atom is left in an excited state, but rapidly shed this extra energy.</li>
               </ol>
               See pages below for details.
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

