<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Outputs of PE Interaction</div>
   
      <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> After the photon is gone </div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">   
               After the photon has been absorbed, 
               the energy is split two ways:
               <ol>
                   <li>an energetic <lcterm>photoelectron</lcterm> is liberated</li>
               <li>the atom is left in an <lcterm>excited state</lcterm>, but rapidly sheds this extra energy.</li>
               </ol>
               For medical applications, both types of energy result in tissue dose.
               <br/><br/>
               The pages below describe the fates of the photoelectron and the excited atom.
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
            </div>
        </div>
         
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   
    </div>
 
</div>
  

