<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">100.0 Introduction</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> Photo...electric </div>   
    
  This module is about the photoelectric effect.
  
  The photoelectric effect is an interaction between a photon and an atom. 
  The effect is well-named because an incident photon produces an electron (photo ... electric).

    
 <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/PE.svg" />
   <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>  
    </div>
  
</div>
