<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Photoelectric Effect - History </div>
  
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> Photoelectric </div>   
    
      <div class="row">
       <!-- LHS -->
       <div class="col-md-6 col-lg-6"> 
              Einstein's 1905 analysis of the photoelectric effect was the origin of the photon concept. 
              The Nobel Prize in Physics 1921 was awarded to Albert Einstein 
              <i>
              "for his services to Theoretical Physics, and especially for his discovery of the law of 
              the photoelectric effect”. </i>

              Millikan’s experiment using light is the classic demonstration of the photoelectric effect.

            <br/><br/>
            <div class="lesson-content-memo"> 
              REFERENCES <br/>
              <ol>
                <li> A.Einstein. Concerning an Heuristic Point of View Toward the Emission and Transformation of Light.  
                Annalen der Physik 17 (1905): 132-148. http://www.loc.gov/rr/scitech/SciRefGuides/einstein.html
                </li>
                <li> "Albert Einstein - Facts". Nobelprize.org. Nobel Media AB 2014. Web. 8 Oct 2014. 
                http://www.nobelprize.org/nobel_prizes/physics/laureates/1921/einstein-facts.html
                </li>
            </ol> 
            </div>
       </div>
                  <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/PE.svg" />
            </div>
    
   
    </div>
   <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
</div>
