<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Introduction</div>
   
      <div class="lesson-content-body">
            <div class="lesson-content-memo"> Photo...electric </div> 
        <div class="row">
           <!-- LHS -->
           <div class="col-md-6 col-lg-6">     
             This module is about the photoelectric effect.
  
              The photoelectric effect is an interaction between a photon and an atom. 
              The effect is well-named because an incident photon produces an electron (photo ... electric).
          </div>  
   
            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/PE.svg" />
            </div>
        </div>
        
    <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>  
    <!--  <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   -->    
    </div>
 
</div>
  

