<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Photoelectric Absorption of X-rays in Metal (high Z)</div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="lesson-content-memo"> X-ray and metal </div>   
        <div class="row">
           <!-- LHS -->
           <div class="col-md-8 col-lg-8"> 
               For high Z conditions, the <strong>mass PE attenuation coefficient (τ/ρ)</strong> 
               is proportional to: Z<sup>3</sup>/E<sup>3</sup>.
               <br/><br/>
               
              <img class="lesson-content-image-zoom" src="/content/lesson5/assets/PE_HighZ.png" /> 
           </div>

<!--           <div class="col-md-4 col-lg-4"> 
             <img class="img-responsive lesson-content-image" src="/content/lesson5/assets/abs_PE.svg" />
           </div>
  -->         
        </div>
  
  </div>
</div>
