<div class="rlo-content">
    <div class="rlo-content-title">10.3 Different Types of Atom</div>
    <div class="rlo-content-body">
        There are about 100 different types of atom, each with different <strong>chemical 
        properties</strong>. Pure <strong>chemical elements</strong> are made from just one type of atom, so 
        gold is made from gold atoms, whereas silver is made from silver atoms and so on. Other 
        substances (such as wood) are made from many different types of atom. Most 
        objects, such as trees, humans, and planets are made from incredibly complex arrangements 
        of many different chemical elements bound together into <strong>molecules </strong>.
    </div>
             
            <img class="rlo-content-image" src="/content/RLO2/assets/Atom.svg"/>
            <img class="rlo-content-image" src="/content/RLO2/assets/AtomRed.svg"/>
        
</div>
