<div class="lesson-content">
    <div class="lesson-content-title">30.1 The Atomic Nucleus</div>
    <div class="lesson-content-body">
        In the center of every atom lies a small and very dense 
        <strong>nucleus</strong>, which contains almost all the <strong>mass</strong> 
        of the atom. The nucleus has a positive <strong>electric charge</strong> 
        and so produces a strong <strong>electric field</strong> 
        which extends far outside the nucleus and attracts and traps negatively charged electrons to form atoms. 
        Many nuclei also have intrinsic angular momentum (‘<strong>spin</strong>
        ’) which creates a <strong>magnetic dipole field</strong>. Nuclei can 
        be classified as either <strong>fermions </strong>(particles with non-integer spin) 
        or <strong>bosons </strong>(particles with integer spin).
    </div>
        <figure>
            <img class="lesson-content-image" src="/content/lesson2/assets/Nucleus.svg"/>
        </figure>
</div>
