<div class="rlo-content">
    <div class="rlo-content-title">30.4 Radioactive Nuclides</div>
    <div class="rlo-content-body">

        A specific nucleus (of a given Z & N) is referred to as a <strong>nuclide</strong>. 
        Many nuclides, called <strong>radionuclides</strong>, are unstable and so 
        <strong>decay</strong> emitting various types of radiation in the process known 
        as <strong>radioactivity</strong>. Almost all chemical elements have both 
        stable and radioactive nuclides. Each radionuclide has its own decay properties, 
        such as half-life and type of radiation emitted (the decay mode) such as alpha, beta and gamma particles.
        Some nuclides have multiple alternative decays modes.
        
        A single radioactive decay can have enough 
        energy to break more than <strong>a hundred thousand chemical bonds</strong>. 
        This huge disparity between nuclear and chemical energies explains why 
        radioactivity is so biologically hazardous, because biologically vital molecules such as 
       DNA can be damaged or destroyed.

    </div>
         
            <img class="rlo-content-image" src="/content/RLO2/assets/Nucleus.svg"/>
        
</div>
