<div class="rlo-content">
    <div class="rlo-content-title">30.8 Radionuclides in Real Life</div>
    <div class="rlo-content-body">
    Radioactivity is encountered in many settings:
        <ul>
            <li><strong>Medical Imaging:</strong> In some forms of medical imaging 
                (nuclear medicine, Positron Emission Tomography, 'PET') a radioactive chemical ('tracer') 
                is injected into the body. The radiation produced is detected outside the body, revealing the
            anatomical location of the tracer.</li>
            <li><strong>Radiotherapy:</strong> Radiotherapy is the treatment of cancer by radiation.
                In one form of radiotherapy, known as <strong>brachytherapy</strong> highly radioactive samples are 
                placed inside the body to deliver a high local dose of radiation.</li>
            <li><strong>Nuclear Power:</strong> Radioactive Uranium is used in nuclear power plants to generate electrical power.</li>
            <li><strong>Atomic Weapons:</strong> Radioactive Uranium or Plutonium can be used to create nuclear weapons.</li>
            <li><strong>Carbon Dating:</strong> In archeology the decay of Carbon-14 can be used to date organic 
                materials up to 50,000 years old. This method relies on the creation 
                of radioactive carbon dioxide by cosmic rays.
                </li>
        </ul>
    <br/>
        <font color="blue"> This is the end of the level on the nucleus.</font>
    
    </div>
        
            <img class="rlo-content-image" src="/content/RLO2/assets/Nucleus.svg"/>
        
</div>
