<div class="rlo-content">
    <div class="rlo-content-title">100.0 Nuclear Radiation</div>
    <div class="rlo-content-body">
        <div class="rlo-content-memo"> Radiation from the nucleus</div>
        
    This level (Level 100) introduces the basic structure of the nucleus and details of the 
    three main types of radiation (<strong>alpha, beta, gamma</strong>) that the nucleus can produce.
    The following terms will be introduced:
    <strong>
        ionizing radiation,
        radioactivity,
        nuclide,
        decay mode,
        decay rate,
        radionuclide, radioisotope,
        linear energy transfer (LET),
        energy spectrum,
        n/p ratio.
    </strong>
    </div>
         
    <img class="rlo-content-image" src="/content/RLO2/assets/Radiation.svg"/>
</div>
