<div class="lesson-content">
    <div class="lesson-content-title">100.3 Stable Nuclides</div>
    <div class="lesson-content-body">
        <div class="lesson-content-memo">Some nuclides are stable</div>
        
        As a rough guide, each chemical element has between one and three stable 
        nuclides.
        For example, hydrogen has two stable nuclides 1-H, 2-H. 
        There are over 250 stable nuclides. All nuclides have a set of properties including: mass, spin, 
        parity, and ground state energy. 
        The number and energies of the nuclear excited states also vary from one nuclide to another.
        Here are some examples of stable nuclides:
        <span class="lesson-content-formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mmultiscripts>
                  <mi>He</mi>
                  <mprescripts/> <mi>2</mi> <mi>4</mi>
                </mmultiscripts>
                <mo>,</mo>
                <mmultiscripts>
                  <mi>P</mi>
                  <mprescripts/> <mi>15</mi> <mi>31</mi>
                </mmultiscripts>
                <mo>,</mo>
                <mmultiscripts>
                  <mi>Pb</mi>
                  <mprescripts/> <mi>82</mi> <mi>208</mi>
                </mmultiscripts>
            </math>
        </span>
    </div>
                
    <img class="lesson-content-image" src="/content/lesson2/assets/Radiation.svg"/>
        
</div>
