<div class="rlo-content">
    <div class="rlo-content-title">200.1 The Sleeper at the Heart</div>
    <div class="rlo-content-body">
        <div class="rlo-content-memo">The nucleus sleeps at the heart of the atom. The comings and goings 
            of electrons do not disturb its slumber.</div>
        
        Although <strong>Z</strong> and <strong>A</strong> determine basic atomic 
        physical and chemical properties, details of internal nuclear structure 
        do not affect chemical processes. Externally, the nucleus 
        exhibits a handful of fixed properties: <strong>mass, angular momentum, 
        electric charge, magnetic dipole</strong>, and <strong>electric quadrupole moment</strong>. 
        
        The nuclear energy levels are quite inaccessible to chemical or 
        thermal processes, so the nucleus 
        remains dormant in its <strong>ground state</strong>. This dissociation 
        between the nuclear and electronic structures explains alchemists' 
        failure to achieve transmutation of elements by chemical means.
        <br/><br/>
        <div class="rlo-content-memo">
        But, if the sleeper awakes, great powers are unleashed and destruction is spread abroad.
        </div>
        
    </div>
            <img class="rlo-content-image" src="/content/RLO2/assets/ExponentialFilled.svg"/>
            <img class="rlo-content-image" src="/content/RLO2/assets/NuclearTransPanel01.svg"/>
        
</div>
