<div class="lesson-content">
    <div class="lesson-content-title">250.5 Decay Chain or Radioactive Series</div>
    <div class="lesson-content-body">
        
    <div class="pull-right">
        <img class="img-responsive lesson-content-image" src="/content/lesson2/assets/Alpha.svg" />
        Alpha decay occurs in decay chains
    </div>    
        
        A <strong>radioactive series</strong> or <strong>decay chain</strong> is a sequence of nuclides formed by 
        successive radiative decays until a stable decay product, the end product, 
        is formed. All <strong>naturally-occurring</strong> radioactive elements 
        can be grouped into three series: the <strong>Uranium</strong> series, 
        the <strong>Actinium</strong> series, 
        and the <strong>Thorium</strong> 
        series.   
        The Uranium series, involving alpha and beta-minus decays, 
        starts out as 238-U, 234-Th, 234m-Pa, 234-U, 230-Th, 226-Ra, 222-Rn ... 
        and finally ending at stable isotope 206-Pb (lead).
    </div>
</div>
