<div class="rlo-content">
    <div class="rlo-content-title">250.7 Internal Conversion</div>
    <div class="rlo-content-body">
        
    <div class="pull-right">
        <img class="img-responsive rlo-content-image" src="/content/RLO2/assets/ShellModel.svg" />
        Electron takes energy away
    </div>   
        <div class="rlo-content-memo">Internal Conversion (IC) removes energy from an excited nucleus</div>
 
    <strong>Internal conversion</strong> is a process involving an <strong>excited nucleus</strong>, 
    which is often created after a parent nucleus undergoes a spontaneous radioactive decay (of any type) leaving the
    daughter nuclide with excess energy.
    
    Internal conversion is an interaction between an excited nucleus and an <strong>orbital electron</strong>.
    The bound orbital electron perturbs the unstable nucleus, removing the excess nuclear energy, and so 'de-excites' the nucleus.
    This high energy so-called 'conversion electron' is promptly ejected from the atom. 
    Conversion electrons have specific energies (monoenergetic) characteristic of the nucleus and their shell of origin.
    
    <br/>
    The departed electron leaves behind a vacancy in a (K or L or M) shell, 
    which will then be filled by a follow-on process.

     <br/><br/>
    <strong>Remember:  Internal Conversion (of Excitation) ICE - cools the nucleus!</strong>
    

    </div>
</div>
