<div class="rlo-content">
    <div class="rlo-content-title">250.3 Special Relativity</div>
    <div class="rlo-content-body">
        Einstein published his theory of Special Relativity in 1905. 
        The equivalence of mass and energy,  
         <span class="rlo-content-formula">
                <!-- (your LaTeX) $E = mc^2$ -->
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msup>
                        <mrow>
                            <mi>E</mi>
                            <mo>=</mo>
                            <mi>m</mi>
                            <mi>c</mi>
                        </mrow>
                        <mn>2</mn>
                    </msup>
                </math>
            </span> 
           , is a key feature. 
           Special relativity is based upon the constancy of the speed of light,
           and the Principle of Relativity.
           Space and time are described as a unified entity 'spacetime'.
           
            
        <br/><br/>
        <strong>Gravity</strong> is the subject of 
        Einstein’s second relativity theory (General Relativity). 
    </div>
    
<br/><br/>
<strong style="color: crimson">QUIZ</strong>

    <div class="rlo-content-question">Q1) In what year did Einstein invent Special Relativity?
        <ol type="A">
            <li><button type="button" class="rlo-content-question-option" data-answer="true">1905</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false">1913</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false">1923</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false">1927</button></li>
        </ol>
    </div>
    <br/>

    <div class="rlo-content-question">Q2) What is the speed of light? <br/>
        <button class="rlo-content-question-reveal" data-answer="3x 10<sup>8</sup> m/s" type="button"> Answer </button>
    </div>
    <br/>

    <div class="rlo-content-question">Q3) Is a nucleus lighter or heavier than its constituent parts? <br/>
        <button class="rlo-content-question-reveal" type="button" data-answer="Lighter"> Answer </button>
        <span class="rlo-content-question-answer">  _____________</span>
    </div>
    <br/>

    <div class="rlo-content-question">Q4) In what year did Einstein invent General Relativity?
        <ol type="A">
            <li><button type="button" class="rlo-content-question-option" data-answer="false">1905</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="true">1915</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false">1923</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false">1927</button></li>
        </ol>
        <div class="rlo-content-question-answer">_____________</div>
    </div>
    <br/>

    <div class="rlo-content-question">Q5) In what year did Einstein die?
        <ol type="A">
            <li><button type="button" class="rlo-content-question-option" data-answer="false">1920</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false">1940</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false">1945</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="true">1955</button></li>
        </ol>
    </div>
    
     <div class="rlo-content-question">Q6) Which of these is a model of the nucleus?
        <ol type="A">
            <li><button type="button" class="rlo-content-question-option" data-answer="false"> A </button> Atomic Model</li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false"> B </button> Binding Energy Model</li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false"> C </button>The Pauli Exclusion Principle</li>
            <li><button type="button" class="rlo-content-question-option" data-answer="true"> D </button>The liquid drop model</li>
        </ol>
    </div>
 
    <div class="rlo-content-question">Q7) Which of these is a model of the nucleus?
        <ol type="A">
            <li><button type="button" class="rlo-content-question-option" data-answer="false">Atomic Model</button> </li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false">Binding Energy Model</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="false">The Pauli Exclusion Principle</button></li>
            <li><button type="button" class="rlo-content-question-option" data-answer="true">The liquid drop model</button></li>
        </ol>
    </div>
    
    <div class="rlo-content-question">Q8) Which of these is a model of the nucleus?
        <ol type="A">
            <li>Atomic Model         <button type="button" class="rlo-content-question-option" data-answer="false">A </button> </li>
            <li>Binding Energy Model <button type="button" class="rlo-content-question-option" data-answer="false">B </button></li>
            <li>The liquid drop model<button type="button" class="rlo-content-question-option" data-answer="true">C </button></li>
        </ol>
    </div>   
    
    <div class="rlo-content-question">Q9) Which of these is a model of the nucleus?
       <ol type="A">
           <li>Atomic Model</li>
           <li>Binding Energy Model</li>
           <li>The Pauli Exclusion Principle</li>
           <li>The liquid drop model</li>
       </ol>
        <button type="button" class="rlo-content-question-reveal" data-answer="Not A"> A </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="Not B. There is no Binding Energy Model"> B </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="Not C"> C </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="Yes, it is the liquid drop"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="rlo-content-question-answer">______</span>   <br/><br/>
   </div>
    
    <br/>

    <button type="button" class="rlo-content-quiz-reset"> RESET QUIZ </button>
</div>