<div class="rlo-content">
    <div class="rlo-content-title">250.8 Other Resources</div>
    <div class="rlo-content-body">
        
        The Brookhaven National Laboratory maintain an online 
        <a href="http://www.nndc.bnl.gov/nudat2/" target="_blank"> Table of Nuclides </a> 
  
        containing a considerable level of detail.       
        <br/><br/>
        <font color="blue"> This is the end of Bonus Level 1.</font> 
        
    </div>
             <figure>
            <img class="rlo-content-image" src="/content/RLO2/assets/NuclearTransPanel01.svg"/>
        </figure>
    
</div>
