<div class="rlo-content">
    <div class="rlo-content-title">260.0 BONUS LEVEL 2</div>
    <div class="rlo-content-body">
     This level contains just two advanced topics:
   
     <ul style="list-style-type:none">
        <li>260.1 </li>
        <li>260.2 </li>
        <li>260.3 </li>
        <li>260.4 </li>
        <li>260.5 </li>
        <li>260.6 ___ Complex Decay Schemes</li>
        <li>260.7 ___ The Fate of Holes in an Inner Shell</li>
        <li>260.8 </li>
      </ul>     
     
    </div>
            <img class="rlo-content-image" src="/content/RLO2/assets/NuclearTransPanel01.svg"/>
</div>
