<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> and Binding Energy</div>
    <div class="lesson-content-body col-xs-12 ">

        <div class="col-md-8 col-lg-8">
             <div class="lesson-content-memo"> Stable bonds </div>
            It is simple to work out the relationship between energy and binding.
            Consider the nucleus, which is a stable bound state of many nucleons (protons + neutrons):
            <ul>
                <li>the particles all feel attractive forces</li>
                <li>the bound state is more stable than unbound</li>
                <li>'more stable' implies 'lower energy'</li>
                <li>so, the bound system has less energy than the free state</li>
                <li>By E=mc<sup>2</sup>, the bound state has less mass than the free state</li>
            </ul>   
            
            <h3>Where did the mass go?</h3>
            The above argument based on energy (and E=mc<sup>2</sup>) is fairly simple, 
            but the conclusion can seem odd. Where did the mass go?
            It is ok to think of this mass loss as property of the whole bound system.
            <br/>
            The page below shows the calculation.
        </div>
        
        <!-- RHS -->
        <div class="col-md-4 col-lg-4">
            <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
        </div>

     <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>   

  </div>
        
</div>
