<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E<sub>rest</sub>=m<sub>0</sub>c<sup>2</sup> for Particles in Motion</div>
  <div class="lesson-content-body col-xs-12 ">


  <div class="lesson-content-memo"> Add KE </div>   


<!--A particle of matter in motion has kinetic energy in addition to the rest mass energy.
The motion can be either non-relativistic or relativistic, depending on the velocity.
'Non-relativistic' means that classical formulae can be used.
If gamma (&#947;) is significantly greater than unity, then the motion is termed 'relativistic',
and different formulae must be used.-->


<!--new-->
In physics, speeds are classified depending on their speed in comparison 
to the <span class="lesson-content-speedlight">speed of light, ‘c’</span>. 
Depending on their classification, we must use different formulae.

<br/><br/>
    <b>Non-relativistic Speeds:</b> speeds significantly slower than the speed of light (v << c). 
We can use the classical formulae.
<br>Ex) the speed of a moving car.


<br/><br/>
    <b>Relativistic Speeds:</b> speeds close to the speed of light. 
We must account for relativity when using formulae.
<br>Ex) the speed of a particle moving through a particle accelerator.
<!--new end-->

<ul>
    <li>c = speed of light</li>

<!--eq_beta-->
    <li>
        <!-- begin MathToWeb -->
        <!-- (your LaTeX) $\beta =\frac{v}{c}$ -->
        <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
                <mi>&#x003B2;</mi>
                <mo>=</mo>
                <mfrac linethickness="1">
                        <mi>v</mi>
                        <mi>c</mi>
                </mfrac>
        </mrow>
        </math>
        <!-- end MathToWeb -->
    </li>
<!--eq_beta_end-->

<!--eq_gamma-->
    <li>
        <!-- begin MathToWeb -->
        <!-- (your LaTeX) $\gamma =\frac{1}{\sqrt{1-\beta^{2}}}$ -->
        <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
                <mi>&#x003B3;</mi>
                <mo>=</mo>
                <mfrac linethickness="1">
                        <mn>1</mn>
                        <mrow>
                                <msqrt>
                                        <mrow>
                                                <mn>1</mn>
                                                <mo>-</mo>
                                                <msup>
                                                        <mi>&#x003B2;</mi>
                                                        <mn>2</mn>
                                                </msup>
                                        </mrow>
                                </msqrt>
                        </mrow>
                </mfrac>
        </mrow>
        </math>
        <!-- end MathToWeb -->

 </li>


<!--eq_gamma_end-->
</ul>
    
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
    </div>
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>