<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">Quiz: E=mc<sup>2</sup> </div>
  <div class="lesson-content-body col-xs-12 ">

<!--<div class="lesson-content-question"><strong>Q1) What happens when rest mass increases?</strong>
 <ol type="A">
            <li>Rest energy increases.</li>
            <li>Rest energy remains the same.</li>
            <li>Rest energy decreases.</li>
	      </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>-->
		
<div class="lesson-content-question"><strong>Q1) The speed of light is constant in vacuum.</strong>
 <ol type="A">
            <li>True.</li>
            <li>False.</li>
				</ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>

        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
		
<div class="lesson-content-question"><strong>Q2) All matter particles have rest mass.</strong>
 <ol type="A">

        <li>True.</li>             
	 			<li>False.</li>   
	      </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
      <div class="lesson-content-question"><strong>Q3) What happens when a particle annihilates its antimatter partner?</strong>
 <ol type="A">
            <li>Nothing.</li>
	 <li>The particles radiate.</li>
	  <li>One photon is created.</li>
	  <li>Two photons get created.</li>
	      </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> C </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="YES."> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>

	      <div class="lesson-content-question"><strong>Q5) Bound systems have ______ energy and ______ mass than the unbound components.</strong>
        <ol type="A">
            <li>Higher, higher.</li>
            <li>Higher, lower.</li>
           <li>Lower, lower.</li>
	       <li>Lower, higher.</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> B </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="YES."> C </button>
				<button type="button" class="lesson-content-question-reveal" data-answer="No, try again."> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
		
		
	   <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>

