<div class="lesson-content container">
    <div class="lesson-content-title">Photon Absorption</div>

    <div class="lesson-content-body">

            <div class="col-xs-12 col-sm-6"> 

                The energy of a photon can be described by: E = hf.
                <br>Where E is energy, h is Planck's constant, and f is frequency.
                <br>Absorption occurs when a photon of sufficient energy is incident upon an atom or electron. 
                Depending on the photon's energy, a variety of processes can occur.
                
            </div>  


        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
