<div class="lesson-content container">
    <div class="lesson-content-title">Photon Absorption</div>

    <div class="lesson-content-body">

            <div class="col-xs-12 col-sm-6"> 

                <strong>Photon absorption</strong> means that a photon disappears.
                There are several different absorption processes which can occur (described elsewhere).
                The probabilities of the different processes depends upon the photon energy.
                In physics, the number of photons is not conserved, so loss of
                a photon is allowed. 
                Consider the example of a light bulb, photons are created in the bulb,
                then absorbed by your eye. 
                
                <br/><br/>
                <strong>Absorbed Energy</strong><br/>
                Of course, the energy of an absorbed photon is not lost.
                It gets transferred to the absorber.
                The energy of a photon can be described by: E = hf,
                where E is energy, h is Planck's constant, and f is frequency.
                
            </div>  
        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
