<div class="lesson-content container">
    <div class="lesson-content-title">Photon Absorption</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Photon gone</div>
            <div class="col-xs-12 col-sm-6"> 

                <strong>Photon absorption</strong> means that a photon disappears.
                In physics, the number of photons is not conserved, so loss of
                a photon is allowed. 
                Consider a light bulb: photons are continually created in the bulb,
                then absorbed by your eye. 
                <br/><br/>
                
                <strong>Absorption Processes</strong><br/>
                As described in pages below, there are several different possible absorption processes.
                The probabilities of these various processes depend upon both the photon energy
                and the properties of the absorber.
                <br/><br/>
                
                <strong>Absorbed Energy</strong><br/>
                A photon may disappear, but energy is still conserved, so the energy must be 
                transferred to the absorber.
                The energy of a photon can be described by: E = hf,
                where E is energy, h is Planck's constant, and f is frequency.
                
            </div>  
        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
