<div class="lesson-content container">
    <div class="lesson-content-title">Photon Beam Attenuation</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Reduction in intensity</div>
            <div class="col-xs-12 col-sm-6"> 

                   Attenuation is the reduction in beam intensity, 
                   or the decrease in the number of photons by the interaction of photons and atoms of material it passes through.
                   This is caused from source to surface distance, scattering and absorption.
                   <br>The photoelectric effect is the main attenuation process at low photon energies. 
                   Pair production is the main attenuation process is the main attenuation process at very high photon energies. 
                   <br>
                   
                   
            </div>  


        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
