<div class="lesson-content container">
    <div class="lesson-content-title">Attenuation</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">TBD</div>
            <div class="col-xs-12 col-sm-6"> 

                   Attenuation is the reduction in beam intensity, 
                   or the decrease in the number of photons by increasing surface to source distance, scattering and absorption.
                   
                   
            </div>  


        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
