<div class="lesson-content container">
    <div class="lesson-content-title">Coherent Scattering</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Scattering</div>
            <div class="col-xs-12 col-sm-6"> 

                In coherent scattering, a <span class="lesson-content-photon">photon</span> is incident upon an atom.
                The incident radiation just "bounces off" elastically, thus the photon's energy is not absorbed by the atom.
                However, the <span class="lesson-content-photon">photon</span> is scattered at a small angle.
                <br><br>
                <img class="lesson-content-image" src="/content/lesson8/assets/scat_coherent.svg"/>
            </div>  
        
         <!-- RHS -->
           
            
        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
