
<div class="lesson-content container">
    <div class="lesson-content-title">Compton Scattering</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Scattering</div>
            <div class="col-xs-12 col-sm-6"> 

                   In the Compton effect, a <span class="lesson-content-photon">photon</span> is incident upon an atom, interacting with a free e-.
                   The <span class="lesson-content-electron">electron</span> absorbs some of the photon's energy, and is emitted at an angle.
                   The <span class="lesson-content-photon">photon's</span> energy is decreased an is scattered at an angle.
                   
            </div>  

    
                <img class="lesson-content-image" src="/content/lesson8/assets/scat_compton.svg"/>

        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
