
<div class="lesson-content container">
    <div class="lesson-content-title">Compton</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">TBD</div>
            <div class="col-xs-12 col-sm-6"> 

                   In the Compton effect, a photon is incident upon an atom, interacting with a free e-.
                   The e- absorbs some of the photon's energy, and is emitted at an angle.
                   The photon's energy is decreased an is scattered at an angle.
                   
            </div>  


        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
