<div class="lesson-content container">
    <div class="lesson-content-title">Distance</div>

    <div class="lesson-content-body">
            <div class="lesson-content-memo">Distance makes the light shine weaker</div>
            <div class="col-xs-12 col-sm-6"> 
                
                <strong>Distant Stars</strong><br/>
                The radiation intensity from a source will decrease purely from the effects of distance.
                This is consequence of geometry and is completely independent of any interactions (scattering,
                absorption). This loss of intensity with distance happens even in a vacuum.
                A good example of this is the intensity of distant stars in the night sky. 
                <br/><br/>
                
                <strong>Point Source</strong><br/>
                In the case that the source of radiation can be approximated as a <strong>point source</strong>, 
                then the drop-off with distance has a particularly simple form:
                <strong>the inverse square law</strong> 
                (see page below).
                
                The further you are from any given source, the better it approximates a point source.
            </div>  
        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
