<div class="lesson-content container">
    <div class="lesson-content-title">Distance</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">TBD</div>
            <div class="col-xs-12 col-sm-6"> 

                   The source can be treated as a point when given a large distance between source to surface. 
                   Due to this, exposure from a point source changes inversely as the square of the distance.
            </div>  


        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
