<div class="lesson-content container">
    <div class="lesson-content-title">Fluence</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Flow</div>
            <div class="col-xs-12 col-sm-6"> 
                <table class="table" style="background-color:white;">
                          <tr>
                              <th data-field="">TERM</th>
                              <th data-field="">EQUATION</th>
                              <th data-field="experiment">DEFINITION</th>

                          </tr>
                          <tr>
                            <td><strong>Particle Fluence</strong></td>
                            <td>&Phi; = <sup>dN</sup>/<sub>da</sub> = <sup>Particles</sup>/<sub>Area</sub></td>
                            <td><strong>Fluence</strong> describes a beam pulse or a treatment with a beam. 
                            This is a TOTAL NUMBER of particles per unit area.
                              <br><strong>So if the beam is on longer, then the fluence is higher.</strong>
                            Fluence can be used to describe a particular treatment, i.e.
                            a specific beam intensity on for a specific duration.</td>
                             </tr>
                          <tr>

                            <td><strong>Particle Fluence Rate</strong></td>
                              <td>&phi; = <sup>d&Phi;</sup>/<sub>dt</sub> = <sup>Fluence</sup>/<sub>Time</sub></td>
                            <td><strong>Fluence Rate</strong> describes a beam property, 
                            so the maximum fluence rate can be used to describe the machine's capability. 
                              A higher <strong>flux density</strong> (=fluence rate) will result in a higher <strong>dose rate.</strong></td>

                          </tr>
                          <tr>
                              <td><strong>Fluence Map</strong></td>
                              <td> </td>
                            <td>This is a picture of the fluence for a particular treatment.
                            A good fluence map will be high over the target and low over nearby sensitive anatomy.</td>
                          </tr>

                          <tr>
                              <td><strong>Energy Fluence</strong></td>
                             <td>&Psi; = <sup>dE</sup>/<sub>da</sub> = <sup>Energy</sup>/<sub>Area</sub></td>
                            <td> </td>
                           </tr>

                          <tr>
                            <td><strong>Energy Fluence Rate</strong> </td>
                            <td>&psi; = <sup>d&Psi;</sup>/<sub>dt</sub> = <sup>EnergyFluence</sup>/<sub>Time</sub></td>
                            <td></td> 
                          </tr>

                </table>
            </div>  


        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
