<div class="lesson-content container">
    <div class="lesson-content-title">Half Value Layer (HVL)</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Absorption of half the beam</div>
            <div class="col-xs-12 col-sm-6"> 

                HVL (Half-Value Layer) describes the beam directly in terms of penetration ability.
                HVL is the thickness of a <strong>specified absorber</strong> required to attenuate the intensity of the beam to half its original value.
                This is often an idealization. The HVL can vary for several reason, so that HVL2 > HVL1. 
                The HVL must always be the HVL of a specified material. HVL is defined by measurement.
                <br>In RT the penetrating ability is key issue in calculating dose (dosimetry), so this is an appropriate way to describe a treatment beam. 
                HVL is also important in shielding calculations for radiation safety.
                <br/><strong>
                <br/>HVL = ln(2)/&mu; = 0.693/&mu;
                <br/></strong>
                <br/>where &mu; is the linear attenuation coefficient.
                <br>
               
            </div>  
 
        <div class="col-md-4 col-lg-5">        
                <img class="lesson-content-image" src="/content/lesson8/assets/hvl.svg" alt='Atom'/>
            </div>

        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
