<div class="lesson-content container">
    <div class="lesson-content-title">Inverse Square</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Distance</div>
            <div class="col-xs-12 col-sm-6"> 
                Given a point radiation source, the radiation's intensity at any distance away is inversely proportional to the square of the distance, mathematically given by:
                <br>Intensity &prop; 1/Distance<sup>2</sup>
             </div>  

                 <!-- RHS -->
       
                <img class="lesson-content-image" src="/content/lesson8/assets/inversesq.svg" alt='Atom'/>

        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
