<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Mu (Worked Examples) </div>
  <div class="lesson-content-body col-xs-12 ">

    <!--QUESTION 1-->  
      <strong>A photon beam incident on a 5 cm thick material is attenuated by 60%. Find the material's &mu; and HVL.</strong>
      <br><strong>First solve for &mu;:</strong>
      <div class="lesson-content-question"><strong>Step 1) What equation is needed to solve for &mu;?</strong>

          <button type="button" class="lesson-content-question-reveal" data-answer="I = I<sub>0</sub>=e<sup>-&mu;x</sup>"> ANSWER </button>
      
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
      <div class="lesson-content-question"><strong>Step 2) Isolate and solve for &mu; without plugging in values.</strong>

          <button type="button" class="lesson-content-question-reveal" data-answer="I = I<sub>0</sub>=e<sup>-&mu;x</sup>
                  <br>I/I<sub>0</sub>=e<sup>-&mu;x</sup>
                  <br>ln(I/I<sub>0</sub>)=ln(e<sup>-&mu;x</sup>)
                  <br>ln(I/I<sub>0</sub>)=-&mu;x*ln(e)
                  <br>ln(I/I<sub>0</sub>)=-&mu;x*1
                  <br>(-1/x)*ln(I/I<sub>0</sub>)=&mu;
                  "> SHOW STEPS </button>
          <button type="button" class="lesson-content-question-reveal" data-answer="&mu; = (-1/x)*ln(I/I<sub>0</sub>)"> ANSWER </button>
      
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
      <div class="lesson-content-question"><strong>Step 3) What is the numeric value of I/I<sub>0</sub>?</strong>
          <button type="button" class="lesson-content-question-reveal" data-answer="If 60% is attenuated, only 40% is transmitted through. Thus I/I<sub>0</sub> = 0.4."> ANSWER </button>
      
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>

      
      <div class="lesson-content-question"><strong>Step 4) What is the value of &mu;?</strong>
          <button type="button" class="lesson-content-question-reveal" data-answer="&mu; = (-1/5cm)*ln(0.40) = 0.183cm<sup>-1</sup>"> ANSWER </button>
      
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
         
      
        <br><strong>Now solve for HVL given &mu;:</strong> 
        <div class="lesson-content-question"><strong>Step 5) What equation is needed to solve for HVL?</strong>
          <button type="button" class="lesson-content-question-reveal" data-answer="HVL = 0.693/&mu; "> ANSWER </button>
      
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
 
    <div class="lesson-content-question"><strong>Step 6) What is the value of HVL?</strong>
        <button type="button" class="lesson-content-question-reveal" data-answer="HVL = 0.693/0.183cm<sup>-1</sup> = 3.79cm"> ANSWER </button>
      
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
        
        
    <!--QUESTION 2-->  
    
      <strong>A material has a HVL of 10cm. A photon beam incident on 8cm of this material. Find the material's &mu; and what % of the beam is transmitted through.</strong>
      <br><strong>First solve for &mu;</strong>
      <div class="lesson-content-question"><strong>Step 1) What equation is needed to solve for &mu;?</strong>

          <button type="button" class="lesson-content-question-reveal" data-answer="HVL = 0.693/&mu;"> ANSWER </button>
      
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
      <div class="lesson-content-question"><strong>Step 2) Solve for &mu;:</strong>

        <button type="button" class="lesson-content-question-reveal" data-answer="&mu; = 0.693/HVL = 0.693/10cm = 0.0693cm<sup>-1</sup>"> ANSWER </button>
                
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
      
      
        <br><strong>Now solve for the % of photons transmitted through:</strong> 
        
        <div class="lesson-content-question"><strong>Step 3) What equation is needed to solve for the % of photons transmitted through? </strong>
          <button type="button" class="lesson-content-question-reveal" data-answer="I/I<sub>0</sub>=e<sup>-&mu;x</sup>"> ANSWER </button>
      
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>

      
      <div class="lesson-content-question"><strong>Step 4) What % of photons are transmitted through?</strong>
          <button type="button" class="lesson-content-question-reveal" data-answer="I/I<sub>0</sub>=e<sup>-0.0693cm<sup>-1</sup>*8cm</sup> = 0.574 = 57.4%"> ANSWER </button>
      
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>   
    
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>