<div class="lesson-content container">
    <div class="lesson-content-title">Photoelectric Effect</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Absorption</div>
            <div class="col-xs-12 col-sm-6"> 

                   In the photoelectric effect, a <span class="lesson-content-photon">photon</span> is incident upon an atom. 
                   By absorbing all of the photon's energy, an <span class="lesson-content-electron">electron</span> is emitted from the atom's orbital.
                     <br><br>
      
                <img class="lesson-content-image" src="/content/lesson8/assets/abs_PE.svg"/>
            </div>  


         <!-- RHS -->


         
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
