<div class="lesson-content container">
    <div class="lesson-content-title">Photodisintegration</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">TBD</div>
            <div class="col-xs-12 col-sm-6"> 

                In photodisintegration, a high energy photon is incident upon an atom's nucleus, 
                emitting one or more nucleons.
                Most times, a neutron is emitted.
            </div>  


        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
