<div class="lesson-content container">
    <div class="lesson-content-title">Pair Production</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">TBD</div>
            <div class="col-xs-12 col-sm-6"> 

                Pair production occurs when a photon's energy is greater than 1.02 MeV, and is incident upon an atom's nucleus. 
                By absorbing all of the photon's energy, a positron (e+) and electron (e-) pair is emitted.
            </div>  


        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
