<div class="lesson-content container">
    <div class="lesson-content-title">Beam Quality</div>

    <div class="lesson-content-body">
          <div class="lesson-content-memo">Beam of particles</div>
            <div class="col-xs-12 col-sm-6"> 

                Beams are made from particles, so beam behavior is the behavior of many particles. 
                Particles have various properties including identity, flow, energy and penetration ability. 
                The deposition of energy tissue is dose (J/kg).
                
                <br/><br/><strong>Beam Quality</strong><br/>
                Beam quality refers to the penetration ability of a beam.
                The type and energies of particles affect beam quality. 
                Filtration affects beam quality, 
                as does beam hardening (in which the 2nd half-value-layer is longer than the first).
                <strong>PDD</strong> and <strong>HVL</strong> are measures of beam quality, (see pages below).
                
                <br/><br/><strong>Beam Spectrum</strong><br/>
                 If there is a variety of particles, the beam will have an energy spectrum.
                 
                <br/><br/><strong>Contamination</strong><br/>
                Beams can also be contaminated with unwanted particles, with adverse effects on the quality.
                
                <br/><br/><strong>Directly Ionizing</strong><br/>
                Charged particle beams (electrons, protons, heavy ions) are directly ionizing. 
                Energy is lost in a large number of small increments. 
                Protons and heavier ions travel straight, but
                electrons scatter easily, and do not travel straight either through air or in tissue.
                
                <br/><br/><strong>Indirectly Ionizing</strong><br/>
                Uncharged photons and neutrons are indirectly ionizing.
                X-ray or gamma ray photons in a beam can be assumed to travel in a straight line until absorbed.
                
            </div>  

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
