<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Quiz: The Nucleus </div>
  <div class="lesson-content-body col-xs-12 ">

      <strong>For each image, name the interaction process.</strong> 
      <strong>Q1)</strong>
      <img class="lesson-content-image" src="/content/lesson8/assets/scat_coherent.svg"/>
      <div class="lesson-content-question"><strong> </strong>

        <button type="button" class="lesson-content-question-reveal" data-answer="Coherent Scattering."> ANSWER </button>


        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>
       
    
       <strong>Q2)</strong>
      <img class="lesson-content-image" src="/content/lesson8/assets/abs_compton.svg"/>
      <div class="lesson-content-question"><strong> </strong>

        <button type="button" class="lesson-content-question-reveal" data-answer="Compton Scattering."> ANSWER </button>


        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>

   
    
    <button type="button" class="lesson-content-quiz-reset"> RESET QUIZ </button>
    <br/><br/> 
    
    </div> 
  
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
</div>