<div class="lesson-content container">
    <div class="lesson-content-title">Scattering</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">Aimless radiation</div>
            <div class="col-xs-12 col-sm-6"> 
 
                Scattering occurs whenever waves or a stream of particles is incident upon a target 
                (scatterer) and emerges in a different direction.
                In physics, measurement of scattered particles is a common experimental method 
                used to probe the properties of a target.
                There are many different types (mechanisms) of scattering.
                Scattering is usually directional, but also always random.
                
                <br/><br/> 
                <strong>Randomness</strong><br/>
                Because of the randomness of the directional change, scattered radiation
                has effectively left the beam, and may be treated separately from the primary beam radiation.
            </div>  

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
