<div class="lesson-content container">
    <div class="lesson-content-title">Scattering</div>

    <div class="lesson-content-body">
        <div class="lesson-content-memo">TBD</div>
            <div class="col-xs-12 col-sm-6"> 

                There are many different types of scattering. 
                Scattering occurs whenever waves or a stream of particles is incident upon a target (scatterer) and emerges in a different direction.
                Measurement of scattered particle properties is a natural experiment method to probe the properties of a target.
                
            </div>  


        
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>     
    </div>
    
</div>
