<div class="lesson-content">
  <div class="lesson-content-title col-xs-12"> Contrast</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Looks different</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
<h3>	Not like CT</h3>
Contrast in MR is different than in CT.
There is no MR equivalent of the Hounsfield unit.
The reason for this is that many factors affect the intensity of MR images, so it is not so simple to measure
MR tissue properties precisely.
On a T1w image the brightness depends on T1, but also depends upon T2 and proton density.
It certainly is possible to perform `quantitative MR', but this is only used for some specific applications.
<br/><br/>
<h3>Proton Density is disappointing</h3>
CT is based on electron density, so you might reasonably expect that MR would be based on proton density.
However the image contrast of proton density is often disappointing.
This is actually similar to the situation with CT: the soft tissue contrast of electron density (CT) is also poor.
<br/><br/>
<h3>	Ways MR images are used</h3>
 
 <br/> $\quad\rightarrow$ Method 1: Just use a single image
 <br/> $\quad\rightarrow$ Method 2: Compare (often by eye) two different images (e.g. T1w and T2w)
 <br/> $\quad\rightarrow$ Method 3: Use (inject) a contrast agent. (often Gadolinium).  Compare the `before' and 'after' images.
 
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson11/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
