<div class="lesson-content">
  <div class="lesson-content-title col-xs-12"> Pulse Sequences</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Pulse - Delay - Pulse - Delay</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
<h3>	Pulse Sequences</h3>
 
 <br/> $\quad\rightarrow$ RF pulses
 <br/> $\quad\rightarrow$ delays
 <br/> $\quad\rightarrow$ gradient pulses
 
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson11/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
