<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">	Spins in Motion</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	on the road</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
<h3>	spins in motion</h3>
 
 <br/> $\quad\rightarrow$  It takes time to collect MRI image data.
		If for any reason (there are many), the spins move during the MRI process, then there are complications.
 <br/> $\quad\rightarrow$ It is not just a question of image blurring, it it much more complicated than that.
 <br/> $\quad\rightarrow$ - new types of contrast (techniques)
 <br/> $\quad\rightarrow$ - new types of artifact (techniques)
 <br/> $\quad\rightarrow$ in flow / out flow effects
 <br/> $\quad\rightarrow$ dephasing effects
 
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson11/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
