<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Imaging Artifacts</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Something Wrong</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	Encoding Artifacts</h3>
 
 <br/> $\quad\rightarrow$ Truncation / Ringing
 <br/> $\quad\rightarrow$ Aliasing (Wrap)
 
TBD
<br/><br/>
<h3>	Geometric Artifacts</h3>
	\begin{itemize}
 <br/> $\quad\rightarrow$ Distortions from B0
 <br/> $\quad\rightarrow$ Distortions from Gradients
 <br/> $\quad\rightarrow$ Chemical Shift (Spatial shift)
 <br/> $\quad\rightarrow$ Magnetic Susceptibility
	\end{itemize}
	TBD
<br/><br/>
<h3>	Contrast Artifacts</h3>
	\begin{itemize}
 <br/> $\quad\rightarrow$ Chemical Misregistration (Fat and Water get in-phase / out-of-phase)
	\end{itemize}
	TBD
<br/><br/>
<h3>	Flow Artifacts</h3>
	\begin{itemize}
 <br/> $\quad\rightarrow$ Phase Mismatch / Motion between PE steps
 <br/> $\quad\rightarrow$ Pulsation / Periodic
	\end{itemize}
	TBD
<br/><br/>
<h3>	Other Artifacts</h3>
	\begin{itemize}
 <br/> $\quad\rightarrow$ Zipper
 <br/> $\quad\rightarrow$ External Interference
	\end{itemize}
	TBD
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson11/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
