<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Clinical Imaging Sequences (module)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Clinical Sequences</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	Spin Echo Sequences</h3>
 
 <br/> $\quad\rightarrow$ Spin Echo
 <br/> $\quad\rightarrow$ IR
 <br/> $\quad\rightarrow$ STIR
 <br/> $\quad\rightarrow$ FLAIR
 <br/> $\quad\rightarrow$ Fast Spin Echo (FSE)
 <br/> $\quad\rightarrow$ IR-FSE
 
<br/><br/>
<h3>	Gradient Echo</h3>
 
 <br/> $\quad\rightarrow$ Gradient Echo (GE or GRE)
 <br/> $\quad\rightarrow$ 2D or 3D
 <br/> $\quad\rightarrow$ Incoherent / Spoiled GE (FLASH (Siemens), SPGR (GE), T1-FFE (Philips)
 <br/> $\quad\rightarrow$ Coherent / Steady-State / Balanced / Rewound GE
 
<br/><br/>
<h3>	More Sequences</h3>
 
 <br/> $\quad\rightarrow$ SSFP
 <br/> $\quad\rightarrow$ Diffusion
 <br/> $\quad\rightarrow$ Magnetization Prepared
 <br/> $\quad\rightarrow$ MP RAGE
 <br/> $\quad\rightarrow$ Spatial Saturation (SATs)
 <br/> $\quad\rightarrow$ Magnetization Contrast (MT)
 <br/> $\quad\rightarrow$ QSM
 <br/> $\quad\rightarrow$ Hyperpolarized Gas Imaging
 
<br/><br/>
<h3>	Vessel Imaging Sequences</h3>
 
 <br/> $\quad\rightarrow$ Angiography - TOF
 <br/> $\quad\rightarrow$ Angiography - Phase Contrast
 <br/> $\quad\rightarrow$ Angiography - Contrast Enhanced
 <br/> $\quad\rightarrow$ Perfusion
 <br/> $\quad\rightarrow$ BOLD fMRI (Active Vessels)
 <br/> $\quad\rightarrow$ Vessel Leakage (Contrast Agents)
 
<br/><br/>
<h3>	Fat / Water</h3>
 
 <br/> $\quad\rightarrow$ Frequency Adjustment to Water / Fat (problem of adjusting to Fat)
 <br/> $\quad\rightarrow$ Chemical Shift Artifact
 <br/> $\quad\rightarrow$ Dixon (2 or 3 point)
 <br/> $\quad\rightarrow$ Fat Suppression (Spectral Suppression)
 
<br/><br/>
<h3>	High Speed</h3>
 
 <br/> $\quad\rightarrow$ EPI
 <br/> $\quad\rightarrow$ FLASH
 <br/> $\quad\rightarrow$ HASTE
 
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson11/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
