<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Lesson: Imaging Contrast</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">A visible difference</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	Basic Contrast Choices</h3>
 
 <br/> $\quad\rightarrow$ T1-weighted (T1w)
 <br/> $\quad\rightarrow$ T2-weighted (T2w)
 <br/> $\quad\rightarrow$ Fat-Suppression (Fat-Sat)
 <br/> $\quad\rightarrow$ Gadolinium contrast agent (Gad)
 
<br/><br/>
<h3>	  Contrast from Cellular Structure</h3>
 
 <br/> $\quad\rightarrow$ T2 ?
 <br/> $\quad\rightarrow$Diffusion (ADC, DWI, IVIM, RSI - Restriction Spectrum Imaging)
 
<br/><br/>
<h3>	 Tissue / Organ Level Contrast</h3>
 
 <br/> $\quad\rightarrow$ T2*
 <br/> $\quad\rightarrow$ Susceptibility Contrast (SWI)
 <br/> $\quad\rightarrow$ Contrast Agents
 <br/> $\quad\rightarrow$ T1w (post-Gad)
 <br/> $\quad\rightarrow$ Dynamic Contrast (DCE)
 <br/> $\quad\rightarrow$ BOLD Functional Contrast
 <br/> $\quad\rightarrow$ Diffusion: DTI
 
<br/><br/>
<h3>	Mechanical Contrast Mechanisms</h3>
 
 <br/> $\quad\rightarrow$ Flow
 <br/> $\quad\rightarrow$ Angiographic
 <br/> $\quad\rightarrow$ Elastography
 
<br/><br/>
<h3>	Other Contrast Mechanisms etc.</h3>
 
 <br/> $\quad\rightarrow$ Quantitative MRI
 
<br/><br/>
<h3>	Tissue Composition and Molecular Motions</h3>
	Basic relaxation mechanisms:
 
 <br/> $\quad\rightarrow$Spin-Lattice Relaxation Mechanisms (T1) (molecular motions; lengthing with B0)
 <br/> $\quad\rightarrow$Spin-Spin Relaxation (T2)
 <br/> $\quad\rightarrow$T1, T2 data for tissues
 
	Contrasts:
 
 <br/> $\quad\rightarrow$Proton Density
 <br/> $\quad\rightarrow$Fat / Water
 <br/> $\quad\rightarrow$T1 (T1w)
 <br/> $\quad\rightarrow$T2
 <br/> $\quad\rightarrow$Spectroscopy
 
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson11/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
