<div class="lesson-content">
  <div class="lesson-content-title col-xs-12"> Gradient</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Make a difference</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	The Beam and the Gradient</h3>
For RT with a Linac, the defining geometric concept is `the beam'.
In MRI, there is no beam.
For MRI, the defining geometric concept is the gradient.
In RT, the beam delivers the dose.
In MR, the gradient `delivers' the image.
In RT, any imperfections in the beam adversely affect the delivered dose.
In MR, any imperfections in the gradient adversely affect the image.
You should become as familiar with the MRI gradient as you are with the Linac radiation beam.
So, what exactly is the gradient?
<br/><br/>
<h3>	MRI from NMR</h3>
For MRI, we first need to set up the conditions needed to run an NMR experiment.
These are:
 - static and uniform B0 field
 - ability to pulse the resonant RF field
 - ability ot detect the weak NMR signals
 In MRI, the gradient is a carefully controlled modification of the B0 magnetic field.
Larmor ...
<br/><br/>
<h3>	X,Y and Z</h3>
	There are 3 dimensions of space, so each MRI system has three independent gradients: Gx, Gy and Gz.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson11/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
