<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Trade Off Methods</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Trade Offs</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	Trade-Off Parameters</h3>
 
 <br/> $\quad\rightarrow$ SNR
 <br/> $\quad\rightarrow$ acquisition time
 <br/> $\quad\rightarrow$ spatial resolution
 <br/> $\quad\rightarrow$ contrast
 <br/> $\quad\rightarrow$ averaging
 <br/> $\quad\rightarrow$ RF bandwidth
 <br/> $\quad\rightarrow$ RF coils
 
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson11/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
