<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">$180^{\circ}$ Inversion Pulse</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Flipping $M_Z$</div>

           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
A $180^{\circ}$ inversion pulse, also known as a $\pi$ pulse, inverts $M_Z$. The figure shows what happens to $M_Z$ after a $180^{\circ}$ RF pulse is applied: Net $M_Z$ is initially at equilibrium (=1; +z-axis) but then becomes rotated $180^{\circ}$ by the pulse to -1, or -z-axis. Then, it recovers back to equilibrium with a T1 relaxation time.
<br/><br/>
Note that it $inverts$, so if the net magnetization was initially negative, it will become positive after the inversion pulse. This type of pulse is important for measuring T1 or/and creating T1 contrast.
<br/><br/>
Another function of this pulse is that it can be used to selectively eliminate a signal with a specific T1. For example, FLAIR eliminates the fluid signal. So you would get a null signal (more on FLAIR below).
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image-zoom-600" src="	/content/lesson10/assets/InversionPulse.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
