<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">$180^{\circ}$ Refocusing Pulse</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Coming back together again</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
As implied by its name, the purpose of the $180^{\circ}$ refocusing pulse is to refocus the spins that lost phase coherence with each other during free induction decay (FID). After the $90^{\circ}$ pulse, the spins start spreading apart (dephasing) from each other like a fan. Applying an $180^{\circ}$ pulse would cause the spins to flip $180^{\circ}$, and the spins would end up coming together again (rephasing). So the refocusing pulse reverts $M_x$ and $M_y$. Note that after an ideal $90^{\circ}$ pulse, there is no $M_z$ (only $M_x$ and $M_y$ since the spins have completely flipped to the transverse plane).
Refocusing is needed to form a spin echo and if we don't refocus the spins, then they will just keep dephasing. Additionally, because one of the causes of dephasing is the magnet inhomogeneity, refocusing reverses this effect.
In summary, a $180^{\circ}$ pulse exhibits dual functionality: it can both refocus $M_x$ and $M_y$, and invert $M_z$.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
