<div class="lesson-content">
  <div class="lesson-content-title col-xs-12"> Bloch Equation Simulation</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Bloch Equation Simulation</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
<h3>	Bloch Equation Simulation</h3>
	This simulation is on a different page, follow the link:
 
 <br/> $\quad\rightarrow$ 	<a href="https://openphys.med.ualberta.ca/Sandbox/EchoArray">https://openphys.med.ualberta.ca/Sandbox/EchoArray</a>
 <br/> $\quad\rightarrow$ Spin Echo
 <br/> $\quad\rightarrow$ Bloch Equation Simulation
 
<br/><br/>
<h3>	Notes:</h3>
	This simulation runs a full Bloch equation in the browser.
	This capability can be used to develop many interactive instructional pages, teaching NMR and MRI pulse sequence concepts.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
