<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">$90^{\circ}$ Flip Angle</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Maximum signal achieved</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
A 90$^{\circ}$ flip angle is very commonly used in imaging because it enables the maximum signal to be achieved. This makes sense, according to the equation given previously:
 $$M_{xy} = M_Zsin(\theta)$$ where $\theta$ = flip angle.
So sin90$^{\circ}$ = 1, leaving $M_{xy} = M_Z$. Thus, you would get maximum signal. All of the $M_Z$ is converted to the transverse plane.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
