<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">$B_0$ in a Pixel</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">$B_0$ magnetizes a pixel</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
<h3>	The Magnet</h3>
$B_0$ denotes the main magnetic field (which is static and uniform) produced by the magnet.
It polarizes the spins causing the sample to become magnetized (very slightly).
This produces a net magnetization in the direction of the  $B_0$ field.
<br/><br/>
<h3>	$B_0$ Inhomogeneity</h3>
Due to variations in tissue $magnetic\ susceptibility$, there can be a distribution of $B_0$ values, even within a single pixel.
This is known as $B_0$ inhomogeneity: the $B_0$ field is not uniform throughout the sample.
<br/><br/>
<h3>	Imaging Gradients</h3>
We can intentionally produce a range of $B_0$ values within a pixel by simply applying a linear $B_0$ gradient.
The $B_0$ gradient coils, used in imaging, add to the main magnetic field, $B_0$.
Unlike the static $B_0$ field of the main magnet, the imaging gradients change rapidly, modulating the $B_0$ field that a pixel sees.
Different pixels will also see different fields.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
