<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">$B_0$</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">$B_0$ magnetizes a sample</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
$B_0$ denotes the main magnetic field (which is static and uniform) produced by the magnet. It polarizes the spins causing the sample to become magnetized (very slightly). There will be a net magnetization in the same direction as $B_0$.
Due to variations in tissue magnetic susceptibility, you could get a distribution of $B_0$ values even in a pixel. In other words, this is $B_0$ inhomogeneity where $B_0$ isn't uniform throughout the sample.
You could also get a range of $B_0$ values by simply applying a $B_0$ linear gradient. The $B_0$ gradient coils, used in imaging, add to the main magnetic field, $B_0$. $B_0$ from the main magnet is always on, though the gradient could change, and this would modify $B_0$.
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
