<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">B0 Inhomogeneity</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">$B$ field variation within a pixel</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
The $B_0$ field is not always uniform throughout the sample. It can have a whole range of $B$ fields. This is due to a couple of reasons: 1) variations in tissue magnetic susceptibility and 2) inherent inhomogeneity in the magnet itself. There can be a distribution of $B_0$ values, even within a single pixel. This is known as $B_0$ inhomogeneity. Magnetic field inhomogeneity is one of the 3 factors that affect the resonance condition. It causes the spins to dephase, which can ultimately reduce the quality of the image.
<br/><br/>
<h3>	ppm</h3>
	Magnetic inhomogeneity is often measured in parts per million, or ppm.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
