<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">	$B_1$</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	RF pulses from the coils.</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
	 $B_1$ represents the strength of the coils. The stronger the coils, the higher the $B_1$ value. Remember from our NMR module that $B_1$ is a rotating magnetic field that
excites the hydrogen proton spins inside a sample and is applied perpendicular to the  $B_0$. It is also applied in short bursts called RF pulses whereas $B_0$ is static. $B_1$ causes precession.
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
