<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">$B_1$ (Pulse) Phase</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">$B_1$ phase, dephasing and rephasing are all in the xy plane</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
$B_1$ phase, also known as $Pulse$ phase, exists in the transverse $xy$ plane. $B_1$ doesn't work in the $z$ direction, rather, it has to be perpendicular to the $z$-axis. It is important to note that dephasing and rephasing all happen in the $xy$ plane. That means that any signal that is detected lies in the transverse $xy$ plane, i.e. in 2 dimension. Any RF pulse applied has a particular phase and phase angle (calculated counterclockwise from the $x$-axis).
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
