<div class="lesson-content">
  <div class="lesson-content-title col-xs-12"> The Chemical Shift (ppm)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">  Electron shielding causes chemical shifts</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
Due to the shielding by electrons, the nucleus feels a slightly different resonant frequency than if it wasn't shielded. This corrected resonant frequency is given by: $$\omega = \gamma B_{nucleus}$$ where $$B_{nucleus} = (1- \sigma)B_0$$
 $\sigma$ represents the shielding constant from the electrons (dependent on the chemical environment and molecule) and $B_0$ is the resonant frequency of a reference sample. Once the new resonant frequency has been calculated, we can insert this value into the formula for chemical shift, $\delta$ (shown below). Knowing the number and position of chemical shifts can help us determine the structure of a molecule. Water and fat have different chemical shifts.
               <br/><br/>
<h3> $\delta$ (ppm)</h3>
Chemical shift can be calculated by: $$\delta = {(f - f_0)/f_0} \times 10^6$$ where $f$ = frequency of the signal and $f_0$ = frequency of the reference sample.
The units for chemical shift $\delta$ is expressed in parts per million, or ppm. You may be wondering why it's ppm on the x-axis of a frequency spectrum and not Hz. That is because ppm remains the same regardless of what the magnetic field is. As you can see by the formula, ppm is a fraction so the difference will always be the same.
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
