<div class="lesson-content">
  <div class="lesson-content-title col-xs-12"> The Chemical Shift (ppm)</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">  Electron shielding causes chemical shifts</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
	Job Number One for electrons is to take care of the chemistry.
	However as a `hobby', electrons also slightly reduce the magnetic field seen at each nucleus.
Due to this electronic shielding, the nuclei have a resonant frequency that depends upon chemical structure.
This modified resonant frequency is given by: $$\omega = \gamma B_{nucleus}$$
where the field at the nucleus $$B_{nucleus} = (1- \sigma)B_0$$
 $\sigma$ represents the shielding constant from the electrons (dependent on the chemical environment and molecule) and $B_0$ is the resonant frequency of a reference sample. Once the new resonant frequency has been calculated, we can insert this value into the formula for chemical shift, $\delta$ (shown below). Knowing the number and position of chemical shifts can help us determine the structure of a molecule. Water and fat have different chemical shifts.
               <br/><br/>
<h3> $\delta$ (ppm)</h3>
Chemical shift is defined by: $$\delta = {(f - f_0)/f_0} \times 10^6$$ where $f$ = frequency of the signal and $f_0$ = frequency of the reference sample.
The units for chemical shift $\delta$ are parts-per-million, or $ppm$.
You may be wondering why it's $ppm$ on the x-axis of a frequency spectrum and not $Hz$.
That is because the $ppm$ value remains the same, regardless of the strength of the magnetic field.
As you can see from the definition, $ppm$ is a fraction so the difference will always be the same.
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
