<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Complex Numbers</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> $i^2 = -1$</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
<h3>Imaginary Numbers</h3>
$i^2 = -1$ is the definition of $i$. As you can see, $i$ cannot be a real number since it can't be squared to give -1. An imaginary number is any number with an $i$ next to it e.g. 2$i$. Imaginary numbers are useful when we're trying to solve equations that can't be solved using only real numbers.
For example:
$$x = \sqrt{-4}$$
Solution:
$$x^2 = -4$$
$$x^2 = 4 \times (-1)$$
$$x^2 = 4 i^2$$
$$x = 2i$$
<br/><br/>
<h3>	Complex Numbers</h3>
	A complex number is a combination of a $real$ number and an $imaginary$ number. It is usually expressed by the formula:
	$$z = x + i y$$
	where $x$ and $y$ are real numbers, and $i$ is an imaginary number: $i^2 = -1$.
	Complex numbers are useful because it combines two real numbers into a single unit. For example, magnetization $M$ could be written as $M = M_x + iM_y$, where $iM_y$ together is an imaginary number and $M_y$ is real.
<br/><br/>
<h3>	Rules for using $i$</h3>
	(1) If $i^2$ is in an equation, replace with -1.
	(2) Otherwise, leave it as $i$.
		Example 1: $2i + 6i$
	Solution 1: $8i$
	Example 2: $4i \times 6i$
	Solution 2: $24i^2 = 24(-1) = -24$
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
