<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Complex FT</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Fourier transforms use complex numbers</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
A complex function consists of both real and imaginary parts (left 2 panels in figure).
The figure shows a signal from the time domain being converted to the frequency domain through a fast Fourier transform (top and bottom middle panels).  These real and imaginary parts can also be displayed as magnitude (top right panel) and phase (bottom right panel). The magnitude function is the absolute value of the two parts at each frequency. The FFT also provides us with the phase of each frequency. Information in each column is interchangeable with each other. In other words, they are different representations of the same information.
Real numbers by themselves cannot represent these two properties but a complex number can. Thus, using complex numbers in the FFT will give us an imaginary part or equivalently, the phase information.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="	/content/lesson10/assets/TwoDiffPoints1.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
