<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Ex 1: Narrow Top Hat</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Narrower top hat $\leftrightarrow$ wider frequency</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
If we have a short time length, applying a FT would produce a wide frequency range -- and vice-versa.
In the context of MRI, this would mean that a short RF pulse produces a wide frequency bandwidth so it covers a wider range.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="		/content/lesson10/assets/TopHatNarrow.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
