<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Ex 2: Medium Top Hat</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Medium $\leftrightarrow$ Medium</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
If we have a medium time length, applying a FT would produce a medium frequency bandwidth -- and vice-versa.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="	/content/lesson10/assets/TopHatMedium8.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
