<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Ex 5: Wider Spaced Spikes</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Wider spaced spikes $\leftrightarrow$ squished oscillations</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
If we have time spikes that are spaced wider apart from each other, applying a FT would produce more squished oscillations  -- and vice-versa.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="	/content/lesson10/assets/TwoPoints10.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
