<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">FLAIR</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Switching off fluid</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
As mentioned before, one of the functions of the inversion pulse is that it can selectively eliminate a signal with a specific T1. That  means that we can eliminate a particular tissue from the image. An MRI sequence that utilizes this is FLAIR, which stands for fluid-attenuated inversion recovery.
<br/><br/>
FLAIR eliminates the fluid signal in an image, e.g. cerebral spinal fluid in the brain, so you would get a null signal. This can help better visualize or identify other important structures. For example, at the null time for the fluid, if you excite it with a $90^{\circ}$ RF pulse, there would be no signal since there is no transverse magnetization created. $M_Z$ is zero at this point.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
