<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Fourier Transform</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> Time and frequency are interchangeable with FT</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
The Fourier transform (FT) is a function that allows for the conversion between time and frequency.
Time signal $\xrightarrow {FT}$ frequency spectrum, or an image. In essence, time and frequency are two different representations of the $same$ data, only transformed.
They are completely reversible as well, meaning we can go back and forth between frequency and time using the Fourier transform.
$$So: time \leftrightarrow frequency$$
In MRI, FT applies to both RF pulses and signals.
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
