<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">In Phase</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">  Spins precessing at the same frequency</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
Imagine you're at a live symphony orchestra. Your eyes are closed as you sway your head back and forth to the pleasant sound of harmony. Every member in the band is playing their instrument $in \ sync$ with one another and the music sounds very eloquent.
This is very much like the concept of $in \ phase$.
When water inside a sample is excited, all of the spins will start to precess. If the spins are pointing in the same direction in that moment in time, they are said to be $in \ phase$ with each other.
If they are in phase and precessing at the same frequency, then they will stay in phase.
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson10/assets/InPhase.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
