<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Introduction</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Inside a Pixel</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
A lot goes on inside a pixel but in short, there are 3 essential components: Magnetization $M$, the main static magnetic field $B_0$, and lastly, the RF field, or $B_1$.
Click below to review these terms!
               <br/><br/>
	Content by: Mai Vo (vo@ualberta.ca) and Jonathan Sharp (jcsharp@ualberta.ca)
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
