<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Inversion Recovery</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Returning to equilibrium</div>

           <!-- LHS -->
           <div class="col-md-6 col-lg-6">
After an inversion pulse, net $M_z$ begins to recover back to equilibrium with a T1 relaxation time. This process is known as T1 relaxation or Spin-Lattice relaxation. It takes roughly 5 T1s to reach full relaxation $(99\%)$. If a $90^{\circ}$ RF pulse is applied afterwards, then the time between the two RF pulses is known as the inversion time, TI.
The equation for inversion recovery is:
$$M_Z(t) = M_0[1 - 2e^{(-TI/ T1)}]$$
where
$M_0$ = initial magnetization,
TI = inversion time,
T1 = spin-lattice relaxation time.
<br/><br/>
<h3>Null Time ($T_{null}$)</h3>
If $M_z$ = 0, then TI = $T_{null}$ so
$$0 = M_0[1 - 2e^{(-T_{null}/ T1)}]$$
$$T_{null} = ln2 \ T1 = 0.693 \ T1$$.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-6 col-lg-6">
             <img class="img-responsive lesson-content-image-zoom-600" src="	/content/lesson10/assets/InversionRecovery.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
