<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Magnet Centre Frequency</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">A perfect magnet can still be "off"</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
Let's assume you have a perfect magnet with a uniform field strength and no complications. Then, you put in a nice spherical water, with a perfect resonance. In this case, the magnet centre frequency would be uniform.
However, a magnet itself isn't always uniform. It can have a whole range of $B$ fields. Even if you've got a perfect, homogeneous, magnet, you can still get a range due to tissue inhomogeneity from the sample. Therefore, you get frequencies different from the resonant frequency, giving off-resonance effects.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
