<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">$M$ Dephased</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Spinning in different directions</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
Dephasing means that the spins are in different directions. They're neither lined up ($in \ phase$) nor in opposite directions ($out \ of \ phase$).
Dephasing only applies to magnetization, $M$, whereas in phase and out of phase can be applied to both $M$ and $B$.
If $M$ was completely dephased, there would no signal. Thus, there needs to be some level of phase coherence to detect a signal. Often, the spins become dephased for various reasons.
Measuring the signal strength when it is in a known phase state will provide extra information. Dephasing is the premise of imaging. As the spins dephase, the signal becomes weaker.
For ex: If two magnetization vectors are in-phase and their signal = 11, but when they're out-of-phase, their signal is = 1, then one must be 5 and the other 6. So we've isolated $M_1$ and $M_2$ using phase manipulation.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
