<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Metal in the Body</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Got metal? No MRI allowed</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
One way or another, you've probably heard that you can't undergo an MRI scan if you have metal in/on your body. Examples include jewelery, braces, cavity fillings, metal stents, metal knee/hip replacements, pacemakers, and spinal implants. Why?
Firstly, from a pragmatic standpoint, having a ``no-metal" policy makes sense because the magnet used in an MRI machine is very, VERY STRONG (if you're curious, search up ``MRI accidents"). Secondly, from an imaging standpoint, metal in the body can greatly disturb the magnetic field. Thus, there will be image artifacts, which in turn will affect the image quality.
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
