<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">	NMR Spectroscopy</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo"> Each nuclide has its own unique resonant frequency</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
NMR spectroscopy was invented in 1950 and plays an important role in chemistry. Chemists use this technique in order to analyze chemical properties of a sample. By taking advantage of the fact that every element has its own specific resonant frequency, they are able to isolate different chemical compositions in a given sample. As a result, this would yield a frequency spectrum with different frequency peaks. For example, if the resonant frequency of Hydrogen is ~300 MHz, then there would be a spectrum around this 300 MHz due to the different nuclides within Hydrogen. The range would be less than a KHz though (very narrow). The same can be said for phosphorus: if it had a resonant frequency of ~100 MHz, you would see a spectrum around 100 MHz due to all of the nuclides within phosphorous. Again, the spectra are very narrow, so you wouldn't see an overlap between hydrogen and phosphorous, for example.
Not only can NMR spectroscopy be used to quantify known compounds in a sample, it can also be used to identify unknown compounds by comparing it to known spectral libraries.
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
