<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Off-Resonance</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Artifacts from resonance effects affect image quality</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
Resonance happens when the applied RF matches with the larmour/spin frequency of the sample. Off-resonance is when the frequencies are a bit off from each other.
Off-resonance effects occur if the artifact is due to some resonance effects and the signal is different from what should be expected (i.e. Larmor frequency) from the nucleus in a sample.
There are 3 general factors that affect the resonance condition. These are: the magnet (B0); the sample (i.e. tissue properties and structure); and the applied RF pulse(s) -- described further in the subsequent pages below.
<br/><br/>
<h3>	Off-resonance Artifacts</h3>
MR images aren't completely perfect. There can be noise and artifacts that reduce the quality of the image.  Noise is random pixel-to-pixel intensity variations in the image due to some physical limitation of the imaging
process. An image artifact is anything in the image (except noise) which is not faithful to the object.
The bottom line is off-resonance signals are quite often bad and we want to minimize them as much as possible to prevent images from getting distorted.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
