<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Out of Phase</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">  Spins in opposite direction</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
If 2 magnetization vectors ($M_1$ and $M_2$) are out of phase, then that means they are pointing in the opposite direction of each other. A magnetization vector = ``a bunch of spins''
i.e. $M_1 \leftarrow \quad     \rightarrow M_2$
Some imaging techniques take advantage of this phenomenon. For example, fat and water can get out of phase, so the signal will be smaller since they will partially cancel each other out. The Dixon technique uses in phase and out of phase signals to separate fat and water.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson10/assets/OutOfPhase.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
