<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Phase</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Fundamental wave property</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
Phase is an important concept to know and you may have learned in your studies that phase shares more than one meaning. First in Chemistry, phase refers to states of matter i.e. solid, liquid, gas. However, what we're more interested and focused on is its meaning in Physics and specifically, MRI. Phase is one of the fundamental properties of a wave alongside frequency and amplitude. In MR imaging, the spins experience phase changes that allow for signal detection.
               <br/><br/>
<h3>	Phase Angle</h3>
	Phase angle is the angular measure between a point on a periodic wave and a reference point. It is represented in the equation: $$y = A sin(\omega t + \phi)$$
	where $A$ = amplitude, $\omega$ = angular speed, $t$ = time elapsed, and $\phi$ = phase angle of a wave relative to a reference phase, 0. Phase is expressed as a ratio of the phase angle to the angle of a complete cycle, equivalent to $360^{\circ}$ or 2$\pi$ radians.
	 $\pi$ = $180^{\circ}$
	 $\pi$/2 = $90^{\circ}$
	 2$\pi$ =	$360^{\circ}$ = one full cycle
	Concepts of the various types of phase such as out-of-phase, in-phase, and dephasing  will be discussed further in the pages below. Click down to learn more!
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
