<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">   Phase Encoding</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	Pinpointing the signal</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
As mentioned earlier, readout can only provide information in 1 direction but it cannot tell you any more information about the signal, ie. other directions. This is where phase encoding comes in. Phase encoding is used to encode the 3rd direction (slice selection is 1 direction; readout is the 2nd direction). Unlike readout, which can give a full set of pixels (1D) in 1 echo, phase encoding needs to be repeated multiple times to achieve a 2D set (which is an image). For example, for a 256 pixel image, you need to do 256 steps (unless you do tricks, which there are many). Therefore, phase encoding takes time.
               <br/><br/>
<h3>	Explanation</h3>
	Phase encoding involves using an additional gradient for a short period of time. For example, lets assume we first start off with a row of protons precessing at 63 MHz. We now turn on a gradient field (called a phase encoding gradient), which is stronger at the top than at the bottom. The protons at the top thus precess faster than the ones in the middle, which in turn precess faster than the protons at the bottom. Note that this difference in precession frequency will last for a very short time since we're only switching on the gradient field for a short period of time. Once the gradient is switched off, all of the protons will experience the same magnetic field again and thus precess at the same frequency: 63 MHz. However, there is a slight difference among these protons. Although they are precessing with the same frequency again and therefore are giving off signals of the same frequency, they are slightly out of phase. This difference in phase is the key to determining the exact location of the signal.
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
