<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">RF frequency</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">RF has to be set carefully</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
The third reason for off-resonance effects is the applied RF pulses.
First off, you might have just mis-set your RF frequency and it's up to the you to adjust it properly. If it's not set right, then you could get into trouble with the images.
Secondly, there could be an issue with the RF transmitter and the RF field could be at the wrong frequency relative to the magnet.
Third, the RF pulse applied could also be at a different frequency than the spin frequency (of the tissue), which would cause the spins to behave differently. An RF pulse has a bandwidth, a width of frequencies.
For example, you can set the RF to match water precession frequency. However, fat will be off-resonance so you will have to pick one or the other (usually water), or set the RF somewhere in the middle.
Therefore, there are different situations where the RF doesn't match Larmour, causing trouble in imaging so they need to be identified.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
