<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Rotating Frame</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Spin with me</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
	Imagine you're at a dance party and are locked in a gaze with your partner as you are twirling around the door floor together. From the outside, people can see that you and your partner are spinning. However, from your point of view if you're only looking at your partner, it doesn't look like you're spinning since you're spinning together with your partner. Your point of view can be considered as the $rotating frame$.
	Example of motion: If your partner is winking while twirling with you, from your point of view it would be very easy to tell that they are winking. However, from an outsider's point of view, your partner's expression would be harder to read since they're also spinning. This is the same idea for spins.
               <br/><br/>
	When spins precess from the $z$-axis to the $xy$-plane, they don't just go in a straight line from $z$ to $xy$. Everything is spinning/rotating including the $B_1$/RF field, which is rotating at the resonant frequency. In figures and diagrams, it is impossible to draw the spins "spinning"  because this would look really messy. Rather, they are drawn as if they're in the rotating frame and we need to imagine it as if we're spinning with it.
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson10/assets/90FlipRotFrameAxes.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
