<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Correction by Shimming</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">Making a magnet better</div>

           <!-- LHS -->
           <div class="col-md-9 col-lg-9">
Some scans are very sensitive to inhomogeneity. Shimming is a process that improves $B_0$ homogeneity. Remember that different tissues have different magnetic susceptibilities, so they affect the magnetic field differently. Take air and water, for example, which are quite different in terms of their properties so there would be disturbances in the field e.g. near the lungs.
Shimming adjusts the magnetic field to improve homogeneity. It is achieved by adjusting the DC currents in the shim coils, which are built into the MRI machine. These electric currents inside the coils generate small correcting magnetic fields.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-3 col-lg-3">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
