<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">    Slice Selection</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	Stronger gradient $\rightarrow$ reduced slice thickness</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
Slice selection is done by: i) applying an RF pulse and ii) switching the gradient on at the same time.  A slice is selected perpendicular to the gradient direction.
               <br/><br/>
<h3>	Explanation</h3>
	Slice selection helps define the area on the body that you want to image. If an RF pulse is applied, only the spins that are rotating at the particular frequency are flipped. Note that spins don't really feel just 1 particular frequency, rather, they feel a spectrum of frequencies inside our bodies and rotate at slightly different frequencies.
               <br/><br/>
<h3>Slice Position</h3>
We can change the slice position by adjusting the frequency (simply with a dial). This is more efficient since you don't have to adjust/position the patient (like in CT).
               <br/><br/>
<h3> Slice Thickness</h3>
	To change the slice thickness, we adjust the gradient. The formula for slice thickness is:
	$$\Delta Z = \frac{\triangle\omega}{\gamma G_{sl}}$$
	where $\Delta Z$ = slice width, $\Delta \omega$ = RF bandwidth, $\gamma$ = gyromagnetic ratio, and $G_{sl}$ = slice gradient
If we apply a stronger gradient, then the slice thickness would be reduced and vice-versa. Remember that a gradient is like a second magnetic field that distorts the main magnetic field. Applying a stronger/weaker gradient means we are moving the plane of the frequency, so the slice becomes smaller/larger, respectively. A smaller slice means that less spins are flipped. If we apply a larger RF bandwidth, this would increase the slice thickness. Thus, slice selection is a combination of RF coils and gradient.
               <br/><br/>
<h3>	Multi-slice Selection</h3>
	You can obtain many slices within a given time frame (given that TR isn't too short) without any penalties. While slices are recovering, other slices can be selected and worked on. This is called interleaving and greatly improves imaging efficiency.
               <br/><br/>
<h3>	Advantage of MRI over CT/X-Ray</h3>
	Because the gradient has all 3 directions, (GX, GY, and GZ) this enables us to image from all directions. For example, a transverse slice of the body can be obtained if we turn on the z-gradient. To get a sagittal slice, the x-gradient would be turned on.
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="	/content/lesson10/assets/SliceSelection.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
