<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">   Small Flip Angle</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">   Shorter TR, faster image acquisition</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
	 The advantage of using a small flip angle (e.g.$<$90$^\circ$) in imaging is that we can get a decent amount of signal but still have some magnetization left over in the z-axis for next time. In other words, we wouldn't have to wait as long for the magnetization to recover compared to using a 90$^\circ$ flip angle. TR is shorter so image acquisition is faster.
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
