<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Spin Frequency</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">	The body isn't uniform</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
 There are a few reasons why the spins may not be resonating at the exact resonant frequency:
1) $\triangle B_0$ due to magnetic susceptibility;
2) chemical shift;
3) applied field (imaging) gradients
<br/><br/>
 If $B_0$ field varies within the patient, then the spins would be precessing at different frequencies at different positions. $B_0$ could vary due to tissue susceptibility or deliberately applying a field gradient. Tissue magnetic susceptibility is the most common cause of off-resonance since you can't change the composition of the body, nor can you change its chemical composition.  So you're faced with these range of frequencies merely because of the inhomogeneous sample. Gradients are used in imaging and would drastically change the frequency of the spins then if it were off.
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/SpinIcon.png" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
