<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">Time and Frequency</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">How Long and How Often?</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
The following pages will illustrate the relationship between time and frequency and how they can be converted from one to the other, and vice-versa.
Click downwards to begin!
<br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
