<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">The Transverse Plane</div>

    <div class="lesson-content-body col-xs-12">
            <div class="lesson-content-memo">  The transverse plane is the xy plane</div>

           <!-- LHS -->
           <div class="col-md-7 col-lg-7">
If you've taken Biology or Anatomy class, you probably learned that the transverse plane refers to an imaginary plane separating the superior portion of the body from the inferior portion.
In MRI, the transverse plane is the $xy$ plane, relative to $B_0$ direction. If you remember back from our NMR lesson "Radio-frequency (RF) Pulses" page, the RF field lies in the transverse plane and is perpendicular to the main magnetic field, $B_0$. $B_0$ is, therefore, on the $z$-axis.
See figure below for an illustration of these directions.
Note: when referring to the transverse plane, it is useful to remember that you're looking from a bird's eye view, so $xy$ is flat on the page and the $z$ direction is coming out of the page towards you.
               <br/><br/>
               <br/><br/>
               <br/><br/>
            </div>

            <!-- RHS -->
            <div class="col-md-5 col-lg-5">
             <img class="img-responsive lesson-content-image" src="/content/lesson10/assets/Nucleus.svg" />
            </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>

</div>
