<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> and Antimatter</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> Antimatter has energy </div>   

Antimatter has mass and so by <span class="lesson-content-energy">E</span> =
            <span class="lesson-content-mass">m</span>
            <span class="lesson-content-speedlight">c</span><sup>2</sup> also energy. 
Mass and energy are both positive, exactly as they are for ordinary matter.
When a matter particle annihilates its antimatter partner two photons are produced.
    
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
    </div>
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
