<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> for Bound Electrons</div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="col-md-8 col-lg-8">
         <div class="lesson-content-memo"> Atoms</div>   

           In atoms, electrons are bound to the nucleus.
           Bound electrons therefore have lower energy than a free electron.
           Bound electrons are best regarded as waves, 
           not as classical particles with classical trajectories, classical velocities and classical kinetic energy.
           <br/>
           You should NOT attempt use &#189;mv<sup>2</sup> for bound electrons.
           
           <h3>What about E=mc<sup>2</sup>?</h3>
           A similar calculation to the one shown (page above) for nuclear binding can be performed.
           However, electron binding energies are so much smaller than nuclear binding energies,
           that in a calculation involving both, the electron binding energies (and corresponding mass defect)
           is often neglected.
      </div>

        <!-- RHS -->
        <div class="col-md-4 col-lg-4">
                   <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" /> 
        </div>

        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
</div>
