<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> for a Particle in Classical Motion</div>
      <div class="lesson-content-body col-xs-12 ">

       <div class="col-md-6 col-lg-6">
      <div class="lesson-content-memo"> Add KE </div>   

        A particle of matter in motion (non-relativistic speeds, $v \ll c$) has kinetic energy 
        in addition to the rest mass energy.

        The equations needed for a free slow moving particle are:
        <ul>
            <li><font color=blue> $E_{rest} = m_0 c^2$ </font></li>
            <li><font color=purple>$KE =$ &#189;$mv^2$ </font></li>
      
             <li>$E_{TOT}$ = <font color=blue>$E_{rest}$</font> + <font color=purple>$KE$</font>
              = <font color=blue> $m_0 c^2$ </font> + <font color=purple>&#189; $mv^2$</font> </li>
             
            <li>1 eV $= 1.602 \times 10^{-19}$ J </li>
        </ul>
       </div>
          
          <div class="col-md-6 col-lg-6">
         <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
          </div>
         
    </div>
    

      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>