<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">The only equation you will ever need</div>
      <div class="lesson-content-body col-xs-12 ">

       <div class="col-md-6 col-lg-6">
            <div class="lesson-content-memo"> ...for both particles and photons... </div>   

        There is one equation that can be used to derive several others.
        $$ E^2 = (pc)^2 + (m_0c^2)^2 $$
        
        <ul>
            <li> $E$ - Total Energy</li>
            <li> $p$ - Momentum (zero at rest)</li>
            <li> $m_0$ - Rest Mass (zero for photons)</li>
        </ul>

         Notice that because of the powers of two, 
         this equation is NOT of the form: $E_{TOT} = KE + E_{Rest}$.         
        
        <h3>[Case 1] Particle at Rest</h3>
        A particle at rest has no momentum, so we set
        $p=0$, and get $ E^2 = (m_0c^2)^2 $, which simplifies to: $$ E =m_0c^2 $$
  
        <h3>[Case 2] Particle in Motion</h3>
         The equation can be used `as is'.        
        
        <h3>[Case 3] Photon</h3>
        A photon has no rest mass $(m_0=0)$, but does still have momentum. 
        So we set $m_0=0$, and get $ E^2 = (pc)^2 $, which simplifies to: $$ E = pc $$
        
        What else do we know about photons?
        <ul>
            <li>From QM: $p=h/\lambda$</li>
            <li> from EM: $ c = f \lambda $ </li>
        </ul>
        $$ E = pc = (h/\lambda) c = h (f/c) c = hf $$ 
        so everything is consistent here.
        
       </div>
          
       <div class="col-md-6 col-lg-6">
         <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
       </div>
         
    </div>
    

      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>