<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> for a Nucleus</div>
  <div class="lesson-content-body col-xs-12 ">

        <div class="lesson-content-memo"> Some of our mass is missing </div>   

        <div class="col-md-8 col-lg-8">
            The binding of the protons and neutrons into a nucleus results in a reduction of mass,
            compared to the free, unbound particles.
            Splitting a bound state releases this energy, as occurs in nuclear fission.
            This energy release is the mechanism behind nuclear power and nuclear weapons.
        
            <br/><br/>
            <ul>
                <li>The mass of the <strong>individual particles</strong> in a nucleus is: &nbsp;
                    <strong>Z m<sub>P</sub> + N m<sub>N</sub></strong>
                </li>

                <li> The mass of an <strong>atomic nucleus (m<sub>NUCLEUS</sub>) </strong> is <lcterm>lower</lcterm> than this: &nbsp;
                    <strong>m<sub>NUCLEUS</sub> = Z m<sub>P</sub> + N m<sub>N</sub> - (E<sub>b</sub> / c<sup>2</sup>)</strong>
                </li>

                <li><strong>E<sub>b</sub></strong> is called the <lcterm>binding energy</lcterm>. </li>

                <li>By rearrangement: &nbsp;     
                    <strong>E<sub>b</sub> = (Z m<sub>P</sub> + N m<sub>N</sub> - m<sub>NUCLEUS</sub> ) c<sup>2</sup></strong>   
                </li>
                <li> Note that <strong>E<sub>b</sub></strong> is defined in such a way that it is a POSITIVE number. 
                    It is the energy input required to disassemble the nucleus.</li>
                <li>The larger the binding energy, the more stable a nuclide is likely to be.</li>
            </ul>

            <h3>Mass Defect</h3>
            The <lcterm>mass defect</lcterm> is the binding energy, in terms of mass:
            <strong>Mass Defect = E<sub>b</sub> / c<sup>2</sup></strong>.
            Both binding energy and mass defect are positive.
            
            <h3>Atomic Mass</h3>
            From the mass the nucleus, we can easily calculate the mass of the atom. 
            <ul>
                <li>It is often accurate enough to simply add the rest masses of Z electrons (ignoring electron binding energy):</li>
                <li><strong>atomic mass = m<sub>NUCLEUS</sub> + Z m<sub>e</sub></strong></li>
            </ul>
       </div> 

        <!-- RHS -->
        <div class="col-md-4 col-lg-4">
        <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
        </div>
                
  </div>
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
