<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> for a Nucleus</div>
  <div class="lesson-content-body col-xs-12 ">

        <div class="lesson-content-memo"> Some of our mass is missing </div>   

        The binding of the protons and neutrons into a nucleus results in a reduction of mass,
        compared to the free, unbound particles.
         
        Splitting a bound state releases this energy, as occurs in nuclear fission.
        This energy release is the mechanism behind nuclear power and nuclear weapons.
        
        <br/><br/>
        <ul>
            <li>The mass of the <strong>individual particles</strong> in a nucleus is:
        <strong>Z m<sub>P</sub> + N m<sub>N</sub></strong></li>
            
            <li> The mass of an <strong>atomic nucleus</strong> is less than this:
        <strong>m<sub>A</sub> = Z m<sub>P</sub> + N m<sub>N</sub> - E<sub>b</sub> / c<sup>2</sup></strong></li>
            
            <li>
                E<sub>b</sub> is called the <strong>binding energy</strong>. You can see that:
        <strong>E<sub>b</sub> = (Z m<sub>P</sub> + N m<sub>N</sub> - m<sub>A</sub> ) c<sup>2</sup></strong>
        </li>
        <li>Notice: <strong>E<sub>b</sub></strong> is a POSITIVE number</li>
        <li>The larger the binding energy, the more stable the nucleus is likely to be.</li>
        
        </ul>
        
        From the mass the nucleus, we can easily calculate the mass of the atom. 
        <ul>
            <li>It is often accurate enough to simply add the rest masses of Z electrons (ignoring electron binding energy):</li>
            <li><strong>atomic mass = nuclear mass + Z m<sub>e</sub></strong></li>
        </ul>
        
        
        <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
  </div>
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
