<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> for a Photon?</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> No rest for the wicked </div>   

  <div class="col-md-6 col-lg-6">
    <h3>Zero Rest Mass</h3>
    A photon (in a vacuum) cannot exist unless traveling at the speed of light.
    A photon has energy, but no rest mass (‘m’). 
    In other words, a photon cannot be stopped and weighed. 
    Therefore the equation <span class="lesson-content-energy">E</span> = 
    <span class="lesson-content-mass">m</span>
    <span class="lesson-content-speedlight">c</span><sup>2</sup>
    cannot be used to calculate photon energy in the way it is for an electron, 
    because there is no ‘m’. 
    <br/>
    (If you do try to use E=mc<sup>2</sup> with a photon you get zero, 
    which is obviously not the correct answer for photon energy.)
    
    <h3>E = hf</h3>
    The energy of a photon is NOT given by <span class="lesson-content-energy">E</span> = 
    <span class="lesson-content-mass">m</span>
    <span class="lesson-content-speedlight">c</span><sup>2</sup>, 
    but rather can be
    calculated from <span class="lesson-content-energy">E</span> = hf, where h is Planck’s Constant, and f is frequency.  
    <ul>
        <li>If a photon is created: <i>hf</i>&nbsp; is the amount of <span class="lesson-content-energy">energy</span> needed.</li>
        <li>If a photon is absorbed: <i>hf</i>&nbsp; is the amount of <span class="lesson-content-energy">energy</span> released.</li>
    </ul>
     
    <h3>E = pc</h3> 
    A photon has no rest mass $(m_0=0)$, but does still have momentum $(p)$ . 
    From $ E^2 = (pc)^2 + (m_0c^2)^2 $, if we
     set $m_0=0$, this simplifies to: $E = pc$.
        
        We also know that for a photon: 
        <ul>
            <li>$p=h/\lambda$ (from QM)</li>
            <li>$ c = f \lambda $ (from EM)</li>
        </ul>
        $$ E = pc = (h/\lambda) c = h (f/c) c = hf $$ 
        so everything is consistent here.
        
    
    
  </div>    

<div class="col-md-6 col-lg-6">
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
</div>   
 
    </div>
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
