<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E<sub>rest</sub>=m<sub>0</sub>c<sup>2</sup> for Particles in Classical Motion Revisited</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> Classical vs. Relativistic </div>  

<!--classical-->
<!--step1-->
<br><b>Why can we ignore relativistic gamma for classical motion?

<br>WORKED EXAMPLE
<br>A 100kg race car can travel at 350 km/hr, or 97.2 m/s.</b>
<br> CLASSICAL VERSION
        <br><br>
        <b><i>Using only classical equations, what is its total energy?</i></b>
 <div class="lesson-content-question"><strong>Classical Step 1) Calculate its rest energy.</strong>
        <ol type="A">
            <li> 3.00*10<sup>10</sup> J</li>
            <li> 8.99*10<sup>18</sup> J</li>
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, ‘c’ should be squared."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
    </div>

  <div class="lesson-content-question"><strong>Classical Step 2)Calculate its KE</strong>               
  </div>          
  <div class="lesson-content-question"><strong>Classical Step 3) Add</strong>               
  </div>        
   
        <br> RELATIVISTIC VERSION
<!--rel.-->    
        <br><i>Using relativistic equations, what is its total energy?</i>
<!--step1-->    
       <div class="lesson-content-question"><strong>Relativistic Step 1) Calculate relativistic gamma. </strong>
        <ol type="A">
            <li>1</li>
            <li>0</li>
            <li>&#8734;</li>         
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, check your calculations again"> B </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, check your calculations again"> C </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>  
        <br/><br/>
</div>


<!--step2-->            
<div class="lesson-content-question"><strong>Relativistic Step 2) Using gamma, calculate total energy </strong>
        <ol type="A">
           <li> 3.00*10<sup>10</sup> J</li>
            <li> 8.99*10<sup>18</sup> J</li>         
        </ol>
        <button type="button" class="lesson-content-question-reveal" data-answer="No, ‘c’ should be squared."> A </button>
        <button type="button" class="lesson-content-question-reveal" data-answer="YES"> B </button>
        <span> &nbsp;&nbsp;</span>
        <span class="lesson-content-question-answer">______</span>   <br/><br/>
</div>
  
<br><br>Now compare your two results, and notice how the two answers are equivalent. 

<!--comparison end-->

<img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
    </div>
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>