<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">100.0 Introduction</div>
  <div class="lesson-content-body col-xs-12 lesson-content-bottom">

  <div class="lesson-content-memo"> Energy is mass </div>   
    
  This module is about Einstein's famous equation: E = mc<sup>2</sup>, which relates energy and mass.
  
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
 
 <br/><br/>
     <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>
     
    </div>
  
</div>
