<div class="lesson-content">
  <div class="lesson-content-title col-xs-12">100.1 Terms Explained</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> Mass is energy </div>   
    
  The equation E=mc<sup>2</sup> relates these three quantities:
<ul>
    <li>E = Energy (Joules)</li>
    <li>m = Mass (kg)</li>
    <li>c = speed of light in vacuum, which is a constant = 3 x 10<sup>8</sup> meters/sec.</li>
</ul>

In different units, the speed of light is: 3 x 10<sup>8</sup> m/s = 300,000,000 m/s = 300,000 km/s. 
A high velocity bullet leaves the gun at a speed of approximately 1 km/s, 
therefore light is 300 thousand times faster than a speeding bullet.

c<sup>2</sup> means c times c, so the speed of light squared,  
c<sup>2</sup>  = c x c = (3 x 10<sup>8</sup>)  x (3 x 10<sup>8</sup>) = 9 x 10<sup>16</sup>  (m/s)<sup>2</sup>

    
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
    </div>
  
</div>
