<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> for a Photon?</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> Lightweight: E=hf, not E=mc<sup>2</sup> </div>   

  <div class="col-md-6 col-lg-6">
      <strong>Zero Rest Mass</strong>
    <br/>
    A photon has energy, but no rest mass (‘m’). 
    In other words, a photon cannot be stopped and weighed. 
    Therefore the equation <span class="lesson-content-energy">E</span> = 
    <span class="lesson-content-mass">m</span>
    <span class="lesson-content-speedlight">c</span><sup>2</sup>
    cannot be used to calculate photon energy in the way it is for an electron, 
    because there is no ‘m’. 
    <br/><br/>
    <strong>E = h f</strong>
    <br/>
    A photon (in a vacuum) cannot exist unless traveling at the speed of light. 
    The energy of a photon is NOT given by <span class="lesson-content-energy">E</span> = 
    <span class="lesson-content-mass">m</span>
    <span class="lesson-content-speedlight">c</span><sup>2</sup>, 
    but rather can be
    calculated from <span class="lesson-content-energy">E</span> = hf, where h is Planck’s Constant, and f is frequency.  
    If a photon is created then hf is the amount of <span class="lesson-content-energy">energy</span> needed. 
    Similarly, if a photon is destroyed, hf is the amount of <span class="lesson-content-energy">energy</span> released.
  </div>    

<div class="col-md-6 col-lg-6">
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
</div>   
 
    </div>
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
