<div class="lesson-content container">
  <div class="lesson-content-title">Introduction</div>
  
    <div class="lesson-content-body">  
        <div class="col-md-6 col-lg-6">
            <div class="lesson-content-memo"> Energy is mass </div>   


<!--new text,color-->
            This module is about Einstein's famous equation: 
            <font color=blue>E</font> =
            <font color=red>m</font>
            <font color=green>c<sup>2</sup></font> 
            ,which relates <font color=blue>energy</font> and mass. 
            <font color=blue>E</font> = 
            <font color=red>m</font>
            <font color=green>c<sup>2</sup> </font>
             
            declares that there is a very large amount of <font color=blue>energy</font> 
            equivalent to a particle’s <font color=red>mass</font>. 
            The <font color=red>speed of light</font> 
            is a constant of
            <font color=green>3 x 10<sup>8</sup> m/s </font>.
            Because of this, 
            <font color=red>‘mass’</font> 
            and <font color=blue>‘energy’</font> are often 
            used interchangeably, however the units of mass and energy are NOT the same. 
<!--new end-->
    
            <div class="lesson-content-quote">
                <font color=green>
            "The most important result of a general character to which the special theory of 
           relativity has led is concerned with the conception of mass.
           Before the advent of relativity, physics recognized two conservation laws of fundamental importance,
           namely, the law of conservation of energy and the law of conservation of mass;
           these two fundamental laws appeared to be quite independent of each other.
           By means of the theory of relativity they have been united into one law", 
           (Einstein, Relativity, 1961).
           </font>
            </div>
           
            <div class="lesson-content-info">Content by: Jonathan Sharp (jcsharp@ualberta.ca) 
                and Stephanie Yong (syong@ualberta.ca)</div>
        </div>    
            
        <div class="col-md-6 col-lg-6">
            <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/icon_Emc2.svg" />
        </div>
    </div>
   
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    
</div>