<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">100.7 E=mc<sup>2</sup> and Antimatter</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> Antimatter has energy </div>   

Antimatter has mass and so by E=mc<sup>2</sup> also energy. 
Mass and energy are both positive, exactly as they are for ordinary matter.
When a matter particle annihilates its antimatter partner two photons are produced.
    
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
    </div>
  
</div>
