<div class="lesson-content container">
  <div class="lesson-content-title">Introduction</div>
  
    <div class="lesson-content-body">  
        <div class="col-md-6 col-lg-6">
            <div class="lesson-content-memo"> Energy is mass </div>   
            This module is about Einstein's famous equation: E = mc<sup>2</sup>, which relates energy and mass.
            <br/><br/>
            <div class="lesson-content-memo">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>
        </div>    
            
        <div class="col-md-6 col-lg-6">
            <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/icon_Emc2.svg" />
        </div>
    </div>
   
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    
</div>
