<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">100.4 E=mc<sup>2</sup> for Particles in Motion</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> Add KE </div>   

A particle of matter in motion has kinetic energy in addition to the rest mass energy.
The motion can be either non-relativistic or relativistic, depending on the velocity.
'Non-relativistic' means that classical formulae can be used.
If gamma (&#947;) is significantly greater than unity, then the motion is termed 'relativistic',
and different formulae must be used.

<ul>
    <li>c = speed of light</li>
    <li>&#946 = v/c</li>
    <li>&#947;=1/Sqrt(1-&#946;<sup>2</sup>) </li>
</ul>
    
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
    </div>
  
</div>
