<div class="lesson-content container">
  <div class="lesson-content-title">Introduction</div>
  
    <div class="lesson-content-body">  
        <div class="col-md-6 col-lg-6">
            <div class="lesson-content-memo"> Energy is mass </div>   
            This module is about Einstein's famous equation: E = mc<sup>2</sup>, which relates energy and mass.
            
            <div class="lesson-content-quote">
            "The most important result of a general character to which the special theory of 
           relativity has led is concerned with the conception of mass.
           Before the advent of relativity, physics recognized two conservation laws of fundamental importance,
           namely, the law of conservation of energy and the law of conservation of mass;
           these two fundamental laws appeared to be quite independent of each other.
           By means of the theory of relativity they have been united into one law", 
           (Einstein, Relativity, 1961).
            </div>
           
            <div class="lesson-content-info">Content by: Jonathan Sharp (jcsharp@ualberta.ca) </div>
        </div>    
            
        <div class="col-md-6 col-lg-6">
            <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/icon_Emc2.svg" />
        </div>
    </div>
   
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    
</div>
