<div class="lesson-content container">
  <div class="lesson-content-title">Introduction</div>
  
    <div class="lesson-content-body">  
        <div class="col-md-6 col-lg-6">
            <div class="lesson-content-memo"> Energy is mass </div>   


<!--new text,color-->
            This module is about Einstein's famous equation: 
            <span class="lesson-content-energy">E</span> =
            <span class="lesson-content-mass">m</span>
            <span class="lesson-content-speedlight">c</span><sup>2</sup>
            ,which relates <span class="lesson-content-energy">energy</span> and <span class="lesson-content-mass">mass</span>. 
            
            <br><span class="lesson-content-energy">E</span> = 
            <span class="lesson-content-mass">m</span>
            <span class="lesson-content-speedlight">c</span><sup>2</sup> 
             
            declares that there is a very large amount of <span class="lesson-content-energy">energy</span> 
            equivalent to a particle’s <span class="lesson-content-mass">mass</span>. 
            The <span class="lesson-content-speedlight">speed of light</span> 
            is a constant of
            <span class="lesson-content-speedlight">3 x 10<sup>8</sup> m/s </span>.
            Because of this, 
            <span class="lesson-content-mass">‘mass’</span> 
            and <span class="lesson-content-energy">‘energy’</span> are often 
            used interchangeably, however the units of <span class="lesson-content-mass">mass</span> and <span class="lesson-content-energy">energy</span> are NOT the same. 
<!--new end-->
    
            <div class="lesson-content-quote">
                <font color=green>
            "The most important result of a general character to which the special theory of 
           relativity has led is concerned with the conception of mass.
           Before the advent of relativity, physics recognized two conservation laws of fundamental importance,
           namely, the law of conservation of energy and the law of conservation of mass;
           these two fundamental laws appeared to be quite independent of each other.
           By means of the theory of relativity they have been united into one law", 
           (Einstein, Relativity, 1961).
           </font>
            </div>
           
            <div class="lesson-content-info">Content by: Jonathan Sharp (jcsharp@ualberta.ca) 
                and Stephanie Yong (syong@ualberta.ca)</div>
        </div>    
            
        <div class="col-md-6 col-lg-6">
            <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/icon_Emc2.svg" />
        </div>
    </div>
   
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    
</div>