<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">100.8 E=mc<sup>2</sup> Summary</div>
  <div class="lesson-content-body col-xs-12 ">

  <div class="lesson-content-memo"> </div>   

  <ul>
      <li>E=mc<sup>2</sup> indicates an equivalence between energy and mass</li>
      <li>Relativistic KE formulae must be used for high speed particles</li>
      <li>Bound systems have lower energy, and therefore lower mass, than the unbound components.</li>      
  </ul>
    
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
    </div>
  
</div>
