<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> for a Particle at Rest</div>
  <div class="lesson-content-body col-xs-12 ">

      <div class="col-md-6 col-lg-6">
          <div class="lesson-content-memo"> Just rest mass </div>   

        A particle of matter at rest has mass, so equivalently, we can also say that it has energy. 
        This is a static situation; there is <strong>no physical process of change</strong> occurring.
        There is no process of conversion of energy to mass or vice versa, 
        so it is essentially only a linguistic issue whether the term mass or energy is used.
        The symbol 'c' is NOT the speed of the particle, it is acting as a conversion factor.
        <br/><br/>
        The equations needed are:
        <ul>
            <li>E = mc<sup>2</sup></li>
            <li>1 eV = 1.602 x 10<sup>-19</sup>J </li>
        </ul>
      </div>
      
    <div class="col-md-6 col-lg-6">
         <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    </div>

    </div>
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
