<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">E=mc<sup>2</sup> and Binding Energy</div>
  <div class="lesson-content-body col-xs-12 ">

        <div class="lesson-content-memo"> Bound </div>   

        Two particles bound together by a force have less energy than the same two particles when free.
        
        
        <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
  </div>
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>
