<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">200.4 E=mc<sup>2</sup> for a Particle in Classical Motion</div>
  <div class="lesson-content-body col-xs-12 ">


  <div class="lesson-content-memo"> Add KE </div>   


A particle of matter in motion (non-relativistic speeds v << c) has kinetic energy 
in addition to the rest mass energy.


The equations needed for a free slow moving particle are:
<ul>
<li><font color=blue>E<sub>rest</sub>= m<sub>0</sub>c<sup>2</sup></li></font>
<li><font color=purple>Kinetic Energy (KE) = &#189;mv<sup>2</sup></font></li>
<li>E<sub>TOT</sub> = <font color=blue>E<sub>rest</sub></font> + <font color=purple>KE</font>
  = <font color=blue>mc<sup>2</sup></font> + <font color=purple>&#189;mv<sup>2</sup></font> </li>     
<li>1 eV = 1.602 x 10<sup>-19</sup> J </li>


</ul>


    
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />




    
    </div>
      <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
</div>