<div class="lesson-content">
    <div class="lesson-content-title col-xs-12">300.3 E=mc<sup>2</sup> for a Free Proton at Rest</div>
  <div class="lesson-content-body col-xs-12 lesson-content-bottom">

  <div class="lesson-content-memo"> Just rest mass </div>   
  This situation is identical to the free electron at rest.
  We only need to consider the energy due to mass.
<br/><br/>
The equations needed are:
<ul>
    <li>E = mc<sup>2</sup></li>
    <li>1 eV = 1.602 x 10<sup>-19</sup> J </li>
</ul>
<br/>
 <table border="1" >
     <tr> 
         <th style="padding:7px"> </th> 
         <th style="padding:7px">Mass</th> 
         <th style="padding:7px">Energy</th> 
     </tr>
     
     <tr>
         <th style="padding:7px"> Proton </th>
         <td style="padding:7px"> 1.6726 x 10<sup>-27</sup> kg </td>
         <td style="padding:7px"> 938.272 MeV </td>
     </tr>  
 </table>

    
 <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
    
    </div>
  
</div>
