<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Speed of Light</div>
  <div class="lesson-content-body col-xs-12 ">

        <div class="col-md-6 col-lg-6">
            In different units, the speed of light is: <span class="lesson-content-speedlight">3 x 10<sup>8</sup> m/s = 300,000,000 m/s = 300,000 km/s</span>. 
            A high velocity bullet leaves the gun at a speed of approximately 1 km/s, 
            therefore light is 300 thousand times faster than a speeding bullet.

            <h3>The quantity c<sup>2</sup></h3>
            c<sup>2</sup> means c times c.
            <br/>
            The speed of light squared,  
            c<sup>2</sup>  = c x c = (3 x 10<sup>8</sup>)  x (3 x 10<sup>8</sup>) = 9 x 10<sup>16</sup>  (m/s)<sup>2</sup>
            <br/><br/>
            E = m x (9 x 10<sup>16</sup>)
        </div>

        <div class="col-md-6 col-lg-6">
            <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
        </div>
    
    <div class="lesson-content-footer">Page <%- number %>  <%- group %></div> 
    </div>
</div>
