<div class="lesson-content container">
  <div class="lesson-content-title col-xs-12">Terms Explained</div>
  <div class="lesson-content-body col-xs-12 ">

        <div class="col-md-6 col-lg-6">
             <div class="lesson-content-memo"> Mass is energy </div>   
            The equation
            <span class="lesson-content-energy">E</span>  =
            <span class="lesson-content-mass">m</span>
            <span class="lesson-content-speedlight">c</span><sup>2</sup> 
             
            relates these three quantities:
            <ul>
                <li><span class="lesson-content-energy">E = energy (Joules)</span></li>
                <li><span class="lesson-content-mass">m = Mass (kilograms)</span></li>
                <li><span class="lesson-content-speedlight">c = speed of light in vacuum, which is a constant = 3 x 10<sup>8</sup> meters/sec.</span></li>
            </ul>
            
            The units are as follows:
            <br/>
           Joules = kg * (m/s)<sup>2</sup>       
        </div>

      
        <div class="col-md-6 col-lg-6">
            <img class="img-responsive lesson-content-image" src="/content/lesson3/assets/Emc2-Short.svg" />
        </div>
    
        <div class="lesson-content-footer">Page <%- number %>  <%- group %></div>
    </div>
</div>
