<div class="rlo-content">
  <div class="rlo-content-title col-xs-12 rlo-content-100">100.2 X-ray Interaction with Scatterer</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

   <div class="rlo-content-memo"> The body scatters X-rays, absorbing their energy </div>
      
      The Compton effect is an interaction between a X-ray photon and some object, 
      known as the <strong>absorber</strong>, <strong>scatterer</strong> or <strong>target</strong>.
Several of the properties of the absorber are important in determining the details of the Compton interaction.
The probability of Compton scattering occurring is almost independent of Z (atomic number).
This is because (to a good approximation) Compton is an interaction with a free-electron, 
so it is just the density of electrons in the material that matters.
The density of electrons in soft tissues is fairly constant, at about 3 x 10<sup>23</sup> electrons/gram. 

<h4>Imaging</h4>
Since the Compton process is dominant in the megavoltage (MV) photon range, 
imaging with MV photons gives poor contrast because all tissues absorb equally. 
This is why X-ray imaging uses the lower KV energies, where the photo-electric effect provides contrast dependent upon Z.

  <img class="img-responsive rlo-content-image" src="/content/RLO6/assets/XRayScatteringTree.png" 
        style="border-width:2px;"/> 

<h4>Thomson Scattering</h4>   
  
<div class="rlo-content-memo">
    <strong>Thomson Scattering</strong> is a just a name for very low energy Compton scattering
</div>
Thomson scattering is the <strong>elastic scattering</strong> of EM radiation from 
<strong>free (unbound) charged particles</strong>.  
It is the low energy limit (or classical limit) of Compton Scattering, 
and occurs when the photon energy is much less than the rest mass of the electron (511 keV), 
so that recoil of the electron can be ignored. The Thomson scattering regime is: hf << 511 keV.

Historical Note: Compton points out that J.J. Thomson’s classical theory of scattering fails for 
scattering of hard X-rays and gamma rays, in particular, 
the increase in wavelength and predominantly forward scattering direction could not be explained.

X-ray Crystallography, which is based on Thomson scattering, 
was used to solve the double helix structure of DNA in the 1950s.


<h4>Rayleigh Scattering</h4>
<div class="rlo-content-memo">
Rayleigh Scattering is a physically different scattering mechanism from Compton Scattering and 
is often referred to as Coherent Scatter.
</div>
<strong>Rayleigh scattering</strong> is the elastic or coherent scattering of EM radiation by polarizable particles 
much smaller than the wavelength of the radiation. 
The particles may be atoms or molecules, and the scattering arises from their polarizability. 
The slight separation of positive and negative charges due to forces from an external electric field 
is known as electrical polarizability. 
The particles become small radiating dipoles producing the scattered light.
For visible light, Rayleigh scattering is stronger for shorter wavelength radiation, 
so the blue end of the sunlight spectrum scatters more, resulting in the blue appearance of the sky.
X-ray Rayleigh scattering mainly occurs at low energies for large Z values, 
and is predominantly in the forward direction. 

  

    </div>
</div>
