<div class="rlo-content ">
  <div class="rlo-content-title col-xs-12 rlo-content-100">100.3 The Scattered X-Ray Photon</div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

    <div class="rlo-content-memo"> A change of direction </div>
      
  The scattered X-ray photon differs in two respects from the incident photon.
  The direction of travel is altered, and the photon energy is lower than the incident photon energy.
  This can be though of a 'blue' photon scattering to a 'red' one.
  
     <img class="img-responsive rlo-content-image" src="/content/RLO6/assets/Scattering.png" /> 
Scattering is an important process in physics, and there are many different types. 
It occurs whenever waves or a stream of particles is incident upon a target (the scatterer)
and emerges in a different direction. 
Measurement of scattered particle properties is a natural experimental method to probe the properties of a target.
When the incident radiation just ‘bounces off’ the target without any lasting effect, 
this is called <strong>elastic</strong> or <strong>coherent scattering</strong>. 
However if energy is absorbed by the target, this is called <strong>inelastic</strong> 
or <strong>incoherent scattering</strong>. 
  
  </div>
  
   <img class="img-responsive rlo-content-image" src="/content/RLO6/assets/ComptonScattered.svg" />   
</div>
