<div class="rlo-content">
 <!--
    <script>
     function moveScatterer()
        {
        var y=document.getElementById('rlo6-scatterY').value;
        document.getElementById('rlo6-disp-scatterY').innerHTML= y + "% ";
        }   
    </script> 
 -->
     
  <div class="rlo-content-title col-xs-12 rlo-content-100">100.1 Photon Scattering </div>
  <div class="rlo-content-body col-xs-12">

      <div class="rlo-content-memo"> The incoming X-ray </div>
      
      The term <strong>incident photon</strong> refers to the incoming X-ray particle.
      X-rays photons can have a wide range of energies, 
      similar to the way in which light can have a range of colors.
      A single X-ray photon has a specific energy, given by E = hf, 
      where h is Planck's constant, and f is the frequency of oscillation.
      The frequency of X-ray photons is far higher than that of visible light photons.
    <br/> 
    <input type="button" value="Fire Photons" class="rlo-content-button">
    <br><br>

    Scatter Position <span class="rlo6-disp-scatterY"> tbd</span>
    <input type="range" min="100" max="500" step="20" value="130" class="rlo6-scatterY" />
    <br>
       
    <canvas class="rlo-content-canvas-photon" width="600" height="200"></canvas>
    
   <img class="img-responsive rlo-content-image" src="/content/RLO6/assets/ComptonIncident.svg" />  
       </div>
</div>
