<div class="lesson-content">
  <div class="lesson-content-title col-xs-12 lesson-content-100">100.5 Level Summary </div>
  <div class="lesson-content-body col-xs-12 lesson-content-bottom">

      <ul>
        <li>The 'incident photon' is the incoming photon.</li>  
        <li>Photon Energy is: E = hf</li>          
        <li>Compton Scattering is inelastic and incoherent.</li>
        <li> Thomson scattering is elastic and coherent and occurs at low energies.</li>
      </ul>
      
     <img class="img-responsive lesson-content-image" src="/content/lesson6/assets/Compton.svg" />
    </div>
</div>
