<div class="rlo-content">
  <div class="rlo-content-title col-xs-12 rlo-content-200">200 Level: The Scattering Angle </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  This level examines in more detail variations in scattering angle.  
  The deviation of the scattered photon from the straight through direction is the 'scattering angle'.
  There are patterns governing the statistical distribution of scattering angle, 
  but for any individual Compton scattering event the actual angle cannot be predicted.

    <img class="img-responsive rlo-content-image" src="/content/RLO6/assets/Scattering.png" />
  
    </div>
  
</div>
