<div class="rlo-content">
  <div class="rlo-content-title col-xs-12 rlo-content-200">200 Level:  The Compton Scattering Angle </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

  This level introduces the effects of variation in scattering angle.  
  The deviation of the scattered photon from the straight through direction is the 'scattering angle'.

    </div>
  
    <img class="img-responsive rlo-content-image" src="/content/RLO6/assets/Compton.svg" />
  
</div>
