<div class="rlo-content">
  <div class="rlo-content-title col-xs-12 rlo-content-200">200.5 Level Summary (Photon Scattering Angle) </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">
      Concepts introduced:
      <ul>
          <li> Impact parameter </li>
          <li> Photon Scattering Angle </li>
          <li> Energy distribution between scattered photon and recoil electron </li>
      </ul>
     <img class="img-responsive rlo-content-image" src="/content/RLO6/assets/Compton.svg" />
    </div>
</div>
