<div class="rlo-content">
  <div class="rlo-content-title col-xs-12 rlo-content-300">300.6 Level Quiz </div>
  <div class="rlo-content-body col-xs-12 rlo-content-bottom">

     <div class="rlo-content-question">Q1) What?
        <ol type="A">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>            
        </ol>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="rlo-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/>   
    
      <div class="rlo-content-question">Q2) What?
        <ol type="A">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>            
        </ol>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="rlo-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/>   
     <div class="rlo-content-question">Q3) What?
        <ol type="A">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>            
        </ol>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="rlo-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/>  
      <div class="rlo-content-question">Q4) What?
        <ol type="A">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>            
        </ol>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="rlo-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/>    
      <div class="rlo-content-question">Q5) What?
        <ol type="A">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>            
        </ol>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> A </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> B </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> C </button>
        <button type="button" class="rlo-content-question-reveal" data-answer="No"> D </button>
        <span> &nbsp;&nbsp;</span>
        <span class="rlo-content-question-answer">______</span>   <br/><br/>
    </div>
    <br/>    
    
    
    <button type="button" class="rlo-content-quiz-reset"> RESET QUIZ </button>
      
      
    <img class="img-responsive rlo-content-image" src="/content/RLO6/assets/VariousEnergies.svg" />
    </div> 
</div>