<div class="rlo-content">
    <div class="rlo-content-title">20.4 CreateJS</div>
    <div class="rlo-content-body">
        <input type="button" value="pause" class="rlo-content-button"><br/>
        <canvas class="rlo-content-canvas" width="400" height="300"></canvas>
    </div>
</div>
