
<div class="rlo-content">

    <div class="rlo-content-title">30.0 Japanese - My Day</div>
    <div class="rlo-content-body">
        
         <img class="rlo-content-image" src="/images/Sandbox/JapanMyDay.png"/>
        <br/>
        私は　たいてい　六時におきます。それから、コーヒーをのみます。あさごはんは、
        <br/>
        トーストをたべます。七時半に　だいがくへいきます。九時に
        <br/>
        にほんごのクラスにいきます。十一時にれきしのクラスにいきます。
        <br/>
        十二時に　ひるごはんをたべます。二時にとしょかんへいきます。
        <br/>
        しゅくだいをします。たいてい　五時半ごろうちにかえります。
        <br/>
        でも、かようびともくようびはアルバイトにいきます。七時ごろ
        <br/>
        ばんごはんをたべます。それから、よくピアノをひきます。
        <br/>
        コンピューターでゲームもします。たいてい十二時ごろねます
      
<br/><br/>        
        Fill in the blanks.
<br/><br/> 
____________  get up
<br/><br/> 
7:30 _____________  go to the university
<br/><br/> 
9:00 _____________   go to Japanese class
<br/><br/> 
( _____________ )   go to the history class
<br/><br/> 
(  _____________ )   go to bed

        
    </div>


     
            
</div>


      
    


