
<div class="rlo-content">

    <div class="rlo-content-title rlo-content-japan">Japanese 205 - Exercise 3-2 Weekend</div>
    <div class="rlo-content-body">
        
しゅうまつ  (Weekend) <br/>
         <img class="rlo-content-image" src="/images/Sandbox/Weekend3_2.png"/>
        <br/>
   ひろし：みちこさんは、しゅうまつは　よくなにをしますか。<br/>
<br/>
みちこ：そうですね。しゅうまつは、よくとしょかんへいきます。としょかんで、ともだちとべんきょうします。でも、ときどき、えいがをみます。<br/>
<br/>
ひろし：そうですか。じゃあ、にちようびに　えいがをみませんか。<br/>
<br/>
みちこ：いいですよ。<br/>
<br/>
ひろし：じゃあ、ダウンタウンでえいがをみませんか。<br/>
<br/>
みちこ：いいですね。<br/>
<br/>
Answer the following questions. <br/>
<br/>
みちこさんは、しゅうまつは　よく　なにをしますか。<br/>
	a.  ぎんこうへいく<br/>
	b.  がっこうへいく<br/>
	c.  としょかんへいく<br/>
	d.  ばんごはんをたべる<br/>
<br/>
みちこさんは、しゅうまつに　としょかんで　なにをしますか。<br/>
	a.  ともだちと　あそぶ<br/>
	b.  おとうとと　べんきょうする<br/>
	c.  ともだちと　べんきょうする<br/>
	d.  ともだちと　えいがをみる<br/>
<br/>
ひろしさんとみちこさんは、なんようびにえいがにいきますか。<br/>
	a.  げつようび<br/>
	b.  かようび<br/>
	c.  どようび<br/>
	d.  にちようび<br/>
     
     <br/><br/><br/><br/><br/>   
    </div>     
</div>


      
    


